{
  "openapi": "3.0.4",
  "info": {
    "title": "erpdemo.schema Parámetros",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yiqi.com.ar/api/public"
    }
  ],
  "paths": {
    "/CATEGORIA_DE_ORIGEN_": {
      "post": {
        "tags": [
          "Categoría de Origen de Pedido"
        ],
        "summary": "Create a Categoría de Origen de Pedido.",
        "description": "Creates a Categoría de Origen de Pedido",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "EXTE_ID_EXTE": {
                        "title": "Origen de Pedido",
                        "type": "integer",
                        "description": " This is a foreign key to Origen de Pedido. An id of Origen de Pedido is expected",
                        "nullable": true
                      },
                      "CDOD_CATEGORIA_DE_OP": {
                        "title": "Categoría de OP",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CDOD_JSON": {
                        "title": "JSON",
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CATEGORIA_DE_ORIGEN_/{id}": {
      "get": {
        "tags": [
          "Categoría de Origen de Pedido"
        ],
        "description": "Get a Categoría de Origen de Pedido by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Categoría de Origen de Pedido id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Categoría de Origen de Pedido"
        ],
        "summary": "Update a Categoría de Origen de Pedido by id.",
        "description": "Update a Categoría de Origen de Pedido",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Categoría de Origen de Pedido id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "EXTE_ID_EXTE": {
                        "title": "Origen de Pedido",
                        "type": "integer",
                        "description": " This is a foreign key to Origen de Pedido. An id of Origen de Pedido is expected",
                        "nullable": true
                      },
                      "CDOD_CATEGORIA_DE_OP": {
                        "title": "Categoría de OP",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CDOD_JSON": {
                        "title": "JSON",
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Categoría de Origen de Pedido"
        ],
        "summary": "Delete a Categoría de Origen de Pedido by id.",
        "description": "Delete a Categoría de Origen de Pedido",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Categoría de Origen de Pedido id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/CATEGORIA_DE_ORIGEN_/search": {
      "get": {
        "tags": [
          "Categoría de Origen de Pedido"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Categoría de Origen de Pedido",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CATEGORIA_DE_ORIGEN_/smartie": {
      "get": {
        "tags": [
          "Categoría de Origen de Pedido"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CATEGORIA_DE_ORIGEN_/file": {
      "get": {
        "tags": [
          "Categoría de Origen de Pedido"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Categoría de Origen de Pedido"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CATEGORIA_DE_ORIGEN_/report": {
      "get": {
        "tags": [
          "Categoría de Origen de Pedido"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/COMPORTAMIENTO_LOTE_": {
      "post": {
        "tags": [
          "Comportamiento Lote/Despacho"
        ],
        "summary": "Create a Comportamiento Lote/Despacho.",
        "description": "Creates a Comportamiento Lote/Despacho",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "COLO_DESCRIPCION": {
                        "title": "Descripción",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/COMPORTAMIENTO_LOTE_/{id}": {
      "get": {
        "tags": [
          "Comportamiento Lote/Despacho"
        ],
        "description": "Get a Comportamiento Lote/Despacho by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Comportamiento Lote/Despacho id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Comportamiento Lote/Despacho"
        ],
        "summary": "Update a Comportamiento Lote/Despacho by id.",
        "description": "Update a Comportamiento Lote/Despacho",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Comportamiento Lote/Despacho id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "COLO_DESCRIPCION": {
                        "title": "Descripción",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Comportamiento Lote/Despacho"
        ],
        "summary": "Delete a Comportamiento Lote/Despacho by id.",
        "description": "Delete a Comportamiento Lote/Despacho",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Comportamiento Lote/Despacho id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/COMPORTAMIENTO_LOTE_/search": {
      "get": {
        "tags": [
          "Comportamiento Lote/Despacho"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Comportamiento Lote/Despacho",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/COMPORTAMIENTO_LOTE_/smartie": {
      "get": {
        "tags": [
          "Comportamiento Lote/Despacho"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/COMPORTAMIENTO_LOTE_/file": {
      "get": {
        "tags": [
          "Comportamiento Lote/Despacho"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Comportamiento Lote/Despacho"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/COMPORTAMIENTO_LOTE_/report": {
      "get": {
        "tags": [
          "Comportamiento Lote/Despacho"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/NRO_POR_ENTIDAD": {
      "post": {
        "tags": [
          "Nro por entidad"
        ],
        "summary": "Create a Nro por entidad.",
        "description": "Creates a Nro por entidad",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "NRPE_ENTIDAD",
                      "NRPE_ULTIMO_NUMERO"
                    ],
                    "type": "object",
                    "properties": {
                      "NRPE_ENTIDAD": {
                        "title": "Entidad",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "NRPE_ULTIMO_NUMERO": {
                        "title": "Último Nro",
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/NRO_POR_ENTIDAD/{id}": {
      "get": {
        "tags": [
          "Nro por entidad"
        ],
        "description": "Get a Nro por entidad by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Nro por entidad id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Nro por entidad"
        ],
        "summary": "Update a Nro por entidad by id.",
        "description": "Update a Nro por entidad",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Nro por entidad id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "NRPE_ENTIDAD",
                      "NRPE_ULTIMO_NUMERO"
                    ],
                    "type": "object",
                    "properties": {
                      "NRPE_ENTIDAD": {
                        "title": "Entidad",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "NRPE_ULTIMO_NUMERO": {
                        "title": "Último Nro",
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Nro por entidad"
        ],
        "summary": "Delete a Nro por entidad by id.",
        "description": "Delete a Nro por entidad",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Nro por entidad id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/NRO_POR_ENTIDAD/search": {
      "get": {
        "tags": [
          "Nro por entidad"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Nro por entidad",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "NRPE_ENTIDAD",
            "in": "query",
            "description": "Entidad",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NRPE_ULTIMO_NUMERO",
            "in": "query",
            "description": "Último Nro",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/NRO_POR_ENTIDAD/smartie": {
      "get": {
        "tags": [
          "Nro por entidad"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/NRO_POR_ENTIDAD/file": {
      "get": {
        "tags": [
          "Nro por entidad"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Nro por entidad"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/NRO_POR_ENTIDAD/report": {
      "get": {
        "tags": [
          "Nro por entidad"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ORIGEN_DE_PEDIDO_BET": {
      "post": {
        "tags": [
          "Origen de Pedido Beta"
        ],
        "summary": "Create a Origen de Pedido Beta.",
        "description": "Creates a Origen de Pedido Beta",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "CDOD_ID_CDOD",
                      "ODPB_NOMBRE"
                    ],
                    "type": "object",
                    "properties": {
                      "CDOD_ID_CDOD": {
                        "title": "Tipo de Origen",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de Origen de Pedido. An id of Tipo de Origen de Pedido is expected"
                      },
                      "ODPB_NOMBRE": {
                        "title": "Nombre",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "ODPB_ACTIVO": {
                        "title": "Activo",
                        "type": "boolean",
                        "default": "S",
                        "nullable": true
                      },
                      "ODPB_FACTURAR_PEDIDO": {
                        "title": "Facturar Pedido",
                        "type": "boolean",
                        "default": "S",
                        "nullable": true
                      },
                      "ODPB_FACTURAR_EN_RESERVA_": {
                        "title": "Facturar en Reserva el Pedido",
                        "type": "boolean",
                        "default": "N",
                        "nullable": true
                      },
                      "ODPB_PEDIDO_DE_RESERVADA": {
                        "title": "De Reservada a Staging Out",
                        "type": "boolean",
                        "default": "S",
                        "nullable": true
                      },
                      "ODPB_ESPERA_SEGUNDA_VALID": {
                        "title": "Espera segunda Validación",
                        "type": "boolean",
                        "default": "N",
                        "nullable": true
                      },
                      "ODPB_ESPERA_PICKING_LIST": {
                        "title": "Espera Picking List",
                        "type": "boolean",
                        "default": "N",
                        "nullable": true
                      },
                      "CEDI_ID_PROD": {
                        "title": "Destino de Producción",
                        "type": "integer",
                        "description": " This is a foreign key to Ubicación de stock. An id of Ubicación de stock is expected",
                        "nullable": true
                      },
                      "ODPB_OP_AUTOMATICA": {
                        "title": "Procesar OP Automáticamente",
                        "type": "boolean",
                        "nullable": true
                      },
                      "ODPB_TOKEN": {
                        "title": "Token",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_TOKEN_SECRET": {
                        "title": "Token Secret",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_REFRESH_TOKEN": {
                        "title": "Refresh Token",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_USUARIO_ID_REMOTO": {
                        "title": "Usuario Id Remoto",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_CLIENT_ID": {
                        "title": "Client Id",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_CLIENT_SECRET": {
                        "title": "Client Secret",
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_USER_AGENT": {
                        "title": "User Agent",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_TEMP_CODE": {
                        "title": "Temporal Code",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_TEMPORAL_SECRET": {
                        "title": "Temporal Secret",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_ULTIMO_ID_DE_VENTA": {
                        "title": "Ultimo id de venta",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_AUTH_CODE": {
                        "title": "Authorization Code",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_ULTIMO_CHEQUEO_DE_VE": {
                        "title": "último chequeo de Ventas",
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_REST_URL": {
                        "title": "Rest URL",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_SIGNATURE_METHOD": {
                        "title": "Signature Method",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_OAUTH_SIGNATURE": {
                        "title": "Oauth_signature",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_NOMBRE_DE_LA_TIENDA": {
                        "title": "Nombre de la Tienda",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_ULTIMA_FECHA_CONSULT": {
                        "title": "ultima fecha consulta",
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_PUBLIC_KEY": {
                        "title": "Public key",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "TIDP_ID_TIDP": {
                        "title": "Tipo de Publicación",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de Publicación. An id of Tipo de Publicación is expected",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Cliente",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "default": "PARAM.CLIE_ID_CLIE",
                        "nullable": true
                      },
                      "ODPB_SCROLL_ID": {
                        "title": "Scroll Id",
                        "type": "string",
                        "nullable": true
                      },
                      "LIDP_ID_LIDP": {
                        "title": "Lista de precio default",
                        "type": "integer",
                        "description": " This is a foreign key to Lista de precios de venta. An id of Lista de precios de venta is expected",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ORIGEN_DE_PEDIDO_BET/{id}": {
      "get": {
        "tags": [
          "Origen de Pedido Beta"
        ],
        "description": "Get a Origen de Pedido Beta by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Origen de Pedido Beta id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Origen de Pedido Beta"
        ],
        "summary": "Update a Origen de Pedido Beta by id.",
        "description": "Update a Origen de Pedido Beta",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Origen de Pedido Beta id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "CDOD_ID_CDOD",
                      "ODPB_NOMBRE"
                    ],
                    "type": "object",
                    "properties": {
                      "CDOD_ID_CDOD": {
                        "title": "Tipo de Origen",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de Origen de Pedido. An id of Tipo de Origen de Pedido is expected"
                      },
                      "ODPB_NOMBRE": {
                        "title": "Nombre",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "ODPB_ACTIVO": {
                        "title": "Activo",
                        "type": "boolean",
                        "default": "S",
                        "nullable": true
                      },
                      "ODPB_FACTURAR_PEDIDO": {
                        "title": "Facturar Pedido",
                        "type": "boolean",
                        "default": "S",
                        "nullable": true
                      },
                      "ODPB_FACTURAR_EN_RESERVA_": {
                        "title": "Facturar en Reserva el Pedido",
                        "type": "boolean",
                        "default": "N",
                        "nullable": true
                      },
                      "ODPB_PEDIDO_DE_RESERVADA": {
                        "title": "De Reservada a Staging Out",
                        "type": "boolean",
                        "default": "S",
                        "nullable": true
                      },
                      "ODPB_ESPERA_SEGUNDA_VALID": {
                        "title": "Espera segunda Validación",
                        "type": "boolean",
                        "default": "N",
                        "nullable": true
                      },
                      "ODPB_ESPERA_PICKING_LIST": {
                        "title": "Espera Picking List",
                        "type": "boolean",
                        "default": "N",
                        "nullable": true
                      },
                      "CEDI_ID_PROD": {
                        "title": "Destino de Producción",
                        "type": "integer",
                        "description": " This is a foreign key to Ubicación de stock. An id of Ubicación de stock is expected",
                        "nullable": true
                      },
                      "ODPB_OP_AUTOMATICA": {
                        "title": "Procesar OP Automáticamente",
                        "type": "boolean",
                        "nullable": true
                      },
                      "ODPB_TOKEN": {
                        "title": "Token",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_TOKEN_SECRET": {
                        "title": "Token Secret",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_REFRESH_TOKEN": {
                        "title": "Refresh Token",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_USUARIO_ID_REMOTO": {
                        "title": "Usuario Id Remoto",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_CLIENT_ID": {
                        "title": "Client Id",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_CLIENT_SECRET": {
                        "title": "Client Secret",
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_USER_AGENT": {
                        "title": "User Agent",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_TEMP_CODE": {
                        "title": "Temporal Code",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_TEMPORAL_SECRET": {
                        "title": "Temporal Secret",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_ULTIMO_ID_DE_VENTA": {
                        "title": "Ultimo id de venta",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_AUTH_CODE": {
                        "title": "Authorization Code",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_ULTIMO_CHEQUEO_DE_VE": {
                        "title": "último chequeo de Ventas",
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_REST_URL": {
                        "title": "Rest URL",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_SIGNATURE_METHOD": {
                        "title": "Signature Method",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_OAUTH_SIGNATURE": {
                        "title": "Oauth_signature",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_NOMBRE_DE_LA_TIENDA": {
                        "title": "Nombre de la Tienda",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_ULTIMA_FECHA_CONSULT": {
                        "title": "ultima fecha consulta",
                        "type": "string",
                        "nullable": true
                      },
                      "ODPB_PUBLIC_KEY": {
                        "title": "Public key",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "TIDP_ID_TIDP": {
                        "title": "Tipo de Publicación",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de Publicación. An id of Tipo de Publicación is expected",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Cliente",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "default": "PARAM.CLIE_ID_CLIE",
                        "nullable": true
                      },
                      "ODPB_SCROLL_ID": {
                        "title": "Scroll Id",
                        "type": "string",
                        "nullable": true
                      },
                      "LIDP_ID_LIDP": {
                        "title": "Lista de precio default",
                        "type": "integer",
                        "description": " This is a foreign key to Lista de precios de venta. An id of Lista de precios de venta is expected",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Origen de Pedido Beta"
        ],
        "summary": "Delete a Origen de Pedido Beta by id.",
        "description": "Delete a Origen de Pedido Beta",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Origen de Pedido Beta id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/ORIGEN_DE_PEDIDO_BET/search": {
      "get": {
        "tags": [
          "Origen de Pedido Beta"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Origen de Pedido Beta",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "CDOD_ID_CDOD",
            "in": "query",
            "description": "Tipo de Origen",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ODPB_NOMBRE",
            "in": "query",
            "description": "Nombre",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ORIGEN_DE_PEDIDO_BET/smartie": {
      "get": {
        "tags": [
          "Origen de Pedido Beta"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ORIGEN_DE_PEDIDO_BET/changestate": {
      "post": {
        "tags": [
          "Origen de Pedido Beta"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Autenticado</li>\n<li>Code Recived</li>\n<li>Completando Instructivo</li>\n<li>En espera de Aut. manual</li>\n<li>Pending</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ORIGEN_DE_PEDIDO_BET/file": {
      "get": {
        "tags": [
          "Origen de Pedido Beta"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Origen de Pedido Beta"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ORIGEN_DE_PEDIDO_BET/report": {
      "get": {
        "tags": [
          "Origen de Pedido Beta"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/PARAMETRO": {
      "post": {
        "tags": [
          "Parámetro"
        ],
        "summary": "Create a Parámetro.",
        "description": "Creates a Parámetro",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "CUCO_ID_REDO",
                      "PARA_CLAVE"
                    ],
                    "type": "object",
                    "properties": {
                      "CLIE_ID_CLIE": {
                        "title": "Empresa",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "PARA_MAXIMO_DE_REDONDEO": {
                        "title": "Máximo de redondeo",
                        "type": "number",
                        "description": "Es el importe máximo que puede tomarse como redondeo en las Liquidaciones de Impuestos.-",
                        "nullable": true
                      },
                      "PARA_FIRMA_DIGITAL": {
                        "title": "Firma Digital",
                        "type": "integer",
                        "nullable": true
                      },
                      "PARA_FIRMA_DIGITAL_ACL": {
                        "title": "Firma Digital Aclaración",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "PARA_BACKGROUND_COLOR": {
                        "title": "Background Color",
                        "type": "string",
                        "nullable": true
                      },
                      "PARA_FOREGROUND_COLOR": {
                        "title": "Foreground Color",
                        "type": "string",
                        "nullable": true
                      },
                      "PARA_HOST": {
                        "title": "Host",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "PARA_PORT": {
                        "title": "Port",
                        "type": "integer",
                        "nullable": true
                      },
                      "PARA_USERNAME": {
                        "title": "Username",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "PARA_PASSWORD": {
                        "title": "Password",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "PARA_ENABLESSL": {
                        "title": "Enable SSL",
                        "type": "boolean",
                        "nullable": true
                      },
                      "LIDP_ID_LIDP": {
                        "title": "Lista de Precio Minorista",
                        "type": "integer",
                        "description": "Se guarda el nombre de la lista actual para poder usarlo en verificaciones de si se cambió por otra.\n This is a foreign key to Lista de precios de venta. An id of Lista de precios de venta is expected",
                        "nullable": true
                      },
                      "LIDP_ID_LID2": {
                        "title": "Lista de Precios 2",
                        "type": "integer",
                        "description": "Se guarda el nombre de la lista actual para poder usarlo en verificaciones de si se cambió por otra.\n This is a foreign key to Lista de precios de venta. An id of Lista de precios de venta is expected",
                        "nullable": true
                      },
                      "PARA_ADELANTO_PROYECCION_": {
                        "title": "Adelanto proyección facturas",
                        "type": "integer",
                        "description": "Cantidad de días en la que se adelanta la proyección de las facturas recurrents.",
                        "nullable": true
                      },
                      "PARA_SOLICITUD_CERTIFICAD": {
                        "title": "Solicitud Certificado ARCA (Obsoleto)",
                        "type": "integer",
                        "description": "Se sugiere usar Certificado factura electrónica.",
                        "nullable": true
                      },
                      "PARA_CLAVE_PRIVADA_AFIP": {
                        "title": "Clave privada ARCA (Obsoleto)",
                        "type": "integer",
                        "description": "Se sugiere usar Certificado factura electrónica.\n This attribute is mandatory when the instance is at state 'Generando P12'",
                        "nullable": true
                      },
                      "PARA_CERTIFICADO_CLIENTE_": {
                        "title": "Certificado Cliente ARCA (Obsoleto)",
                        "type": "integer",
                        "description": "Se sugiere usar Certificado factura electrónica.\n This attribute is mandatory when the instance is at state 'Generando P12'",
                        "nullable": true
                      },
                      "PARA_ARHC_ID_3904": {
                        "title": "Certificado ARCA P12 (Obsoleto)",
                        "type": "integer",
                        "description": "Se sugiere usar Certificado factura electrónica.",
                        "nullable": true
                      },
                      "PARA_NUMERO_PEDIDO": {
                        "title": "Último Nro de Pedido manual",
                        "type": "integer",
                        "nullable": true
                      },
                      "EXTE_ID_EXTE": {
                        "title": "Origen del pedido default",
                        "type": "integer",
                        "description": " This is a foreign key to Origen de Pedido. An id of Origen de Pedido is expected",
                        "nullable": true
                      },
                      "COIV_ID_COIV": {
                        "title": "Condición de IVA  default",
                        "type": "integer",
                        "description": " This is a foreign key to Condición de impuesto. An id of Condición de impuesto is expected",
                        "nullable": true
                      },
                      "PUVE_ID_PUVE": {
                        "title": "Punto de Venta Default",
                        "type": "integer",
                        "description": " This is a foreign key to Punto de venta. An id of Punto de venta is expected",
                        "nullable": true
                      },
                      "ALIV_ID_ALIV": {
                        "title": "Alícuota IVA Default",
                        "type": "integer",
                        "description": " This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected",
                        "nullable": true
                      },
                      "CAJA_ID_CAJ2": {
                        "title": "Caja de Cheque",
                        "type": "integer",
                        "description": " This is a foreign key to Caja. An id of Caja is expected",
                        "nullable": true
                      },
                      "PRSE_ID_TARI": {
                        "title": "P/S Tarifas",
                        "type": "integer",
                        "description": " This is a foreign key to Producto Servicio. An id of Producto Servicio is expected",
                        "nullable": true
                      },
                      "CDCE_ID_CDCE": {
                        "title": "Concepto de Cobro electrónico Default",
                        "type": "integer",
                        "description": " This is a foreign key to Concepto de cobro electrónico. An id of Concepto de cobro electrónico is expected",
                        "nullable": true
                      },
                      "COVE_ID_COVE": {
                        "title": "Condición de Venta",
                        "type": "integer",
                        "description": " This is a foreign key to Condición de venta. An id of Condición de venta is expected",
                        "nullable": true
                      },
                      "PRSE_ID_PRSE": {
                        "title": "Productos Servicios",
                        "type": "integer",
                        "description": " This is a foreign key to Producto Servicio. An id of Producto Servicio is expected",
                        "nullable": true
                      },
                      "PARA_CORREO_ADMINISTRACIO": {
                        "title": "Correo administración propio",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CUDE_ID_CBUF": {
                        "title": "CBU a informar en FC",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected",
                        "nullable": true
                      },
                      "PARA_ENTREGA_MANUAL_DE_FA": {
                        "title": "Entrega manual de factura",
                        "type": "boolean",
                        "description": "Cuando la marca esta activa, las facturas dejan de ser entregadas en forma automática y es necesaria la intervención manual del usuario desde la acción Entregar en la pantalla de Facturas",
                        "nullable": true
                      },
                      "PARA_EMISION_MANUAL_DE_RE": {
                        "title": "Emisión manual de recibo",
                        "type": "boolean",
                        "nullable": true
                      },
                      "PARA_MOSTRAR_COTIZACION_A": {
                        "title": "Mostrar Cotización automáticamente",
                        "type": "boolean",
                        "description": "Si esta marcado, se marcará el Check de \"mostrar Cotización\" cuando la factura se cree con una cotización diferente a la paramétrica.",
                        "nullable": true
                      },
                      "PARA_MODIFICAR_CONCP_FAC": {
                        "title": "Modificar concepto de Facturación",
                        "type": "boolean",
                        "description": "Si está marcado, cuando se modifique el SKU o el Nombre de un artículo, se modificará el código y nombre del Concepto de Facturación.",
                        "nullable": true
                      },
                      "PARA_TEXTO_ADICIONAL_EN_P": {
                        "title": "Texto adicional en PDF pedidos",
                        "type": "boolean",
                        "description": "Si está marcado, en el PDF de Pedido se concatena el texto adicional a la descripción en el detalle del PDF.",
                        "nullable": true
                      },
                      "PARA_FACT_SOLO_PRO_SERV": {
                        "title": "Facturas productos y servicios",
                        "type": "boolean",
                        "description": "Si está marcado, las facturas de los Pedidos se generarán siempre con productos y servicios.",
                        "nullable": true
                      },
                      "PARA_CAMBIAR_FECHA_COBR": {
                        "title": "Recibo: cambiar fecha al emitir",
                        "type": "boolean",
                        "description": "Si se marca, al emitir el recibo se cambiará la fecha teniendo en cuenta los pagos.",
                        "default": "N",
                        "nullable": true
                      },
                      "PARA_OCULTAR_VENDEDOR_PDF": {
                        "title": "Factura PDF Oculta Vendedor",
                        "type": "boolean",
                        "description": "Si se marca, el PDF de la Factura no mostrará el Vendedor.",
                        "default": "N",
                        "nullable": true
                      },
                      "PARA_MESES_P_USO_MENSUAL": {
                        "title": "Meses p/ uso mensual",
                        "type": "integer",
                        "description": "Este valor se utiliza para realizar el cálculo de ventas mensuales.\nSe buscan de los últimos meses ingresados y se promedia.",
                        "default": "3",
                        "nullable": true
                      },
                      "PARA_UTILIZAR_UMC": {
                        "title": "Utilizar uso mensual calculado",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CEDI_ID_CEDI": {
                        "title": "Ubicación de Baja",
                        "type": "integer",
                        "description": " This is a foreign key to Ubicación de stock. An id of Ubicación de stock is expected",
                        "nullable": true
                      },
                      "PARA_INGRESAR_STOCK_EN_CO": {
                        "title": "Ingresar Stock en Componentes",
                        "type": "boolean",
                        "description": "Si está marcado, al ingresar Remitos de Compra, los artículos se ingresarán en sus componentes.",
                        "nullable": true
                      },
                      "PARA_TEMPLATE_CODIGO_ARTI": {
                        "title": "Template Código Artículo",
                        "type": "string",
                        "nullable": true
                      },
                      "PARA_NOMBRE_REMITO": {
                        "title": "Nombre Remito",
                        "maxLength": 100,
                        "type": "string",
                        "description": "Título del PDF del Remito de Venta.",
                        "nullable": true
                      },
                      "PARA_REMI_LETRA_REP_VTA": {
                        "title": "Letra Remito",
                        "maxLength": 100,
                        "type": "string",
                        "description": "Si se completa, en el PDF del reporte del remito de venta se reemplaza la letra 'R'.",
                        "nullable": true
                      },
                      "PARA_REMI_CODIGO": {
                        "title": "Código Remito",
                        "type": "integer",
                        "description": "Si se completa, en el PDF del reporte del remito de venta se reemplaza el código 91.",
                        "nullable": true
                      },
                      "PARA_NUM_MANUAL_DE_RV": {
                        "title": "Num. Manual de RV",
                        "type": "boolean",
                        "nullable": true
                      },
                      "TIUN_ID_TIUN": {
                        "title": "Tipo de unidad",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de unidad. An id of Tipo de unidad is expected",
                        "nullable": true
                      },
                      "TRLO_ID_TRLO": {
                        "title": "Transportista Default",
                        "type": "integer",
                        "description": " This is a foreign key to Transport. Logística. An id of Transport. Logística is expected",
                        "nullable": true
                      },
                      "TEET_ID_TEET": {
                        "title": "Etiqueta Default",
                        "type": "integer",
                        "description": " This is a foreign key to Template etiqueta. An id of Template etiqueta is expected",
                        "nullable": true
                      },
                      "SETR_ID_SETR": {
                        "title": "Servicio Trans, Default",
                        "type": "integer",
                        "description": " This is a foreign key to Servicio Transp. An id of Servicio Transp is expected",
                        "nullable": true
                      },
                      "TIMA_ID_TIMA": {
                        "title": "Tipo Artículo",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de Artículo. An id of Tipo de Artículo is expected",
                        "nullable": true
                      },
                      "CEDI_ID_RECO": {
                        "title": "Ubicaciòn Destino RC",
                        "type": "integer",
                        "description": " This is a foreign key to Ubicación de stock. An id of Ubicación de stock is expected",
                        "nullable": true
                      },
                      "CEDI_ID_DIFE": {
                        "title": "Diferencia de Stock",
                        "type": "integer",
                        "description": " This is a foreign key to Ubicación de stock. An id of Ubicación de stock is expected",
                        "nullable": true
                      },
                      "PARA_FIFO": {
                        "title": "FIFO",
                        "type": "boolean",
                        "nullable": true
                      },
                      "PARA_VALOR_MERCADERIA_VEN": {
                        "title": "Valor mercadería vendida",
                        "maxLength": 100,
                        "enum": [
                          "No calcular",
                          "Neto",
                          "Final",
                          "Neto facturado",
                          "Total facturado"
                        ],
                        "type": "string",
                        "description": "Cuando se selecciona NETO, los remitos de venta utilizan el valor \"Subtotal sin descuentos\" del pedido para el valor de la mercadería. De seleccionar FINAL contrario se utiliza \"Total sin descuento\".",
                        "nullable": true
                      },
                      "PARA_ACTUALIZAR_P_COMPRA_": {
                        "title": "Actualizar p. compra desde RC",
                        "type": "boolean",
                        "description": "Si se lo marca, los Remitos de Compra se crean con el campo 'Actualizar precios de compra' marcado por default.",
                        "nullable": true
                      },
                      "PARA_CODIGO_DE_BARRA": {
                        "title": "Código de barra",
                        "type": "integer",
                        "nullable": true
                      },
                      "CEDI_ID_PUVO": {
                        "title": "Filtrar Ubi. Punto de Venta",
                        "type": "integer",
                        "description": "Si se completa, el Stock sumando en los puntos de Pedido de los artículos será solamente esta ubicación, si no se completa, se filtrará como antes.\n This is a foreign key to Ubicación de stock. An id of Ubicación de stock is expected",
                        "nullable": true
                      },
                      "PARA_MOVIMIENTOS_V2": {
                        "title": "Movimientos V2",
                        "type": "boolean",
                        "description": "Si se lo marca, se utilizara una versión que pretende aumentar la velocidad de la generacion de los movimientos de Stock.",
                        "nullable": true
                      },
                      "PARA_DESASOCIAR_PEDI_PL": {
                        "title": "Desacociar Pedido de PL manualmente",
                        "type": "boolean",
                        "description": "Si se marca esto, a la hora de anular el Pedido no se lo va a eliminar de la PL si no que hay que hacerlo por transición manualmente.",
                        "nullable": true
                      },
                      "CAJA_ID_CAJA": {
                        "title": "Caja Chica Principal",
                        "type": "integer",
                        "description": " This is a foreign key to Caja. An id of Caja is expected",
                        "nullable": true
                      },
                      "MONE_ID_MONE": {
                        "title": "Moneda default",
                        "type": "integer",
                        "description": " This is a foreign key to Moneda. An id of Moneda is expected",
                        "nullable": true
                      },
                      "PARA_MAIL_CIERRE_CAJA": {
                        "title": "Mail destinatario p/ cierre de caja",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "PARA_MAX_DIAS_CONCIL": {
                        "title": "Máximo días p/conciliación",
                        "type": "integer",
                        "description": "Al intentar conciliar manualmente transferencias, sólo se mostrarán las que tengan una antigüedad menor a esta cantidad de días.\nSi no se completa este campo por default se utilizan 90 días.",
                        "nullable": true
                      },
                      "PARA_TOLERANCIA_PARA_CONC": {
                        "title": "Tolerancia para conciliación automática",
                        "type": "integer",
                        "description": "Rango de días de tolerancia que se otorga para realizar la conciliación bancaria.",
                        "nullable": true
                      },
                      "MONE_ID_MON1": {
                        "title": "Segunda moneda",
                        "type": "integer",
                        "description": " This is a foreign key to Moneda. An id of Moneda is expected",
                        "nullable": true
                      },
                      "PARA_MAX_REDONDEO_CONCILI": {
                        "title": "Max Redondeo Conciliaciones",
                        "type": "number",
                        "nullable": true
                      },
                      "PARA_ESTIMACION_IIBB": {
                        "title": "Estimación IIBB",
                        "type": "number",
[...]
