{
  "openapi": "3.0.4",
  "info": {
    "title": "erpdemo.schema YiQi Services",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yiqi.com.ar/api/public"
    }
  ],
  "paths": {
    "/ACTIVIDAD_RECURRENTE": {
      "post": {
        "tags": [
          "Actividad Recurrente"
        ],
        "summary": "Create a Actividad Recurrente.",
        "description": "Creates a Actividad Recurrente",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "ACRE_NOMBRE",
                      "ACRE_FECHA_DE_INICIO",
                      "ACRE_DESCRIPCION",
                      "ACRE_FRECUENCIA",
                      "ACRE_RESPONSABLE"
                    ],
                    "type": "object",
                    "properties": {
                      "ACRE_NOMBRE": {
                        "title": "Nombre",
                        "maxLength": 100,
                        "type": "string",
                        "description": "Descripción de la tarea a realizar."
                      },
                      "ACRE_FECHA_DE_INICIO": {
                        "title": "Fecha de Inicio",
                        "type": "string",
                        "description": "Fecha en la que se inició la actividad por primera vez.",
                        "default": "PARAM.PARA_HOY"
                      },
                      "ACRE_DESCRIPCION": {
                        "title": "Descripción",
                        "type": "string",
                        "description": "Explicación más extensa de la actividad, incluyendo los pasos a seguir."
                      },
                      "ACRE_FRECUENCIA": {
                        "title": "Frecuencia",
                        "maxLength": 100,
                        "enum": [
                          "day",
                          "week",
                          "month",
                          "year"
                        ],
                        "type": "string",
                        "description": "Periodicidad con la que debe realizarse la actividad."
                      },
                      "ACRE_FECHA_DE_FINALIZACIO": {
                        "title": "Fecha de Finalización",
                        "type": "string",
                        "description": "Fecha en la que se planea finalizar la actividad. (opcional)",
                        "nullable": true
                      },
                      "ACRE_RESPONSABLE": {
                        "title": "Responsable",
                        "type": "integer",
                        "description": "Usuario asignado para llevar a cabo la actividad."
                      },
                      "ACRE_PRIORIDAD": {
                        "title": "Prioridad",
                        "maxLength": 100,
                        "enum": [
                          "high",
                          "mid",
                          "low"
                        ],
                        "type": "string",
                        "description": "Nivel de importancia de la actividad",
                        "nullable": true
                      },
                      "SECT_ID_SECT": {
                        "title": "Sector",
                        "type": "integer",
                        "description": "Clasificación de la actividad para facilitar la búsqueda y organización\n This is a foreign key to Sector. An id of Sector is expected",
                        "nullable": true
                      },
                      "ACRE_TIPO_ACTIVIDAD": {
                        "title": "Actividad Preferida",
                        "maxLength": 100,
                        "enum": [
                          "LIQ_IVA",
                          "IMPO_MIS"
                        ],
                        "type": "string",
                        "nullable": true
                      },
                      "RegistroDeEjecuciones": {
                        "title": "Registro de Ejecuciones",
                        "type": "array",
                        "items": {
                          "title": "Registro de Ejecuciones",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "REHI_FECHA": {
                              "title": "Fecha",
                              "type": "string",
                              "default": "PARAM.PARA_HOY"
                            },
                            "REHI_OBSERVACIONES": {
                              "title": "Observaciones",
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Registro de Ejecuciones"
                        },
                        "description": "Array of child entities of Registro de Ejecuciones"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ACTIVIDAD_RECURRENTE/{id}": {
      "get": {
        "tags": [
          "Actividad Recurrente"
        ],
        "description": "Get a Actividad Recurrente by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Actividad Recurrente id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Actividad Recurrente"
        ],
        "summary": "Update a Actividad Recurrente by id.",
        "description": "Update a Actividad Recurrente",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Actividad Recurrente id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "ACRE_NOMBRE",
                      "ACRE_FECHA_DE_INICIO",
                      "ACRE_DESCRIPCION",
                      "ACRE_FRECUENCIA",
                      "ACRE_RESPONSABLE"
                    ],
                    "type": "object",
                    "properties": {
                      "ACRE_NOMBRE": {
                        "title": "Nombre",
                        "maxLength": 100,
                        "type": "string",
                        "description": "Descripción de la tarea a realizar."
                      },
                      "ACRE_FECHA_DE_INICIO": {
                        "title": "Fecha de Inicio",
                        "type": "string",
                        "description": "Fecha en la que se inició la actividad por primera vez.",
                        "default": "PARAM.PARA_HOY"
                      },
                      "ACRE_DESCRIPCION": {
                        "title": "Descripción",
                        "type": "string",
                        "description": "Explicación más extensa de la actividad, incluyendo los pasos a seguir."
                      },
                      "ACRE_FRECUENCIA": {
                        "title": "Frecuencia",
                        "maxLength": 100,
                        "enum": [
                          "day",
                          "week",
                          "month",
                          "year"
                        ],
                        "type": "string",
                        "description": "Periodicidad con la que debe realizarse la actividad."
                      },
                      "ACRE_FECHA_DE_FINALIZACIO": {
                        "title": "Fecha de Finalización",
                        "type": "string",
                        "description": "Fecha en la que se planea finalizar la actividad. (opcional)",
                        "nullable": true
                      },
                      "ACRE_RESPONSABLE": {
                        "title": "Responsable",
                        "type": "integer",
                        "description": "Usuario asignado para llevar a cabo la actividad."
                      },
                      "ACRE_PRIORIDAD": {
                        "title": "Prioridad",
                        "maxLength": 100,
                        "enum": [
                          "high",
                          "mid",
                          "low"
                        ],
                        "type": "string",
                        "description": "Nivel de importancia de la actividad",
                        "nullable": true
                      },
                      "SECT_ID_SECT": {
                        "title": "Sector",
                        "type": "integer",
                        "description": "Clasificación de la actividad para facilitar la búsqueda y organización\n This is a foreign key to Sector. An id of Sector is expected",
                        "nullable": true
                      },
                      "ACRE_TIPO_ACTIVIDAD": {
                        "title": "Actividad Preferida",
                        "maxLength": 100,
                        "enum": [
                          "LIQ_IVA",
                          "IMPO_MIS"
                        ],
                        "type": "string",
                        "nullable": true
                      },
                      "RegistroDeEjecuciones": {
                        "title": "Registro de Ejecuciones",
                        "type": "array",
                        "items": {
                          "title": "Registro de Ejecuciones",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "REHI_FECHA": {
                              "title": "Fecha",
                              "type": "string",
                              "default": "PARAM.PARA_HOY"
                            },
                            "REHI_OBSERVACIONES": {
                              "title": "Observaciones",
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Registro de Ejecuciones"
                        },
                        "description": "Array of child entities of Registro de Ejecuciones"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Actividad Recurrente"
        ],
        "summary": "Delete a Actividad Recurrente by id.",
        "description": "Delete a Actividad Recurrente",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Actividad Recurrente id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/ACTIVIDAD_RECURRENTE/search": {
      "get": {
        "tags": [
          "Actividad Recurrente"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Actividad Recurrente",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ACRE_NOMBRE",
            "in": "query",
            "description": "Nombre",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ACRE_FECHA_DE_INICIO",
            "in": "query",
            "description": "Fecha de Inicio",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ACRE_DESCRIPCION",
            "in": "query",
            "description": "Descripción",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ACRE_FRECUENCIA",
            "in": "query",
            "description": "Frecuencia",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ACRE_RESPONSABLE",
            "in": "query",
            "description": "Responsable",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ACTIVIDAD_RECURRENTE/smartie": {
      "get": {
        "tags": [
          "Actividad Recurrente"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ACTIVIDAD_RECURRENTE/query": {
      "post": {
        "tags": [
          "Actividad Recurrente"
        ],
        "summary": "Execute dynamic query without persisted smartie",
        "description": "Performs a dynamic query on Actividad Recurrente instances with custom columns, filters, sorting, and aggregations. This endpoint allows ad-hoc queries without requiring a saved smartie configuration.",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Dynamic query parameters including pagination, columns, filters, and search criteria",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "page"
                ],
                "type": "object",
                "properties": {
                  "page": {
                    "minimum": 1,
                    "type": "integer",
                    "description": "Page number (1-based)",
                    "default": 1
                  },
                  "pageSize": {
                    "maximum": 1000,
                    "minimum": 1,
                    "type": "integer",
                    "description": "Number of records per page",
                    "default": 50
                  },
                  "search": {
                    "type": "string",
                    "description": "Fast search term to filter across all columns",
                    "nullable": true
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "required": [
                        "field"
                      ],
                      "type": "object",
                      "properties": {
                        "field": {
                          "enum": [
                            "ACRE_NOMBRE",
                            "ACRE_FECHA_DE_INICIO",
                            "ACRE_DESCRIPCION",
                            "ACRE_FRECUENCIA",
                            "ACRE_FECHA_DE_FINALIZACIO",
                            "ACRE_RESPONSABLE",
                            "ACRE_PRIORIDAD",
                            "ACRE_TIPO_ACTIVIDAD",
                            "ACRE_FECHA_DE_ULTIMO_REGI",
                            "ACRE_PROXIMA_FECHA_DE_EJE",
                            "ACRE_VENCIDA",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Physical column name (required). Available columns from entity view."
                        },
                        "title": {
                          "type": "string",
                          "description": "Custom column title (optional)",
                          "nullable": true
                        },
                        "sortDirection": {
                          "enum": [
                            "ASC",
                            "DESC"
                          ],
                          "type": "string",
                          "description": "Sort direction",
                          "nullable": true
                        },
                        "order": {
                          "type": "integer",
                          "description": "Column display order (optional)",
                          "nullable": true
                        },
                        "sortOrder": {
                          "type": "integer",
                          "description": "Sort priority order (optional)",
                          "nullable": true
                        },
                        "aggregation": {
                          "enum": [
                            "SUM",
                            "COUNT",
                            "AVG",
                            "MIN",
                            "MAX"
                          ],
                          "type": "string",
                          "description": "Aggregation function",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Column specifications. If null or empty, default header columns will be used",
                    "nullable": true
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "required": [
                        "columnName",
                        "operator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "columnName": {
                          "enum": [
                            "ACRE_NOMBRE",
                            "ACRE_FECHA_DE_INICIO",
                            "ACRE_DESCRIPCION",
                            "ACRE_FRECUENCIA",
                            "ACRE_FECHA_DE_FINALIZACIO",
                            "ACRE_RESPONSABLE",
                            "ACRE_PRIORIDAD",
                            "ACRE_TIPO_ACTIVIDAD",
                            "ACRE_FECHA_DE_ULTIMO_REGI",
                            "ACRE_PROXIMA_FECHA_DE_EJE",
                            "ACRE_VENCIDA",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Column name to filter (required). Available columns from entity view."
                        },
                        "operator": {
                          "enum": [
                            "=",
                            "!=",
                            ">",
                            "<",
                            ">=",
                            "<=",
                            "LIKE"
                          ],
                          "type": "string",
                          "description": "Comparison operator"
                        },
                        "value": {
                          "description": "Value to compare. Type should match column data type",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Filter specifications",
                    "nullable": true
                  }
                }
              },
              "example": {
                "page": 1,
                "pageSize": 10,
                "search": "",
                "columns": [
                  {
                    "field": "COLUMN_NAME",
                    "title": "Column Title",
                    "sortDirection": "ASC",
                    "sortOrder": 1
                  }
                ],
                "filters": [
                  {
                    "columnName": "COLUMN_NAME",
                    "operator": "=",
                    "value": "value"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Array of records matching the query"
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records (without pagination)"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Column definitions"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or column names"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to view this entity"
          },
          "404": {
            "description": "Entity not found"
          }
        }
      }
    },
    "/ACTIVIDAD_RECURRENTE/changestate": {
      "post": {
        "tags": [
          "Actividad Recurrente"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Activa</li>\n<li>Cancelada</li>\n<li>Envía mensaje</li>\n<li>Finalizada</li>\n<li>Pausada</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ACTIVIDAD_RECURRENTE/changestatemultiple": {
      "post": {
        "tags": [
          "Actividad Recurrente"
        ],
        "description": "Change multiple instances' state",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Activa</li>\n<li>Cancelada</li>\n<li>Envía mensaje</li>\n<li>Finalizada</li>\n<li>Pausada</li></ul>",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Comma separated ids",
            "required": true,
            "example": "100,101,102"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ACTIVIDAD_RECURRENTE/file": {
      "get": {
        "tags": [
          "Actividad Recurrente"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Actividad Recurrente"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ACTIVIDAD_RECURRENTE/report": {
      "get": {
        "tags": [
          "Actividad Recurrente"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/AFIP": {
      "post": {
        "tags": [
          "ARCA"
        ],
        "summary": "Create a ARCA.",
        "description": "Creates a ARCA",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "AFIP_MODO_TEST": {
                        "title": "Modo Test",
                        "type": "boolean",
                        "nullable": true
                      },
                      "AFIP_RETORNAR_ERROR": {
                        "title": "Retornar Error",
                        "type": "boolean",
                        "nullable": true
                      },
                      "AFIP_ULTIMA_FC_PROCESADA": {
                        "title": "Ultima FC procesada",
                        "type": "integer",
                        "nullable": true
                      },
                      "AFIP_ULTIMA_FC_EMITIDA": {
                        "title": "Ultima FC emitida",
                        "type": "integer",
                        "nullable": true
                      },
                      "AFIP_ULTIMA_FC_FALLIDA": {
                        "title": "Ultima FC fallida",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "AFIP_PLUGIN": {
                        "title": "Plugin",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/AFIP/{id}": {
      "get": {
        "tags": [
          "ARCA"
        ],
        "description": "Get a ARCA by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ARCA id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "ARCA"
        ],
        "summary": "Update a ARCA by id.",
        "description": "Update a ARCA",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ARCA id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "AFIP_MODO_TEST": {
                        "title": "Modo Test",
                        "type": "boolean",
                        "nullable": true
                      },
                      "AFIP_RETORNAR_ERROR": {
                        "title": "Retornar Error",
                        "type": "boolean",
                        "nullable": true
                      },
                      "AFIP_ULTIMA_FC_PROCESADA": {
                        "title": "Ultima FC procesada",
                        "type": "integer",
                        "nullable": true
                      },
                      "AFIP_ULTIMA_FC_EMITIDA": {
                        "title": "Ultima FC emitida",
                        "type": "integer",
                        "nullable": true
                      },
                      "AFIP_ULTIMA_FC_FALLIDA": {
                        "title": "Ultima FC fallida",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "AFIP_PLUGIN": {
                        "title": "Plugin",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "ARCA"
        ],
        "summary": "Delete a ARCA by id.",
        "description": "Delete a ARCA",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ARCA id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/AFIP/search": {
      "get": {
        "tags": [
          "ARCA"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of ARCA",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/AFIP/smartie": {
      "get": {
        "tags": [
          "ARCA"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/AFIP/query": {
      "post": {
        "tags": [
          "ARCA"
        ],
        "summary": "Execute dynamic query without persisted smartie",
        "description": "Performs a dynamic query on ARCA instances with custom columns, filters, sorting, and aggregations. This endpoint allows ad-hoc queries without requiring a saved smartie configuration.",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Dynamic query parameters including pagination, columns, filters, and search criteria",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "page"
                ],
                "type": "object",
                "properties": {
                  "page": {
                    "minimum": 1,
                    "type": "integer",
                    "description": "Page number (1-based)",
                    "default": 1
                  },
                  "pageSize": {
                    "maximum": 1000,
                    "minimum": 1,
                    "type": "integer",
                    "description": "Number of records per page",
                    "default": 50
                  },
                  "search": {
                    "type": "string",
                    "description": "Fast search term to filter across all columns",
                    "nullable": true
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "required": [
                        "field"
                      ],
                      "type": "object",
                      "properties": {
                        "field": {
                          "enum": [
                            "AFIP_MODO_TEST",
                            "AFIP_RETORNAR_ERROR",
                            "AFIP_ULTIMA_FC_PROCESADA",
                            "AFIP_ULTIMA_FC_EMITIDA",
                            "AFIP_ULTIMA_FC_FALLIDA",
                            "AFIP_PLUGIN",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Physical column name (required). Available columns from entity view."
                        },
                        "title": {
                          "type": "string",
                          "description": "Custom column title (optional)",
                          "nullable": true
                        },
                        "sortDirection": {
                          "enum": [
                            "ASC",
                            "DESC"
                          ],
                          "type": "string",
                          "description": "Sort direction",
                          "nullable": true
                        },
                        "order": {
                          "type": "integer",
                          "description": "Column display order (optional)",
                          "nullable": true
                        },
                        "sortOrder": {
                          "type": "integer",
                          "description": "Sort priority order (optional)",
                          "nullable": true
                        },
                        "aggregation": {
                          "enum": [
                            "SUM",
                            "COUNT",
                            "AVG",
                            "MIN",
                            "MAX"
                          ],
                          "type": "string",
                          "description": "Aggregation function",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Column specifications. If null or empty, default header columns will be used",
                    "nullable": true
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "required": [
                        "columnName",
                        "operator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "columnName": {
                          "enum": [
                            "AFIP_MODO_TEST",
                            "AFIP_RETORNAR_ERROR",
                            "AFIP_ULTIMA_FC_PROCESADA",
                            "AFIP_ULTIMA_FC_EMITIDA",
                            "AFIP_ULTIMA_FC_FALLIDA",
                            "AFIP_PLUGIN",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Column name to filter (required). Available columns from entity view."
                        },
                        "operator": {
                          "enum": [
                            "=",
                            "!=",
                            ">",
                            "<",
                            ">=",
                            "<=",
                            "LIKE"
                          ],
                          "type": "string",
                          "description": "Comparison operator"
                        },
                        "value": {
                          "description": "Value to compare. Type should match column data type",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Filter specifications",
                    "nullable": true
                  }
                }
              },
              "example": {
                "page": 1,
                "pageSize": 10,
                "search": "",
                "columns": [
                  {
                    "field": "COLUMN_NAME",
                    "title": "Column Title",
                    "sortDirection": "ASC",
                    "sortOrder": 1
                  }
                ],
                "filters": [
                  {
                    "columnName": "COLUMN_NAME",
                    "operator": "=",
                    "value": "value"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Array of records matching the query"
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records (without pagination)"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Column definitions"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or column names"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to view this entity"
          },
          "404": {
            "description": "Entity not found"
          }
        }
      }
    },
    "/AFIP/file": {
      "get": {
        "tags": [
          "ARCA"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "ARCA"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/AFIP/report": {
      "get": {
        "tags": [
          "ARCA"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ALERTA_ERROR": {
      "post": {
        "tags": [
          "Alerta Error"
        ],
        "summary": "Create a Alerta Error.",
        "description": "Creates a Alerta Error",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "ALER_ESQUEMA": {
                        "title": "Esquema",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ALER_FECHA": {
                        "title": "Fecha",
                        "type": "string",
                        "nullable": true
                      },
                      "ALER_TIPO_DE_ERROR": {
                        "title": "Tipo de error",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ALER_ENTIDAD": {
                        "title": "Entidad",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ALER_ID_INSTANCIA": {
                        "title": "ID Instancia",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ALER_URL": {
                        "title": "URL",
                        "type": "string",
                        "nullable": true
                      },
                      "ALER_DESTINATARIO": {
                        "title": "Destinatario",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ALER_ASUNTO": {
                        "title": "Asunto",
                        "type": "string",
                        "nullable": true
                      },
                      "ALER_CUERPO": {
                        "title": "Cuerpo",
                        "maxLength": 80000,
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ALERTA_ERROR/{id}": {
      "get": {
        "tags": [
          "Alerta Error"
        ],
        "description": "Get a Alerta Error by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Alerta Error id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Alerta Error"
        ],
        "summary": "Update a Alerta Error by id.",
        "description": "Update a Alerta Error",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Alerta Error id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "ALER_ESQUEMA": {
                        "title": "Esquema",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ALER_FECHA": {
                        "title": "Fecha",
                        "type": "string",
                        "nullable": true
                      },
                      "ALER_TIPO_DE_ERROR": {
                        "title": "Tipo de error",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ALER_ENTIDAD": {
                        "title": "Entidad",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ALER_ID_INSTANCIA": {
                        "title": "ID Instancia",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ALER_URL": {
                        "title": "URL",
                        "type": "string",
                        "nullable": true
                      },
                      "ALER_DESTINATARIO": {
                        "title": "Destinatario",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ALER_ASUNTO": {
                        "title": "Asunto",
                        "type": "string",
                        "nullable": true
                      },
                      "ALER_CUERPO": {
                        "title": "Cuerpo",
                        "maxLength": 80000,
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Alerta Error"
        ],
        "summary": "Delete a Alerta Error by id.",
        "description": "Delete a Alerta Error",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Alerta Error id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/ALERTA_ERROR/search": {
      "get": {
        "tags": [
          "Alerta Error"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Alerta Error",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ALERTA_ERROR/smartie": {
      "get": {
        "tags": [
          "Alerta Error"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ALERTA_ERROR/query": {
      "post": {
        "tags": [
          "Alerta Error"
        ],
        "summary": "Execute dynamic query without persisted smartie",
        "description": "Performs a dynamic query on Alerta Error instances with custom columns, filters, sorting, and aggregations. This endpoint allows ad-hoc queries without requiring a saved smartie configuration.",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Dynamic query parameters including pagination, columns, filters, and search criteria",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "page"
                ],
                "type": "object",
                "properties": {
                  "page": {
                    "minimum": 1,
                    "type": "integer",
                    "description": "Page number (1-based)",
                    "default": 1
                  },
                  "pageSize": {
                    "maximum": 1000,
                    "minimum": 1,
                    "type": "integer",
                    "description": "Number of records per page",
                    "default": 50
                  },
                  "search": {
                    "type": "string",
                    "description": "Fast search term to filter across all columns",
                    "nullable": true
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "required": [
                        "field"
                      ],
                      "type": "object",
                      "properties": {
                        "field": {
                          "enum": [
                            "ALER_ESQUEMA",
                            "ALER_FECHA",
                            "ALER_TIPO_DE_ERROR",
                            "ALER_ENTIDAD",
                            "ALER_ID_INSTANCIA",
                            "ALER_URL",
                            "ALER_SEP_MAIL",
                            "ALER_DESTINATARIO",
                            "ALER_ASUNTO",
                            "ALER_CUERPO",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Physical column name (required). Available columns from entity view."
                        },
                        "title": {
                          "type": "string",
                          "description": "Custom column title (optional)",
                          "nullable": true
                        },
                        "sortDirection": {
                          "enum": [
                            "ASC",
                            "DESC"
                          ],
                          "type": "string",
                          "description": "Sort direction",
                          "nullable": true
                        },
                        "order": {
                          "type": "integer",
                          "description": "Column display order (optional)",
                          "nullable": true
                        },
                        "sortOrder": {
                          "type": "integer",
                          "description": "Sort priority order (optional)",
                          "nullable": true
                        },
                        "aggregation": {
                          "enum": [
                            "SUM",
                            "COUNT",
                            "AVG",
                            "MIN",
                            "MAX"
                          ],
                          "type": "string",
                          "description": "Aggregation function",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Column specifications. If null or empty, default header columns will be used",
                    "nullable": true
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "required": [
                        "columnName",
                        "operator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "columnName": {
                          "enum": [
                            "ALER_ESQUEMA",
                            "ALER_FECHA",
                            "ALER_TIPO_DE_ERROR",
                            "ALER_ENTIDAD",
                            "ALER_ID_INSTANCIA",
                            "ALER_URL",
                            "ALER_SEP_MAIL",
                            "ALER_DESTINATARIO",
                            "ALER_ASUNTO",
                            "ALER_CUERPO",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Column name to filter (required). Available columns from entity view."
                        },
                        "operator": {
                          "enum": [
                            "=",
                            "!=",
                            ">",
                            "<",
                            ">=",
                            "<=",
                            "LIKE"
                          ],
                          "type": "string",
                          "description": "Comparison operator"
                        },
                        "value": {
                          "description": "Value to compare. Type should match column data type",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Filter specifications",
                    "nullable": true
                  }
                }
              },
              "example": {
                "page": 1,
                "pageSize": 10,
                "search": "",
                "columns": [
                  {
                    "field": "COLUMN_NAME",
                    "title": "Column Title",
                    "sortDirection": "ASC",
                    "sortOrder": 1
                  }
                ],
                "filters": [
                  {
                    "columnName": "COLUMN_NAME",
                    "operator": "=",
                    "value": "value"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Array of records matching the query"
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records (without pagination)"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Column definitions"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or column names"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to view this entity"
          },
          "404": {
            "description": "Entity not found"
          }
        }
      }
    },
    "/ALERTA_ERROR/file": {
      "get": {
        "tags": [
          "Alerta Error"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Alerta Error"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ALERTA_ERROR/report": {
      "get": {
        "tags": [
          "Alerta Error"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ATENCION_Y": {
      "post": {
        "tags": [
          "Atención"
        ],
        "summary": "Create a Atención.",
        "description": "Creates a Atención",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "CRIT_ID_CRIT"
                    ],
                    "type": "object",
                    "properties": {
                      "ATEY_ASUNTO": {
                        "title": "Asunto",
                        "maxLength": 100,
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                        "nullable": true
                      },
                      "ATEY_DESCRIPCION": {
                        "title": "Descripción",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                        "nullable": true
                      },
                      "CRIT_ID_CRIT": {
                        "title": "Criticidad",
                        "type": "integer",
                        "description": "101558\n This is a foreign key to Criticidad Y. An id of Criticidad Y is expected\n This attribute is mandatory when the instance is at state 'Pendiente'",
                        "default": "3"
                      },
                      "TIAT_ID_TIAT": {
                        "title": "Tipo de Atención",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo_Atención. An id of Tipo_Atención is expected\n This attribute is mandatory when the instance is at state 'Pendiente'",
                        "nullable": true
                      },
                      "ATEY_USUARIO_SOLICITANTE": {
                        "title": "Usuario solicitante",
                        "type": "integer",
                        "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                        "nullable": true
                      },
                      "REUY_ID_REUY": {
                        "title": "Reunión de servicio",
                        "type": "integer",
                        "description": " This is a foreign key to Reunión de Servicio. An id of Reunión de Servicio is expected",
                        "nullable": true
                      },
                      "NIAY_ID_NIAY": {
                        "title": "Calidad de atención recibida",
                        "type": "integer",
                        "description": "Es la calidad del servicio aplicada a la presente Atención.-\n This is a foreign key to Nivel de Atención. An id of Nivel de Atención is expected\n This attribute is mandatory when the instance is at state 'Cerrada'",
                        "nullable": true
                      },
                      "ATEY_ARHC_ID_1662": {
                        "title": "Adjunto",
                        "type": "integer",
                        "nullable": true
                      },
                      "ATEY_RESPONSABLE": {
                        "title": "Responsable",
                        "type": "integer",
                        "nullable": true
                      },
                      "PRYY_ID_PRYY": {
                        "title": "Proceso relacionado (YiQi)",
                        "type": "integer",
                        "description": " This is a foreign key to Proceso YiQi. An id of Proceso YiQi is expected\n This attribute is mandatory when the instance is at state 'Pendiente de validación'",
                        "nullable": true
                      },
                      "ATEY_FECHA_VENCIMIENTO": {
                        "title": "Fecha vencimiento",
                        "type": "string",
                        "nullable": true
                      },
                      "ATEY_RAZON_DESESTIMACION": {
                        "title": "Razón Desestimación",
                        "maxLength": 100,
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Desestimada'",
                        "nullable": true
                      },
                      "ATEY_RAZON_ESPERA": {
                        "title": "Razón de puesta en espera",
                        "maxLength": 100,
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'En espera'",
                        "nullable": true
                      },
                      "CAUY_ID_CAUY": {
                        "title": "Causa",
                        "type": "integer",
                        "description": " This is a foreign key to Causa_Y. An id of Causa_Y is expected\n This attribute is mandatory when the instance is at state 'Pendiente de validación'",
                        "nullable": true
                      },
                      "ATEY_OUTBOX_PREFERENCES": {
                        "title": "Outbox preferences",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ATEY_SUSPENSION_DE_SERVIC": {
                        "title": "Suspensión de servicio",
                        "type": "boolean",
                        "description": "Valor = 1",
                        "nullable": true
                      },
                      "ATEY_REVISION_DE_EVENTOS_": {
                        "title": "Revisión de eventos previos",
                        "type": "boolean",
                        "description": "Valor = 1",
                        "nullable": true
                      },
                      "ATEY_MODIFICACION_DE_ENTI": {
                        "title": "Creación/ modif de entidades/perfiles",
                        "type": "boolean",
                        "description": "Valor = 1",
                        "nullable": true
                      },
                      "ATEY_MODIFICACION_DE_WFS": {
                        "title": "Modificación de WFs",
                        "type": "boolean",
                        "description": "Valor = 1",
                        "nullable": true
                      },
                      "ATEY_MODIFICACION_DE_FXS": {
                        "title": "Modificación de FXs",
                        "type": "boolean",
                        "description": "Valor = 1",
                        "nullable": true
                      },
                      "ATEY_REUNION_DE_SERVICIO": {
                        "title": "Reunión de servicio",
                        "type": "boolean",
                        "description": "Valor = 2",
                        "nullable": true
                      },
                      "ATEY_INTERCONSULTA_DESARR": {
                        "title": "Interconsulta desarrollo",
                        "type": "boolean",
                        "description": "Valor = 1",
                        "nullable": true
                      },
                      "ATEY_PREPARADO_DE_ARCHIVO": {
                        "title": "Preparado de archivos",
                        "type": "boolean",
                        "description": "Valor = 1",
                        "nullable": true
                      },
                      "ATEY_REQUIERE_DESARROLLO": {
                        "title": "Requiere desarrollo",
                        "type": "boolean",
                        "description": "Valor = 2",
                        "nullable": true
                      },
                      "ATEY_GENERACION_DE_REPORT": {
                        "title": "Generación de reporte",
                        "type": "boolean",
                        "description": "Valor = 2",
                        "nullable": true
                      },
                      "ATEY_MODIFICA_DATOS_ACTUA": {
                        "title": "Modifica datos actuales",
                        "type": "boolean",
                        "description": "Valor = 2",
                        "nullable": true
                      },
                      "ATEY_DESARROLLO_SOBRE_HER": {
                        "title": "Desarrollo sobre herramienta",
                        "type": "boolean",
                        "description": "Valor = 5",
                        "nullable": true
                      },
                      "TemaPendiente": {
                        "title": "Tema Pendiente",
                        "type": "array",
                        "items": {
                          "title": "Tema Pendiente",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "REUY_ID_REUY": {
                              "title": "Reunión",
                              "type": "integer",
                              "description": " This is a foreign key to Reunión de Servicio. An id of Reunión de Servicio is expected",
                              "nullable": true
                            },
                            "TEPY_TEMA_PENDIENTE": {
                              "title": "Tema Pendiente",
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Tema Pendiente"
                        },
                        "description": "Array of child entities of Tema Pendiente"
                      },
                      "TemaAcordado": {
                        "title": "Tema Acordado",
                        "type": "array",
                        "items": {
                          "title": "Tema Acordado",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "REUY_ID_REUY": {
                              "title": "Reunión",
                              "type": "integer",
                              "description": " This is a foreign key to Reunión de Servicio. An id of Reunión de Servicio is expected",
                              "nullable": true
                            },
                            "TEAY_TEMA_ACORDADO": {
                              "title": "Tema Acordado",
                              "type": "string",
                              "nullable": true
                            },
                            "TEAY_GENERA_ACTIVIDAD": {
                              "title": "Genera Actividad",
                              "type": "boolean",
                              "nullable": true
                            },
                            "TEAY_GENERA_ATENCION": {
                              "title": "Genera Atención",
                              "type": "boolean",
                              "nullable": true
                            },
                            "TEAY_RESPONSABLE": {
                              "title": "Responsable",
                              "type": "integer",
                              "nullable": true
                            },
                            "TEAY_FECHA_FIN": {
                              "title": "Fecha de fin",
                              "type": "string",
                              "nullable": true
                            },
                            "PROY_ID_PROY": {
                              "title": "Centro de costos",
                              "type": "integer",
[...]
