{
  "openapi": "3.0.4",
  "info": {
    "title": "erpdemo.schema Finanzas",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yiqi.com.ar/api/public"
    }
  ],
  "paths": {
    "/CONCEPTO_DE_COBRO_EL": {
      "post": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "summary": "Create a Concepto de cobro electrónico.",
        "description": "Creates a Concepto de cobro electrónico",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "CDCE_NOMBRE",
                      "CUCO_ID_CUCO"
                    ],
                    "type": "object",
                    "properties": {
                      "CDCE_NOMBRE": {
                        "title": "Nombre",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "CUCO_ID_CUCO": {
                        "title": "Cuenta contable Cobro",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected"
                      },
                      "CDCE_CATEGORIA": {
                        "title": "Categoría",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CDCE_DIMINUTIVO": {
                        "title": "Diminutivo",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CDCE_NO_EN_MENU_POS": {
                        "title": "No se muestra en el POS",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CUCO_ID_COMI": {
                        "title": "Cuenta contable Comision",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                        "nullable": true
                      },
                      "CUCO_ID_ARAN": {
                        "title": "Cuenta contable Arancel",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                        "nullable": true
                      },
                      "CDCE_SOLO_ADMINISTRADOR": {
                        "title": "Vista únicamente por Administrador",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Proveedor",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "CobroElectrónico": {
                        "title": "Cobro electrónico",
                        "type": "array",
                        "items": {
                          "title": "Cobro electrónico",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "COEL_IMPORTE": {
                              "title": "Importe",
                              "type": "number"
                            },
                            "COEL_CUOTAS": {
                              "title": "Cuotas",
                              "type": "integer",
                              "default": "1",
                              "nullable": true
                            },
                            "COEL_OBSERVACIONES": {
                              "title": "Observaciones",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "COEL_FECHA_DE_COBRO": {
                              "title": "Fecha de Cobro",
                              "type": "string",
                              "default": "PARAM.PARA_HOY",
                              "nullable": true
                            },
                            "COEL_NRO_DE_OPERACION": {
                              "title": "Nro de operación",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "LDCE_ID_LDCE": {
                              "title": "Liquidación de Cobro electrónico",
                              "type": "integer",
                              "description": " This is a foreign key to Liquidación de Cobro electrónico. An id of Liquidación de Cobro electrónico is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Cobro electrónico"
                        },
                        "description": "Array of child entities of Cobro electrónico"
                      },
                      "LiquidaciónDeCobro": {
                        "title": "Liquidación de cobro",
                        "type": "array",
                        "items": {
                          "title": "Liquidación de cobro",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CUDE_ID_CUDE": {
                              "title": "Cuenta Bancaria Destino",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected"
                            },
                            "LDCE_FECHA": {
                              "title": "Fecha",
                              "type": "string",
                              "default": "PARAM.PARA_HOY"
                            },
                            "LDCE_MONTO": {
                              "title": "Monto a liquidar",
                              "type": "number",
                              "description": "Se refiere al monto total a ser descontado del concepto de cobro electrónico"
                            },
                            "LDCE_MONTO_COMISION": {
                              "title": "Neto comisión",
                              "type": "number",
                              "description": "Opcional: Se refiere al monto de comisión.\nSupongamos que en la cuenta del cobro electrónico hay $10.000 y que el canal de pagos nos cobra $1000 en concepto de comisión. Entonces ingresaríamos $9000 en Monto a liquidar (que es lo que se acreditará en el banco) y $1000 en concepto de comisión.\n This attribute is mandatory when the instance is at state 'Realizada'",
                              "nullable": true
                            },
                            "ALIV_ID_ALIV": {
                              "title": "Alícuota IVA Comisión",
                              "type": "integer",
                              "description": " This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected",
                              "nullable": true
                            },
                            "LDCE_NETO_ARANCEL": {
                              "title": "Neto arancel",
                              "type": "number",
                              "nullable": true
                            },
                            "ALIV_ID_ARAN": {
                              "title": "Alícuota IVA Arancel",
                              "type": "integer",
                              "description": " This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Liquidación de cobro"
                        },
                        "description": "Array of child entities of Liquidación de cobro"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CONCEPTO_DE_COBRO_EL/{id}": {
      "get": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "description": "Get a Concepto de cobro electrónico by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Concepto de cobro electrónico id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "summary": "Update a Concepto de cobro electrónico by id.",
        "description": "Update a Concepto de cobro electrónico",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Concepto de cobro electrónico id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "CDCE_NOMBRE",
                      "CUCO_ID_CUCO"
                    ],
                    "type": "object",
                    "properties": {
                      "CDCE_NOMBRE": {
                        "title": "Nombre",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "CUCO_ID_CUCO": {
                        "title": "Cuenta contable Cobro",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected"
                      },
                      "CDCE_CATEGORIA": {
                        "title": "Categoría",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CDCE_DIMINUTIVO": {
                        "title": "Diminutivo",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CDCE_NO_EN_MENU_POS": {
                        "title": "No se muestra en el POS",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CUCO_ID_COMI": {
                        "title": "Cuenta contable Comision",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                        "nullable": true
                      },
                      "CUCO_ID_ARAN": {
                        "title": "Cuenta contable Arancel",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                        "nullable": true
                      },
                      "CDCE_SOLO_ADMINISTRADOR": {
                        "title": "Vista únicamente por Administrador",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Proveedor",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "CobroElectrónico": {
                        "title": "Cobro electrónico",
                        "type": "array",
                        "items": {
                          "title": "Cobro electrónico",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "COEL_IMPORTE": {
                              "title": "Importe",
                              "type": "number"
                            },
                            "COEL_CUOTAS": {
                              "title": "Cuotas",
                              "type": "integer",
                              "default": "1",
                              "nullable": true
                            },
                            "COEL_OBSERVACIONES": {
                              "title": "Observaciones",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "COEL_FECHA_DE_COBRO": {
                              "title": "Fecha de Cobro",
                              "type": "string",
                              "default": "PARAM.PARA_HOY",
                              "nullable": true
                            },
                            "COEL_NRO_DE_OPERACION": {
                              "title": "Nro de operación",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "LDCE_ID_LDCE": {
                              "title": "Liquidación de Cobro electrónico",
                              "type": "integer",
                              "description": " This is a foreign key to Liquidación de Cobro electrónico. An id of Liquidación de Cobro electrónico is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Cobro electrónico"
                        },
                        "description": "Array of child entities of Cobro electrónico"
                      },
                      "LiquidaciónDeCobro": {
                        "title": "Liquidación de cobro",
                        "type": "array",
                        "items": {
                          "title": "Liquidación de cobro",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CUDE_ID_CUDE": {
                              "title": "Cuenta Bancaria Destino",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected"
                            },
                            "LDCE_FECHA": {
                              "title": "Fecha",
                              "type": "string",
                              "default": "PARAM.PARA_HOY"
                            },
                            "LDCE_MONTO": {
                              "title": "Monto a liquidar",
                              "type": "number",
                              "description": "Se refiere al monto total a ser descontado del concepto de cobro electrónico"
                            },
                            "LDCE_MONTO_COMISION": {
                              "title": "Neto comisión",
                              "type": "number",
                              "description": "Opcional: Se refiere al monto de comisión.\nSupongamos que en la cuenta del cobro electrónico hay $10.000 y que el canal de pagos nos cobra $1000 en concepto de comisión. Entonces ingresaríamos $9000 en Monto a liquidar (que es lo que se acreditará en el banco) y $1000 en concepto de comisión.\n This attribute is mandatory when the instance is at state 'Realizada'",
                              "nullable": true
                            },
                            "ALIV_ID_ALIV": {
                              "title": "Alícuota IVA Comisión",
                              "type": "integer",
                              "description": " This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected",
                              "nullable": true
                            },
                            "LDCE_NETO_ARANCEL": {
                              "title": "Neto arancel",
                              "type": "number",
                              "nullable": true
                            },
                            "ALIV_ID_ARAN": {
                              "title": "Alícuota IVA Arancel",
                              "type": "integer",
                              "description": " This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Liquidación de cobro"
                        },
                        "description": "Array of child entities of Liquidación de cobro"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "summary": "Delete a Concepto de cobro electrónico by id.",
        "description": "Delete a Concepto de cobro electrónico",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Concepto de cobro electrónico id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/CONCEPTO_DE_COBRO_EL/search": {
      "get": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Concepto de cobro electrónico",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "CDCE_NOMBRE",
            "in": "query",
            "description": "Nombre",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CUCO_ID_CUCO",
            "in": "query",
            "description": "Cuenta contable Cobro",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CONCEPTO_DE_COBRO_EL/smartie": {
      "get": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CONCEPTO_DE_COBRO_EL/changestate": {
      "post": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Creado</li>\n<li>Recalcula Saldo</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CONCEPTO_DE_COBRO_EL/file": {
      "get": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CONCEPTO_DE_COBRO_EL/report": {
      "get": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/DET_INDICADORES_FINA": {
      "post": {
        "tags": [
          "Det Indicadores Financieros"
        ],
        "summary": "Create a Det Indicadores Financieros.",
        "description": "Creates a Det Indicadores Financieros",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "INFI_ID_INFI": {
                        "title": "Período",
                        "type": "integer",
                        "description": " This is a foreign key to Indicadores financieros. An id of Indicadores financieros is expected",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Empresa",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "DEIF_PMP": {
                        "title": "PMP",
                        "type": "number",
                        "description": "Período medio de pago.",
                        "nullable": true
                      },
                      "DEIF_PMC": {
                        "title": "PMC",
                        "type": "number",
                        "description": "Período medio de cobro.",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DET_INDICADORES_FINA/{id}": {
      "get": {
        "tags": [
          "Det Indicadores Financieros"
        ],
        "description": "Get a Det Indicadores Financieros by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Det Indicadores Financieros id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Det Indicadores Financieros"
        ],
        "summary": "Update a Det Indicadores Financieros by id.",
        "description": "Update a Det Indicadores Financieros",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Det Indicadores Financieros id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "INFI_ID_INFI": {
                        "title": "Período",
                        "type": "integer",
                        "description": " This is a foreign key to Indicadores financieros. An id of Indicadores financieros is expected",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Empresa",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "DEIF_PMP": {
                        "title": "PMP",
                        "type": "number",
                        "description": "Período medio de pago.",
                        "nullable": true
                      },
                      "DEIF_PMC": {
                        "title": "PMC",
                        "type": "number",
                        "description": "Período medio de cobro.",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Det Indicadores Financieros"
        ],
        "summary": "Delete a Det Indicadores Financieros by id.",
        "description": "Delete a Det Indicadores Financieros",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Det Indicadores Financieros id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/DET_INDICADORES_FINA/search": {
      "get": {
        "tags": [
          "Det Indicadores Financieros"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Det Indicadores Financieros",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DET_INDICADORES_FINA/smartie": {
      "get": {
        "tags": [
          "Det Indicadores Financieros"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DET_INDICADORES_FINA/file": {
      "get": {
        "tags": [
          "Det Indicadores Financieros"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Det Indicadores Financieros"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/DET_INDICADORES_FINA/report": {
      "get": {
        "tags": [
          "Det Indicadores Financieros"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/INDICADORES_FINANCIE": {
      "post": {
        "tags": [
          "Indicadores financieros"
        ],
        "summary": "Create a Indicadores financieros.",
        "description": "Creates a Indicadores financieros",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "INFI_PERIODO"
                    ],
                    "type": "object",
                    "properties": {
                      "INFI_PERIODO": {
                        "title": "Período",
                        "type": "string"
                      },
                      "INFI_DIAS_P_CALCULO": {
                        "title": "Días p/Cálculo",
                        "type": "integer",
                        "default": "365",
                        "nullable": true
                      },
                      "IndicadoresPorEmpresa": {
                        "title": "Indicadores por empresa",
                        "type": "array",
                        "items": {
                          "title": "Indicadores por empresa",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CLIE_ID_CLIE": {
                              "title": "Empresa",
                              "type": "integer",
                              "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                              "nullable": true
                            },
                            "DEIF_PMP": {
                              "title": "PMP",
                              "type": "number",
                              "description": "Período medio de pago.",
                              "nullable": true
                            },
                            "DEIF_PMC": {
                              "title": "PMC",
                              "type": "number",
                              "description": "Período medio de cobro.",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Indicadores por empresa"
                        },
                        "description": "Array of child entities of Indicadores por empresa"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/INDICADORES_FINANCIE/{id}": {
      "get": {
        "tags": [
          "Indicadores financieros"
        ],
        "description": "Get a Indicadores financieros by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Indicadores financieros id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Indicadores financieros"
        ],
        "summary": "Update a Indicadores financieros by id.",
        "description": "Update a Indicadores financieros",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Indicadores financieros id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "INFI_PERIODO"
                    ],
                    "type": "object",
                    "properties": {
                      "INFI_PERIODO": {
                        "title": "Período",
                        "type": "string"
                      },
                      "INFI_DIAS_P_CALCULO": {
                        "title": "Días p/Cálculo",
                        "type": "integer",
                        "default": "365",
                        "nullable": true
                      },
                      "IndicadoresPorEmpresa": {
                        "title": "Indicadores por empresa",
                        "type": "array",
                        "items": {
                          "title": "Indicadores por empresa",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CLIE_ID_CLIE": {
                              "title": "Empresa",
                              "type": "integer",
                              "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                              "nullable": true
                            },
                            "DEIF_PMP": {
                              "title": "PMP",
                              "type": "number",
                              "description": "Período medio de pago.",
                              "nullable": true
                            },
                            "DEIF_PMC": {
                              "title": "PMC",
                              "type": "number",
                              "description": "Período medio de cobro.",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Indicadores por empresa"
                        },
                        "description": "Array of child entities of Indicadores por empresa"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Indicadores financieros"
        ],
        "summary": "Delete a Indicadores financieros by id.",
        "description": "Delete a Indicadores financieros",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Indicadores financieros id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/INDICADORES_FINANCIE/search": {
      "get": {
        "tags": [
          "Indicadores financieros"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Indicadores financieros",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "INFI_PERIODO",
            "in": "query",
            "description": "Período",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INFI_DIAS_P_CALCULO",
            "in": "query",
            "description": "Días p/Cálculo",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/INDICADORES_FINANCIE/smartie": {
      "get": {
        "tags": [
          "Indicadores financieros"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/INDICADORES_FINANCIE/changestate": {
      "post": {
        "tags": [
          "Indicadores financieros"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Calculado</li>\n<li>Recalculando</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/INDICADORES_FINANCIE/file": {
      "get": {
        "tags": [
          "Indicadores financieros"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Indicadores financieros"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/INDICADORES_FINANCIE/report": {
      "get": {
        "tags": [
          "Indicadores financieros"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/INVERSION": {
      "post": {
        "tags": [
          "Inversión"
        ],
        "summary": "Create a Inversión.",
        "description": "Creates a Inversión",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "TIDI_ID_TIDI": {
                        "title": "Tipo de Inversión",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de Inversión. An id of Tipo de Inversión is expected",
                        "nullable": true
                      },
                      "INVE_FECHA": {
                        "title": "Fecha",
                        "type": "string",
                        "nullable": true
                      },
                      "INVE_MONTO_INICIAL": {
                        "title": "Monto inicial",
                        "type": "number",
                        "nullable": true
                      },
                      "CUDE_ID_CUDE": {
                        "title": "Cuenta Bancaria desde",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected",
                        "nullable": true
                      },
                      "CUDE_ID_CUDO": {
                        "title": "Cuenta Inversión hacia",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected",
                        "nullable": true
                      },
                      "INVE_FECHA_DE_ACREDITACIO": {
                        "title": "Fecha de acreditación futura",
                        "type": "string",
                        "nullable": true
                      },
                      "INVE_INTERESES_A_DEVENGAR": {
                        "title": "Intereses a devengar",
                        "type": "number",
                        "description": "Esto solo aplicaría para inversiones de interés fijo",
                        "nullable": true
                      },
                      "INVE_COTIZACION": {
                        "title": "Tipo de cambio",
                        "type": "number",
                        "default": "1",
                        "nullable": true
                      },
                      "INVE_INTERES_DEVENGADO": {
                        "title": "Interes devengado",
                        "type": "number",
                        "nullable": true
                      },
                      "INVE_TASA_OBTENIDA": {
                        "title": "Tasa obtenida",
                        "type": "number",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/INVERSION/{id}": {
      "get": {
        "tags": [
          "Inversión"
        ],
        "description": "Get a Inversión by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Inversión id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Inversión"
        ],
        "summary": "Update a Inversión by id.",
        "description": "Update a Inversión",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Inversión id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "TIDI_ID_TIDI": {
                        "title": "Tipo de Inversión",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de Inversión. An id of Tipo de Inversión is expected",
                        "nullable": true
                      },
                      "INVE_FECHA": {
                        "title": "Fecha",
                        "type": "string",
                        "nullable": true
                      },
                      "INVE_MONTO_INICIAL": {
                        "title": "Monto inicial",
                        "type": "number",
                        "nullable": true
                      },
                      "CUDE_ID_CUDE": {
                        "title": "Cuenta Bancaria desde",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected",
                        "nullable": true
                      },
                      "CUDE_ID_CUDO": {
                        "title": "Cuenta Inversión hacia",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected",
                        "nullable": true
                      },
                      "INVE_FECHA_DE_ACREDITACIO": {
                        "title": "Fecha de acreditación futura",
                        "type": "string",
                        "nullable": true
                      },
                      "INVE_INTERESES_A_DEVENGAR": {
                        "title": "Intereses a devengar",
                        "type": "number",
                        "description": "Esto solo aplicaría para inversiones de interés fijo",
                        "nullable": true
                      },
                      "INVE_COTIZACION": {
                        "title": "Tipo de cambio",
                        "type": "number",
                        "default": "1",
                        "nullable": true
                      },
                      "INVE_INTERES_DEVENGADO": {
                        "title": "Interes devengado",
                        "type": "number",
                        "nullable": true
                      },
                      "INVE_TASA_OBTENIDA": {
                        "title": "Tasa obtenida",
                        "type": "number",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Inversión"
        ],
        "summary": "Delete a Inversión by id.",
        "description": "Delete a Inversión",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Inversión id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/INVERSION/search": {
      "get": {
        "tags": [
          "Inversión"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Inversión",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/INVERSION/smartie": {
      "get": {
        "tags": [
          "Inversión"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/INVERSION/changestate": {
      "post": {
        "tags": [
          "Inversión"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Acreditada</li>\n<li>Anulada</li>\n<li>Autorizada</li>\n<li>Pend. de autorización</li>\n<li>Planificada</li>\n<li>Realizada</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/INVERSION/file": {
      "get": {
        "tags": [
          "Inversión"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Inversión"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/INVERSION/report": {
      "get": {
        "tags": [
          "Inversión"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/LIQUIDACION_DE_COBRO": {
      "post": {
        "tags": [
          "Liquidación de Cobro electrónico"
        ],
        "summary": "Create a Liquidación de Cobro electrónico.",
        "description": "Creates a Liquidación de Cobro electrónico",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "CDCE_ID_CDCE",
                      "CUDE_ID_CUDE",
                      "LDCE_FECHA",
                      "LDCE_MONTO"
                    ],
                    "type": "object",
                    "properties": {
                      "CDCE_ID_CDCE": {
                        "title": "Concepto de cobro electrónico",
                        "type": "integer",
                        "description": " This is a foreign key to Concepto de cobro electrónico. An id of Concepto de cobro electrónico is expected"
                      },
                      "CUDE_ID_CUDE": {
                        "title": "Cuenta Bancaria Destino",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected"
                      },
                      "LDCE_FECHA": {
                        "title": "Fecha",
                        "type": "string",
                        "default": "PARAM.PARA_HOY"
                      },
                      "LDCE_MONTO": {
                        "title": "Monto a liquidar",
                        "type": "number",
                        "description": "Se refiere al monto total a ser descontado del concepto de cobro electrónico"
                      },
                      "LDCE_MONTO_COMISION": {
                        "title": "Neto comisión",
                        "type": "number",
                        "description": "Opcional: Se refiere al monto de comisión.\nSupongamos que en la cuenta del cobro electrónico hay $10.000 y que el canal de pagos nos cobra $1000 en concepto de comisión. Entonces ingresaríamos $9000 en Monto a liquidar (que es lo que se acreditará en el banco) y $1000 en concepto de comisión.\n This attribute is mandatory when the instance is at state 'Realizada'",
                        "nullable": true
                      },
                      "ALIV_ID_ALIV": {
                        "title": "Alícuota IVA Comisión",
                        "type": "integer",
                        "description": " This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected",
                        "nullable": true
                      },
                      "LDCE_NETO_ARANCEL": {
                        "title": "Neto arancel",
                        "type": "number",
                        "nullable": true
                      },
                      "ALIV_ID_ARAN": {
                        "title": "Alícuota IVA Arancel",
                        "type": "integer",
                        "description": " This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected",
                        "nullable": true
                      },
                      "Retenciones": {
                        "title": "Retenciones",
                        "type": "array",
                        "items": {
                          "title": "Retenciones",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "RERE_NUMERO_COMPROBANTE": {
                              "title": "Nro Comprobante",
                              "maxLength": 100,
                              "type": "string"
                            },
                            "RERE_FECHA_EMISION": {
                              "title": "Fecha de emisión",
                              "type": "string",
                              "description": " This attribute is mandatory when the instance is at state 'Recibida'",
                              "nullable": true
                            },
                            "CORE_ID_CORE": {
                              "title": "Concepto",
                              "type": "integer",
                              "description": " This is a foreign key to Concepto Retención. An id of Concepto Retención is expected"
                            },
                            "RERE_IMPORTE": {
                              "title": "Importe",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                              "nullable": true
                            },
                            "LIQI_ID_LIQI": {
                              "title": "Liquidación de impuestos",
                              "type": "integer",
                              "description": " This is a foreign key to Liquidación de impuestos. An id of Liquidación de impuestos is expected",
                              "nullable": true
                            },
                            "RERE_ARHC_ID_3801": {
                              "title": "Comprobante",
                              "type": "integer",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Retenciones"
                        },
                        "description": "Array of child entities of Retenciones"
                      },
                      "Percepciones": {
                        "title": "Percepciones",
                        "type": "array",
                        "items": {
                          "title": "Percepciones",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "FACO_ID_FACO": {
                              "title": "Factura",
                              "type": "integer",
                              "description": " This is a foreign key to Factura de compra. An id of Factura de compra is expected",
                              "nullable": true
                            },
                            "COPE_ID_COPE": {
                              "title": "Concepto",
                              "type": "integer",
                              "description": " This is a foreign key to Concepto Percepción. An id of Concepto Percepción is expected"
                            },
                            "PERE_IMPORTE": {
                              "title": "Importe",
                              "type": "number",
                              "nullable": true
                            },
                            "LIQI_ID_LIQI": {
                              "title": "Liquidación de impuesto",
                              "type": "integer",
                              "description": " This is a foreign key to Liquidación de impuestos. An id of Liquidación de impuestos is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Percepciones"
                        },
                        "description": "Array of child entities of Percepciones"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/LIQUIDACION_DE_COBRO/{id}": {
      "get": {
        "tags": [
          "Liquidación de Cobro electrónico"
        ],
        "description": "Get a Liquidación de Cobro electrónico by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Liquidación de Cobro electrónico id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Liquidación de Cobro electrónico"
        ],
        "summary": "Update a Liquidación de Cobro electrónico by id.",
        "description": "Update a Liquidación de Cobro electrónico",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Liquidación de Cobro electrónico id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "CDCE_ID_CDCE",
                      "CUDE_ID_CUDE",
                      "LDCE_FECHA",
                      "LDCE_MONTO"
                    ],
                    "type": "object",
                    "properties": {
                      "CDCE_ID_CDCE": {
                        "title": "Concepto de cobro electrónico",
                        "type": "integer",
                        "description": " This is a foreign key to Concepto de cobro electrónico. An id of Concepto de cobro electrónico is expected"
                      },
                      "CUDE_ID_CUDE": {
                        "title": "Cuenta Bancaria Destino",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected"
                      },
                      "LDCE_FECHA": {
                        "title": "Fecha",
                        "type": "string",
                        "default": "PARAM.PARA_HOY"
                      },
                      "LDCE_MONTO": {
                        "title": "Monto a liquidar",
                        "type": "number",
                        "description": "Se refiere al monto total a ser descontado del concepto de cobro electrónico"
                      },
[...]
