{
  "openapi": "3.0.4",
  "info": {
    "title": "erpdemo.schema POS",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yiqi.com.ar/api/public"
    }
  ],
  "paths": {
    "/ARTICULO_POS": {
      "post": {
        "tags": [
          "Articulo POS"
        ],
        "summary": "Create a Articulo POS.",
        "description": "Creates a new instance of Articulo POS.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "MATE_ID": {
                        "title": "MATE_ID",
                        "type": "integer",
                        "nullable": true
                      },
                      "MATE_CODIGO_DE_BARRA": {
                        "title": "MATE_CODIGO_DE_BARRA",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "MATE_NOMBRE": {
                        "title": "Artículo - Nombre",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "SUMA_ID_SUMA": {
                        "title": "SUMA_ID_SUMA",
                        "type": "integer",
                        "nullable": true
                      },
                      "GRMA_ID_GRMA": {
                        "title": "GRMA_ID_GRMA",
                        "type": "integer",
                        "nullable": true
                      },
                      "ALIV_ID_ALIV": {
                        "title": "ALIV_ID_ALIV",
                        "type": "number",
                        "nullable": true
                      },
                      "MATE_PRECIO_DE_VENTA": {
                        "title": "Precio Neto 1",
                        "type": "number",
                        "nullable": true
                      },
                      "PAPL_PRECIO_FINAL": {
                        "title": "Precio Final 1",
                        "type": "number",
                        "nullable": true
                      },
                      "PAPL_PRECIO_TACHADO": {
                        "title": "Precio Final Tachado 1",
                        "type": "number",
                        "nullable": true
                      },
                      "MATE_PRECIO_DE_VENT2": {
                        "title": "Precio Neto 2",
                        "type": "number",
                        "nullable": true
                      },
                      "PAPL_PRECIO_FINAL2": {
                        "title": "Precio Final 2",
                        "type": "number",
                        "nullable": true
                      },
                      "PAPL_PRECIO_TACHADO2": {
                        "title": "Precio Final Tachado 2",
                        "type": "number",
                        "nullable": true
                      },
                      "MATE_PROV_CODIGO": {
                        "title": "MATE_PROV_CODIGO",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "MATE_COD_PROV_2": {
                        "title": "MATE_COD_PROV_2",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "MARC_ID_MARC": {
                        "title": "MARC_ID_MARC",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "MATE_NO_SE_INCLUYE": {
                        "title": "MATE_NO_SE_INCLUYE",
                        "type": "boolean",
                        "nullable": true
                      },
                      "MATE_ES_GENERICO": {
                        "title": "MATE_ES_GENERICO",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "IMAGEN": {
                        "title": "IMAGEN",
                        "type": "integer",
                        "nullable": true
                      },
                      "IMPUESTO_INTERNO": {
                        "title": "IMPUESTO_INTERNO",
                        "type": "number",
                        "nullable": true
                      },
                      "ID_UNIVERSAL": {
                        "title": "ID_UNIVERSAL",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "description": "Instance data"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Instance created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the newly created instance"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to create instances of this entity"
          },
          "409": {
            "description": "Conflict - Duplicate instance detected"
          }
        }
      }
    },
    "/ARTICULO_POS/{id}": {
      "get": {
        "tags": [
          "Articulo POS"
        ],
        "description": "Get a Articulo POS by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Articulo POS id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Articulo POS"
        ],
        "summary": "Update a Articulo POS by id.",
        "description": "Update a Articulo POS",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Articulo POS id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "MATE_ID": {
                        "title": "MATE_ID",
                        "type": "integer",
                        "nullable": true
                      },
                      "MATE_CODIGO_DE_BARRA": {
                        "title": "MATE_CODIGO_DE_BARRA",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "MATE_NOMBRE": {
                        "title": "Artículo - Nombre",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "SUMA_ID_SUMA": {
                        "title": "SUMA_ID_SUMA",
                        "type": "integer",
                        "nullable": true
                      },
                      "GRMA_ID_GRMA": {
                        "title": "GRMA_ID_GRMA",
                        "type": "integer",
                        "nullable": true
                      },
                      "ALIV_ID_ALIV": {
                        "title": "ALIV_ID_ALIV",
                        "type": "number",
                        "nullable": true
                      },
                      "MATE_PRECIO_DE_VENTA": {
                        "title": "Precio Neto 1",
                        "type": "number",
                        "nullable": true
                      },
                      "PAPL_PRECIO_FINAL": {
                        "title": "Precio Final 1",
                        "type": "number",
                        "nullable": true
                      },
                      "PAPL_PRECIO_TACHADO": {
                        "title": "Precio Final Tachado 1",
                        "type": "number",
                        "nullable": true
                      },
                      "MATE_PRECIO_DE_VENT2": {
                        "title": "Precio Neto 2",
                        "type": "number",
                        "nullable": true
                      },
                      "PAPL_PRECIO_FINAL2": {
                        "title": "Precio Final 2",
                        "type": "number",
                        "nullable": true
                      },
                      "PAPL_PRECIO_TACHADO2": {
                        "title": "Precio Final Tachado 2",
                        "type": "number",
                        "nullable": true
                      },
                      "MATE_PROV_CODIGO": {
                        "title": "MATE_PROV_CODIGO",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "MATE_COD_PROV_2": {
                        "title": "MATE_COD_PROV_2",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "MARC_ID_MARC": {
                        "title": "MARC_ID_MARC",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "MATE_NO_SE_INCLUYE": {
                        "title": "MATE_NO_SE_INCLUYE",
                        "type": "boolean",
                        "nullable": true
                      },
                      "MATE_ES_GENERICO": {
                        "title": "MATE_ES_GENERICO",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "IMAGEN": {
                        "title": "IMAGEN",
                        "type": "integer",
                        "nullable": true
                      },
                      "IMPUESTO_INTERNO": {
                        "title": "IMPUESTO_INTERNO",
                        "type": "number",
                        "nullable": true
                      },
                      "ID_UNIVERSAL": {
                        "title": "ID_UNIVERSAL",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Articulo POS"
        ],
        "summary": "Delete a Articulo POS by id.",
        "description": "Delete a Articulo POS",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Articulo POS id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/ARTICULO_POS/search": {
      "get": {
        "tags": [
          "Articulo POS"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Articulo POS",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "MATE_ID",
            "in": "query",
            "description": "MATE_ID",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "MATE_CODIGO_DE_BARRA",
            "in": "query",
            "description": "MATE_CODIGO_DE_BARRA",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MATE_NOMBRE",
            "in": "query",
            "description": "Artículo - Nombre",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MATE_PRECIO_DE_VENTA",
            "in": "query",
            "description": "Precio Neto 1",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "PAPL_PRECIO_FINAL",
            "in": "query",
            "description": "Precio Final 1",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "PAPL_PRECIO_TACHADO",
            "in": "query",
            "description": "Precio Final Tachado 1",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "MATE_PRECIO_DE_VENT2",
            "in": "query",
            "description": "Precio Neto 2",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "PAPL_PRECIO_FINAL2",
            "in": "query",
            "description": "Precio Final 2",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "PAPL_PRECIO_TACHADO2",
            "in": "query",
            "description": "Precio Final Tachado 2",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "MATE_ES_GENERICO",
            "in": "query",
            "description": "MATE_ES_GENERICO",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IMAGEN",
            "in": "query",
            "description": "IMAGEN",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "IMPUESTO_INTERNO",
            "in": "query",
            "description": "IMPUESTO_INTERNO",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "ID_UNIVERSAL",
            "in": "query",
            "description": "ID_UNIVERSAL",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ARTICULO_POS/smartie": {
      "get": {
        "tags": [
          "Articulo POS"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ARTICULO_POS/query": {
      "post": {
        "tags": [
          "Articulo POS"
        ],
        "summary": "Execute dynamic query without persisted smartie",
        "description": "Performs a dynamic query on Articulo POS instances with custom columns, filters, sorting, and aggregations. This endpoint allows ad-hoc queries without requiring a saved smartie configuration.",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Dynamic query parameters including pagination, columns, filters, and search criteria",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "page"
                ],
                "type": "object",
                "properties": {
                  "page": {
                    "minimum": 1,
                    "type": "integer",
                    "description": "Page number (1-based)",
                    "default": 1
                  },
                  "pageSize": {
                    "maximum": 1000,
                    "minimum": 1,
                    "type": "integer",
                    "description": "Number of records per page",
                    "default": 50
                  },
                  "search": {
                    "type": "string",
                    "description": "Fast search term to filter across all columns",
                    "nullable": true
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "required": [
                        "field"
                      ],
                      "type": "object",
                      "properties": {
                        "field": {
                          "enum": [
                            "MATE_ID",
                            "MATE_CODIGO_DE_BARRA",
                            "MATE_NOMBRE",
                            "SUMA_ID_SUMA",
                            "GRMA_ID_GRMA",
                            "ALIV_ID_ALIV",
                            "MATE_PRECIO_DE_VENTA",
                            "PAPL_PRECIO_FINAL",
                            "PAPL_PRECIO_TACHADO",
                            "MATE_PRECIO_DE_VENT2",
                            "PAPL_PRECIO_FINAL2",
                            "PAPL_PRECIO_TACHADO2",
                            "MATE_PROV_CODIGO",
                            "MATE_COD_PROV_2",
                            "MARC_ID_MARC",
                            "MATE_NO_SE_INCLUYE",
                            "MATE_ES_GENERICO",
                            "IMAGEN",
                            "IMPUESTO_INTERNO",
                            "ID_UNIVERSAL",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Physical column name (required). Available columns from entity view."
                        },
                        "title": {
                          "type": "string",
                          "description": "Custom column title (optional)",
                          "nullable": true
                        },
                        "sortDirection": {
                          "enum": [
                            "ASC",
                            "DESC"
                          ],
                          "type": "string",
                          "description": "Sort direction",
                          "nullable": true
                        },
                        "order": {
                          "type": "integer",
                          "description": "Column display order (optional)",
                          "nullable": true
                        },
                        "sortOrder": {
                          "type": "integer",
                          "description": "Sort priority order (optional)",
                          "nullable": true
                        },
                        "aggregation": {
                          "enum": [
                            "SUM",
                            "COUNT",
                            "AVG",
                            "MIN",
                            "MAX"
                          ],
                          "type": "string",
                          "description": "Aggregation function",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Column specifications. If null or empty, default header columns will be used",
                    "nullable": true
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "required": [
                        "columnName",
                        "operator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "columnName": {
                          "enum": [
                            "MATE_ID",
                            "MATE_CODIGO_DE_BARRA",
                            "MATE_NOMBRE",
                            "SUMA_ID_SUMA",
                            "GRMA_ID_GRMA",
                            "ALIV_ID_ALIV",
                            "MATE_PRECIO_DE_VENTA",
                            "PAPL_PRECIO_FINAL",
                            "PAPL_PRECIO_TACHADO",
                            "MATE_PRECIO_DE_VENT2",
                            "PAPL_PRECIO_FINAL2",
                            "PAPL_PRECIO_TACHADO2",
                            "MATE_PROV_CODIGO",
                            "MATE_COD_PROV_2",
                            "MARC_ID_MARC",
                            "MATE_NO_SE_INCLUYE",
                            "MATE_ES_GENERICO",
                            "IMAGEN",
                            "IMPUESTO_INTERNO",
                            "ID_UNIVERSAL",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Column name to filter (required). Available columns from entity view."
                        },
                        "operator": {
                          "enum": [
                            "=",
                            "!=",
                            ">",
                            "<",
                            ">=",
                            "<=",
                            "LIKE"
                          ],
                          "type": "string",
                          "description": "Comparison operator"
                        },
                        "value": {
                          "description": "Value to compare. Type should match column data type",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Filter specifications",
                    "nullable": true
                  }
                }
              },
              "example": {
                "page": 1,
                "pageSize": 10,
                "search": "",
                "columns": [
                  {
                    "field": "COLUMN_NAME",
                    "title": "Column Title",
                    "sortDirection": "ASC",
                    "sortOrder": 1
                  }
                ],
                "filters": [
                  {
                    "columnName": "COLUMN_NAME",
                    "operator": "=",
                    "value": "value"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Array of records matching the query"
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records (without pagination)"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Column definitions"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or column names"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to view this entity"
          },
          "404": {
            "description": "Entity not found"
          }
        }
      }
    },
    "/ARTICULO_POS/file": {
      "get": {
        "tags": [
          "Articulo POS"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Articulo POS"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ARTICULO_POS/report": {
      "get": {
        "tags": [
          "Articulo POS"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CIERRE_DE_CAJA": {
      "post": {
        "tags": [
          "Cierre de caja POS"
        ],
        "summary": "Create a Cierre de caja POS.",
        "description": "Creates a new instance of Cierre de caja POS.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "CAJA_ID_CAJA"
                    ],
                    "type": "object",
                    "properties": {
                      "CIDC_USUARIO": {
                        "title": "Usuario",
                        "type": "integer",
                        "nullable": true
                      },
                      "CIDC_FECHA_HORA": {
                        "title": "Fecha hora",
                        "type": "string",
                        "nullable": true
                      },
                      "CAJA_ID_CAJA": {
                        "title": "Caja",
                        "type": "integer",
                        "description": " This is a foreign key to Caja. An id of Caja is expected\n This attribute is mandatory when the instance is at state 'Pendiente'"
                      },
                      "CIDC_LOGIN": {
                        "title": "Login",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CIDC_CERRADA": {
                        "title": "Cerrada",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CIDC_TIPO_DE_ACCION": {
                        "title": "Tipo de Acción",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CIDC_IMPORTE_EFECTIVO_SIS": {
                        "title": "Importe efectivo sistema",
                        "type": "number",
                        "nullable": true
                      },
                      "CIDC_IMPORTE_TARJETAS_SIS": {
                        "title": "Importe tarjetas sistema",
                        "type": "number",
                        "nullable": true
                      },
                      "Billetes": {
                        "title": "Billetes",
                        "type": "array",
                        "items": {
                          "title": "Billetes",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "BIDC_CANTIDAD": {
                              "title": "Cantidad",
                              "type": "integer",
                              "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                              "nullable": true
                            },
                            "BIDC_DENOMINACION": {
                              "title": "Denominación",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                              "nullable": true
                            },
                            "MONE_ID_MONE": {
                              "title": "Moneda",
                              "type": "integer",
                              "description": " This is a foreign key to Moneda. An id of Moneda is expected\n This attribute is mandatory when the instance is at state 'Pendiente'",
                              "nullable": true
                            },
                            "BIDC_OBSERVACION": {
                              "title": "Observación",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Billetes"
                        },
                        "description": "Array of child entities of Billetes"
                      },
                      "Tarjetas": {
                        "title": "Tarjetas",
                        "type": "array",
                        "items": {
                          "title": "Tarjetas",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "COTA_IMPORTE": {
                              "title": "Importe",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Ingresado'",
                              "nullable": true
                            },
                            "COTA_OBSERVACION": {
                              "title": "Observación",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CDCE_ID_CDCE": {
                              "title": "Concepto de Cobro Electrónico",
                              "type": "integer",
                              "description": " This is a foreign key to Concepto de cobro electrónico. An id of Concepto de cobro electrónico is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Tarjetas"
                        },
                        "description": "Array of child entities of Tarjetas"
                      }
                    },
                    "description": "Instance data"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Instance created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the newly created instance"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to create instances of this entity"
          },
          "409": {
            "description": "Conflict - Duplicate instance detected"
          }
        }
      }
    },
    "/CIERRE_DE_CAJA/{id}": {
      "get": {
        "tags": [
          "Cierre de caja POS"
        ],
        "description": "Get a Cierre de caja POS by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Cierre de caja POS id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Cierre de caja POS"
        ],
        "summary": "Update a Cierre de caja POS by id.",
        "description": "Update a Cierre de caja POS",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Cierre de caja POS id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "CAJA_ID_CAJA"
                    ],
                    "type": "object",
                    "properties": {
                      "CIDC_USUARIO": {
                        "title": "Usuario",
                        "type": "integer",
                        "nullable": true
                      },
                      "CIDC_FECHA_HORA": {
                        "title": "Fecha hora",
                        "type": "string",
                        "nullable": true
                      },
                      "CAJA_ID_CAJA": {
                        "title": "Caja",
                        "type": "integer",
                        "description": " This is a foreign key to Caja. An id of Caja is expected\n This attribute is mandatory when the instance is at state 'Pendiente'"
                      },
                      "CIDC_LOGIN": {
                        "title": "Login",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CIDC_CERRADA": {
                        "title": "Cerrada",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CIDC_TIPO_DE_ACCION": {
                        "title": "Tipo de Acción",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CIDC_IMPORTE_EFECTIVO_SIS": {
                        "title": "Importe efectivo sistema",
                        "type": "number",
                        "nullable": true
                      },
                      "CIDC_IMPORTE_TARJETAS_SIS": {
                        "title": "Importe tarjetas sistema",
                        "type": "number",
                        "nullable": true
                      },
                      "Billetes": {
                        "title": "Billetes",
                        "type": "array",
                        "items": {
                          "title": "Billetes",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "BIDC_CANTIDAD": {
                              "title": "Cantidad",
                              "type": "integer",
                              "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                              "nullable": true
                            },
                            "BIDC_DENOMINACION": {
                              "title": "Denominación",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                              "nullable": true
                            },
                            "MONE_ID_MONE": {
                              "title": "Moneda",
                              "type": "integer",
                              "description": " This is a foreign key to Moneda. An id of Moneda is expected\n This attribute is mandatory when the instance is at state 'Pendiente'",
                              "nullable": true
                            },
                            "BIDC_OBSERVACION": {
                              "title": "Observación",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Billetes"
                        },
                        "description": "Array of child entities of Billetes"
                      },
                      "Tarjetas": {
                        "title": "Tarjetas",
                        "type": "array",
                        "items": {
                          "title": "Tarjetas",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "COTA_IMPORTE": {
                              "title": "Importe",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Ingresado'",
                              "nullable": true
                            },
                            "COTA_OBSERVACION": {
                              "title": "Observación",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CDCE_ID_CDCE": {
                              "title": "Concepto de Cobro Electrónico",
                              "type": "integer",
                              "description": " This is a foreign key to Concepto de cobro electrónico. An id of Concepto de cobro electrónico is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Tarjetas"
                        },
                        "description": "Array of child entities of Tarjetas"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Cierre de caja POS"
        ],
        "summary": "Delete a Cierre de caja POS by id.",
        "description": "Delete a Cierre de caja POS",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Cierre de caja POS id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/CIERRE_DE_CAJA/search": {
      "get": {
        "tags": [
          "Cierre de caja POS"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Cierre de caja POS",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "CAJA_ID_CAJA",
            "in": "query",
            "description": "Caja",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CIERRE_DE_CAJA/smartie": {
      "get": {
        "tags": [
          "Cierre de caja POS"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CIERRE_DE_CAJA/query": {
      "post": {
        "tags": [
          "Cierre de caja POS"
        ],
        "summary": "Execute dynamic query without persisted smartie",
        "description": "Performs a dynamic query on Cierre de caja POS instances with custom columns, filters, sorting, and aggregations. This endpoint allows ad-hoc queries without requiring a saved smartie configuration.",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Dynamic query parameters including pagination, columns, filters, and search criteria",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "page"
                ],
                "type": "object",
                "properties": {
                  "page": {
                    "minimum": 1,
                    "type": "integer",
                    "description": "Page number (1-based)",
                    "default": 1
                  },
                  "pageSize": {
                    "maximum": 1000,
                    "minimum": 1,
                    "type": "integer",
                    "description": "Number of records per page",
                    "default": 50
                  },
                  "search": {
                    "type": "string",
                    "description": "Fast search term to filter across all columns",
                    "nullable": true
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "required": [
                        "field"
                      ],
                      "type": "object",
                      "properties": {
                        "field": {
                          "enum": [
                            "CIDC_NRO",
                            "CIDC_USUARIO",
                            "CIDC_FECHA_HORA",
                            "CIDC_LOGIN",
                            "CIDC_CERRADA",
                            "CIDC_TIPO_DE_ACCION",
                            "CIDC_TOTAL_BILLETES",
                            "CIDC_TOTAL_TARJETAS",
                            "CIDC_IMPORTE_EFECTIVO_SIS",
                            "CIDC_IMPORTE_TARJETAS_SIS",
                            "CIDC_DIF_EFECTIVO",
                            "CIDC_DIFERENCIA_TARJETA",
                            "CIDC_DIF_REAL_VS_REPORT",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Physical column name (required). Available columns from entity view."
                        },
                        "title": {
                          "type": "string",
                          "description": "Custom column title (optional)",
                          "nullable": true
                        },
                        "sortDirection": {
                          "enum": [
                            "ASC",
                            "DESC"
                          ],
                          "type": "string",
                          "description": "Sort direction",
                          "nullable": true
                        },
                        "order": {
                          "type": "integer",
                          "description": "Column display order (optional)",
                          "nullable": true
                        },
                        "sortOrder": {
                          "type": "integer",
                          "description": "Sort priority order (optional)",
                          "nullable": true
                        },
                        "aggregation": {
                          "enum": [
                            "SUM",
                            "COUNT",
                            "AVG",
                            "MIN",
                            "MAX"
                          ],
                          "type": "string",
                          "description": "Aggregation function",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Column specifications. If null or empty, default header columns will be used",
                    "nullable": true
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "required": [
                        "columnName",
                        "operator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "columnName": {
                          "enum": [
                            "CIDC_NRO",
                            "CIDC_USUARIO",
                            "CIDC_FECHA_HORA",
                            "CIDC_LOGIN",
                            "CIDC_CERRADA",
                            "CIDC_TIPO_DE_ACCION",
                            "CIDC_TOTAL_BILLETES",
                            "CIDC_TOTAL_TARJETAS",
                            "CIDC_IMPORTE_EFECTIVO_SIS",
                            "CIDC_IMPORTE_TARJETAS_SIS",
                            "CIDC_DIF_EFECTIVO",
                            "CIDC_DIFERENCIA_TARJETA",
                            "CIDC_DIF_REAL_VS_REPORT",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Column name to filter (required). Available columns from entity view."
                        },
                        "operator": {
                          "enum": [
                            "=",
                            "!=",
                            ">",
                            "<",
                            ">=",
                            "<=",
                            "LIKE"
                          ],
                          "type": "string",
                          "description": "Comparison operator"
                        },
                        "value": {
                          "description": "Value to compare. Type should match column data type",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Filter specifications",
                    "nullable": true
                  }
                }
              },
              "example": {
                "page": 1,
                "pageSize": 10,
                "search": "",
                "columns": [
                  {
                    "field": "COLUMN_NAME",
                    "title": "Column Title",
                    "sortDirection": "ASC",
                    "sortOrder": 1
                  }
                ],
                "filters": [
                  {
                    "columnName": "COLUMN_NAME",
                    "operator": "=",
                    "value": "value"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Array of records matching the query"
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records (without pagination)"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Column definitions"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or column names"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to view this entity"
          },
          "404": {
            "description": "Entity not found"
          }
        }
      }
    },
    "/CIERRE_DE_CAJA/changestate": {
      "post": {
        "tags": [
          "Cierre de caja POS"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Pendiente</li>\n<li>Procesado</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CIERRE_DE_CAJA/changestatemultiple": {
      "post": {
        "tags": [
          "Cierre de caja POS"
        ],
        "description": "Change multiple instances' state",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Pendiente</li>\n<li>Procesado</li></ul>",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Comma separated ids",
            "required": true,
            "example": "100,101,102"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CIERRE_DE_CAJA/file": {
      "get": {
        "tags": [
          "Cierre de caja POS"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Cierre de caja POS"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CIERRE_DE_CAJA/report": {
      "get": {
        "tags": [
          "Cierre de caja POS"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "enum": [
                "CIERRE_CAJA_POS_V1.0"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CLIENTE_POS": {
      "post": {
        "tags": [
          "Cliente POS"
        ],
        "summary": "Create a Cliente POS.",
        "description": "Creates a new instance of Cliente POS.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "CLIE_ID": {
                        "title": "CLIE_ID",
                        "type": "integer",
                        "nullable": true
                      },
                      "CLIE_NOMBRE": {
                        "title": "CLIE_NOMBRE",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_CUIT": {
                        "title": "CLIE_CUIT",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_DOMICILIO": {
                        "title": "CLIE_DOMICILIO",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_TE1": {
                        "title": "CLIE_TE1",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_MAIL": {
                        "title": "CLIE_MAIL",
                        "type": "string",
                        "nullable": true
                      },
                      "TIDD_ID_TIDD": {
                        "title": "TIDD_ID_TIDD",
                        "type": "integer",
                        "nullable": true
                      },
                      "PAIS_ID_PAIS": {
                        "title": "PAIS_ID_PAIS",
                        "type": "integer",
                        "nullable": true
                      },
                      "PROV_ID_PROV": {
                        "title": "PROV_ID_PROV",
                        "type": "integer",
                        "nullable": true
                      },
                      "CLIE_CP": {
                        "title": "CLIE_CP",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_LOCALIDAD": {
                        "title": "CLIE_LOCALIDAD",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "COIV_ID_COIV": {
                        "title": "COIV_ID_COIV",
                        "type": "integer",
                        "nullable": true
                      },
                      "CLIE_CODIGO": {
                        "title": "CLIE_CODIGO",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "COVE_ID_COVE": {
                        "title": "COVE_ID_COVE",
                        "type": "integer",
                        "nullable": true
                      },
                      "CLIE_ALIC_PER_CABA": {
                        "title": "CLIE_ALIC_PER_CABA",
                        "type": "number",
                        "nullable": true
                      },
                      "CLIE_ALIC_PER_BA": {
                        "title": "CLIE_ALIC_PER_BA",
                        "type": "number",
                        "nullable": true
                      },
                      "DESCUENTO": {
                        "title": "DESCUENTO",
                        "type": "number",
                        "nullable": true
                      }
                    },
                    "description": "Instance data"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Instance created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the newly created instance"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to create instances of this entity"
          },
          "409": {
            "description": "Conflict - Duplicate instance detected"
          }
        }
      }
    },
    "/CLIENTE_POS/{id}": {
      "get": {
        "tags": [
          "Cliente POS"
        ],
        "description": "Get a Cliente POS by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Cliente POS id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Cliente POS"
        ],
        "summary": "Update a Cliente POS by id.",
        "description": "Update a Cliente POS",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Cliente POS id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "CLIE_ID": {
                        "title": "CLIE_ID",
                        "type": "integer",
                        "nullable": true
                      },
                      "CLIE_NOMBRE": {
                        "title": "CLIE_NOMBRE",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_CUIT": {
                        "title": "CLIE_CUIT",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_DOMICILIO": {
                        "title": "CLIE_DOMICILIO",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_TE1": {
                        "title": "CLIE_TE1",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_MAIL": {
                        "title": "CLIE_MAIL",
                        "type": "string",
                        "nullable": true
                      },
                      "TIDD_ID_TIDD": {
                        "title": "TIDD_ID_TIDD",
                        "type": "integer",
                        "nullable": true
                      },
                      "PAIS_ID_PAIS": {
                        "title": "PAIS_ID_PAIS",
                        "type": "integer",
                        "nullable": true
                      },
                      "PROV_ID_PROV": {
                        "title": "PROV_ID_PROV",
                        "type": "integer",
                        "nullable": true
                      },
                      "CLIE_CP": {
                        "title": "CLIE_CP",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_LOCALIDAD": {
                        "title": "CLIE_LOCALIDAD",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "COIV_ID_COIV": {
                        "title": "COIV_ID_COIV",
                        "type": "integer",
                        "nullable": true
                      },
                      "CLIE_CODIGO": {
                        "title": "CLIE_CODIGO",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "COVE_ID_COVE": {
                        "title": "COVE_ID_COVE",
                        "type": "integer",
                        "nullable": true
                      },
                      "CLIE_ALIC_PER_CABA": {
                        "title": "CLIE_ALIC_PER_CABA",
                        "type": "number",
                        "nullable": true
                      },
                      "CLIE_ALIC_PER_BA": {
                        "title": "CLIE_ALIC_PER_BA",
                        "type": "number",
                        "nullable": true
                      },
                      "DESCUENTO": {
                        "title": "DESCUENTO",
                        "type": "number",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Cliente POS"
        ],
        "summary": "Delete a Cliente POS by id.",
        "description": "Delete a Cliente POS",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Cliente POS id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/CLIENTE_POS/search": {
      "get": {
        "tags": [
          "Cliente POS"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Cliente POS",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "COVE_ID_COVE",
            "in": "query",
            "description": "COVE_ID_COVE",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "CLIE_ALIC_PER_CABA",
            "in": "query",
            "description": "CLIE_ALIC_PER_CABA",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "CLIE_ALIC_PER_BA",
            "in": "query",
            "description": "CLIE_ALIC_PER_BA",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "DESCUENTO",
            "in": "query",
            "description": "DESCUENTO",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CLIENTE_POS/smartie": {
      "get": {
        "tags": [
          "Cliente POS"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CLIENTE_POS/query": {
      "post": {
        "tags": [
          "Cliente POS"
        ],
        "summary": "Execute dynamic query without persisted smartie",
        "description": "Performs a dynamic query on Cliente POS instances with custom columns, filters, sorting, and aggregations. This endpoint allows ad-hoc queries without requiring a saved smartie configuration.",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Dynamic query parameters including pagination, columns, filters, and search criteria",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "page"
                ],
                "type": "object",
                "properties": {
                  "page": {
                    "minimum": 1,
                    "type": "integer",
                    "description": "Page number (1-based)",
                    "default": 1
                  },
                  "pageSize": {
                    "maximum": 1000,
                    "minimum": 1,
                    "type": "integer",
                    "description": "Number of records per page",
                    "default": 50
                  },
                  "search": {
                    "type": "string",
                    "description": "Fast search term to filter across all columns",
                    "nullable": true
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "required": [
                        "field"
                      ],
                      "type": "object",
                      "properties": {
                        "field": {
                          "enum": [
                            "CLIE_ID",
                            "CLIE_NOMBRE",
                            "CLIE_CUIT",
                            "CLIE_DOMICILIO",
                            "CLIE_TE1",
                            "CLIE_MAIL",
                            "TIDD_ID_TIDD",
                            "PAIS_ID_PAIS",
                            "PROV_ID_PROV",
                            "CLIE_CP",
                            "CLIE_LOCALIDAD",
                            "COIV_ID_COIV",
                            "CLIE_CODIGO",
                            "COVE_ID_COVE",
                            "CLIE_ALIC_PER_CABA",
                            "CLIE_ALIC_PER_BA",
                            "DESCUENTO",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Physical column name (required). Available columns from entity view."
                        },
                        "title": {
                          "type": "string",
                          "description": "Custom column title (optional)",
                          "nullable": true
                        },
                        "sortDirection": {
                          "enum": [
                            "ASC",
                            "DESC"
                          ],
                          "type": "string",
                          "description": "Sort direction",
                          "nullable": true
                        },
                        "order": {
                          "type": "integer",
                          "description": "Column display order (optional)",
                          "nullable": true
                        },
                        "sortOrder": {
                          "type": "integer",
                          "description": "Sort priority order (optional)",
                          "nullable": true
                        },
                        "aggregation": {
                          "enum": [
                            "SUM",
                            "COUNT",
                            "AVG",
                            "MIN",
                            "MAX"
                          ],
                          "type": "string",
                          "description": "Aggregation function",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Column specifications. If null or empty, default header columns will be used",
                    "nullable": true
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "required": [
                        "columnName",
                        "operator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "columnName": {
                          "enum": [
                            "CLIE_ID",
                            "CLIE_NOMBRE",
                            "CLIE_CUIT",
                            "CLIE_DOMICILIO",
                            "CLIE_TE1",
                            "CLIE_MAIL",
                            "TIDD_ID_TIDD",
                            "PAIS_ID_PAIS",
                            "PROV_ID_PROV",
                            "CLIE_CP",
                            "CLIE_LOCALIDAD",
                            "COIV_ID_COIV",
                            "CLIE_CODIGO",
                            "COVE_ID_COVE",
                            "CLIE_ALIC_PER_CABA",
                            "CLIE_ALIC_PER_BA",
                            "DESCUENTO",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Column name to filter (required). Available columns from entity view."
                        },
                        "operator": {
                          "enum": [
                            "=",
                            "!=",
                            ">",
                            "<",
                            ">=",
                            "<=",
                            "LIKE"
                          ],
                          "type": "string",
                          "description": "Comparison operator"
                        },
                        "value": {
                          "description": "Value to compare. Type should match column data type",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Filter specifications",
                    "nullable": true
                  }
                }
              },
              "example": {
                "page": 1,
                "pageSize": 10,
                "search": "",
                "columns": [
                  {
                    "field": "COLUMN_NAME",
                    "title": "Column Title",
                    "sortDirection": "ASC",
                    "sortOrder": 1
                  }
                ],
                "filters": [
                  {
                    "columnName": "COLUMN_NAME",
                    "operator": "=",
                    "value": "value"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Array of records matching the query"
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records (without pagination)"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Column definitions"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or column names"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to view this entity"
          },
          "404": {
            "description": "Entity not found"
          }
        }
      }
    },
    "/CLIENTE_POS/file": {
      "get": {
        "tags": [
          "Cliente POS"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
[...]
