{
  "openapi": "3.0.4",
  "info": {
    "title": "erpdemo.schema Ventas",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yiqi.com.ar/api/public"
    }
  ],
  "paths": {
    "/COBRO": {
      "post": {
        "tags": [
          "Recibo"
        ],
        "summary": "Create a Recibo.",
        "description": "Creates a new instance of Recibo.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "CLIE_ID_CLIE"
                    ],
                    "type": "object",
                    "properties": {
                      "COBR_FECHA": {
                        "title": "Fecha de cobro",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                        "default": "PARAM.PARA_HOY",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Cliente",
                        "type": "integer",
                        "description": "Son sólo los clientes Activos que tienen una cuenta contable como cliente asignada (en Empresa)\n This is a foreign key to Empresa. An id of Empresa is expected"
                      },
                      "PUVE_ID_PUVE": {
                        "title": "Punto de Venta",
                        "type": "integer",
                        "description": " This is a foreign key to Punto de venta. An id of Punto de venta is expected",
                        "nullable": true
                      },
                      "COBR_COBRADOR": {
                        "title": "Cobrador",
                        "type": "integer",
                        "nullable": true
                      },
                      "COBR_OBSERVACIONES": {
                        "title": "Observaciones",
                        "type": "string",
                        "nullable": true
                      },
                      "MONE_ID_MONE": {
                        "title": "Moneda Recibo",
                        "type": "integer",
                        "description": " This is a foreign key to Moneda. An id of Moneda is expected",
                        "default": "PARAM.MONE_ID_MONE",
                        "nullable": true
                      },
                      "COBR_COTIZACION_MONEDA_EX": {
                        "title": "Cotización Moneda Extranjera",
                        "type": "number",
                        "default": "1",
                        "nullable": true
                      },
                      "COBR_DIFERENCIA_DE_CAMBIO": {
                        "title": "Diferencia de Cambio",
                        "type": "number",
                        "default": "1=2",
                        "nullable": true
                      },
                      "COBR_ARHC_ID_3720": {
                        "title": "Adjunto",
                        "type": "integer",
                        "nullable": true
                      },
                      "COBR_COMENTARIOS_INTERNOS": {
                        "title": "Comentarios internos",
                        "type": "string",
                        "nullable": true
                      },
                      "CobrosEnEfectivo": {
                        "title": "Cobros en Efectivo",
                        "type": "array",
                        "items": {
                          "title": "Cobros en Efectivo",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CAJA_ID_CAJA": {
                              "title": "Caja",
                              "type": "integer",
                              "description": " This is a foreign key to Caja. An id of Caja is expected\n This attribute is mandatory when the instance is at state 'Pendiente'",
                              "default": "PARAM.CAJA_ID_CAJA"
                            },
                            "DECO_IMPORTE": {
                              "title": "Importe",
                              "type": "number",
                              "nullable": true
                            },
                            "DECO_FECHA_DEPOSITO": {
                              "title": "Fecha de cobro",
                              "type": "string",
                              "default": "PARAM.PARA_HOY",
                              "nullable": true
                            },
                            "DECO_OBSERVACIONES": {
                              "title": "Observaciones",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Cobros en Efectivo"
                        },
                        "description": "Array of child entities of Cobros en Efectivo"
                      },
                      "FacturasCanceladas": {
                        "title": "Facturas canceladas",
                        "type": "array",
                        "items": {
                          "title": "Facturas canceladas",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CLIE_ID_CLIE": {
                              "title": "Cliente",
                              "type": "integer",
                              "description": " This is a foreign key to Empresa. An id of Empresa is expected"
                            },
                            "FACT_ID_FACT": {
                              "title": "Factura",
                              "type": "integer",
                              "description": " This is a foreign key to Factura. An id of Factura is expected"
                            },
                            "NODE_ID_NODE": {
                              "title": "Nota de Débito",
                              "type": "integer",
                              "description": " This is a foreign key to Nota de Débito (V). An id of Nota de Débito (V) is expected",
                              "nullable": true
                            },
                            "CANC_IMPORTE_A_CANCELAR": {
                              "title": "Total Imputado",
                              "type": "number",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Facturas canceladas"
                        },
                        "description": "Array of child entities of Facturas canceladas"
                      },
                      "Cheques": {
                        "title": "Cheques",
                        "type": "array",
                        "items": {
                          "title": "Cheques",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "BANC_ID_BANC": {
                              "title": "Banco",
                              "type": "integer",
                              "description": " This is a foreign key to Banco. An id of Banco is expected\n This attribute is mandatory when the instance is at state 'Recibido'"
                            },
                            "CUDE_ID_CUDE": {
                              "title": "Banco depositado",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected\n This attribute is mandatory when the instance is at state 'Depositado'",
                              "nullable": true
                            },
                            "CHEQ_NUMERO": {
                              "title": "Nro de cheque",
                              "maxLength": 100,
                              "type": "string",
                              "description": " This attribute is mandatory when the instance is at state 'Recibido'"
                            },
                            "CHEQ_ELECTRONICO": {
                              "title": "Electrónico",
                              "type": "boolean",
                              "nullable": true
                            },
                            "CHEQ_FECHA_PAGO": {
                              "title": "Fecha de pago",
                              "type": "string",
                              "description": "La fecha indicada en el cheque a partir de la cual el mismo se puede depositar\n This attribute is mandatory when the instance is at state 'Recibido'",
                              "nullable": true
                            },
                            "CHEQ_IMPORTE": {
                              "title": "Importe",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Recibido'",
                              "nullable": true
                            },
                            "CAJA_ID_CAJA": {
                              "title": "Caja",
                              "type": "integer",
                              "description": " This is a foreign key to Caja. An id of Caja is expected",
                              "default": "PARAM.CAJA_ID_CAJ2",
                              "nullable": true
                            },
                            "CHEQ_FECHA_DEPOSITO": {
                              "title": "Fecha depósito",
                              "type": "string",
                              "description": "Fecha efectiva de depósito\n This attribute is mandatory when the instance is at state 'Depositado'",
                              "nullable": true
                            },
                            "CHEQ_FECHA_DE_ACREDITACIO": {
                              "title": "Fecha de acreditación",
                              "type": "string",
                              "description": "Fecha de acreditación\n This attribute is mandatory when the instance is at state 'Acreditado'",
                              "nullable": true
                            },
                            "CHEQ_CUIT_LIBRADOR": {
                              "title": "CUIT Librador (3ro)",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CHEQ_REFERENCIA": {
                              "title": "Referencia",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CUCO_ID_CUCO": {
                              "title": "Banco depositado Des",
                              "type": "integer",
                              "description": "Se cambió este campo de Cuenta Contable a Cuenta Bancaria\n This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                              "nullable": true
                            },
                            "CHEQ_REVERTIR_COBROS": {
                              "title": "Revertir Cobros",
                              "type": "boolean",
                              "description": " This attribute is mandatory when the instance is at state 'Rechazado'",
                              "nullable": true
                            },
                            "CHEQ_GASTO_BANCARIO_POR_R": {
                              "title": "Gasto bancario por rechazo",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Rechazado'",
                              "nullable": true
                            },
                            "CHEQ_INFO_DESCRIPCION": {
                              "title": "Info Descripcion",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "BODD_ID_BOD2": {
                              "title": "Boleta",
                              "type": "integer",
                              "description": " This is a foreign key to Boleta de Depósito. An id of Boleta de Depósito is expected\n This attribute is mandatory when the instance is at state 'Cambiando boleta'",
                              "nullable": true
                            },
                            "BDCV_ID_NUEV": {
                              "title": "Boleta de Cheque Vendido",
                              "type": "integer",
                              "description": " This is a foreign key to Boleta de Cheques Vendidos. An id of Boleta de Cheques Vendidos is expected\n This attribute is mandatory when the instance is at state 'Asignando a boleta'",
                              "nullable": true
                            },
                            "CHEQ_MONTO_VENTA_NUEVO": {
                              "title": "Monto de la Boleta de Venta",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Asignando a boleta'",
                              "nullable": true
                            },
                            "CHEQ_REVERTIR_COBROS_DEV": {
                              "title": "Revertir Recibos",
                              "type": "boolean",
                              "description": "Si se marca se buscará modificar las cancelaciones asociadas al Recibo para que no incluyan el monto devuelto por este cheque.\n This attribute is mandatory when the instance is at state 'Devuelto'",
                              "nullable": true
                            },
                            "CHEQ_REVERTIR_OP_DEV": {
                              "title": "Revertir Órdenes de Pago",
                              "type": "boolean",
                              "description": "Si se marca se buscará modificar las cancelaciones asociadas a la Orden de Pago para que no incluyan el monto devuelto por este cheque.\n This attribute is mandatory when the instance is at state 'Devuelto'",
                              "nullable": true
                            },
                            "OBLI_ID_NUEV": {
                              "title": "Orden de pago",
                              "type": "integer",
                              "description": " This is a foreign key to Orden de pago. An id of Orden de pago is expected\n This attribute is mandatory when the instance is at state 'Reasignando OP'",
                              "nullable": true
                            },
                            "CHEQ_FECHA_DE_VENTA": {
                              "title": "Fecha de Venta",
                              "type": "string",
                              "nullable": true
                            },
                            "CHEQ_MONTO_VENTA": {
                              "title": "Monto de la Boleta de Venta",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Vendido'",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Cheques"
                        },
                        "description": "Array of child entities of Cheques"
                      },
                      "Retenciones": {
                        "title": "Retenciones",
                        "type": "array",
                        "items": {
                          "title": "Retenciones",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "RERE_NUMERO_COMPROBANTE": {
                              "title": "Nro Comprobante",
                              "maxLength": 100,
                              "type": "string"
                            },
                            "RERE_FECHA_EMISION": {
                              "title": "Fecha de emisión",
                              "type": "string",
                              "description": " This attribute is mandatory when the instance is at state 'Recibida'",
                              "nullable": true
                            },
                            "CORE_ID_CORE": {
                              "title": "Concepto",
                              "type": "integer",
                              "description": " This is a foreign key to Concepto Retención. An id of Concepto Retención is expected"
                            },
                            "RERE_IMPORTE": {
                              "title": "Importe",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                              "nullable": true
                            },
                            "LIQI_ID_LIQI": {
                              "title": "Liquidación de impuestos",
                              "type": "integer",
                              "description": " This is a foreign key to Liquidación de impuestos. An id of Liquidación de impuestos is expected",
                              "nullable": true
                            },
                            "RERE_ARHC_ID_3801": {
                              "title": "Comprobante",
                              "type": "integer",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Retenciones"
                        },
                        "description": "Array of child entities of Retenciones"
                      },
                      "Ajustes(Adelantos)": {
                        "title": "Ajustes (adelantos)",
                        "type": "array",
                        "items": {
                          "title": "Ajustes (adelantos)",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CLIE_ID_CLIE": {
                              "title": "Cliente",
                              "type": "integer",
                              "description": " This is a foreign key to Empresa. An id of Empresa is expected"
                            },
                            "AJUS_DEBITO": {
                              "title": "Débito",
                              "type": "number",
                              "nullable": true
                            },
                            "AJUS_CREDITO": {
                              "title": "Crédito",
                              "type": "number",
                              "nullable": true
                            },
                            "AJUS_SALDO": {
                              "title": "Saldo",
                              "type": "number",
                              "nullable": true
                            },
                            "AJUS_FECHA": {
                              "title": "Fecha",
                              "type": "string",
                              "nullable": true
                            },
                            "OBLI_ID_OBLI": {
                              "title": "Orden Pago",
                              "type": "integer",
                              "description": " This is a foreign key to Orden de pago. An id of Orden de pago is expected",
                              "nullable": true
                            },
                            "NOCR_ID_NOCR": {
                              "title": "Nota de crédito (V)",
                              "type": "integer",
                              "description": " This is a foreign key to Nota de Crédito (V). An id of Nota de Crédito (V) is expected",
                              "nullable": true
                            },
                            "NOCC_ID_NOCC": {
                              "title": "Nota de crédito (C)",
                              "type": "integer",
                              "description": " This is a foreign key to Nota de Crédito (C) . An id of Nota de Crédito (C)  is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Ajustes (adelantos)"
                        },
                        "description": "Array of child entities of Ajustes (adelantos)"
                      },
                      "DepósitosBancarios": {
                        "title": "Depósitos Bancarios",
                        "type": "array",
                        "items": {
                          "title": "Depósitos Bancarios",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "DEBA_IMPORTE": {
                              "title": "Importe",
                              "type": "number"
                            },
                            "CUDE_ID_CUDE": {
                              "title": "Cuenta bancaria",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected"
                            },
                            "DEBA_REFERENCIA": {
                              "title": "Referencia",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "DEBA_FECHA": {
                              "title": "Fecha",
                              "type": "string"
                            },
                            "DEBA_OBSERVACIONES": {
                              "title": "Observaciones",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "DEBA_INFO_DESCRIPCION": {
                              "title": "Info Descripcion",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Depósitos Bancarios"
                        },
                        "description": "Array of child entities of Depósitos Bancarios"
                      },
                      "Transferencias": {
                        "title": "Transferencias",
                        "type": "array",
                        "items": {
                          "title": "Transferencias",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CLIE_ID_CLIE": {
                              "title": "Cliente",
                              "type": "integer",
                              "description": " This is a foreign key to Empresa. An id of Empresa is expected"
                            },
                            "TRRE_FECHA": {
                              "title": "Fecha",
                              "type": "string"
                            },
                            "TRRE_IMPORTE": {
                              "title": "Importe",
                              "type": "number"
                            },
                            "TRRE_COMISION_BANCARIA": {
                              "title": "Comisión Bancaria",
                              "type": "number",
                              "nullable": true
                            },
                            "TRRE_COT_COM_BANCARIA": {
                              "title": "Cotización Comisión Bancaria",
                              "type": "number",
                              "description": "Cotización de la moneda de la comisión bancaria. Si no se usa, se toma la cotización del Recibo.\n Tampoco se utiliza en caso de que la moneda del recibo sea ARS.",
                              "nullable": true
                            },
                            "CUDE_ID_CUDE": {
                              "title": "Cuenta Destino",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected"
                            },
                            "CUDE_ID_CUOR": {
                              "title": "Cuenta Origen",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected",
                              "nullable": true
                            },
                            "TRRE_REFERENCIA": {
                              "title": "Referencia",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "TRNF_ID_TRNF": {
                              "title": "Transferencia",
                              "type": "integer",
                              "description": " This is a foreign key to Transferencia. An id of Transferencia is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Transferencias"
                        },
                        "description": "Array of child entities of Transferencias"
                      },
                      "CobrosElectrónicos": {
                        "title": "Cobros electrónicos",
                        "type": "array",
                        "items": {
                          "title": "Cobros electrónicos",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "COEL_IMPORTE": {
                              "title": "Importe",
                              "type": "number"
                            },
                            "COEL_CUOTAS": {
                              "title": "Cuotas",
                              "type": "integer",
                              "default": "1",
                              "nullable": true
                            },
                            "COEL_OBSERVACIONES": {
                              "title": "Observaciones",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "COEL_FECHA_DE_COBRO": {
                              "title": "Fecha de Cobro",
                              "type": "string",
                              "default": "PARAM.PARA_HOY",
                              "nullable": true
                            },
                            "CDCE_ID_CDCE": {
                              "title": "Concepto",
                              "type": "integer",
                              "description": " This is a foreign key to Concepto de cobro electrónico. An id of Concepto de cobro electrónico is expected"
                            },
                            "COEL_NRO_DE_OPERACION": {
                              "title": "Nro de operación",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "LDCE_ID_LDCE": {
                              "title": "Liquidación de Cobro electrónico",
                              "type": "integer",
                              "description": " This is a foreign key to Liquidación de Cobro electrónico. An id of Liquidación de Cobro electrónico is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Cobros electrónicos"
                        },
                        "description": "Array of child entities of Cobros electrónicos"
                      },
                      "RelacionesPagos": {
                        "title": "Relaciones Pagos",
                        "type": "array",
                        "items": {
                          "title": "Relaciones Pagos",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "FACT_ID_FACT": {
                              "title": "Factura",
                              "type": "integer",
                              "description": " This is a foreign key to Factura. An id of Factura is expected"
                            },
                            "CHEQ_ID_CHEQ": {
                              "title": "Cheque",
                              "type": "integer",
                              "description": " This is a foreign key to Cheque Recibido. An id of Cheque Recibido is expected",
                              "nullable": true
                            },
                            "DECO_ID_DECO": {
                              "title": "Cobro en Efectivo",
                              "type": "integer",
                              "description": " This is a foreign key to Cobro en Efectivo. An id of Cobro en Efectivo is expected",
                              "nullable": true
                            },
                            "TRRE_ID_TRRE": {
                              "title": "Transferencia",
                              "type": "integer",
                              "description": " This is a foreign key to Transferencia Recibida. An id of Transferencia Recibida is expected",
                              "nullable": true
                            },
                            "COEL_ID_COEL": {
                              "title": "Cobro Electrónico",
                              "type": "integer",
                              "description": " This is a foreign key to Cobro electrónico. An id of Cobro electrónico is expected",
                              "nullable": true
                            },
                            "DEBA_ID_DEBA": {
                              "title": "Depósito Bancario",
                              "type": "integer",
                              "description": " This is a foreign key to Depósito bancario. An id of Depósito bancario is expected",
                              "nullable": true
                            },
                            "RERE_ID_RERE": {
                              "title": "Retención Recibida",
                              "type": "integer",
                              "description": " This is a foreign key to Retención Recibida. An id of Retención Recibida is expected",
                              "nullable": true
                            },
                            "AJUS_ID_AJUS": {
                              "title": "Ajuste",
                              "type": "integer",
                              "description": " This is a foreign key to Ajuste. An id of Ajuste is expected",
                              "nullable": true
                            },
                            "REPA_MONTO": {
                              "title": "Monto",
                              "type": "number",
                              "nullable": true
                            },
                            "REPA_VALOR_DEL_CAMBIO": {
                              "title": "Valor del Cambio",
                              "type": "number",
                              "description": "Ejemplo: 1USD= 17ARS.\nCompletar: 17",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Relaciones Pagos"
                        },
                        "description": "Array of child entities of Relaciones Pagos"
                      }
                    },
                    "description": "Instance data"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Instance created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the newly created instance"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to create instances of this entity"
          },
          "409": {
            "description": "Conflict - Duplicate instance detected"
          }
        }
      }
    },
    "/COBRO/{id}": {
      "get": {
        "tags": [
          "Recibo"
        ],
        "description": "Get a Recibo by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Recibo id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "description": "Whether to include child entities in the response (default: true)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Instance unique identifier",
                      "type": "integer"
                    },
                    "ESTA_NOMBRE": {
                      "title": "State name",
                      "type": "string",
                      "nullable": true
                    },
                    "ESTA_CODIGO": {
                      "title": "State code",
                      "type": "integer",
                      "nullable": true
                    },
                    "AUDI_FECHA_ALTA": {
                      "title": "Creation date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "AUDI_FECHA_MODIF": {
                      "title": "Last modification date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "COBR_FECHA": {
                      "title": "Fecha de cobro",
                      "type": "string",
                      "nullable": true
                    },
                    "CLIE_ID_CLIE": {
                      "title": "Cliente",
                      "type": "integer",
                      "description": "Son sólo los clientes Activos que tienen una cuenta contable como cliente asignada (en Empresa)\nForeign key to Empresa"
                    },
                    "COBR_NRODERECIBO": {
                      "title": "Nro de Recibo",
                      "type": "integer",
                      "nullable": true
                    },
                    "PUVE_ID_PUVE": {
                      "title": "Punto de Venta",
                      "type": "integer",
                      "description": "Foreign key to Punto de venta",
                      "nullable": true
                    },
                    "COBR_DESCRIPCION": {
                      "title": "Descripción",
                      "type": "string",
                      "nullable": true
                    },
                    "COBR_COBRADOR": {
                      "title": "Cobrador",
                      "type": "integer",
                      "nullable": true
                    },
                    "COBR_OBSERVACIONES": {
                      "title": "Observaciones",
                      "type": "string",
                      "nullable": true
                    },
                    "MONE_ID_MONE": {
                      "title": "Moneda Recibo",
                      "type": "integer",
                      "description": "Foreign key to Moneda",
                      "nullable": true
                    },
                    "MONE_ID_FACT": {
                      "title": "Moneda Facturas",
                      "type": "integer",
                      "description": "Foreign key to Moneda",
                      "nullable": true
                    },
                    "MONE_ID_NODE": {
                      "title": "Moneda ND",
                      "type": "integer",
                      "description": "Foreign key to Moneda",
                      "nullable": true
                    },
                    "COBR_COTIZACION_MONEDA_EX": {
                      "title": "Cotización Moneda Extranjera",
                      "type": "number",
                      "nullable": true
                    },
                    "COBR_TOTAL_CANCELADO": {
                      "title": "Total Imputado",
                      "type": "number",
                      "nullable": true
                    },
                    "COBR_TOTAL_IMPUTADO_MD": {
                      "title": "Total Imputado MD",
                      "type": "number",
                      "description": "Monto total imputado utilizando la moneda seleccionada en Parámetros y utilizando la conversión correspondiente al documento.",
                      "nullable": true
                    },
                    "COBR_TOTAL_RECIBIDO": {
                      "title": "Total Recibido",
                      "type": "number",
                      "nullable": true
                    },
                    "COBR_TOTAL_RECIBIDO_MD": {
                      "title": "Total Recibido MD",
                      "type": "number",
                      "description": "Monto total recibidoutilizando la moneda seleccionada en Parámetros y utilizando la conversión correspondiente al documento.",
                      "nullable": true
                    },
                    "COBR_TOTAL_COBRADO": {
                      "title": "Total del Recibo",
                      "type": "number",
                      "nullable": true
                    },
                    "COBR_TOTAL_DEL_RECIBO_MD": {
                      "title": "Total del Recibo MD",
                      "type": "number",
                      "description": "Monto total del recibo utilizando la moneda seleccionada en Parámetros y utilizando la conversión correspondiente al documento.",
                      "nullable": true
                    },
                    "COBR_PENDIENTE_DE_ASIGNAC": {
                      "title": "Pendiente de Asignación",
                      "type": "number",
                      "nullable": true
                    },
                    "COBR_DIFERENCIA_DE_CAMBIO": {
                      "title": "Diferencia de Cambio",
                      "type": "number",
                      "nullable": true
                    },
                    "COBR_RETENCIONES": {
                      "title": "Retenciones",
                      "type": "number",
                      "nullable": true
                    },
                    "COBR_A_CUENTA": {
                      "title": "A cuenta de ajustes",
                      "type": "number",
                      "nullable": true
                    },
                    "COBR_DE_SALDO_PREVIO": {
                      "title": "De ajustes previos",
                      "type": "number",
                      "nullable": true
                    },
                    "COBR_DEVOLUCIONES": {
                      "title": "Devoluciones",
                      "type": "number",
                      "description": "En este campo se suman los montos de los Cobros Electrónicos con concepto DEVOLUCIÓN.",
                      "nullable": true
                    },
                    "COBR_ESTADO_SALDO": {
                      "title": "Estado de saldo no imputado del cliente",
                      "type": "number",
                      "nullable": true
                    },
                    "COBR_FECHA_DE_ULTIMA_ACRE": {
                      "title": "Fecha de última acreditación",
                      "type": "string",
                      "nullable": true
                    },
                    "COBR_ARHC_ID_3720": {
                      "title": "Adjunto",
                      "type": "integer",
                      "nullable": true
                    },
                    "COBR_OPERATIONID": {
                      "title": "operationId",
                      "type": "string",
                      "nullable": true
                    },
                    "VEHA_ID_VEHA": {
                      "title": "Vendedor",
                      "type": "integer",
                      "description": "Foreign key to Vendedor",
                      "nullable": true
                    },
                    "COBR_COMENTARIOS_INTERNOS": {
                      "title": "Comentarios internos",
                      "type": "string",
                      "nullable": true
                    },
                    "COBR_CLIENTE___CONDICION_": {
                      "title": "Cliente - Condición de Venta",
                      "type": "string",
                      "nullable": true
                    },
                    "COBR_CODICION_VENTA": {
                      "title": "Condición de Venta - Días desde emisión interno",
                      "type": "integer",
                      "nullable": true
                    },
                    "COBR_ORIGEN_DE_PEDIDO___N": {
                      "title": "Origen de Pedido - Nombre",
                      "type": "string",
                      "description": "Muestra el Nombre del Origen de Pedido asociado al Pedido del Recibo.",
                      "nullable": true
                    },
                    "ASIE_ID_ASIE": {
                      "title": "Asiento",
                      "type": "integer",
                      "description": "Foreign key to Asiento",
                      "nullable": true
                    },
                    "COBR_NO_GENERA_ASIENTO": {
                      "title": "No genera asiento",
                      "type": "boolean",
                      "nullable": true
                    },
                    "COBR_FACTURAS_CANCELADAS": {
                      "title": "Facturas canceladas",
                      "type": "string",
                      "description": "Listado de facturas canceladas.",
                      "nullable": true
                    },
                    "COBR_TOTAL_CHEQUES": {
                      "title": "Total Cheques",
                      "type": "number",
                      "nullable": true
                    },
                    "COBR_TOTAL_TXS": {
                      "title": "Total TXs",
                      "type": "number",
                      "nullable": true
                    },
                    "COBR_TOTAL_EFECTIVO": {
                      "title": "Total Efectivo",
                      "type": "number",
                      "nullable": true
                    },
                    "COBR_TOTAL_COBRO_ELECTRON": {
                      "title": "Total Cobro Electrónico",
                      "type": "number",
                      "nullable": true
                    },
                    "COBR_TOTAL_DEPOSITOS": {
                      "title": "Total Depósitos Bancarios",
                      "type": "number",
                      "nullable": true
                    },
                    "COBR_TOTAL_RETENCIONES": {
                      "title": "Total Retenciones",
                      "type": "number",
                      "nullable": true
                    },
                    "COBR_RET_IVA": {
                      "title": "Retención de IVA",
                      "type": "number",
                      "nullable": true
                    },
                    "COBR_RET_IIBB": {
                      "title": "Retención de IIBB",
                      "type": "number",
                      "nullable": true
                    },
                    "COBR_RET_IG": {
                      "title": "Retención de Ganancias",
                      "type": "number",
                      "nullable": true
                    },
                    "COBR_RET_SUSS": {
                      "title": "Retención de SUSS",
                      "type": "number",
                      "nullable": true
                    },
                    "PEDI_ID_PEDI": {
                      "title": "Pedido",
                      "type": "integer",
                      "description": "Foreign key to Pedido",
                      "nullable": true
                    },
                    "TIFA_ID_TIFA": {
                      "title": "Tipo de Factura",
                      "type": "integer",
                      "description": "Está pensado para generar un recibo a partir de N facturas del mismo tipo de factura y mismo cliente\nForeign key to Tipo de factura",
                      "nullable": true
                    },
                    "COBR_ESTADO": {
                      "title": "Estado",
                      "type": "string",
                      "nullable": true
                    },
                    "COBR_SUMA_CHEQUES_RECHAZA": {
                      "title": "Suma Cheques Rechazados",
                      "type": "number",
                      "nullable": true
                    },
                    "RECI_ID_RECI": {
                      "title": "RECIBO_FX",
                      "type": "integer",
                      "description": "Foreign key to RECIBO_FX",
                      "nullable": true
                    },
                    "CLIE_ID_NUEV": {
                      "title": "Cliente Nuevo",
                      "type": "integer",
                      "description": "Foreign key to Empresa",
                      "nullable": true
                    },
                    "COBROSENEFECTIVO": {
                      "title": "Cobros en Efectivo",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CAJA_ID_CAJA": {
                            "title": "Caja",
                            "type": "integer"
                          },
                          "COBR_ID_COBR": {
                            "title": "Recibo",
                            "type": "integer"
                          },
                          "DECO_IMPORTE": {
                            "title": "Importe",
                            "type": "number",
                            "nullable": true
                          },
                          "DECO_FECHA_DEPOSITO": {
                            "title": "Fecha de cobro",
                            "type": "string",
                            "nullable": true
                          },
                          "DECO_OBSERVACIONES": {
                            "title": "Observaciones",
                            "type": "string",
                            "nullable": true
                          },
                          "ASIE_ID_ASIE": {
                            "title": "Asiento contable",
                            "type": "integer",
                            "nullable": true
                          },
                          "MODC_ID_MODC": {
                            "title": "Movimiento de Caja",
                            "type": "integer",
                            "nullable": true
                          },
                          "CASH_ID_CASH": {
                            "title": "Movimiento de fondo",
                            "type": "integer",
                            "nullable": true
                          },
                          "DECO_INFO": {
                            "title": "Info",
                            "type": "string",
                            "nullable": true
                          },
                          "PUVE_ID_PUVE": {
                            "title": "Punto de Venta",
                            "type": "integer",
                            "nullable": true
                          },
                          "DECO_INFO_DESCRIPCION": {
                            "title": "Info Descripción",
                            "type": "string",
                            "nullable": true
                          }
                        }
                      },
                      "description": "Child entities of Cobros en Efectivo (included when includeChildren=true)"
                    },
                    "FACTURASCANCELADAS": {
                      "title": "Facturas canceladas",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CLIE_ID_CLIE": {
                            "title": "Cliente",
                            "type": "integer"
                          },
                          "COBR_ID_COBR": {
                            "title": "Recibo",
                            "type": "integer"
                          },
                          "FACT_ID_FACT": {
                            "title": "Factura",
                            "type": "integer"
                          },
                          "NODE_ID_NODE": {
                            "title": "Nota de Débito",
                            "type": "integer",
                            "nullable": true
                          },
                          "CANC_IMPORTE_A_CANCELAR": {
                            "title": "Total Imputado",
                            "type": "number",
                            "nullable": true
                          },
                          "CANC_IMPORTE_CANCELADO": {
                            "title": "Total Acreditado",
                            "type": "number",
                            "nullable": true
                          },
                          "MONE_ID_MONE": {
                            "title": "Moneda de la factura",
                            "type": "integer",
                            "nullable": true
                          },
                          "CANC_VALOR_DE_CAMBIO": {
                            "title": "Valor de cambio",
                            "type": "number",
                            "nullable": true
                          },
                          "CANC_TOTAL_MONEDA_DEFAULT": {
                            "title": "Total Moneda Default",
                            "type": "number",
                            "nullable": true
                          },
                          "CANC_IDENTIFICADOR_DE_FAC": {
                            "title": "Identificador de factura",
                            "type": "integer",
                            "nullable": true
                          },
                          "CANC_FORMULA_FACTURA": {
                            "title": "Factura",
                            "type": "string",
                            "nullable": true
                          },
                          "CANC_FORMULA_NOTA": {
                            "title": "Nota de Débito",
                            "type": "string",
                            "nullable": true
                          }
                        }
                      },
                      "description": "Child entities of Facturas canceladas (included when includeChildren=true)"
                    },
                    "CHEQUES": {
                      "title": "Cheques",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "COBR_ID_COBR": {
                            "title": "Recibo",
                            "type": "integer",
                            "nullable": true
                          },
                          "BANC_ID_BANC": {
                            "title": "Banco",
                            "type": "integer"
                          },
                          "CHEQ_BANCO_DESCRIPCION": {
                            "title": "Banco Descripción",
                            "type": "string",
                            "nullable": true
                          },
                          "CUDE_ID_CUDE": {
                            "title": "Banco depositado",
                            "type": "integer",
                            "nullable": true
                          },
                          "CHEQ_NUMERO": {
                            "title": "Nro de cheque",
                            "type": "string"
                          },
                          "CHEQ_ELECTRONICO": {
                            "title": "Electrónico",
                            "type": "boolean",
                            "nullable": true
                          },
                          "CHEQ_FECHA_PAGO": {
                            "title": "Fecha de pago",
                            "type": "string",
                            "nullable": true
                          },
                          "CHEQ_IMPORTE": {
                            "title": "Importe",
                            "type": "number",
                            "nullable": true
                          },
                          "CAJA_ID_CAJA": {
                            "title": "Caja",
                            "type": "integer",
                            "nullable": true
                          },
                          "CHEQ_FECHA_DEPOSITO": {
                            "title": "Fecha depósito",
                            "type": "string",
                            "nullable": true
                          },
                          "CHEQ_CLIENTE": {
                            "title": "Cliente",
                            "type": "string",
                            "nullable": true
                          },
                          "CHEQ_FECHA_DE_ACREDITACIO": {
                            "title": "Fecha de acreditación",
                            "type": "string",
                            "nullable": true
                          },
                          "CHEQ_IMPORTE_ACREDITADO": {
                            "title": "Importe Acreditado",
                            "type": "number",
                            "nullable": true
                          },
                          "CHEQ_CODIGO_YIQI": {
                            "title": "Código YiQi",
                            "type": "string",
                            "nullable": true
                          },
                          "CHEQ_FECHA_ENTREGA": {
                            "title": "Fecha de entrega",
                            "type": "string",
                            "nullable": true
                          },
                          "OBLI_ID_OBLI": {
                            "title": "Orden de pago",
                            "type": "integer",
                            "nullable": true
                          },
                          "CHEQ_DESCRIPCION_AUTOMATI": {
                            "title": "Descripción automática",
                            "type": "string",
                            "nullable": true
                          },
                          "CHEQ_INFO": {
                            "title": "Info",
                            "type": "string",
                            "nullable": true
                          },
                          "BODD_ID_BODD": {
                            "title": "Boleta de depósito",
                            "type": "integer",
                            "nullable": true
                          },
                          "BDCV_ID_BDCV": {
                            "title": "Boleta de Cheques Vendidos",
                            "type": "integer",
                            "nullable": true
                          },
                          "CHEQ_CUIT_LIBRADOR": {
                            "title": "CUIT Librador (3ro)",
                            "type": "string",
                            "nullable": true
                          },
                          "CHEQ_CLIENTE___CUIT": {
                            "title": "Cliente - CUIT",
                            "type": "string",
                            "nullable": true
                          },
                          "CHEQ_REFERENCIA": {
                            "title": "Referencia",
                            "type": "string",
                            "nullable": true
                          },
                          "CHEQ_DIAS_FALTANTES_PARA_": {
                            "title": "Dias faltantes para fecha de pago",
                            "type": "integer",
                            "nullable": true
                          },
                          "ASIE_ID_RECE": {
                            "title": "Asiento Recepción",
                            "type": "integer",
                            "nullable": true
                          },
                          "ASIE_ID_ACRE": {
                            "title": "Asiento Acreditación",
                            "type": "integer",
                            "nullable": true
                          },
                          "ASIE_ID_ENTR": {
                            "title": "Asiento Entrega",
                            "type": "integer",
                            "nullable": true
                          },
                          "ASIE_ID_VENT": {
                            "title": "Asiento Venta",
                            "type": "integer",
                            "nullable": true
                          },
                          "ASIE_ID_DEVO": {
                            "title": "Asiento Devolución",
                            "type": "integer",
                            "nullable": true
                          },
                          "CASH_ID_CASH": {
                            "title": "Movimiento de fondo",
                            "type": "integer",
                            "nullable": true
                          },
                          "CASH_ID_REC2": {
                            "title": "Movimiento de Rechazo",
                            "type": "integer",
                            "nullable": true
                          },
                          "CASH_ID_BAN2": {
                            "title": "Movimiento de Gastos Bancarios",
                            "type": "integer",
                            "nullable": true
                          },
                          "ASIE_ID_RECH": {
                            "title": "Asiento Rechazo",
                            "type": "integer",
                            "nullable": true
                          },
                          "CHEQ_FECHA_RECHAZO": {
                            "title": "Fecha de rechazo",
                            "type": "string",
                            "nullable": true
                          },
                          "TICR_ID_TICR": {
                            "title": "Causa de rechazo",
                            "type": "integer",
                            "nullable": true
                          },
                          "CUCO_ID_CUCO": {
                            "title": "Banco depositado Des",
                            "type": "integer",
                            "nullable": true
                          },
                          "CHEQ_REVERTIR_COBROS": {
                            "title": "Revertir Cobros",
                            "type": "boolean",
                            "nullable": true
                          },
                          "CHEQ_ESTADO": {
                            "title": "Estado",
                            "type": "string",
                            "nullable": true
                          },
                          "CHEQ_GASTO_BANCARIO_POR_R": {
                            "title": "Gasto bancario por rechazo",
                            "type": "number",
                            "nullable": true
                          },
                          "CHEQ_INFO_DESCRIPCION": {
                            "title": "Info Descripcion",
                            "type": "string",
                            "nullable": true
                          },
                          "BODD_ID_BOD2": {
                            "title": "Boleta",
                            "type": "integer",
                            "nullable": true
                          },
                          "BDCV_ID_NUEV": {
                            "title": "Boleta de Cheque Vendido",
                            "type": "integer",
                            "nullable": true
                          },
                          "CHEQ_MONTO_VENTA_NUEVO": {
                            "title": "Monto de la Boleta de Venta",
                            "type": "number",
                            "nullable": true
                          },
                          "CHEQ_REVERTIR_COBROS_DEV": {
                            "title": "Revertir Recibos",
                            "type": "boolean",
                            "nullable": true
                          },
                          "CHEQ_REVERTIR_OP_DEV": {
                            "title": "Revertir Órdenes de Pago",
                            "type": "boolean",
                            "nullable": true
                          },
                          "OBLI_ID_NUEV": {
                            "title": "Orden de pago",
                            "type": "integer",
                            "nullable": true
                          },
                          "CHEQ_FECHA_DE_VENTA": {
                            "title": "Fecha de Venta",
                            "type": "string",
                            "nullable": true
                          },
                          "CHEQ_MONTO_VENTA": {
                            "title": "Monto de la Boleta de Venta",
                            "type": "number",
                            "nullable": true
                          }
                        }
                      },
                      "description": "Child entities of Cheques (included when includeChildren=true)"
                    },
                    "RETENCIONES": {
                      "title": "Retenciones",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "COBR_ID_COBR": {
                            "title": "Recibo",
                            "type": "integer",
                            "nullable": true
                          },
                          "RERE_FECHA_DEL_RECIBO": {
                            "title": "Fecha del Recibo",
                            "type": "string",
                            "nullable": true
                          },
                          "RERE_NUMERO_COMPROBANTE": {
                            "title": "Nro Comprobante",
                            "type": "string"
                          },
                          "RERE_FECHA_EMISION": {
                            "title": "Fecha de emisión",
                            "type": "string",
                            "nullable": true
                          },
                          "RERE_NRO_DE_FACTURAS": {
                            "title": "Nro de Facturas",
                            "type": "string",
                            "nullable": true
                          },
                          "CLIE_ID_CLIE": {
                            "title": "Cliente",
                            "type": "integer",
                            "nullable": true
                          },
                          "RERE_CUIT": {
                            "title": "CUIT",
                            "type": "string",
                            "nullable": true
                          },
                          "RERE_NRO_IIBB": {
                            "title": "Nro IIBB",
                            "type": "string",
                            "nullable": true
                          },
                          "CORE_ID_CORE": {
                            "title": "Concepto",
                            "type": "integer"
                          },
                          "RERE_NETO": {
                            "title": "Neto",
                            "type": "number",
                            "nullable": true
                          },
                          "RERE_IMPORTE": {
                            "title": "Importe",
                            "type": "number",
                            "nullable": true
                          },
                          "RERE_ALICUOTA": {
                            "title": "Alícuota",
                            "type": "number",
                            "nullable": true
                          },
                          "ASIE_ID_ASIE": {
                            "title": "Asiento",
                            "type": "integer",
                            "nullable": true
                          },
                          "LIQI_ID_LIQI": {
                            "title": "Liquidación de impuestos",
                            "type": "integer",
                            "nullable": true
                          },
                          "RERE_ARHC_ID_3801": {
                            "title": "Comprobante",
                            "type": "integer",
                            "nullable": true
                          },
                          "CASH_ID_CASH": {
                            "title": "Movimiento de fondo",
                            "type": "integer",
                            "nullable": true
                          },
                          "LDCE_ID_LDCE": {
                            "title": "Liquidación cobro electrónico",
                            "type": "integer",
                            "nullable": true
                          }
                        }
                      },
                      "description": "Child entities of Retenciones (included when includeChildren=true)"
                    },
                    "AJUSTES(ADELANTOS)": {
                      "title": "Ajustes (adelantos)",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AJUS_NRO_AJUSTE": {
                            "title": "Nro Ajuste",
                            "type": "integer",
                            "nullable": true
                          },
                          "CLIE_ID_CLIE": {
                            "title": "Cliente",
                            "type": "integer"
                          },
                          "AJUS_DEBITO": {
                            "title": "Débito",
                            "type": "number",
                            "nullable": true
                          },
                          "AJUS_CREDITO": {
                            "title": "Crédito",
                            "type": "number",
                            "nullable": true
                          },
                          "AJUS_SALDO": {
                            "title": "Saldo",
                            "type": "number",
                            "nullable": true
                          },
                          "AJUS_FECHA": {
                            "title": "Fecha",
                            "type": "string",
                            "nullable": true
                          },
                          "COBR_ID_COB1": {
                            "title": "Recibo origen",
                            "type": "integer",
                            "nullable": true
                          },
                          "OBLI_ID_OBLI": {
                            "title": "Orden Pago",
                            "type": "integer",
                            "nullable": true
                          },
                          "NOCR_ID_NOCR": {
                            "title": "Nota de crédito (V)",
                            "type": "integer",
                            "nullable": true
                          },
                          "NOCC_ID_NOCC": {
                            "title": "Nota de crédito (C)",
                            "type": "integer",
                            "nullable": true
                          }
                        }
                      },
                      "description": "Child entities of Ajustes (adelantos) (included when includeChildren=true)"
                    },
                    "DEPÓSITOSBANCARIOS": {
                      "title": "Depósitos Bancarios",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "COBR_ID_COBR": {
                            "title": "Recibo",
                            "type": "integer"
                          },
                          "DEBA_IMPORTE": {
                            "title": "Importe",
                            "type": "number"
                          },
                          "CUDE_ID_CUDE": {
                            "title": "Cuenta bancaria",
                            "type": "integer"
                          },
                          "DEBA_REFERENCIA": {
                            "title": "Referencia",
                            "type": "string",
                            "nullable": true
                          },
                          "DEBA_FECHA": {
                            "title": "Fecha",
                            "type": "string"
                          },
                          "CASH_ID_CASH": {
                            "title": "Movimiento de fondo",
                            "type": "integer",
                            "nullable": true
                          },
                          "DEBA_INFO": {
                            "title": "Info",
                            "type": "string",
                            "nullable": true
                          },
                          "DEBA_OBSERVACIONES": {
                            "title": "Observaciones",
                            "type": "string",
                            "nullable": true
                          },
                          "ASIE_ID_ASIE": {
                            "title": "Asiento",
                            "type": "integer",
                            "nullable": true
                          },
                          "DEBA_DESCRIPCION": {
                            "title": "Descripción",
                            "type": "string",
                            "nullable": true
                          },
                          "DEBA_INFO_DESCRIPCION": {
                            "title": "Info Descripcion",
                            "type": "string",
                            "nullable": true
                          }
                        }
                      },
                      "description": "Child entities of Depósitos Bancarios (included when includeChildren=true)"
                    },
                    "TRANSFERENCIAS": {
                      "title": "Transferencias",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "COBR_ID_COBR": {
                            "title": "Recibo",
                            "type": "integer"
                          },
                          "CLIE_ID_CLIE": {
                            "title": "Cliente",
                            "type": "integer"
                          },
                          "TRRE_FECHA": {
                            "title": "Fecha",
                            "type": "string"
                          },
                          "TRRE_IMPORTE": {
                            "title": "Importe",
                            "type": "number"
                          },
                          "TRRE_COMISION_BANCARIA": {
                            "title": "Comisión Bancaria",
                            "type": "number",
                            "nullable": true
                          },
                          "TRRE_COT_COM_BANCARIA": {
                            "title": "Cotización Comisión Bancaria",
                            "type": "number",
                            "nullable": true
                          },
                          "CUDE_ID_CUDE": {
                            "title": "Cuenta Destino",
                            "type": "integer"
                          },
                          "CUDE_ID_CUOR": {
                            "title": "Cuenta Origen",
                            "type": "integer",
                            "nullable": true
                          },
                          "TRRE_REFERENCIA": {
                            "title": "Referencia",
                            "type": "string",
                            "nullable": true
                          },
                          "TRNF_ID_TRNF": {
                            "title": "Transferencia",
                            "type": "integer",
                            "nullable": true
                          },
                          "TRRE_NUEVA_FECHA": {
                            "title": "Nueva Fecha",
                            "type": "string",
                            "nullable": true
                          }
                        }
                      },
                      "description": "Child entities of Transferencias (included when includeChildren=true)"
                    },
                    "COBROSELECTRÓNICOS": {
                      "title": "Cobros electrónicos",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "COBR_ID_COBR": {
                            "title": "Recibo",
                            "type": "integer"
                          },
                          "COEL_IMPORTE": {
                            "title": "Importe",
                            "type": "number"
                          },
                          "COEL_CUOTAS": {
                            "title": "Cuotas",
                            "type": "integer",
                            "nullable": true
                          },
                          "COEL_OBSERVACIONES": {
                            "title": "Observaciones",
                            "type": "string",
                            "nullable": true
                          },
                          "COEL_FECHA_DE_COBRO": {
                            "title": "Fecha de Cobro",
                            "type": "string",
                            "nullable": true
                          },
                          "CDCE_ID_CDCE": {
                            "title": "Concepto",
                            "type": "integer"
                          },
                          "CLIE_ID_CLIE": {
                            "title": "Cliente",
                            "type": "integer",
                            "nullable": true
                          },
                          "COEL_INFO": {
                            "title": "Info",
                            "type": "string",
                            "nullable": true
                          },
                          "ASIE_ID_ASIE": {
                            "title": "Asiento",
                            "type": "integer",
                            "nullable": true
                          },
                          "COEL_NRO_DE_OPERACION": {
                            "title": "Nro de operación",
                            "type": "string",
                            "nullable": true
                          },
                          "LDCE_ID_LDCE": {
                            "title": "Liquidación de Cobro electrónico",
                            "type": "integer",
                            "nullable": true
                          },
                          "PUVE_ID_PUVE": {
                            "title": "Punto de Venta",
                            "type": "integer",
                            "nullable": true
                          },
                          "COEL_INFO_DESCRIPCION": {
                            "title": "Info Descripción",
                            "type": "string",
                            "nullable": true
                          },
                          "COEL_OPERATIONID": {
                            "title": "operationId",
                            "type": "string",
                            "nullable": true
                          },
                          "LDCE_ID_NUVE": {
                            "title": "Liquidación de Cobro electrónico Existente",
                            "type": "integer",
                            "nullable": true
                          }
                        }
                      },
                      "description": "Child entities of Cobros electrónicos (included when includeChildren=true)"
                    },
                    "RELACIONESPAGOS": {
                      "title": "Relaciones Pagos",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "COBR_ID_COBR": {
                            "title": "Recibo",
                            "type": "integer"
                          },
                          "FACT_ID_FACT": {
                            "title": "Factura",
                            "type": "integer"
                          },
                          "REPA_TIPO_DE_COBRO": {
                            "title": "Tipo de Cobro",
                            "type": "string",
                            "nullable": true
                          },
                          "CHEQ_ID_CHEQ": {
                            "title": "Cheque",
                            "type": "integer",
                            "nullable": true
                          },
                          "DECO_ID_DECO": {
                            "title": "Cobro en Efectivo",
                            "type": "integer",
                            "nullable": true
                          },
                          "TRRE_ID_TRRE": {
                            "title": "Transferencia",
                            "type": "integer",
                            "nullable": true
                          },
                          "COEL_ID_COEL": {
                            "title": "Cobro Electrónico",
                            "type": "integer",
                            "nullable": true
                          },
                          "DEBA_ID_DEBA": {
                            "title": "Depósito Bancario",
                            "type": "integer",
                            "nullable": true
                          },
                          "RERE_ID_RERE": {
                            "title": "Retención Recibida",
                            "type": "integer",
                            "nullable": true
                          },
                          "AJUS_ID_AJUS": {
                            "title": "Ajuste",
                            "type": "integer",
                            "nullable": true
                          },
                          "REPA_MONTO": {
                            "title": "Monto",
                            "type": "number",
                            "nullable": true
                          },
                          "REPA_VALOR_DEL_CAMBIO": {
                            "title": "Valor del Cambio",
                            "type": "number",
                            "nullable": true
                          },
                          "REPA_MONTO_EN_MONEDA_DEF": {
                            "title": "Monto en moneda default",
                            "type": "number",
                            "nullable": true
                          },
                          "REPA_FECHA": {
                            "title": "Fecha",
                            "type": "string",
                            "nullable": true
                          },
                          "REPA_ESTADO_PAGO": {
                            "title": "Estado pago",
                            "type": "string",
                            "nullable": true
                          },
                          "REPA_FECHA_RECIBO": {
                            "title": "Fecha Recibo",
                            "type": "string",
                            "nullable": true
                          }
                        }
                      },
                      "description": "Child entities of Relaciones Pagos (included when includeChildren=true)"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to access this resource"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      },
      "put": {
        "tags": [
          "Recibo"
        ],
        "summary": "Update a Recibo by id.",
        "description": "Update a Recibo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Recibo id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "CLIE_ID_CLIE"
                    ],
                    "type": "object",
                    "properties": {
                      "COBR_FECHA": {
                        "title": "Fecha de cobro",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                        "default": "PARAM.PARA_HOY",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Cliente",
                        "type": "integer",
                        "description": "Son sólo los clientes Activos que tienen una cuenta contable como cliente asignada (en Empresa)\n This is a foreign key to Empresa. An id of Empresa is expected"
                      },
                      "PUVE_ID_PUVE": {
                        "title": "Punto de Venta",
                        "type": "integer",
                        "description": " This is a foreign key to Punto de venta. An id of Punto de venta is expected",
                        "nullable": true
                      },
                      "COBR_COBRADOR": {
                        "title": "Cobrador",
                        "type": "integer",
                        "nullable": true
                      },
                      "COBR_OBSERVACIONES": {
                        "title": "Observaciones",
                        "type": "string",
                        "nullable": true
                      },
                      "MONE_ID_MONE": {
                        "title": "Moneda Recibo",
                        "type": "integer",
                        "description": " This is a foreign key to Moneda. An id of Moneda is expected",
                        "default": "PARAM.MONE_ID_MONE",
                        "nullable": true
                      },
                      "COBR_COTIZACION_MONEDA_EX": {
                        "title": "Cotización Moneda Extranjera",
                        "type": "number",
                        "default": "1",
                        "nullable": true
                      },
                      "COBR_DIFERENCIA_DE_CAMBIO": {
                        "title": "Diferencia de Cambio",
                        "type": "number",
                        "default": "1=2",
                        "nullable": true
                      },
                      "COBR_ARHC_ID_3720": {
                        "title": "Adjunto",
                        "type": "integer",
                        "nullable": true
                      },
                      "COBR_COMENTARIOS_INTERNOS": {
                        "title": "Comentarios internos",
                        "type": "string",
                        "nullable": true
                      },
                      "CobrosEnEfectivo": {
                        "title": "Cobros en Efectivo",
                        "type": "array",
                        "items": {
                          "title": "Cobros en Efectivo",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CAJA_ID_CAJA": {
                              "title": "Caja",
                              "type": "integer",
                              "description": " This is a foreign key to Caja. An id of Caja is expected\n This attribute is mandatory when the instance is at state 'Pendiente'",
                              "default": "PARAM.CAJA_ID_CAJA"
                            },
                            "DECO_IMPORTE": {
                              "title": "Importe",
                              "type": "number",
                              "nullable": true
                            },
                            "DECO_FECHA_DEPOSITO": {
                              "title": "Fecha de cobro",
                              "type": "string",
                              "default": "PARAM.PARA_HOY",
                              "nullable": true
                            },
                            "DECO_OBSERVACIONES": {
                              "title": "Observaciones",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Cobros en Efectivo"
                        },
                        "description": "Array of child entities of Cobros en Efectivo"
                      },
                      "FacturasCanceladas": {
                        "title": "Facturas canceladas",
                        "type": "array",
                        "items": {
                          "title": "Facturas canceladas",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CLIE_ID_CLIE": {
                              "title": "Cliente",
                              "type": "integer",
                              "description": " This is a foreign key to Empresa. An id of Empresa is expected"
                            },
                            "FACT_ID_FACT": {
                              "title": "Factura",
                              "type": "integer",
                              "description": " This is a foreign key to Factura. An id of Factura is expected"
                            },
                            "NODE_ID_NODE": {
                              "title": "Nota de Débito",
                              "type": "integer",
                              "description": " This is a foreign key to Nota de Débito (V). An id of Nota de Débito (V) is expected",
                              "nullable": true
                            },
                            "CANC_IMPORTE_A_CANCELAR": {
                              "title": "Total Imputado",
                              "type": "number",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Facturas canceladas"
                        },
                        "description": "Array of child entities of Facturas canceladas"
                      },
                      "Cheques": {
                        "title": "Cheques",
                        "type": "array",
                        "items": {
                          "title": "Cheques",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "BANC_ID_BANC": {
                              "title": "Banco",
                              "type": "integer",
                              "description": " This is a foreign key to Banco. An id of Banco is expected\n This attribute is mandatory when the instance is at state 'Recibido'"
                            },
                            "CUDE_ID_CUDE": {
                              "title": "Banco depositado",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected\n This attribute is mandatory when the instance is at state 'Depositado'",
                              "nullable": true
                            },
                            "CHEQ_NUMERO": {
                              "title": "Nro de cheque",
                              "maxLength": 100,
                              "type": "string",
                              "description": " This attribute is mandatory when the instance is at state 'Recibido'"
                            },
                            "CHEQ_ELECTRONICO": {
                              "title": "Electrónico",
                              "type": "boolean",
                              "nullable": true
                            },
                            "CHEQ_FECHA_PAGO": {
                              "title": "Fecha de pago",
                              "type": "string",
                              "description": "La fecha indicada en el cheque a partir de la cual el mismo se puede depositar\n This attribute is mandatory when the instance is at state 'Recibido'",
                              "nullable": true
                            },
                            "CHEQ_IMPORTE": {
                              "title": "Importe",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Recibido'",
                              "nullable": true
                            },
                            "CAJA_ID_CAJA": {
                              "title": "Caja",
                              "type": "integer",
                              "description": " This is a foreign key to Caja. An id of Caja is expected",
                              "default": "PARAM.CAJA_ID_CAJ2",
                              "nullable": true
                            },
                            "CHEQ_FECHA_DEPOSITO": {
                              "title": "Fecha depósito",
                              "type": "string",
                              "description": "Fecha efectiva de depósito\n This attribute is mandatory when the instance is at state 'Depositado'",
                              "nullable": true
                            },
                            "CHEQ_FECHA_DE_ACREDITACIO": {
                              "title": "Fecha de acreditación",
                              "type": "string",
                              "description": "Fecha de acreditación\n This attribute is mandatory when the instance is at state 'Acreditado'",
                              "nullable": true
                            },
                            "CHEQ_CUIT_LIBRADOR": {
                              "title": "CUIT Librador (3ro)",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CHEQ_REFERENCIA": {
                              "title": "Referencia",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CUCO_ID_CUCO": {
                              "title": "Banco depositado Des",
                              "type": "integer",
[...]
