{
  "openapi": "3.0.4",
  "info": {
    "title": "erpdemo.schema Gestión",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yiqi.com.ar/api/public"
    }
  ],
  "paths": {
    "/ACTIVIDAD": {
      "post": {
        "tags": [
          "Actividad"
        ],
        "summary": "Create a Actividad.",
        "description": "Creates a Actividad",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "CLIE_ID_CLIE": {
                        "title": "Cliente",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "PROY_ID_PROY": {
                        "title": "Centro de costos",
                        "type": "integer",
                        "description": " This is a foreign key to Centro de costos. An id of Centro de costos is expected\n This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "ACTI_TITULO": {
                        "title": "Título",
                        "maxLength": 100,
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                        "nullable": true
                      },
                      "ACTI_RESPONSABLE": {
                        "title": "Responsable",
                        "type": "integer",
                        "description": " This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "ACTI_DESCRIPCION": {
                        "title": "Descripción",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                        "nullable": true
                      },
                      "TIDA_ID_TIDA": {
                        "title": "Tipo de Actividad",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de actividad. An id of Tipo de actividad is expected\n This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "CRIT_ID_CRIT": {
                        "title": "Criticidad",
                        "type": "integer",
                        "description": " This is a foreign key to Criticidad Y. An id of Criticidad Y is expected\n This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "ACTI_SOLICITADO_POR": {
                        "title": "Solicitado por",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_SEMANA_DESDE_I": {
                        "title": "Semana desde inicio",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_DURACION_ESTIMADA": {
                        "title": "Duración estimada (días)",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_ARHC_ID_964": {
                        "title": "Adjunto",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_FECHA_INICIO": {
                        "title": "Fecha inicio",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Cerrado'",
                        "nullable": true
                      },
                      "ACTI_FECHA_FIN": {
                        "title": "Fecha fin",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Cerrado'",
                        "nullable": true
                      },
                      "ACTI_FECHA_LIMITE": {
                        "title": "Fecha Límite",
                        "type": "string",
                        "nullable": true
                      },
                      "REUN_ID_REUN": {
                        "title": "Reunión",
                        "type": "integer",
                        "description": " This is a foreign key to Reunión. An id of Reunión is expected",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ACTIVIDAD/{id}": {
      "get": {
        "tags": [
          "Actividad"
        ],
        "description": "Get a Actividad by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Actividad id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Actividad"
        ],
        "summary": "Update a Actividad by id.",
        "description": "Update a Actividad",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Actividad id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "CLIE_ID_CLIE": {
                        "title": "Cliente",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "PROY_ID_PROY": {
                        "title": "Centro de costos",
                        "type": "integer",
                        "description": " This is a foreign key to Centro de costos. An id of Centro de costos is expected\n This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "ACTI_TITULO": {
                        "title": "Título",
                        "maxLength": 100,
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                        "nullable": true
                      },
                      "ACTI_RESPONSABLE": {
                        "title": "Responsable",
                        "type": "integer",
                        "description": " This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "ACTI_DESCRIPCION": {
                        "title": "Descripción",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                        "nullable": true
                      },
                      "TIDA_ID_TIDA": {
                        "title": "Tipo de Actividad",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de actividad. An id of Tipo de actividad is expected\n This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "CRIT_ID_CRIT": {
                        "title": "Criticidad",
                        "type": "integer",
                        "description": " This is a foreign key to Criticidad Y. An id of Criticidad Y is expected\n This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "ACTI_SOLICITADO_POR": {
                        "title": "Solicitado por",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_SEMANA_DESDE_I": {
                        "title": "Semana desde inicio",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_DURACION_ESTIMADA": {
                        "title": "Duración estimada (días)",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_ARHC_ID_964": {
                        "title": "Adjunto",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_FECHA_INICIO": {
                        "title": "Fecha inicio",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Cerrado'",
                        "nullable": true
                      },
                      "ACTI_FECHA_FIN": {
                        "title": "Fecha fin",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Cerrado'",
                        "nullable": true
                      },
                      "ACTI_FECHA_LIMITE": {
                        "title": "Fecha Límite",
                        "type": "string",
                        "nullable": true
                      },
                      "REUN_ID_REUN": {
                        "title": "Reunión",
                        "type": "integer",
                        "description": " This is a foreign key to Reunión. An id of Reunión is expected",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Actividad"
        ],
        "summary": "Delete a Actividad by id.",
        "description": "Delete a Actividad",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Actividad id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/ACTIVIDAD/search": {
      "get": {
        "tags": [
          "Actividad"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Actividad",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "CLIE_ID_CLIE",
            "in": "query",
            "description": "Cliente",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "PROY_ID_PROY",
            "in": "query",
            "description": "Centro de costos",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ACTI_TITULO",
            "in": "query",
            "description": "Título",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ACTI_CODIGO",
            "in": "query",
            "description": "Código",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ACTI_NUMERO",
            "in": "query",
            "description": "Nro",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "TIDA_ID_TIDA",
            "in": "query",
            "description": "Tipo de Actividad",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ACTI_RESPONSABLE",
            "in": "query",
            "description": "Responsable",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ACTIVIDAD/smartie": {
      "get": {
        "tags": [
          "Actividad"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ACTIVIDAD/changestate": {
      "post": {
        "tags": [
          "Actividad"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Cancelado</li>\n<li>Cerrada</li>\n<li>Cerrado</li>\n<li>Detectada</li>\n<li>Eficaz</li>\n<li>En - curso</li>\n<li>No Eficaz</li>\n<li>Pendiente</li>\n<li>Pendiente Validación</li>\n<li>Recurrente</li>\n<li>Terminada</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ACTIVIDAD/file": {
      "get": {
        "tags": [
          "Actividad"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "enum": [
                "ARHC_ID_964"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Actividad"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "enum": [
                "ARHC_ID_964"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ACTIVIDAD/report": {
      "get": {
        "tags": [
          "Actividad"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CLASIFICACION_CAUSA_": {
      "post": {
        "tags": [
          "Clasificación Causa Ticket"
        ],
        "summary": "Create a Clasificación Causa Ticket.",
        "description": "Creates a Clasificación Causa Ticket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "CLCT_CAUSA": {
                        "title": "Causa",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CLASIFICACION_CAUSA_/{id}": {
      "get": {
        "tags": [
          "Clasificación Causa Ticket"
        ],
        "description": "Get a Clasificación Causa Ticket by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Clasificación Causa Ticket id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Clasificación Causa Ticket"
        ],
        "summary": "Update a Clasificación Causa Ticket by id.",
        "description": "Update a Clasificación Causa Ticket",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Clasificación Causa Ticket id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "CLCT_CAUSA": {
                        "title": "Causa",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Clasificación Causa Ticket"
        ],
        "summary": "Delete a Clasificación Causa Ticket by id.",
        "description": "Delete a Clasificación Causa Ticket",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Clasificación Causa Ticket id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/CLASIFICACION_CAUSA_/search": {
      "get": {
        "tags": [
          "Clasificación Causa Ticket"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Clasificación Causa Ticket",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CLASIFICACION_CAUSA_/smartie": {
      "get": {
        "tags": [
          "Clasificación Causa Ticket"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CLASIFICACION_CAUSA_/file": {
      "get": {
        "tags": [
          "Clasificación Causa Ticket"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Clasificación Causa Ticket"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CLASIFICACION_CAUSA_/report": {
      "get": {
        "tags": [
          "Clasificación Causa Ticket"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CLASIFICACION_DE_TIC": {
      "post": {
        "tags": [
          "Clasificación de Ticket"
        ],
        "summary": "Create a Clasificación de Ticket.",
        "description": "Creates a Clasificación de Ticket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "CLDT_CLASIFICACION": {
                        "title": "Clasificación",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CLASIFICACION_DE_TIC/{id}": {
      "get": {
        "tags": [
          "Clasificación de Ticket"
        ],
        "description": "Get a Clasificación de Ticket by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Clasificación de Ticket id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Clasificación de Ticket"
        ],
        "summary": "Update a Clasificación de Ticket by id.",
        "description": "Update a Clasificación de Ticket",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Clasificación de Ticket id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "CLDT_CLASIFICACION": {
                        "title": "Clasificación",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Clasificación de Ticket"
        ],
        "summary": "Delete a Clasificación de Ticket by id.",
        "description": "Delete a Clasificación de Ticket",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Clasificación de Ticket id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/CLASIFICACION_DE_TIC/search": {
      "get": {
        "tags": [
          "Clasificación de Ticket"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Clasificación de Ticket",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "CLDT_CLASIFICACION",
            "in": "query",
            "description": "Clasificación",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CLASIFICACION_DE_TIC/smartie": {
      "get": {
        "tags": [
          "Clasificación de Ticket"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CLASIFICACION_DE_TIC/file": {
      "get": {
        "tags": [
          "Clasificación de Ticket"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Clasificación de Ticket"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CLASIFICACION_DE_TIC/report": {
      "get": {
        "tags": [
          "Clasificación de Ticket"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/DEDICACIONES": {
      "post": {
        "tags": [
          "Dedicación diaria"
        ],
        "summary": "Create a Dedicación diaria.",
        "description": "Creates a Dedicación diaria",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "DEDI_PERSONA",
                      "DEDI_FECHA",
                      "CLIE_ID_CLIE",
                      "PROY_ID_PROY",
                      "DEDI_HORAS"
                    ],
                    "type": "object",
                    "properties": {
                      "DEDI_PERSONA": {
                        "title": "Persona",
                        "type": "integer"
                      },
                      "DEDI_FECHA": {
                        "title": "Fecha",
                        "type": "string"
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Cliente",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected"
                      },
                      "PROY_ID_PROY": {
                        "title": "Centro de costos",
                        "type": "integer",
                        "description": " This is a foreign key to Centro de costos. An id of Centro de costos is expected"
                      },
                      "ACTI_ID_ACTI": {
                        "title": "Actividad",
                        "type": "integer",
                        "description": " This is a foreign key to Actividad. An id of Actividad is expected",
                        "nullable": true
                      },
                      "DEDI_HORAS": {
                        "title": "Horas",
                        "type": "number"
                      },
                      "DEDI_OBSERVACIONES": {
                        "title": "Observaciones",
                        "type": "string",
                        "nullable": true
                      },
                      "DEDI_ESTOY_FRENADO_EN": {
                        "title": "Estoy frenado en...",
                        "type": "string",
                        "nullable": true
                      },
                      "TICK_ID_TICK": {
                        "title": "Ticket relacionado",
                        "type": "integer",
                        "description": " This is a foreign key to Ticket. An id of Ticket is expected",
                        "nullable": true
                      },
                      "DEDI_DIA_HABIL": {
                        "title": "Día habil",
                        "type": "boolean",
                        "nullable": true
                      },
                      "DEDI_COSTO_HORA": {
                        "title": "Costo hora",
                        "type": "number",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DEDICACIONES/{id}": {
      "get": {
        "tags": [
          "Dedicación diaria"
        ],
        "description": "Get a Dedicación diaria by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Dedicación diaria id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Dedicación diaria"
        ],
        "summary": "Update a Dedicación diaria by id.",
        "description": "Update a Dedicación diaria",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Dedicación diaria id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "DEDI_PERSONA",
                      "DEDI_FECHA",
                      "CLIE_ID_CLIE",
                      "PROY_ID_PROY",
                      "DEDI_HORAS"
                    ],
                    "type": "object",
                    "properties": {
                      "DEDI_PERSONA": {
                        "title": "Persona",
                        "type": "integer"
                      },
                      "DEDI_FECHA": {
                        "title": "Fecha",
                        "type": "string"
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Cliente",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected"
                      },
                      "PROY_ID_PROY": {
                        "title": "Centro de costos",
                        "type": "integer",
                        "description": " This is a foreign key to Centro de costos. An id of Centro de costos is expected"
                      },
                      "ACTI_ID_ACTI": {
                        "title": "Actividad",
                        "type": "integer",
                        "description": " This is a foreign key to Actividad. An id of Actividad is expected",
                        "nullable": true
                      },
                      "DEDI_HORAS": {
                        "title": "Horas",
                        "type": "number"
                      },
                      "DEDI_OBSERVACIONES": {
                        "title": "Observaciones",
                        "type": "string",
                        "nullable": true
                      },
                      "DEDI_ESTOY_FRENADO_EN": {
                        "title": "Estoy frenado en...",
                        "type": "string",
                        "nullable": true
                      },
                      "TICK_ID_TICK": {
                        "title": "Ticket relacionado",
                        "type": "integer",
                        "description": " This is a foreign key to Ticket. An id of Ticket is expected",
                        "nullable": true
                      },
                      "DEDI_DIA_HABIL": {
                        "title": "Día habil",
                        "type": "boolean",
                        "nullable": true
                      },
                      "DEDI_COSTO_HORA": {
                        "title": "Costo hora",
                        "type": "number",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Dedicación diaria"
        ],
        "summary": "Delete a Dedicación diaria by id.",
        "description": "Delete a Dedicación diaria",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Dedicación diaria id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/DEDICACIONES/search": {
      "get": {
        "tags": [
          "Dedicación diaria"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Dedicación diaria",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "DEDI_FECHA",
            "in": "query",
            "description": "Fecha",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CLIE_ID_CLIE",
            "in": "query",
            "description": "Cliente",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "PROY_ID_PROY",
            "in": "query",
            "description": "Centro de costos",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "DEDI_HORAS",
            "in": "query",
            "description": "Horas",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "DEDI_PERSONA",
            "in": "query",
            "description": "Persona",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DEDICACIONES/smartie": {
      "get": {
        "tags": [
          "Dedicación diaria"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DEDICACIONES/changestate": {
      "post": {
        "tags": [
          "Dedicación diaria"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Ingresada</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DEDICACIONES/file": {
      "get": {
        "tags": [
          "Dedicación diaria"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Dedicación diaria"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/DEDICACIONES/report": {
      "get": {
        "tags": [
          "Dedicación diaria"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/MANTENIMIENTO": {
      "post": {
        "tags": [
          "Mantenimiento"
        ],
        "summary": "Create a Mantenimiento.",
        "description": "Creates a Mantenimiento",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "MOVI_ID_MOVI": {
                        "title": "Infraestructura",
                        "type": "integer",
                        "description": " This is a foreign key to Infraestructura. An id of Infraestructura is expected",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Proveedor",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "TIDM_ID_TIDM": {
                        "title": "Tipo de mantenimiento",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de mantenimiento. An id of Tipo de mantenimiento is expected",
                        "nullable": true
                      },
                      "MANT_FECHA_DE_INICIO": {
                        "title": "Fecha de Realización",
                        "type": "string",
                        "nullable": true
                      },
                      "MANT_FECHA_DE_FINALIZACIO": {
                        "title": "VTO Estimado",
                        "type": "string",
                        "nullable": true
                      },
                      "MANT_KMS": {
                        "title": "Kms",
                        "type": "number",
                        "nullable": true
                      },
                      "MANT_MONTO_TOTAL": {
                        "title": "Monto total",
                        "type": "number",
                        "nullable": true
                      },
                      "MANT_TRABAJO_REALIZADO": {
                        "title": "Trabajo Realizado",
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/MANTENIMIENTO/{id}": {
      "get": {
        "tags": [
          "Mantenimiento"
        ],
        "description": "Get a Mantenimiento by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Mantenimiento id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Mantenimiento"
        ],
        "summary": "Update a Mantenimiento by id.",
        "description": "Update a Mantenimiento",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Mantenimiento id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "MOVI_ID_MOVI": {
                        "title": "Infraestructura",
                        "type": "integer",
                        "description": " This is a foreign key to Infraestructura. An id of Infraestructura is expected",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Proveedor",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "TIDM_ID_TIDM": {
                        "title": "Tipo de mantenimiento",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de mantenimiento. An id of Tipo de mantenimiento is expected",
                        "nullable": true
                      },
                      "MANT_FECHA_DE_INICIO": {
                        "title": "Fecha de Realización",
                        "type": "string",
                        "nullable": true
                      },
                      "MANT_FECHA_DE_FINALIZACIO": {
                        "title": "VTO Estimado",
                        "type": "string",
                        "nullable": true
                      },
                      "MANT_KMS": {
                        "title": "Kms",
                        "type": "number",
                        "nullable": true
                      },
                      "MANT_MONTO_TOTAL": {
                        "title": "Monto total",
                        "type": "number",
                        "nullable": true
                      },
                      "MANT_TRABAJO_REALIZADO": {
                        "title": "Trabajo Realizado",
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Mantenimiento"
        ],
        "summary": "Delete a Mantenimiento by id.",
        "description": "Delete a Mantenimiento",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Mantenimiento id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/MANTENIMIENTO/search": {
      "get": {
        "tags": [
          "Mantenimiento"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Mantenimiento",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/MANTENIMIENTO/smartie": {
      "get": {
        "tags": [
          "Mantenimiento"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/MANTENIMIENTO/changestate": {
      "post": {
        "tags": [
          "Mantenimiento"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Ingresado</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/MANTENIMIENTO/file": {
      "get": {
        "tags": [
          "Mantenimiento"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Mantenimiento"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/MANTENIMIENTO/report": {
      "get": {
        "tags": [
          "Mantenimiento"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "enum": [
                "MANTENIMIENTO_V1.0"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ORDEN_DE_SERVICIO": {
      "post": {
        "tags": [
          "Orden de Servicio"
        ],
        "summary": "Create a Orden de Servicio.",
        "description": "Creates a Orden de Servicio",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "CLIE_ID_CLIE"
                    ],
                    "type": "object",
                    "properties": {
                      "TICK_ID_TICK": {
                        "title": "Ticket",
                        "type": "integer",
                        "description": " This is a foreign key to Ticket. An id of Ticket is expected",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Cliente",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected"
                      },
                      "CONT_ID_CONT": {
                        "title": "Contacto",
                        "type": "integer",
                        "description": " This is a foreign key to Contacto. An id of Contacto is expected",
                        "nullable": true
                      },
                      "LIDP_ID_LIDP": {
                        "title": "Lista de Precios",
                        "type": "integer",
                        "description": " This is a foreign key to Lista de precios de venta. An id of Lista de precios de venta is expected",
                        "nullable": true
                      },
                      "ORDS_FECHA_EMISION": {
                        "title": "Fecha de emisión",
                        "type": "string",
                        "nullable": true
                      },
                      "ORDS_FECHA_DE_FINALIZACIO": {
                        "title": "Fecha de Finalización",
                        "type": "string",
                        "nullable": true
                      },
                      "ORDS_FECHA": {
                        "title": "Fecha estimada de fin",
                        "type": "string",
                        "nullable": true
                      },
                      "ORDS_RESPONSABLE_INTERNO": {
                        "title": "Responsable interno",
                        "type": "integer",
                        "nullable": true
                      },
                      "SUCU_ID_SUCU": {
                        "title": "Domicilio de Entrega",
                        "type": "integer",
                        "description": " This is a foreign key to Sucursal. An id of Sucursal is expected",
                        "nullable": true
                      },
                      "HODR_ID_HODR": {
                        "title": "Hoja de ruta",
                        "type": "integer",
                        "description": " This is a foreign key to Hoja de ruta. An id of Hoja de ruta is expected",
                        "nullable": true
                      },
                      "ORDS_TRABAJO_REALIZADO": {
                        "title": "Trabajo realizado",
                        "type": "string",
                        "nullable": true
                      },
                      "ORDS_FOTO": {
                        "title": "Foto",
                        "type": "integer",
                        "nullable": true
                      },
                      "PUVE_ID_PUVE": {
                        "title": "Punto de venta",
                        "type": "integer",
                        "description": " This is a foreign key to Punto de venta. An id of Punto de venta is expected\n This attribute is mandatory when the instance is at state 'Facturada'",
                        "nullable": true
                      },
                      "ORDS_OBSERVACIONES": {
                        "title": "Observaciones",
                        "type": "string",
                        "nullable": true
                      },
                      "ORDS_ADJUNTO_SAC": {
                        "title": "Adjunto SAC",
                        "type": "integer",
                        "nullable": true
                      },
                      "TIFA_ID_TIFA": {
                        "title": "Tipo de factura",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de factura. An id of Tipo de factura is expected\n This attribute is mandatory when the instance is at state 'Facturada'",
                        "nullable": true
                      },
                      "COVE_ID_COVE": {
                        "title": "Condición de venta",
                        "type": "integer",
                        "description": " This is a foreign key to Condición de venta. An id of Condición de venta is expected\n This attribute is mandatory when the instance is at state 'Facturada'",
                        "nullable": true
                      },
                      "RemitoDeVenta": {
                        "title": "Remito de venta",
                        "type": "array",
                        "items": {
                          "title": "Remito de venta",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
[...]
