{
  "openapi": "3.0.4",
  "info": {
    "title": "erpdemo.schema Mensajería",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yiqi.com.ar/api/public"
    }
  ],
  "paths": {
    "/ADJUNTO": {
      "post": {
        "tags": [
          "Adjunto"
        ],
        "summary": "Create a Adjunto.",
        "description": "Creates a new instance of Adjunto.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "ADJU_FECHA": {
                        "title": "Fecha",
                        "type": "string",
                        "nullable": true
                      },
                      "ADJU_ADJUNTO_FILE": {
                        "title": "Adjunto",
                        "type": "integer",
                        "nullable": true
                      },
                      "ADJU_ADJUNTO_FILE_L": {
                        "title": "Adjunto - File",
                        "type": "integer",
                        "nullable": true
                      }
                    },
                    "description": "Instance data"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request processed. Check `ok`: a business validation failure also returns HTTP 200, with ok=false and the reason in `error`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "True if the instance was saved. Business validation failures are reported as HTTP 200 with ok=false and a message in `error` - always check this flag."
                    },
                    "newId": {
                      "type": "integer",
                      "description": "Id of the saved Adjunto (the new id when creating, the same id when updating). This is the field that carries the identifier - there is no `id` field in this response."
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message when ok=false. Null on success.",
                      "nullable": true
                    },
                    "parameter": {
                      "type": "string",
                      "description": "The full saved instance, serialized as a JSON **string** (not a nested object) - same content as GET /ADJUNTO/{id} with includeChildren=true. Parse it to read it.",
                      "nullable": true
                    }
                  },
                  "example": {
                    "ok": true,
                    "newId": 12345,
                    "error": null,
                    "parameter": "{\"id\":12345, ...}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to create instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Duplicate instance detected"
          }
        }
      }
    },
    "/ADJUNTO/{id}": {
      "get": {
        "tags": [
          "Adjunto"
        ],
        "description": "Get a Adjunto by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Adjunto id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "description": "Whether to include child entities in the response (default: true)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includeTransitions",
            "in": "query",
            "description": "Whether to include the state transitions available for this instance, as `transitions` (default: false)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeFkTexts",
            "in": "query",
            "description": "Whether to include `attsFkTexts`: the descriptive text behind every foreign key / user / profile / fixed-value attribute, keyed by physical name (default: false). Use it to show \"Acme S.A.\" where the attribute carries `9744`. Opt-in because it costs one query per foreign key attribute.",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Instance unique identifier",
                      "type": "integer"
                    },
                    "ESTA_NOMBRE": {
                      "title": "State name",
                      "type": "string",
                      "nullable": true
                    },
                    "ESTA_CODIGO": {
                      "title": "State code",
                      "type": "integer",
                      "nullable": true
                    },
                    "AUDI_FECHA_ALTA": {
                      "title": "Creation date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "AUDI_FECHA_MODIF": {
                      "title": "Last modification date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "MEDP_ID_MEDP": {
                      "title": "Mensaje de Pedido",
                      "type": "integer",
                      "description": "Foreign key to Mensaje de Pedido",
                      "nullable": true
                    },
                    "ADJU_FECHA": {
                      "title": "Fecha",
                      "type": "string",
                      "nullable": true
                    },
                    "ADJU_ADJUNTO_FILE": {
                      "title": "Adjunto",
                      "type": "integer",
                      "nullable": true
                    },
                    "ADJU_ADJUNTO_FILE_L": {
                      "title": "Adjunto - File",
                      "type": "integer",
                      "nullable": true
                    },
                    "transitions": {
                      "title": "Available state transitions",
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "State transitions available for this instance (included when includeTransitions=true)"
                    },
                    "attsFkTexts": {
                      "title": "Foreign key texts",
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Descriptive text of every foreign key / user / profile / fixed-value attribute that has a value, keyed by physical name (included when includeFkTexts=true). Example: `\"TIDD_ID_TIDD\": \"CUIT\"`. Attributes without a value are omitted, not returned as empty."
                    }
                  },
                  "description": "A Adjunto instance.\n\nOnly Adjunto's own attributes are returned here: a foreign key travels as its id (e.g. `XXXX_ID_XXXX`), not as the referenced instance's description. Columns joined from related entities (aliased `<fkPrefix>_<ATTRIBUTE>`, e.g. `TIDD_NOMBRE`) do exist, but they are list columns: request them explicitly through `POST /ADJUNTO/query` (the `field` enum there lists every available column, related ones included) or add them to a smartie. For a single instance, `GET /ADJUNTO/{id}?includeFkTexts=true` returns `attsFkTexts` with the descriptive text behind each foreign key."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity or instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Adjunto"
        ],
        "summary": "Update a Adjunto by id.",
        "description": "Update a Adjunto. The id in the path wins: it is written over `data.id` before saving, so it does not need to be repeated in the body.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Adjunto id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "ADJU_FECHA": {
                        "title": "Fecha",
                        "type": "string",
                        "nullable": true
                      },
                      "ADJU_ADJUNTO_FILE": {
                        "title": "Adjunto",
                        "type": "integer",
                        "nullable": true
                      },
                      "ADJU_ADJUNTO_FILE_L": {
                        "title": "Adjunto - File",
                        "type": "integer",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request processed. Check `ok`: a business validation failure also returns HTTP 200, with ok=false and the reason in `error`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "True if the instance was saved. Business validation failures are reported as HTTP 200 with ok=false and a message in `error` - always check this flag."
                    },
                    "newId": {
                      "type": "integer",
                      "description": "Id of the saved Adjunto (the new id when creating, the same id when updating). This is the field that carries the identifier - there is no `id` field in this response."
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message when ok=false. Null on success.",
                      "nullable": true
                    },
                    "parameter": {
                      "type": "string",
                      "description": "The full saved instance, serialized as a JSON **string** (not a nested object) - same content as GET /ADJUNTO/{id} with includeChildren=true. Parse it to read it.",
                      "nullable": true
                    }
                  },
                  "example": {
                    "ok": true,
                    "newId": 12345,
                    "error": null,
                    "parameter": "{\"id\":12345, ...}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to edit instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity or instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Duplicate instance detected"
          }
        }
      },
      "delete": {
        "tags": [
          "Adjunto"
        ],
        "summary": "Delete a Adjunto by id.",
        "description": "Delete a Adjunto",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Adjunto id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Result message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - entity name empty or id not greater than 0",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to delete instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity or instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/ADJUNTO/search": {
      "get": {
        "tags": [
          "Adjunto"
        ],
        "summary": "Fast search endpoint. Returns a capped, non-paginated set of Adjunto records; prefer /query for controlled, production-grade listings.",
        "description": "Performs a lightweight search over Adjunto instances. Every query parameter below that matches an attribute's physical name is applied as an equality filter; omit them all to list the first records. The result set is capped and not paginated, so this endpoint is meant for quick lookups. For production listings that require configurable pagination, explicit column selection, or advanced filters, prefer /query.\n\nOnly Adjunto's own attributes are returned here: a foreign key travels as its id (e.g. `XXXX_ID_XXXX`), not as the referenced instance's description. Columns joined from related entities (aliased `<fkPrefix>_<ATTRIBUTE>`, e.g. `TIDD_NOMBRE`) do exist, but they are list columns: request them explicitly through `POST /ADJUNTO/query` (the `field` enum there lists every available column, related ones included) or add them to a smartie. For a single instance, `GET /ADJUNTO/{id}?includeFkTexts=true` returns `attsFkTexts` with the descriptive text behind each foreign key.",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching instances, as a flat array (not wrapped in an object). Child entities are not included.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "title": "Instance unique identifier",
                        "type": "integer"
                      },
                      "ESTA_NOMBRE": {
                        "title": "State name",
                        "type": "string",
                        "nullable": true
                      },
                      "ESTA_CODIGO": {
                        "title": "State code",
                        "type": "integer",
                        "nullable": true
                      },
                      "AUDI_FECHA_ALTA": {
                        "title": "Creation date",
                        "type": "string",
                        "format": "date-time"
                      },
                      "AUDI_FECHA_MODIF": {
                        "title": "Last modification date",
                        "type": "string",
                        "format": "date-time"
                      },
                      "MEDP_ID_MEDP": {
                        "title": "Mensaje de Pedido",
                        "type": "integer",
                        "description": "Foreign key to Mensaje de Pedido",
                        "nullable": true
                      },
                      "ADJU_FECHA": {
                        "title": "Fecha",
                        "type": "string",
                        "nullable": true
                      },
                      "ADJU_ADJUNTO_FILE": {
                        "title": "Adjunto",
                        "type": "integer",
                        "nullable": true
                      },
                      "ADJU_ADJUNTO_FILE_L": {
                        "title": "Adjunto - File",
                        "type": "integer",
                        "nullable": true
                      }
                    },
                    "description": "A Adjunto instance.\n\nOnly Adjunto's own attributes are returned here: a foreign key travels as its id (e.g. `XXXX_ID_XXXX`), not as the referenced instance's description. Columns joined from related entities (aliased `<fkPrefix>_<ATTRIBUTE>`, e.g. `TIDD_NOMBRE`) do exist, but they are list columns: request them explicitly through `POST /ADJUNTO/query` (the `field` enum there lists every available column, related ones included) or add them to a smartie. For a single instance, `GET /ADJUNTO/{id}?includeFkTexts=true` returns `attsFkTexts` with the descriptive text behind each foreign key."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - entity name empty",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to view this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/ADJUNTO/smartie": {
      "get": {
        "tags": [
          "Adjunto"
        ],
        "summary": "Get a page of a smartie (saved list configuration)",
        "description": "Runs a saved list configuration (columns, filters, sorting) and returns one page of it.\n\n**The keys of each `data` row are the smartie's configured columns, not the entity schema.** A smartie can include columns joined from related entities (aliased `<fkPrefix>_<ATTRIBUTE>`, e.g. `TIDD_NOMBRE`, `ALIV_PORCENTAJE`), which is why the response may contain fields that do not appear in this entity's own attributes. The `columns` array of the response always describes exactly what came back.\n\nColumns whose attribute group the caller cannot see are dropped from both `data` and `columns`. If you need a stable, explicit column set, prefer `POST /ADJUNTO/query`.",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (1-based). Defaults to 1 when omitted.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Rows of the page. Each row is keyed by the smartie's column names (related-entity columns included); `id` and `ESTA_CODIGO` are added when the rows represent instances (i.e. the query does not group or pivot)."
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records matching the query (ignoring pagination)"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Definition of the columns actually returned - the authoritative list of the keys present in `data`"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - entity name or smartieId empty",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token / user could not be resolved"
          },
          "403": {
            "description": "User does not have permission to view this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity not found, or smartie not found for this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/ADJUNTO/query": {
      "post": {
        "tags": [
          "Adjunto"
        ],
        "summary": "Execute dynamic query without persisted smartie",
        "description": "Performs a dynamic query on Adjunto instances with custom columns, filters, sorting, aggregations, and configurable pagination. Use this endpoint for production-grade listings that require predictable performance, payload control, and advanced filtering. Unlike /search, /query allows explicit column selection and page size configuration, making it the preferred option for list screens, integrations, and high-volume data retrieval scenarios. This endpoint allows ad-hoc queries without requiring a saved smartie configuration.",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Dynamic query parameters including pagination, columns, filters, and search criteria",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "page"
                ],
                "type": "object",
                "properties": {
                  "page": {
                    "minimum": 1,
                    "type": "integer",
                    "description": "Page number (1-based)",
                    "default": 1
                  },
                  "pageSize": {
                    "maximum": 1000,
                    "minimum": 1,
                    "type": "integer",
                    "description": "Number of records per page",
                    "default": 50
                  },
                  "search": {
                    "type": "string",
                    "description": "Free-text term applied over the requested columns: a LIKE '%term%' against each column in `columns` whose data type supports it, OR-ed together. It narrows both `data` and `total`. Combine it with `filters` for exact conditions.",
                    "nullable": true
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "required": [
                        "field"
                      ],
                      "type": "object",
                      "properties": {
                        "field": {
                          "enum": [
                            "ADJU_FECHA",
                            "ADJU_ADJUNTO_FILE",
                            "ADJU_ADJUNTO_FILE_L",
                            "id",
                            "DESC_ESTADO",
                            "ESTA_CODIGO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Physical column name (required). Available columns from entity view, plus the raw id of Usuario-typed attributes (e.g. ORDC_SOLICITADA_POR) even though the resolved username (e.g. ORDC_SOLICITADA_POR_NOMBRE) is offered separately - request the raw id to cross-reference against your own user directory instead of the resolved display name."
                        },
                        "title": {
                          "type": "string",
                          "description": "Custom column title (optional)",
                          "nullable": true
                        },
                        "sortDirection": {
                          "enum": [
                            "ASC",
                            "DESC"
                          ],
                          "type": "string",
                          "description": "Sort direction",
                          "nullable": true
                        },
                        "order": {
                          "type": "integer",
                          "description": "Column display order (optional)",
                          "nullable": true
                        },
                        "sortOrder": {
                          "type": "integer",
                          "description": "Sort priority order (optional)",
                          "nullable": true
                        },
                        "aggregation": {
                          "enum": [
                            "SUM",
                            "COUNT",
                            "AVG",
                            "MIN",
                            "MAX"
                          ],
                          "type": "string",
                          "description": "Aggregation function",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Column specifications. If null or empty, default header columns will be used",
                    "nullable": true
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "required": [
                        "columnName",
                        "operator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "columnName": {
                          "enum": [
                            "ADJU_FECHA",
                            "ADJU_ADJUNTO_FILE",
                            "ADJU_ADJUNTO_FILE_L",
                            "id",
                            "DESC_ESTADO",
                            "ESTA_CODIGO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF",
                            "MEDP_ID_MEDP"
                          ],
                          "type": "string",
                          "description": "Column name to filter (required). Available columns from `columns` (entity view columns plus the raw id of Usuario-typed attributes), plus the physical id of related entities (e.g. CLIE_ID_CLIE) which - unlike Usuario ids - are filter-only: filtering by the related id doesn't need the related row's data, only the row's id, so it's supported here even though selecting/sorting by it isn't."
                        },
                        "operator": {
                          "enum": [
                            "=",
                            "!=",
                            ">",
                            "<",
                            ">=",
                            "<=",
                            "LIKE"
                          ],
                          "type": "string",
                          "description": "Comparison operator"
                        },
                        "value": {
                          "description": "Value to compare. Type should match column data type",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Filter specifications",
                    "nullable": true
                  }
                }
              },
              "example": {
                "page": 1,
                "pageSize": 10,
                "search": "",
                "columns": [
                  {
                    "field": "COLUMN_NAME",
                    "title": "Column Title",
                    "sortDirection": "ASC",
                    "sortOrder": 1
                  }
                ],
                "filters": [
                  {
                    "columnName": "COLUMN_NAME",
                    "operator": "=",
                    "value": "value"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Rows of the page, keyed by the `field` of each requested column. `id` and `ESTA_CODIGO` are added when the rows represent instances (i.e. no column uses an aggregation)."
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records matching the query (ignoring pagination)"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Definition of the columns actually returned - the authoritative list of the keys present in `data`"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters, unknown column name, or unsupported operator",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to view this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/ADJUNTO/file": {
      "get": {
        "tags": [
          "Adjunto"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "enum": [
                "ADJUNTO_FILE",
                "ADJUNTO_FILE_L"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado. El cuerpo es el archivo en crudo; el nombre viaja en el header Content-Disposition.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "403": {
            "description": "El usuario no tiene permisos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Adjunto"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "enum": [
                "ADJUNTO_FILE",
                "ADJUNTO_FILE_L"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png). Opcional: si se omite se toma el del multipart, o application/octet-stream.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Result message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "403": {
            "description": "El usuario no tiene permisos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "409": {
            "description": "Ya hay una carga en curso para este mismo archivo. Reintentar cuando termine.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/ADJUNTO/report": {
      "get": {
        "tags": [
          "Adjunto"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado. El cuerpo es el PDF en crudo; el nombre viaja en el header Content-Disposition.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "403": {
            "description": "El usuario no tiene permisos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/MENSAJE_DE_PEDIDO": {
      "post": {
        "tags": [
          "Mensaje de Pedido"
        ],
        "summary": "Create a Mensaje de Pedido.",
        "description": "Creates a new instance of Mensaje de Pedido.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "PEDI_ID_PEDI"
                    ],
                    "type": "object",
                    "properties": {
                      "PEDI_ID_PEDI": {
                        "title": "Pedido",
                        "type": "integer",
                        "description": " This is a foreign key to Pedido. An id of Pedido is expected"
                      },
                      "MEDP_PROCEDENCIA": {
                        "title": "Procedencia",
                        "maxLength": 100,
                        "type": "string",
                        "default": "Cliente",
                        "nullable": true
                      },
                      "MEDP_REMITENTE": {
                        "title": "Remitente",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "MEDP_MENSAJE": {
                        "title": "Mensaje",
                        "type": "string",
                        "nullable": true
                      },
                      "MEDP_FECHA": {
                        "title": "Fecha",
                        "type": "string",
                        "default": "PARAM.PARA_HOY",
                        "nullable": true
                      },
                      "Adjunto": {
                        "title": "Adjunto",
                        "type": "array",
                        "items": {
                          "title": "Adjunto",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "ADJU_FECHA": {
                              "title": "Fecha",
                              "type": "string",
                              "nullable": true
                            },
                            "ADJU_ADJUNTO_FILE": {
                              "title": "Adjunto",
                              "type": "integer",
                              "nullable": true
                            },
                            "ADJU_ADJUNTO_FILE_L": {
                              "title": "Adjunto - File",
                              "type": "integer",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Adjunto"
                        },
                        "description": "Array of child entities of Adjunto"
                      }
                    },
                    "description": "Instance data"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request processed. Check `ok`: a business validation failure also returns HTTP 200, with ok=false and the reason in `error`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "True if the instance was saved. Business validation failures are reported as HTTP 200 with ok=false and a message in `error` - always check this flag."
                    },
                    "newId": {
                      "type": "integer",
                      "description": "Id of the saved Mensaje de Pedido (the new id when creating, the same id when updating). This is the field that carries the identifier - there is no `id` field in this response."
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message when ok=false. Null on success.",
                      "nullable": true
                    },
                    "parameter": {
                      "type": "string",
                      "description": "The full saved instance, serialized as a JSON **string** (not a nested object) - same content as GET /MENSAJE_DE_PEDIDO/{id} with includeChildren=true. Parse it to read it.",
                      "nullable": true
                    }
                  },
                  "example": {
                    "ok": true,
                    "newId": 12345,
                    "error": null,
                    "parameter": "{\"id\":12345, ...}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to create instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Duplicate instance detected"
          }
        }
      }
    },
    "/MENSAJE_DE_PEDIDO/{id}": {
      "get": {
        "tags": [
          "Mensaje de Pedido"
        ],
        "description": "Get a Mensaje de Pedido by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Mensaje de Pedido id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "description": "Whether to include child entities in the response (default: true)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includeTransitions",
            "in": "query",
            "description": "Whether to include the state transitions available for this instance, as `transitions` (default: false)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeFkTexts",
            "in": "query",
            "description": "Whether to include `attsFkTexts`: the descriptive text behind every foreign key / user / profile / fixed-value attribute, keyed by physical name (default: false). Use it to show \"Acme S.A.\" where the attribute carries `9744`. Opt-in because it costs one query per foreign key attribute.",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Instance unique identifier",
                      "type": "integer"
                    },
                    "ESTA_NOMBRE": {
                      "title": "State name",
                      "type": "string",
                      "nullable": true
                    },
                    "ESTA_CODIGO": {
                      "title": "State code",
                      "type": "integer",
                      "nullable": true
                    },
                    "AUDI_FECHA_ALTA": {
                      "title": "Creation date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "AUDI_FECHA_MODIF": {
                      "title": "Last modification date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "PEDI_ID_PEDI": {
                      "title": "Pedido",
                      "type": "integer",
                      "description": "Foreign key to Pedido"
                    },
                    "MEDP_PROCEDENCIA": {
                      "title": "Procedencia",
                      "type": "string",
                      "nullable": true
                    },
                    "MEDP_REMITENTE": {
                      "title": "Remitente",
                      "type": "string",
                      "nullable": true
                    },
                    "MEDP_MENSAJE": {
                      "title": "Mensaje",
                      "type": "string",
                      "nullable": true
                    },
                    "MEDP_FECHA": {
                      "title": "Fecha",
                      "type": "string",
                      "nullable": true
                    },
                    "MEDP_SKU": {
                      "title": "SKUs del pedido",
                      "type": "string",
                      "nullable": true
                    },
                    "MEDP_P_PEDIDO": {
                      "title": "Productos del pedido",
                      "type": "string",
                      "nullable": true
                    },
                    "MEDP_ID_MSJ": {
                      "title": "Identificador del mensaje",
                      "type": "string",
                      "nullable": true
                    },
                    "MEDP_TIENE_ADJUNTO": {
                      "title": "Tiene adjunto",
                      "type": "boolean",
                      "nullable": true
                    },
                    "MEDP_INFO": {
                      "title": "Info",
                      "type": "string",
                      "nullable": true
                    },
                    "MEDP_MENSAJE_VEND": {
                      "title": "Mensaje",
                      "type": "string",
                      "nullable": true
                    },
                    "MEDP_LEIDO_ML": {
                      "title": "Leído ML",
                      "type": "boolean",
                      "nullable": true
                    },
                    "MEDP_ID_ML": {
                      "title": "ID_ML",
                      "type": "string",
                      "nullable": true
                    },
                    "ADJUNTO": {
                      "title": "Adjunto",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "MEDP_ID_MEDP": {
                            "title": "Mensaje de Pedido",
                            "type": "integer",
                            "nullable": true
                          },
                          "ADJU_FECHA": {
                            "title": "Fecha",
                            "type": "string",
                            "nullable": true
                          },
                          "ADJU_ADJUNTO_FILE": {
                            "title": "Adjunto",
                            "type": "integer",
                            "nullable": true
                          },
                          "ADJU_ADJUNTO_FILE_L": {
                            "title": "Adjunto - File",
                            "type": "integer",
                            "nullable": true
                          }
                        }
                      },
                      "description": "Child entities of Adjunto (included when includeChildren=true)"
                    },
                    "transitions": {
                      "title": "Available state transitions",
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "State transitions available for this instance (included when includeTransitions=true)"
                    },
                    "attsFkTexts": {
                      "title": "Foreign key texts",
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Descriptive text of every foreign key / user / profile / fixed-value attribute that has a value, keyed by physical name (included when includeFkTexts=true). Example: `\"TIDD_ID_TIDD\": \"CUIT\"`. Attributes without a value are omitted, not returned as empty."
                    }
                  },
                  "description": "A Mensaje de Pedido instance.\n\nOnly Mensaje de Pedido's own attributes are returned here: a foreign key travels as its id (e.g. `XXXX_ID_XXXX`), not as the referenced instance's description. Columns joined from related entities (aliased `<fkPrefix>_<ATTRIBUTE>`, e.g. `TIDD_NOMBRE`) do exist, but they are list columns: request them explicitly through `POST /MENSAJE_DE_PEDIDO/query` (the `field` enum there lists every available column, related ones included) or add them to a smartie. For a single instance, `GET /MENSAJE_DE_PEDIDO/{id}?includeFkTexts=true` returns `attsFkTexts` with the descriptive text behind each foreign key."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity or instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Mensaje de Pedido"
        ],
        "summary": "Update a Mensaje de Pedido by id.",
        "description": "Update a Mensaje de Pedido. The id in the path wins: it is written over `data.id` before saving, so it does not need to be repeated in the body.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Mensaje de Pedido id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "PEDI_ID_PEDI"
                    ],
                    "type": "object",
                    "properties": {
                      "PEDI_ID_PEDI": {
                        "title": "Pedido",
                        "type": "integer",
                        "description": " This is a foreign key to Pedido. An id of Pedido is expected"
                      },
                      "MEDP_PROCEDENCIA": {
                        "title": "Procedencia",
                        "maxLength": 100,
                        "type": "string",
                        "default": "Cliente",
                        "nullable": true
                      },
                      "MEDP_REMITENTE": {
                        "title": "Remitente",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "MEDP_MENSAJE": {
                        "title": "Mensaje",
                        "type": "string",
                        "nullable": true
                      },
                      "MEDP_FECHA": {
                        "title": "Fecha",
                        "type": "string",
                        "default": "PARAM.PARA_HOY",
                        "nullable": true
                      },
                      "Adjunto": {
                        "title": "Adjunto",
                        "type": "array",
                        "items": {
                          "title": "Adjunto",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "ADJU_FECHA": {
                              "title": "Fecha",
                              "type": "string",
                              "nullable": true
                            },
                            "ADJU_ADJUNTO_FILE": {
                              "title": "Adjunto",
                              "type": "integer",
                              "nullable": true
                            },
                            "ADJU_ADJUNTO_FILE_L": {
                              "title": "Adjunto - File",
                              "type": "integer",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Adjunto"
                        },
                        "description": "Array of child entities of Adjunto"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request processed. Check `ok`: a business validation failure also returns HTTP 200, with ok=false and the reason in `error`.",
            "content": {
[...]
