{
  "openapi": "3.0.4",
  "info": {
    "title": "erpdemo.schema Producción",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yiqi.com.ar/api/public"
    }
  ],
  "paths": {
    "/AJUSTE_ART_REQ": {
      "post": {
        "tags": [
          "Ajuste de artículos requeridos"
        ],
        "summary": "Create a Ajuste de artículos requeridos.",
        "description": "Creates a Ajuste de artículos requeridos",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "ORDP_ID_ORDP",
                      "MATE_ID_MATE"
                    ],
                    "type": "object",
                    "properties": {
                      "ORDP_ID_ORDP": {
                        "title": "Orden de producción",
                        "type": "integer",
                        "description": " This is a foreign key to Orden de producción. An id of Orden de producción is expected"
                      },
                      "MATE_ID_MATE": {
                        "title": "Artículo",
                        "type": "integer",
                        "description": " This is a foreign key to Artículo. An id of Artículo is expected"
                      },
                      "ADAR_USO": {
                        "title": "Uso",
                        "type": "integer",
                        "nullable": true
                      },
                      "ADAR_DEVOLUCION": {
                        "title": "Devolución",
                        "type": "integer",
                        "nullable": true
                      },
                      "ADAR_NRO_DE_SERIE": {
                        "title": "Nro de Serie",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CEDI_ID_CEDI": {
                        "title": "Ubicación de Origen",
                        "type": "integer",
                        "description": "Si no se completa se utiliza la ubicación de la OP.\n This is a foreign key to Ubicación de stock. An id of Ubicación de stock is expected",
                        "nullable": true
                      },
                      "ADAR_COMENTARIO": {
                        "title": "Comentario",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/AJUSTE_ART_REQ/{id}": {
      "get": {
        "tags": [
          "Ajuste de artículos requeridos"
        ],
        "description": "Get a Ajuste de artículos requeridos by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ajuste de artículos requeridos id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Ajuste de artículos requeridos"
        ],
        "summary": "Update a Ajuste de artículos requeridos by id.",
        "description": "Update a Ajuste de artículos requeridos",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ajuste de artículos requeridos id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "ORDP_ID_ORDP",
                      "MATE_ID_MATE"
                    ],
                    "type": "object",
                    "properties": {
                      "ORDP_ID_ORDP": {
                        "title": "Orden de producción",
                        "type": "integer",
                        "description": " This is a foreign key to Orden de producción. An id of Orden de producción is expected"
                      },
                      "MATE_ID_MATE": {
                        "title": "Artículo",
                        "type": "integer",
                        "description": " This is a foreign key to Artículo. An id of Artículo is expected"
                      },
                      "ADAR_USO": {
                        "title": "Uso",
                        "type": "integer",
                        "nullable": true
                      },
                      "ADAR_DEVOLUCION": {
                        "title": "Devolución",
                        "type": "integer",
                        "nullable": true
                      },
                      "ADAR_NRO_DE_SERIE": {
                        "title": "Nro de Serie",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CEDI_ID_CEDI": {
                        "title": "Ubicación de Origen",
                        "type": "integer",
                        "description": "Si no se completa se utiliza la ubicación de la OP.\n This is a foreign key to Ubicación de stock. An id of Ubicación de stock is expected",
                        "nullable": true
                      },
                      "ADAR_COMENTARIO": {
                        "title": "Comentario",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Ajuste de artículos requeridos"
        ],
        "summary": "Delete a Ajuste de artículos requeridos by id.",
        "description": "Delete a Ajuste de artículos requeridos",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ajuste de artículos requeridos id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/AJUSTE_ART_REQ/search": {
      "get": {
        "tags": [
          "Ajuste de artículos requeridos"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Ajuste de artículos requeridos",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ORDP_ID_ORDP",
            "in": "query",
            "description": "Orden de producción",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "MATE_ID_MATE",
            "in": "query",
            "description": "Artículo",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/AJUSTE_ART_REQ/smartie": {
      "get": {
        "tags": [
          "Ajuste de artículos requeridos"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/AJUSTE_ART_REQ/changestate": {
      "post": {
        "tags": [
          "Ajuste de artículos requeridos"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Ajustado</li>\n<li>Ingresado</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/AJUSTE_ART_REQ/file": {
      "get": {
        "tags": [
          "Ajuste de artículos requeridos"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Ajuste de artículos requeridos"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/AJUSTE_ART_REQ/report": {
      "get": {
        "tags": [
          "Ajuste de artículos requeridos"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ART_REQ_OP": {
      "post": {
        "tags": [
          "Art. Req. OP"
        ],
        "summary": "Create a Art. Req. OP.",
        "description": "Creates a Art. Req. OP",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "MATE_ID_MATE"
                    ],
                    "type": "object",
                    "properties": {
                      "ORDP_ID_ORDP": {
                        "title": "Orden de Producción",
                        "type": "integer",
                        "description": " This is a foreign key to Orden de producción. An id of Orden de producción is expected",
                        "nullable": true
                      },
                      "MATE_ID_MATE": {
                        "title": "Artículo",
                        "type": "integer",
                        "description": " This is a foreign key to Artículo. An id of Artículo is expected"
                      },
                      "ARRE_NRO_SERIE": {
                        "title": "Nro Serie",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CEDI_ID_CEDI": {
                        "title": "Ubicación",
                        "type": "integer",
                        "description": " This is a foreign key to Ubicación de stock. An id of Ubicación de stock is expected",
                        "nullable": true
                      },
                      "TIUN_ID_TIUN": {
                        "title": "Tipo Unidad",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de unidad. An id of Tipo de unidad is expected",
                        "nullable": true
                      },
                      "ARRE_CANTIDAD": {
                        "title": "Cantidad",
                        "type": "number",
                        "nullable": true
                      },
                      "ARRE_COSTO_PRODUCCION": {
                        "title": "Costo Producción",
                        "type": "number",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ART_REQ_OP/{id}": {
      "get": {
        "tags": [
          "Art. Req. OP"
        ],
        "description": "Get a Art. Req. OP by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Art. Req. OP id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Art. Req. OP"
        ],
        "summary": "Update a Art. Req. OP by id.",
        "description": "Update a Art. Req. OP",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Art. Req. OP id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "MATE_ID_MATE"
                    ],
                    "type": "object",
                    "properties": {
                      "ORDP_ID_ORDP": {
                        "title": "Orden de Producción",
                        "type": "integer",
                        "description": " This is a foreign key to Orden de producción. An id of Orden de producción is expected",
                        "nullable": true
                      },
                      "MATE_ID_MATE": {
                        "title": "Artículo",
                        "type": "integer",
                        "description": " This is a foreign key to Artículo. An id of Artículo is expected"
                      },
                      "ARRE_NRO_SERIE": {
                        "title": "Nro Serie",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CEDI_ID_CEDI": {
                        "title": "Ubicación",
                        "type": "integer",
                        "description": " This is a foreign key to Ubicación de stock. An id of Ubicación de stock is expected",
                        "nullable": true
                      },
                      "TIUN_ID_TIUN": {
                        "title": "Tipo Unidad",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de unidad. An id of Tipo de unidad is expected",
                        "nullable": true
                      },
                      "ARRE_CANTIDAD": {
                        "title": "Cantidad",
                        "type": "number",
                        "nullable": true
                      },
                      "ARRE_COSTO_PRODUCCION": {
                        "title": "Costo Producción",
                        "type": "number",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Art. Req. OP"
        ],
        "summary": "Delete a Art. Req. OP by id.",
        "description": "Delete a Art. Req. OP",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Art. Req. OP id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/ART_REQ_OP/search": {
      "get": {
        "tags": [
          "Art. Req. OP"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Art. Req. OP",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "MATE_ID_MATE",
            "in": "query",
            "description": "Artículo",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "TIUN_ID_TIUN",
            "in": "query",
            "description": "Tipo Unidad",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ARRE_CANTIDAD",
            "in": "query",
            "description": "Cantidad",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "ARRE_DISPONIBLE_EN_ORIGEN",
            "in": "query",
            "description": "Disponible en origen",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ARRE_DIFERENCIA",
            "in": "query",
            "description": "Diferencia",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "ARRE_RESERVADO",
            "in": "query",
            "description": "Reservado",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "ARRE_ESTADO",
            "in": "query",
            "description": "Estado",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ART_REQ_OP/smartie": {
      "get": {
        "tags": [
          "Art. Req. OP"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ART_REQ_OP/changestate": {
      "post": {
        "tags": [
          "Art. Req. OP"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Completando Nro de Serie</li>\n<li>Ingresado</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ART_REQ_OP/file": {
      "get": {
        "tags": [
          "Art. Req. OP"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Art. Req. OP"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ART_REQ_OP/report": {
      "get": {
        "tags": [
          "Art. Req. OP"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/DETALLE_MODELO_OP": {
      "post": {
        "tags": [
          "Detalle Modelo OP"
        ],
        "summary": "Create a Detalle Modelo OP.",
        "description": "Creates a Detalle Modelo OP",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "MOOP_ID_MOOP",
                      "MATE_ID_MATE",
                      "DEMO_CANTIDAD"
                    ],
                    "type": "object",
                    "properties": {
                      "MOOP_ID_MOOP": {
                        "title": "Modelo OP",
                        "type": "integer",
                        "description": " This is a foreign key to Modelo OP. An id of Modelo OP is expected"
                      },
                      "MATE_ID_MATE": {
                        "title": "Artículo",
                        "type": "integer",
                        "description": " This is a foreign key to Artículo. An id of Artículo is expected"
                      },
                      "DEMO_CANTIDAD": {
                        "title": "Cantidad",
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DETALLE_MODELO_OP/{id}": {
      "get": {
        "tags": [
          "Detalle Modelo OP"
        ],
        "description": "Get a Detalle Modelo OP by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Detalle Modelo OP id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Detalle Modelo OP"
        ],
        "summary": "Update a Detalle Modelo OP by id.",
        "description": "Update a Detalle Modelo OP",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Detalle Modelo OP id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "MOOP_ID_MOOP",
                      "MATE_ID_MATE",
                      "DEMO_CANTIDAD"
                    ],
                    "type": "object",
                    "properties": {
                      "MOOP_ID_MOOP": {
                        "title": "Modelo OP",
                        "type": "integer",
                        "description": " This is a foreign key to Modelo OP. An id of Modelo OP is expected"
                      },
                      "MATE_ID_MATE": {
                        "title": "Artículo",
                        "type": "integer",
                        "description": " This is a foreign key to Artículo. An id of Artículo is expected"
                      },
                      "DEMO_CANTIDAD": {
                        "title": "Cantidad",
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Detalle Modelo OP"
        ],
        "summary": "Delete a Detalle Modelo OP by id.",
        "description": "Delete a Detalle Modelo OP",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Detalle Modelo OP id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/DETALLE_MODELO_OP/search": {
      "get": {
        "tags": [
          "Detalle Modelo OP"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Detalle Modelo OP",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "MOOP_ID_MOOP",
            "in": "query",
            "description": "Modelo OP",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "MATE_ID_MATE",
            "in": "query",
            "description": "Artículo",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "DEMO_CANTIDAD",
            "in": "query",
            "description": "Cantidad",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DETALLE_MODELO_OP/smartie": {
      "get": {
        "tags": [
          "Detalle Modelo OP"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DETALLE_MODELO_OP/changestate": {
      "post": {
        "tags": [
          "Detalle Modelo OP"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Ingresado</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DETALLE_MODELO_OP/file": {
      "get": {
        "tags": [
          "Detalle Modelo OP"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Detalle Modelo OP"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/DETALLE_MODELO_OP/report": {
      "get": {
        "tags": [
          "Detalle Modelo OP"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/MODELO_OP": {
      "post": {
        "tags": [
          "Modelo OP"
        ],
        "summary": "Create a Modelo OP.",
        "description": "Creates a Modelo OP",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "MOOP_NOMBRE"
                    ],
                    "type": "object",
                    "properties": {
                      "MOOP_NOMBRE": {
                        "title": "Nombre",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "MOOP_OBSERVACIONES": {
                        "title": "Observaciónes",
                        "type": "string",
                        "nullable": true
                      },
                      "Detalle": {
                        "title": "Detalle",
                        "type": "array",
                        "items": {
                          "title": "Detalle",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "MATE_ID_MATE": {
                              "title": "Artículo",
                              "type": "integer",
                              "description": " This is a foreign key to Artículo. An id of Artículo is expected"
                            },
                            "DEMO_CANTIDAD": {
                              "title": "Cantidad",
                              "type": "number"
                            }
                          },
                          "description": "Child entity of Detalle"
                        },
                        "description": "Array of child entities of Detalle"
                      },
                      "Sobrantes": {
                        "title": "Sobrantes",
                        "type": "array",
                        "items": {
                          "title": "Sobrantes",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "MATE_ID_MATE": {
                              "title": "Material",
                              "type": "integer",
                              "description": " This is a foreign key to Artículo. An id of Artículo is expected"
                            },
                            "TIUN_ID_TIUN": {
                              "title": "Tipo de unidad",
                              "type": "integer",
                              "description": " This is a foreign key to Tipo de unidad. An id of Tipo de unidad is expected"
                            },
                            "SDMO_CANTIDAD": {
                              "title": "Cantidad",
                              "type": "number"
                            }
                          },
                          "description": "Child entity of Sobrantes"
                        },
                        "description": "Array of child entities of Sobrantes"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/MODELO_OP/{id}": {
      "get": {
        "tags": [
          "Modelo OP"
        ],
        "description": "Get a Modelo OP by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Modelo OP id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Modelo OP"
        ],
        "summary": "Update a Modelo OP by id.",
        "description": "Update a Modelo OP",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Modelo OP id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "MOOP_NOMBRE"
                    ],
                    "type": "object",
                    "properties": {
                      "MOOP_NOMBRE": {
                        "title": "Nombre",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "MOOP_OBSERVACIONES": {
                        "title": "Observaciónes",
                        "type": "string",
                        "nullable": true
                      },
                      "Detalle": {
                        "title": "Detalle",
                        "type": "array",
                        "items": {
                          "title": "Detalle",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "MATE_ID_MATE": {
                              "title": "Artículo",
                              "type": "integer",
                              "description": " This is a foreign key to Artículo. An id of Artículo is expected"
                            },
                            "DEMO_CANTIDAD": {
                              "title": "Cantidad",
                              "type": "number"
                            }
                          },
                          "description": "Child entity of Detalle"
                        },
                        "description": "Array of child entities of Detalle"
                      },
                      "Sobrantes": {
                        "title": "Sobrantes",
                        "type": "array",
                        "items": {
                          "title": "Sobrantes",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "MATE_ID_MATE": {
                              "title": "Material",
                              "type": "integer",
                              "description": " This is a foreign key to Artículo. An id of Artículo is expected"
                            },
                            "TIUN_ID_TIUN": {
                              "title": "Tipo de unidad",
                              "type": "integer",
                              "description": " This is a foreign key to Tipo de unidad. An id of Tipo de unidad is expected"
                            },
                            "SDMO_CANTIDAD": {
                              "title": "Cantidad",
                              "type": "number"
                            }
                          },
                          "description": "Child entity of Sobrantes"
                        },
                        "description": "Array of child entities of Sobrantes"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Modelo OP"
        ],
        "summary": "Delete a Modelo OP by id.",
        "description": "Delete a Modelo OP",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Modelo OP id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/MODELO_OP/search": {
      "get": {
        "tags": [
          "Modelo OP"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Modelo OP",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "MOOP_NOMBRE",
            "in": "query",
            "description": "Nombre",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/MODELO_OP/smartie": {
      "get": {
        "tags": [
          "Modelo OP"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/MODELO_OP/changestate": {
      "post": {
        "tags": [
          "Modelo OP"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Ingresado</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/MODELO_OP/file": {
      "get": {
        "tags": [
          "Modelo OP"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Modelo OP"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/MODELO_OP/report": {
      "get": {
        "tags": [
          "Modelo OP"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "enum": [
                "REPORTE_DE_COBRA_PROVEEDOR"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/OPERACION_DE_OPROD": {
      "post": {
        "tags": [
          "Operación de O.Prod"
        ],
        "summary": "Create a Operación de O.Prod.",
        "description": "Creates a Operación de O.Prod",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "ORDP_ID_ORDP"
                    ],
                    "type": "object",
                    "properties": {
                      "ORDP_ID_ORDP": {
                        "title": "Orden de producción",
                        "type": "integer",
                        "description": " This is a foreign key to Orden de producción. An id of Orden de producción is expected"
                      },
                      "OPER_ID_OPER": {
                        "title": "Operación",
                        "type": "integer",
                        "description": " This is a foreign key to Operación. An id of Operación is expected",
                        "nullable": true
                      },
                      "OPDO_CANTIDAD": {
                        "title": "Cantidad",
                        "type": "integer",
                        "nullable": true
                      },
                      "PUDP_ID_PUDP": {
                        "title": "Punto de producción",
                        "type": "integer",
                        "description": " This is a foreign key to Punto de producción. An id of Punto de producción is expected",
                        "nullable": true
                      },
                      "OPDO_ENTREGA_ESTIMADA": {
                        "title": "Entrega estimada",
                        "type": "string",
                        "nullable": true
                      },
                      "OPDO_TIEMPO": {
                        "title": "Tiempo",
                        "type": "string",
                        "nullable": true
                      },
                      "OPDO_COSTO_HORA": {
                        "title": "Costo hora",
                        "type": "number",
                        "nullable": true
                      },
                      "OPDO_INGRESOS": {
                        "title": "Ingresos",
                        "type": "integer",
                        "description": " This attribute is mandatory when the instance is at state 'En Curso'",
                        "default": "0",
                        "nullable": true
                      },
                      "OPDO_EGRESOS": {
                        "title": "Egresos",
                        "type": "integer",
                        "description": " This attribute is mandatory when the instance is at state 'Completada'",
                        "default": "0",
                        "nullable": true
                      },
                      "OPDO_DEVOLUCION": {
                        "title": "Devolución",
                        "type": "integer",
                        "description": " This attribute is mandatory when the instance is at state 'Devolviendo fallas'",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/OPERACION_DE_OPROD/{id}": {
      "get": {
        "tags": [
          "Operación de O.Prod"
        ],
        "description": "Get a Operación de O.Prod by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Operación de O.Prod id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Operación de O.Prod"
        ],
        "summary": "Update a Operación de O.Prod by id.",
        "description": "Update a Operación de O.Prod",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Operación de O.Prod id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "ORDP_ID_ORDP"
                    ],
                    "type": "object",
                    "properties": {
                      "ORDP_ID_ORDP": {
                        "title": "Orden de producción",
                        "type": "integer",
                        "description": " This is a foreign key to Orden de producción. An id of Orden de producción is expected"
                      },
                      "OPER_ID_OPER": {
                        "title": "Operación",
                        "type": "integer",
                        "description": " This is a foreign key to Operación. An id of Operación is expected",
                        "nullable": true
                      },
                      "OPDO_CANTIDAD": {
                        "title": "Cantidad",
                        "type": "integer",
                        "nullable": true
                      },
                      "PUDP_ID_PUDP": {
                        "title": "Punto de producción",
                        "type": "integer",
                        "description": " This is a foreign key to Punto de producción. An id of Punto de producción is expected",
                        "nullable": true
                      },
                      "OPDO_ENTREGA_ESTIMADA": {
                        "title": "Entrega estimada",
                        "type": "string",
                        "nullable": true
                      },
                      "OPDO_TIEMPO": {
                        "title": "Tiempo",
                        "type": "string",
                        "nullable": true
                      },
                      "OPDO_COSTO_HORA": {
                        "title": "Costo hora",
                        "type": "number",
                        "nullable": true
                      },
                      "OPDO_INGRESOS": {
                        "title": "Ingresos",
                        "type": "integer",
                        "description": " This attribute is mandatory when the instance is at state 'En Curso'",
                        "default": "0",
                        "nullable": true
                      },
                      "OPDO_EGRESOS": {
                        "title": "Egresos",
                        "type": "integer",
                        "description": " This attribute is mandatory when the instance is at state 'Completada'",
                        "default": "0",
                        "nullable": true
                      },
                      "OPDO_DEVOLUCION": {
                        "title": "Devolución",
                        "type": "integer",
                        "description": " This attribute is mandatory when the instance is at state 'Devolviendo fallas'",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Operación de O.Prod"
        ],
        "summary": "Delete a Operación de O.Prod by id.",
        "description": "Delete a Operación de O.Prod",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Operación de O.Prod id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/OPERACION_DE_OPROD/search": {
      "get": {
        "tags": [
          "Operación de O.Prod"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Operación de O.Prod",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ORDP_ID_ORDP",
            "in": "query",
            "description": "Orden de producción",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/OPERACION_DE_OPROD/smartie": {
      "get": {
        "tags": [
          "Operación de O.Prod"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/OPERACION_DE_OPROD/changestate": {
      "post": {
        "tags": [
          "Operación de O.Prod"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Completada</li>\n<li>Devolviendo fallas</li>\n<li>En Curso</li>\n<li>Pendiente</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/OPERACION_DE_OPROD/file": {
      "get": {
        "tags": [
          "Operación de O.Prod"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Operación de O.Prod"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/OPERACION_DE_OPROD/report": {
      "get": {
        "tags": [
          "Operación de O.Prod"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ORDEN_DE_PRODUCCION": {
      "post": {
        "tags": [
          "Orden de producción"
        ],
        "summary": "Create a Orden de producción.",
        "description": "Creates a Orden de producción",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "EXTE_ID_EXTE"
                    ],
                    "type": "object",
                    "properties": {
                      "ORDP_RESPONSABLE": {
                        "title": "Responsable",
                        "type": "integer",
                        "nullable": true
                      },
[...]
