{
  "openapi": "3.0.4",
  "info": {
    "title": "erpdemo.schema Stock",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yiqi.com.ar/api/public"
    }
  ],
  "paths": {
    "/ALTA_DE_PRODUCCION": {
      "post": {
        "tags": [
          "Alta de producción"
        ],
        "summary": "Create a Alta de producción.",
        "description": "Creates a Alta de producción",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "GRMA_ID_GRMA",
                      "MATE_ID_MATE",
                      "ALDP_CANTIDAD"
                    ],
                    "type": "object",
                    "properties": {
                      "GRMA_ID_GRMA": {
                        "title": "Grupo de Artículo",
                        "type": "integer",
                        "description": " This is a foreign key to Grupo de Artículo. An id of Grupo de Artículo is expected"
                      },
                      "MATE_ID_MATE": {
                        "title": "Artículo",
                        "type": "integer",
                        "description": "Correlativo al Grupo de Artículo\n This is a foreign key to Artículo. An id of Artículo is expected"
                      },
                      "ALDP_CANTIDAD": {
                        "title": "Cantidad",
                        "type": "integer"
                      },
                      "ALDP_OBSERVACIONES": {
                        "title": "Observaciones",
                        "type": "string",
                        "nullable": true
                      },
                      "ALDP_IMAGEN": {
                        "title": "Imagen",
                        "type": "integer",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ALTA_DE_PRODUCCION/{id}": {
      "get": {
        "tags": [
          "Alta de producción"
        ],
        "description": "Get a Alta de producción by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Alta de producción id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Alta de producción"
        ],
        "summary": "Update a Alta de producción by id.",
        "description": "Update a Alta de producción",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Alta de producción id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "GRMA_ID_GRMA",
                      "MATE_ID_MATE",
                      "ALDP_CANTIDAD"
                    ],
                    "type": "object",
                    "properties": {
                      "GRMA_ID_GRMA": {
                        "title": "Grupo de Artículo",
                        "type": "integer",
                        "description": " This is a foreign key to Grupo de Artículo. An id of Grupo de Artículo is expected"
                      },
                      "MATE_ID_MATE": {
                        "title": "Artículo",
                        "type": "integer",
                        "description": "Correlativo al Grupo de Artículo\n This is a foreign key to Artículo. An id of Artículo is expected"
                      },
                      "ALDP_CANTIDAD": {
                        "title": "Cantidad",
                        "type": "integer"
                      },
                      "ALDP_OBSERVACIONES": {
                        "title": "Observaciones",
                        "type": "string",
                        "nullable": true
                      },
                      "ALDP_IMAGEN": {
                        "title": "Imagen",
                        "type": "integer",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Alta de producción"
        ],
        "summary": "Delete a Alta de producción by id.",
        "description": "Delete a Alta de producción",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Alta de producción id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/ALTA_DE_PRODUCCION/search": {
      "get": {
        "tags": [
          "Alta de producción"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Alta de producción",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "GRMA_ID_GRMA",
            "in": "query",
            "description": "Grupo de Artículo",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "MATE_ID_MATE",
            "in": "query",
            "description": "Artículo",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ALDP_CANTIDAD",
            "in": "query",
            "description": "Cantidad",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ALTA_DE_PRODUCCION/smartie": {
      "get": {
        "tags": [
          "Alta de producción"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ALTA_DE_PRODUCCION/changestate": {
      "post": {
        "tags": [
          "Alta de producción"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Registrado</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ALTA_DE_PRODUCCION/file": {
      "get": {
        "tags": [
          "Alta de producción"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "enum": [
                "IMAGEN"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Alta de producción"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "enum": [
                "IMAGEN"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ALTA_DE_PRODUCCION/report": {
      "get": {
        "tags": [
          "Alta de producción"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ARTICULO_BASE": {
      "post": {
        "tags": [
          "Artículo Base"
        ],
        "summary": "Create a Artículo Base.",
        "description": "Creates a Artículo Base",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "ARBA_CODIGO",
                      "ARBA_NOMBRE"
                    ],
                    "type": "object",
                    "properties": {
                      "ARBA_CODIGO": {
                        "title": "Código",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "ARBA_NOMBRE": {
                        "title": "Nombre",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "ARBA_DESCRIPCION": {
                        "title": "Descripción",
                        "maxLength": 80000,
                        "type": "string",
                        "nullable": true
                      },
                      "GRMA_ID_GRMA": {
                        "title": "Grupo",
                        "type": "integer",
                        "description": " This is a foreign key to Grupo de Artículo. An id of Grupo de Artículo is expected",
                        "nullable": true
                      },
                      "SUMA_ID_SUMA": {
                        "title": "Subgrupo",
                        "type": "integer",
                        "description": " This is a foreign key to Primer Subgrupo de Artículo. An id of Primer Subgrupo de Artículo is expected",
                        "nullable": true
                      },
                      "ARBA_FOTO_1": {
                        "title": "Foto 1",
                        "type": "integer",
                        "nullable": true
                      },
                      "ARBA_FOTO_2": {
                        "title": "Foto 2",
                        "type": "integer",
                        "nullable": true
                      },
                      "ARBA_FOTO_3": {
                        "title": "Foto 3",
                        "type": "integer",
                        "nullable": true
                      },
                      "ARBA_FOTO_4": {
                        "title": "Foto 4",
                        "type": "integer",
                        "nullable": true
                      },
                      "ARBA_FOTO_5": {
                        "title": "Foto 5",
                        "type": "integer",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Proveedor",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "MARC_ID_MARC": {
                        "title": "Marca",
                        "type": "integer",
                        "description": " This is a foreign key to Marca. An id of Marca is expected",
                        "nullable": true
                      },
                      "ARBA_CODIGO_PROVEEDOR": {
                        "title": "Código proveedor",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ARBA_PRECIO_VENTA_PUBLICO": {
                        "title": "Lista Clásica",
                        "type": "number",
                        "description": " This attribute is mandatory when the instance is at state 'Actualizar precio Lista 1'",
                        "nullable": true
                      },
                      "ARBA_PRECIO_VENTA_WEB": {
                        "title": "Lista Mayorista",
                        "type": "number",
                        "description": " This attribute is mandatory when the instance is at state 'Actualizar precio Lista 2'",
                        "nullable": true
                      },
                      "CDAB_ID_CDAB": {
                        "title": "Categoría de artículo base",
                        "type": "integer",
                        "description": " This is a foreign key to Categoría de Artículo Base. An id of Categoría de Artículo Base is expected",
                        "nullable": true
                      },
                      "ARBA_FOTO_EXTERNA_1": {
                        "title": "URL Foto Externa 1",
                        "type": "string",
                        "nullable": true
                      },
                      "ARBA_FOTO_EXTERNA_2": {
                        "title": "URL Foto Externa 2",
                        "type": "string",
                        "nullable": true
                      },
                      "ARBA_TITULO_PUBLICACION": {
                        "title": "Título publicación",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ARBA_CRM_NETO_ORIGINAL": {
                        "title": "CRM Neto original",
                        "type": "number",
                        "nullable": true
                      },
                      "COLE_ID_COLE": {
                        "title": "Colección",
                        "type": "integer",
                        "description": " This is a foreign key to Colección. An id of Colección is expected",
                        "nullable": true
                      },
                      "ARBA_INFO_ERROR": {
                        "title": "INFO_ERROR",
                        "type": "string",
                        "nullable": true
                      },
                      "Articulos": {
                        "title": "Articulos",
                        "type": "array",
                        "items": {
                          "title": "Articulos",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "MATE_CODIGO": {
                              "title": "SKU",
                              "maxLength": 100,
                              "type": "string",
                              "description": " This attribute is mandatory when the instance is at state 'Creando concepto facturación'"
                            },
                            "MATE_NOMBRE": {
                              "title": "Nombre",
                              "maxLength": 100,
                              "type": "string"
                            },
                            "CLIE_ID_CLIE": {
                              "title": "Proveedor",
                              "type": "integer",
                              "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                              "nullable": true
                            },
                            "MATE_DESCRIPCION": {
                              "title": "Descripción",
                              "type": "string",
                              "nullable": true
                            },
                            "TIMA_ID_TIMA": {
                              "title": "Tipo de Artículo",
                              "type": "integer",
                              "description": "Los tipos posibles son 'No Identificado', 'Identificado' o 'Loteado'\n This is a foreign key to Tipo de Artículo. An id of Tipo de Artículo is expected",
                              "default": "PARAM.TIMA_ID_TIMA"
                            },
                            "ALIV_ID_ALIV": {
                              "title": "Alícuota IVA",
                              "type": "integer",
                              "description": "Al importarlo desde Excel, debe colocarse antes un apóstrofe para que Excel no lo convierta a número.\nEjemplo: '21%\n This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected",
                              "nullable": true
                            },
                            "MATE_IMPUESTO_INTERNO": {
                              "title": "Impuesto interno",
                              "type": "number",
                              "description": "Impuesto interno en %",
                              "nullable": true
                            },
                            "MATE_IMP_INT_COMPRA": {
                              "title": "Impuesto Interno de Compras",
                              "type": "number",
                              "description": "Impuesto interno de compras en %",
                              "nullable": true
                            },
                            "TIUN_ID_TIUN": {
                              "title": "Tipo de unidad",
                              "type": "integer",
                              "description": " This is a foreign key to Tipo de unidad. An id of Tipo de unidad is expected",
                              "default": "PARAM.TIUN_ID_TIUN",
                              "nullable": true
                            },
                            "GRMA_ID_GRMA": {
                              "title": "Grupo",
                              "type": "integer",
                              "description": " This is a foreign key to Grupo de Artículo. An id of Grupo de Artículo is expected",
                              "nullable": true
                            },
                            "SUMA_ID_SUMA": {
                              "title": "Primer Subgrupo",
                              "type": "integer",
                              "description": " This is a foreign key to Primer Subgrupo de Artículo. An id of Primer Subgrupo de Artículo is expected",
                              "nullable": true
                            },
                            "SSDA_ID_SSDA": {
                              "title": "Segundo Subgrupo",
                              "type": "integer",
                              "description": " This is a foreign key to Segundo Subgrupo de Artículo. An id of Segundo Subgrupo de Artículo is expected",
                              "nullable": true
                            },
                            "COFA_ID_COFA": {
                              "title": "Concepto de facturación",
                              "type": "integer",
                              "description": "Es el concepto de facturación creado para el artículo.-\n This is a foreign key to Concepto facturación. An id of Concepto facturación is expected",
                              "nullable": true
                            },
                            "TALL_ID_TALL": {
                              "title": "Talle",
                              "type": "integer",
                              "description": " This is a foreign key to Talle. An id of Talle is expected",
                              "nullable": true
                            },
                            "VARI_ID_VARI": {
                              "title": "Variante",
                              "type": "integer",
                              "description": " This is a foreign key to Variante. An id of Variante is expected",
                              "nullable": true
                            },
                            "MARC_ID_MARC": {
                              "title": "Marca",
                              "type": "integer",
                              "description": " This is a foreign key to Marca. An id of Marca is expected",
                              "nullable": true
                            },
                            "COLE_ID_COLE": {
                              "title": "Colección",
                              "type": "integer",
                              "description": " This is a foreign key to Colección. An id of Colección is expected",
                              "nullable": true
                            },
                            "MATE_ETIQUETA_GENERADA": {
                              "title": "Etiqueta generada",
                              "type": "integer",
                              "nullable": true
                            },
                            "VARI_ID_VAR2": {
                              "title": "Variante 2",
                              "type": "integer",
                              "description": " This is a foreign key to Variante. An id of Variante is expected",
                              "nullable": true
                            },
                            "MATE_CODIGO_EN_EL_PROVEED": {
                              "title": "Código en el Proveedor",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "MATE_COD_PROV_2": {
                              "title": "Código Proveedor II",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "MATE_ID_UNIVERSAL": {
                              "title": "Identificador Universal",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CODC_ID_CODC": {
                              "title": "Concepto de compras",
                              "type": "integer",
                              "description": " This is a foreign key to Concepto de Compras. An id of Concepto de Compras is expected",
                              "nullable": true
                            },
                            "MATE_FOTO_EXTERNA_1": {
                              "title": "Foto externa 1",
                              "type": "string",
                              "nullable": true
                            },
                            "MATE_FOTO_EXTERNA_2": {
                              "title": "Foto externa 2",
                              "type": "string",
                              "nullable": true
                            },
                            "MATE_FOTO_1": {
                              "title": "Foto 1",
                              "type": "integer",
                              "nullable": true
                            },
                            "MATE_FOTO_2": {
                              "title": "Foto 2",
                              "type": "integer",
                              "nullable": true
                            },
                            "MATE_FOTO_3": {
                              "title": "Foto 3",
                              "type": "integer",
                              "nullable": true
                            },
                            "MATE_FOTO_4": {
                              "title": "Foto 4",
                              "type": "integer",
                              "nullable": true
                            },
                            "MATE_FOTO_5": {
                              "title": "Foto 5",
                              "type": "integer",
                              "nullable": true
                            },
                            "MATE_ES_GENERICO": {
                              "title": "Es genérico",
                              "type": "boolean",
                              "nullable": true
                            },
                            "MATE_NO_SE_INCLUYE_EN_F7": {
                              "title": "No se incluye en F7",
                              "type": "boolean",
                              "nullable": true
                            },
                            "CUCO_ID_MERC": {
                              "title": "Cta Mercaderías",
                              "type": "integer",
                              "description": "Esto sólo es necesario si se desea crear un asiento al despachar un remito. Para eso debe completarse esta cuenta y la de CMV en parámetros\n This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                              "nullable": true
                            },
                            "CUCO_ID_CCMV": {
                              "title": "Cta CMV",
                              "type": "integer",
                              "description": "De completarse, el asiento generado al despachar el remito de Venta, irá contra esta cuenta de Costo de mercadería vendida\n This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                              "nullable": true
                            },
                            "CUCO_ID_VENT": {
                              "title": "Cta Ventas",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                              "nullable": true
                            },
                            "MATE_TEXTO_ADICIONAL": {
                              "title": "Texto adicional",
                              "type": "string",
                              "nullable": true
                            },
                            "MATE_MINIMO_DIAS_A_VTO": {
                              "title": "Mínimo días a VTO",
                              "type": "integer",
                              "nullable": true
                            },
                            "MATE_PRODUCIR_CANT_ENTERA": {
                              "title": "Producir cant. enteras",
                              "type": "boolean",
                              "description": "Si se marca este atributo, en las órdenes de producción se descontarán cantidades enteras (el entero inmediato superior)\nEjemplo: Si se requieren 1.7 unidades, se descontarán 2.",
                              "nullable": true
                            },
                            "MATE_STOCK_MINIMO_NEW": {
                              "title": "Nuevo mínimo stock publicado",
                              "type": "integer",
                              "description": " This attribute is mandatory when the instance is at state 'Cambiando stock mínimo'",
                              "nullable": true
                            },
                            "MATE_STOCK_MAXIMO_NEW": {
                              "title": "Nuevo máximo stock publicado",
                              "type": "integer",
                              "description": " This attribute is mandatory when the instance is at state 'Cambiando stock máximo'",
                              "nullable": true
                            },
                            "PROY_ID_PROY": {
                              "title": "Centro de costos",
                              "type": "integer",
                              "description": " This is a foreign key to Centro de costos. An id of Centro de costos is expected",
                              "nullable": true
                            },
                            "MATE_SIN_REPOSICION": {
                              "title": "Sin reposición",
                              "type": "boolean",
                              "description": "Si se marca, no se tendrá en cuenta en el generador de Remito Interno.",
                              "nullable": true
                            },
                            "LLPO_ID_LLPO": {
                              "title": "Llamado de posición",
                              "type": "integer",
                              "description": "Este apartado será concatenado a la Ubicación de Stock en el PDF de PickingList.\n This is a foreign key to Llamada posición. An id of Llamada posición is expected",
                              "nullable": true
                            },
                            "MATE_STOCK_SEGURIDAD": {
                              "title": "Stock Seguridad",
                              "type": "integer",
                              "description": "Cantidad de artículos mínimo a tener de reserva en el stock",
                              "nullable": true
                            },
                            "MATE_USO_MENSUAL": {
                              "title": "Uso mensual",
                              "type": "integer",
                              "description": "Valor ingresado a por el usuario en caso de no considerar el \"Uso mensual promedio\" calculado.",
                              "nullable": true
                            },
                            "MATE_TOLERANCIA": {
                              "title": "Tolerancia (%)",
                              "type": "number",
                              "description": "Margen sobre el punto de pedido",
                              "nullable": true
                            },
                            "MATE_LEAD_TIME": {
                              "title": "Tiempo de reposición (días)",
                              "type": "integer",
                              "description": "Tiempo que transcurre entre que se realiza el pedido al proveedor (o se genera la orden de producción) y obtengo el artículo listo para la venta.",
                              "nullable": true
                            },
                            "MATE_LEAD_TIME_MAXIMO": {
                              "title": "Lead Time Máximo (días)",
                              "type": "integer",
                              "nullable": true
                            },
                            "MATE_NOTAS_SOBRE_PUNTO_DE": {
                              "title": "Notas sobre punto de pedido",
                              "type": "string",
                              "nullable": true
                            },
                            "MATE_PESO": {
                              "title": "Peso (Kg)",
                              "type": "number",
                              "nullable": true
                            },
                            "MATE_LARGO": {
                              "title": "Largo (cm)",
                              "type": "number",
                              "nullable": true
                            },
                            "MATE_ANCHO": {
                              "title": "Ancho (cm)",
                              "type": "number",
                              "nullable": true
                            },
                            "MATE_ALTO": {
                              "title": "Alto (cm)",
                              "type": "number",
                              "nullable": true
                            },
                            "MATE_ID_UNIT": {
                              "title": "Artículo Unitario",
                              "type": "integer",
                              "description": "Este atributo se utiliza en conjunción con # Unidades para definir que el artículo es en realidad un PACK o CAJA de otro artículo.\n\n This is a foreign key to Artículo. An id of Artículo is expected",
                              "nullable": true
                            },
                            "MATE_CANTIDAD_DE_UNIDADES": {
                              "title": "# Unidades",
                              "type": "number",
                              "description": "Este atributo se utiliza en conjunción con Artículo Unitario para definir que el artículo es en realidad un PACK o CAJA de otro artículo.\n",
                              "nullable": true
                            },
                            "MATE_MARGEN": {
                              "title": "Margen",
                              "type": "number",
                              "description": "Margen porcentual de ganancia sobre el costo de compra. Valor entre 0 y 100.\nCampo viejo. Usar Políticas de Precio.",
                              "nullable": true
                            },
                            "PODP_ID_PODP": {
                              "title": "Política de precio",
                              "type": "integer",
                              "description": "La política de precios sirve para particionar a los artículos en categorías con diferentes márgenes. Se utiliza en las listas de precios de venta para especificar el margen que corresponde a cada política en función del precio de compra\n This is a foreign key to Política de Precios. An id of Política de Precios is expected",
                              "nullable": true
                            },
                            "MATE_COSTO_ADICIONAL_POR": {
                              "title": "Costo adicional (%)",
                              "type": "number",
                              "description": "Al completarse este atributo, cuando se ingrese una Factura o Cotización Comercial con este artículo, se descontará conformé el porcentaje sobre el Neto.",
                              "nullable": true
                            },
                            "MATE_NO_ACTUALIZAR_PRECIO": {
                              "title": "Deshabilitar actualización auto. de precios",
                              "type": "boolean",
                              "description": "Si se marca, cuando se actualicen los precios no se tendrá en cuenta este artículo.",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Articulos"
                        },
                        "description": "Array of child entities of Articulos"
                      },
                      "Talles": {
                        "title": "Talles",
                        "type": "array",
                        "items": {
                          "title": "Talles",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "TALL_ID_TALL": {
                              "title": "Talle",
                              "type": "integer",
                              "description": " This is a foreign key to Talle. An id of Talle is expected"
                            }
                          },
                          "description": "Child entity of Talles"
                        },
                        "description": "Array of child entities of Talles"
                      },
                      "Variantes": {
                        "title": "Variantes",
                        "type": "array",
                        "items": {
                          "title": "Variantes",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "VARI_ID_VARI": {
                              "title": "Variante",
                              "type": "integer",
                              "description": " This is a foreign key to Variante. An id of Variante is expected"
                            }
                          },
                          "description": "Child entity of Variantes"
                        },
                        "description": "Array of child entities of Variantes"
                      },
                      "Atributos": {
                        "title": "Atributos",
                        "type": "array",
                        "items": {
                          "title": "Atributos",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "ATAB_ATRIBUTO": {
                              "title": "Atributo",
                              "maxLength": 100,
                              "type": "string"
                            },
                            "ATAB_VALOR": {
                              "title": "Valor",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Atributos"
                        },
                        "description": "Array of child entities of Atributos"
                      },
                      "Imágenes": {
                        "title": "Imágenes",
                        "type": "array",
                        "items": {
                          "title": "Imágenes",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "IDAB_URL": {
                              "title": "URL",
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Imágenes"
                        },
                        "description": "Array of child entities of Imágenes"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ARTICULO_BASE/{id}": {
      "get": {
        "tags": [
          "Artículo Base"
        ],
        "description": "Get a Artículo Base by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artículo Base id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Artículo Base"
        ],
        "summary": "Update a Artículo Base by id.",
        "description": "Update a Artículo Base",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artículo Base id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "ARBA_CODIGO",
                      "ARBA_NOMBRE"
                    ],
                    "type": "object",
                    "properties": {
                      "ARBA_CODIGO": {
                        "title": "Código",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "ARBA_NOMBRE": {
                        "title": "Nombre",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "ARBA_DESCRIPCION": {
                        "title": "Descripción",
                        "maxLength": 80000,
                        "type": "string",
                        "nullable": true
                      },
                      "GRMA_ID_GRMA": {
                        "title": "Grupo",
                        "type": "integer",
                        "description": " This is a foreign key to Grupo de Artículo. An id of Grupo de Artículo is expected",
                        "nullable": true
                      },
                      "SUMA_ID_SUMA": {
                        "title": "Subgrupo",
                        "type": "integer",
                        "description": " This is a foreign key to Primer Subgrupo de Artículo. An id of Primer Subgrupo de Artículo is expected",
                        "nullable": true
                      },
                      "ARBA_FOTO_1": {
                        "title": "Foto 1",
                        "type": "integer",
                        "nullable": true
                      },
                      "ARBA_FOTO_2": {
                        "title": "Foto 2",
                        "type": "integer",
                        "nullable": true
                      },
                      "ARBA_FOTO_3": {
                        "title": "Foto 3",
                        "type": "integer",
                        "nullable": true
                      },
                      "ARBA_FOTO_4": {
                        "title": "Foto 4",
                        "type": "integer",
                        "nullable": true
                      },
                      "ARBA_FOTO_5": {
                        "title": "Foto 5",
                        "type": "integer",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Proveedor",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "MARC_ID_MARC": {
                        "title": "Marca",
                        "type": "integer",
                        "description": " This is a foreign key to Marca. An id of Marca is expected",
                        "nullable": true
                      },
                      "ARBA_CODIGO_PROVEEDOR": {
                        "title": "Código proveedor",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ARBA_PRECIO_VENTA_PUBLICO": {
                        "title": "Lista Clásica",
                        "type": "number",
                        "description": " This attribute is mandatory when the instance is at state 'Actualizar precio Lista 1'",
                        "nullable": true
                      },
                      "ARBA_PRECIO_VENTA_WEB": {
                        "title": "Lista Mayorista",
                        "type": "number",
                        "description": " This attribute is mandatory when the instance is at state 'Actualizar precio Lista 2'",
                        "nullable": true
                      },
                      "CDAB_ID_CDAB": {
                        "title": "Categoría de artículo base",
                        "type": "integer",
                        "description": " This is a foreign key to Categoría de Artículo Base. An id of Categoría de Artículo Base is expected",
                        "nullable": true
                      },
                      "ARBA_FOTO_EXTERNA_1": {
                        "title": "URL Foto Externa 1",
                        "type": "string",
                        "nullable": true
                      },
                      "ARBA_FOTO_EXTERNA_2": {
                        "title": "URL Foto Externa 2",
                        "type": "string",
                        "nullable": true
                      },
                      "ARBA_TITULO_PUBLICACION": {
                        "title": "Título publicación",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ARBA_CRM_NETO_ORIGINAL": {
                        "title": "CRM Neto original",
                        "type": "number",
                        "nullable": true
                      },
                      "COLE_ID_COLE": {
                        "title": "Colección",
                        "type": "integer",
                        "description": " This is a foreign key to Colección. An id of Colección is expected",
                        "nullable": true
                      },
                      "ARBA_INFO_ERROR": {
                        "title": "INFO_ERROR",
                        "type": "string",
                        "nullable": true
                      },
                      "Articulos": {
                        "title": "Articulos",
                        "type": "array",
                        "items": {
                          "title": "Articulos",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "MATE_CODIGO": {
                              "title": "SKU",
                              "maxLength": 100,
                              "type": "string",
                              "description": " This attribute is mandatory when the instance is at state 'Creando concepto facturación'"
                            },
                            "MATE_NOMBRE": {
                              "title": "Nombre",
                              "maxLength": 100,
                              "type": "string"
                            },
                            "CLIE_ID_CLIE": {
                              "title": "Proveedor",
                              "type": "integer",
                              "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                              "nullable": true
                            },
                            "MATE_DESCRIPCION": {
                              "title": "Descripción",
                              "type": "string",
                              "nullable": true
                            },
                            "TIMA_ID_TIMA": {
                              "title": "Tipo de Artículo",
                              "type": "integer",
                              "description": "Los tipos posibles son 'No Identificado', 'Identificado' o 'Loteado'\n This is a foreign key to Tipo de Artículo. An id of Tipo de Artículo is expected",
                              "default": "PARAM.TIMA_ID_TIMA"
                            },
                            "ALIV_ID_ALIV": {
                              "title": "Alícuota IVA",
                              "type": "integer",
                              "description": "Al importarlo desde Excel, debe colocarse antes un apóstrofe para que Excel no lo convierta a número.\nEjemplo: '21%\n This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected",
                              "nullable": true
                            },
                            "MATE_IMPUESTO_INTERNO": {
                              "title": "Impuesto interno",
                              "type": "number",
                              "description": "Impuesto interno en %",
                              "nullable": true
                            },
                            "MATE_IMP_INT_COMPRA": {
                              "title": "Impuesto Interno de Compras",
                              "type": "number",
                              "description": "Impuesto interno de compras en %",
                              "nullable": true
                            },
                            "TIUN_ID_TIUN": {
                              "title": "Tipo de unidad",
                              "type": "integer",
                              "description": " This is a foreign key to Tipo de unidad. An id of Tipo de unidad is expected",
                              "default": "PARAM.TIUN_ID_TIUN",
                              "nullable": true
                            },
                            "GRMA_ID_GRMA": {
                              "title": "Grupo",
                              "type": "integer",
                              "description": " This is a foreign key to Grupo de Artículo. An id of Grupo de Artículo is expected",
                              "nullable": true
                            },
                            "SUMA_ID_SUMA": {
                              "title": "Primer Subgrupo",
                              "type": "integer",
                              "description": " This is a foreign key to Primer Subgrupo de Artículo. An id of Primer Subgrupo de Artículo is expected",
                              "nullable": true
                            },
                            "SSDA_ID_SSDA": {
                              "title": "Segundo Subgrupo",
                              "type": "integer",
                              "description": " This is a foreign key to Segundo Subgrupo de Artículo. An id of Segundo Subgrupo de Artículo is expected",
                              "nullable": true
                            },
                            "COFA_ID_COFA": {
                              "title": "Concepto de facturación",
                              "type": "integer",
                              "description": "Es el concepto de facturación creado para el artículo.-\n This is a foreign key to Concepto facturación. An id of Concepto facturación is expected",
                              "nullable": true
                            },
                            "TALL_ID_TALL": {
                              "title": "Talle",
                              "type": "integer",
                              "description": " This is a foreign key to Talle. An id of Talle is expected",
                              "nullable": true
                            },
                            "VARI_ID_VARI": {
                              "title": "Variante",
                              "type": "integer",
                              "description": " This is a foreign key to Variante. An id of Variante is expected",
                              "nullable": true
                            },
                            "MARC_ID_MARC": {
                              "title": "Marca",
                              "type": "integer",
                              "description": " This is a foreign key to Marca. An id of Marca is expected",
                              "nullable": true
                            },
                            "COLE_ID_COLE": {
                              "title": "Colección",
                              "type": "integer",
                              "description": " This is a foreign key to Colección. An id of Colección is expected",
                              "nullable": true
                            },
                            "MATE_ETIQUETA_GENERADA": {
                              "title": "Etiqueta generada",
                              "type": "integer",
                              "nullable": true
                            },
                            "VARI_ID_VAR2": {
                              "title": "Variante 2",
                              "type": "integer",
                              "description": " This is a foreign key to Variante. An id of Variante is expected",
                              "nullable": true
                            },
                            "MATE_CODIGO_EN_EL_PROVEED": {
                              "title": "Código en el Proveedor",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "MATE_COD_PROV_2": {
                              "title": "Código Proveedor II",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "MATE_ID_UNIVERSAL": {
                              "title": "Identificador Universal",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CODC_ID_CODC": {
                              "title": "Concepto de compras",
                              "type": "integer",
                              "description": " This is a foreign key to Concepto de Compras. An id of Concepto de Compras is expected",
                              "nullable": true
                            },
                            "MATE_FOTO_EXTERNA_1": {
                              "title": "Foto externa 1",
                              "type": "string",
                              "nullable": true
                            },
                            "MATE_FOTO_EXTERNA_2": {
                              "title": "Foto externa 2",
                              "type": "string",
                              "nullable": true
                            },
                            "MATE_FOTO_1": {
                              "title": "Foto 1",
                              "type": "integer",
                              "nullable": true
                            },
                            "MATE_FOTO_2": {
                              "title": "Foto 2",
                              "type": "integer",
                              "nullable": true
                            },
                            "MATE_FOTO_3": {
                              "title": "Foto 3",
                              "type": "integer",
                              "nullable": true
                            },
                            "MATE_FOTO_4": {
                              "title": "Foto 4",
                              "type": "integer",
                              "nullable": true
                            },
                            "MATE_FOTO_5": {
                              "title": "Foto 5",
                              "type": "integer",
                              "nullable": true
                            },
                            "MATE_ES_GENERICO": {
                              "title": "Es genérico",
                              "type": "boolean",
                              "nullable": true
                            },
                            "MATE_NO_SE_INCLUYE_EN_F7": {
                              "title": "No se incluye en F7",
                              "type": "boolean",
                              "nullable": true
                            },
                            "CUCO_ID_MERC": {
                              "title": "Cta Mercaderías",
                              "type": "integer",
                              "description": "Esto sólo es necesario si se desea crear un asiento al despachar un remito. Para eso debe completarse esta cuenta y la de CMV en parámetros\n This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                              "nullable": true
                            },
                            "CUCO_ID_CCMV": {
                              "title": "Cta CMV",
                              "type": "integer",
                              "description": "De completarse, el asiento generado al despachar el remito de Venta, irá contra esta cuenta de Costo de mercadería vendida\n This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                              "nullable": true
                            },
                            "CUCO_ID_VENT": {
                              "title": "Cta Ventas",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                              "nullable": true
                            },
                            "MATE_TEXTO_ADICIONAL": {
                              "title": "Texto adicional",
                              "type": "string",
                              "nullable": true
                            },
                            "MATE_MINIMO_DIAS_A_VTO": {
                              "title": "Mínimo días a VTO",
                              "type": "integer",
                              "nullable": true
                            },
                            "MATE_PRODUCIR_CANT_ENTERA": {
                              "title": "Producir cant. enteras",
                              "type": "boolean",
                              "description": "Si se marca este atributo, en las órdenes de producción se descontarán cantidades enteras (el entero inmediato superior)\nEjemplo: Si se requieren 1.7 unidades, se descontarán 2.",
                              "nullable": true
                            },
                            "MATE_STOCK_MINIMO_NEW": {
                              "title": "Nuevo mínimo stock publicado",
                              "type": "integer",
                              "description": " This attribute is mandatory when the instance is at state 'Cambiando stock mínimo'",
                              "nullable": true
                            },
                            "MATE_STOCK_MAXIMO_NEW": {
                              "title": "Nuevo máximo stock publicado",
                              "type": "integer",
                              "description": " This attribute is mandatory when the instance is at state 'Cambiando stock máximo'",
                              "nullable": true
                            },
                            "PROY_ID_PROY": {
                              "title": "Centro de costos",
                              "type": "integer",
                              "description": " This is a foreign key to Centro de costos. An id of Centro de costos is expected",
                              "nullable": true
                            },
                            "MATE_SIN_REPOSICION": {
                              "title": "Sin reposición",
                              "type": "boolean",
                              "description": "Si se marca, no se tendrá en cuenta en el generador de Remito Interno.",
                              "nullable": true
                            },
                            "LLPO_ID_LLPO": {
                              "title": "Llamado de posición",
                              "type": "integer",
                              "description": "Este apartado será concatenado a la Ubicación de Stock en el PDF de PickingList.\n This is a foreign key to Llamada posición. An id of Llamada posición is expected",
                              "nullable": true
                            },
                            "MATE_STOCK_SEGURIDAD": {
                              "title": "Stock Seguridad",
                              "type": "integer",
                              "description": "Cantidad de artículos mínimo a tener de reserva en el stock",
                              "nullable": true
                            },
                            "MATE_USO_MENSUAL": {
                              "title": "Uso mensual",
                              "type": "integer",
                              "description": "Valor ingresado a por el usuario en caso de no considerar el \"Uso mensual promedio\" calculado.",
                              "nullable": true
                            },
                            "MATE_TOLERANCIA": {
                              "title": "Tolerancia (%)",
                              "type": "number",
                              "description": "Margen sobre el punto de pedido",
                              "nullable": true
                            },
                            "MATE_LEAD_TIME": {
                              "title": "Tiempo de reposición (días)",
                              "type": "integer",
                              "description": "Tiempo que transcurre entre que se realiza el pedido al proveedor (o se genera la orden de producción) y obtengo el artículo listo para la venta.",
                              "nullable": true
                            },
                            "MATE_LEAD_TIME_MAXIMO": {
                              "title": "Lead Time Máximo (días)",
                              "type": "integer",
                              "nullable": true
                            },
                            "MATE_NOTAS_SOBRE_PUNTO_DE": {
                              "title": "Notas sobre punto de pedido",
                              "type": "string",
                              "nullable": true
                            },
                            "MATE_PESO": {
                              "title": "Peso (Kg)",
                              "type": "number",
                              "nullable": true
                            },
                            "MATE_LARGO": {
                              "title": "Largo (cm)",
                              "type": "number",
                              "nullable": true
                            },
                            "MATE_ANCHO": {
                              "title": "Ancho (cm)",
                              "type": "number",
                              "nullable": true
                            },
                            "MATE_ALTO": {
                              "title": "Alto (cm)",
                              "type": "number",
                              "nullable": true
                            },
                            "MATE_ID_UNIT": {
                              "title": "Artículo Unitario",
                              "type": "integer",
                              "description": "Este atributo se utiliza en conjunción con # Unidades para definir que el artículo es en realidad un PACK o CAJA de otro artículo.\n\n This is a foreign key to Artículo. An id of Artículo is expected",
                              "nullable": true
                            },
                            "MATE_CANTIDAD_DE_UNIDADES": {
                              "title": "# Unidades",
                              "type": "number",
                              "description": "Este atributo se utiliza en conjunción con Artículo Unitario para definir que el artículo es en realidad un PACK o CAJA de otro artículo.\n",
                              "nullable": true
                            },
                            "MATE_MARGEN": {
                              "title": "Margen",
                              "type": "number",
                              "description": "Margen porcentual de ganancia sobre el costo de compra. Valor entre 0 y 100.\nCampo viejo. Usar Políticas de Precio.",
                              "nullable": true
                            },
                            "PODP_ID_PODP": {
                              "title": "Política de precio",
                              "type": "integer",
                              "description": "La política de precios sirve para particionar a los artículos en categorías con diferentes márgenes. Se utiliza en las listas de precios de venta para especificar el margen que corresponde a cada política en función del precio de compra\n This is a foreign key to Política de Precios. An id of Política de Precios is expected",
                              "nullable": true
                            },
                            "MATE_COSTO_ADICIONAL_POR": {
                              "title": "Costo adicional (%)",
                              "type": "number",
                              "description": "Al completarse este atributo, cuando se ingrese una Factura o Cotización Comercial con este artículo, se descontará conformé el porcentaje sobre el Neto.",
                              "nullable": true
                            },
                            "MATE_NO_ACTUALIZAR_PRECIO": {
                              "title": "Deshabilitar actualización auto. de precios",
                              "type": "boolean",
                              "description": "Si se marca, cuando se actualicen los precios no se tendrá en cuenta este artículo.",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Articulos"
                        },
                        "description": "Array of child entities of Articulos"
                      },
                      "Talles": {
                        "title": "Talles",
                        "type": "array",
                        "items": {
                          "title": "Talles",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "TALL_ID_TALL": {
                              "title": "Talle",
                              "type": "integer",
                              "description": " This is a foreign key to Talle. An id of Talle is expected"
                            }
                          },
                          "description": "Child entity of Talles"
                        },
                        "description": "Array of child entities of Talles"
                      },
                      "Variantes": {
                        "title": "Variantes",
                        "type": "array",
                        "items": {
                          "title": "Variantes",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "VARI_ID_VARI": {
                              "title": "Variante",
                              "type": "integer",
                              "description": " This is a foreign key to Variante. An id of Variante is expected"
                            }
                          },
                          "description": "Child entity of Variantes"
                        },
                        "description": "Array of child entities of Variantes"
                      },
                      "Atributos": {
                        "title": "Atributos",
                        "type": "array",
                        "items": {
                          "title": "Atributos",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "ATAB_ATRIBUTO": {
                              "title": "Atributo",
                              "maxLength": 100,
                              "type": "string"
                            },
                            "ATAB_VALOR": {
                              "title": "Valor",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Atributos"
                        },
                        "description": "Array of child entities of Atributos"
                      },
                      "Imágenes": {
                        "title": "Imágenes",
                        "type": "array",
                        "items": {
                          "title": "Imágenes",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "IDAB_URL": {
                              "title": "URL",
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Imágenes"
                        },
                        "description": "Array of child entities of Imágenes"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Artículo Base"
        ],
        "summary": "Delete a Artículo Base by id.",
        "description": "Delete a Artículo Base",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artículo Base id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/ARTICULO_BASE/search": {
      "get": {
        "tags": [
          "Artículo Base"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Artículo Base",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ARBA_CODIGO",
            "in": "query",
            "description": "Código",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ARBA_NOMBRE",
            "in": "query",
            "description": "Nombre",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ARTICULO_BASE/smartie": {
      "get": {
        "tags": [
          "Artículo Base"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ARTICULO_BASE/changestate": {
      "post": {
        "tags": [
          "Artículo Base"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Actualizar precio Lista 1</li>\n<li>Actualizar precio Lista 2</li>\n<li>Agregando talle</li>\n<li>Generado</li>\n<li>Ingresado</li>\n<li>Publicando</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ARTICULO_BASE/file": {
      "get": {
        "tags": [
          "Artículo Base"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "enum": [
                "FOTO_1",
                "FOTO_2",
                "FOTO_3",
                "FOTO_4",
                "FOTO_5"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Artículo Base"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "enum": [
                "FOTO_1",
                "FOTO_2",
                "FOTO_3",
                "FOTO_4",
                "FOTO_5"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ARTICULO_BASE/report": {
      "get": {
        "tags": [
          "Artículo Base"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/MATERIAL": {
      "post": {
        "tags": [
          "Artículo"
        ],
        "summary": "Create a Artículo.",
        "description": "Creates a Artículo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "MATE_CODIGO",
                      "MATE_NOMBRE",
                      "TIMA_ID_TIMA"
                    ],
                    "type": "object",
                    "properties": {
                      "MATE_CODIGO": {
                        "title": "SKU",
                        "maxLength": 100,
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Creando concepto facturación'"
                      },
                      "MATE_NOMBRE": {
                        "title": "Nombre",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Proveedor",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "MATE_DESCRIPCION": {
                        "title": "Descripción",
                        "type": "string",
                        "nullable": true
                      },
                      "TIMA_ID_TIMA": {
                        "title": "Tipo de Artículo",
                        "type": "integer",
                        "description": "Los tipos posibles son 'No Identificado', 'Identificado' o 'Loteado'\n This is a foreign key to Tipo de Artículo. An id of Tipo de Artículo is expected",
                        "default": "PARAM.TIMA_ID_TIMA"
                      },
                      "ALIV_ID_ALIV": {
                        "title": "Alícuota IVA",
                        "type": "integer",
                        "description": "Al importarlo desde Excel, debe colocarse antes un apóstrofe para que Excel no lo convierta a número.\nEjemplo: '21%\n This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected",
                        "nullable": true
                      },
                      "MATE_IMPUESTO_INTERNO": {
                        "title": "Impuesto interno",
                        "type": "number",
                        "description": "Impuesto interno en %",
                        "nullable": true
                      },
                      "MATE_IMP_INT_COMPRA": {
                        "title": "Impuesto Interno de Compras",
                        "type": "number",
                        "description": "Impuesto interno de compras en %",
                        "nullable": true
                      },
                      "TIUN_ID_TIUN": {
                        "title": "Tipo de unidad",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de unidad. An id of Tipo de unidad is expected",
                        "default": "PARAM.TIUN_ID_TIUN",
                        "nullable": true
                      },
                      "GRMA_ID_GRMA": {
                        "title": "Grupo",
                        "type": "integer",
                        "description": " This is a foreign key to Grupo de Artículo. An id of Grupo de Artículo is expected",
                        "nullable": true
                      },
                      "SUMA_ID_SUMA": {
                        "title": "Primer Subgrupo",
                        "type": "integer",
                        "description": " This is a foreign key to Primer Subgrupo de Artículo. An id of Primer Subgrupo de Artículo is expected",
                        "nullable": true
                      },
                      "SSDA_ID_SSDA": {
                        "title": "Segundo Subgrupo",
                        "type": "integer",
                        "description": " This is a foreign key to Segundo Subgrupo de Artículo. An id of Segundo Subgrupo de Artículo is expected",
                        "nullable": true
                      },
                      "COFA_ID_COFA": {
                        "title": "Concepto de facturación",
[...]
