{
  "openapi": "3.0.4",
  "info": {
    "title": "erpdemo.schema Finanzas",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yiqi.com.ar/api/public"
    }
  ],
  "paths": {
    "/CONCEPTO_DE_COBRO_EL": {
      "post": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "summary": "Create a Concepto de cobro electrónico.",
        "description": "Creates a new instance of Concepto de cobro electrónico.\n\n**Key Attributes (Unique):** `CDCE_NOMBRE` (Nombre)\n\nThese attributes form the entity's unique key. If you attempt to create an instance with key values that already exist, the API will return HTTP 409 Conflict.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "CDCE_NOMBRE",
                      "CUCO_ID_CUCO"
                    ],
                    "type": "object",
                    "properties": {
                      "CDCE_NOMBRE": {
                        "title": "Nombre",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "CUCO_ID_CUCO": {
                        "title": "Cuenta contable Cobro",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected"
                      },
                      "CDCE_CATEGORIA": {
                        "title": "Categoría",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CDCE_DIMINUTIVO": {
                        "title": "Diminutivo",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CDCE_NO_EN_MENU_POS": {
                        "title": "No se muestra en el POS",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CUCO_ID_COMI": {
                        "title": "Cuenta contable Comision",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                        "nullable": true
                      },
                      "CUCO_ID_ARAN": {
                        "title": "Cuenta contable Arancel",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                        "nullable": true
                      },
                      "CDCE_SOLO_ADMINISTRADOR": {
                        "title": "Vista únicamente por Administrador",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Proveedor",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "CobroElectrónico": {
                        "title": "Cobro electrónico",
                        "type": "array",
                        "items": {
                          "title": "Cobro electrónico",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "COEL_IMPORTE": {
                              "title": "Importe",
                              "type": "number"
                            },
                            "COEL_CUOTAS": {
                              "title": "Cuotas",
                              "type": "integer",
                              "default": "1",
                              "nullable": true
                            },
                            "COEL_OBSERVACIONES": {
                              "title": "Observaciones",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "COEL_FECHA_DE_COBRO": {
                              "title": "Fecha de Cobro",
                              "type": "string",
                              "default": "PARAM.PARA_HOY",
                              "nullable": true
                            },
                            "COEL_NRO_DE_OPERACION": {
                              "title": "Nro de operación",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "LDCE_ID_LDCE": {
                              "title": "Liquidación de Cobro electrónico",
                              "type": "integer",
                              "description": " This is a foreign key to Liquidación de Cobro electrónico. An id of Liquidación de Cobro electrónico is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Cobro electrónico"
                        },
                        "description": "Array of child entities of Cobro electrónico"
                      },
                      "LiquidaciónDeCobro": {
                        "title": "Liquidación de cobro",
                        "type": "array",
                        "items": {
                          "title": "Liquidación de cobro",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CUDE_ID_CUDE": {
                              "title": "Cuenta Bancaria Destino",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected"
                            },
                            "LDCE_FECHA": {
                              "title": "Fecha",
                              "type": "string",
                              "default": "PARAM.PARA_HOY"
                            },
                            "LDCE_MONTO": {
                              "title": "Monto a liquidar",
                              "type": "number",
                              "description": "Se refiere al monto total a ser descontado del concepto de cobro electrónico"
                            },
                            "LDCE_MONTO_COMISION": {
                              "title": "Neto comisión",
                              "type": "number",
                              "description": "Opcional: Se refiere al monto de comisión.\nSupongamos que en la cuenta del cobro electrónico hay $10.000 y que el canal de pagos nos cobra $1000 en concepto de comisión. Entonces ingresaríamos $9000 en Monto a liquidar (que es lo que se acreditará en el banco) y $1000 en concepto de comisión.\n This attribute is mandatory when the instance is at state 'Realizada'",
                              "nullable": true
                            },
                            "ALIV_ID_ALIV": {
                              "title": "Alícuota IVA Comisión",
                              "type": "integer",
                              "description": " This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected",
                              "nullable": true
                            },
                            "LDCE_NETO_ARANCEL": {
                              "title": "Neto arancel",
                              "type": "number",
                              "nullable": true
                            },
                            "ALIV_ID_ARAN": {
                              "title": "Alícuota IVA Arancel",
                              "type": "integer",
                              "description": " This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Liquidación de cobro"
                        },
                        "description": "Array of child entities of Liquidación de cobro"
                      }
                    },
                    "description": "Instance data. Key attributes (CDCE_NOMBRE) must be unique across all instances."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Instance created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the newly created instance"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to create instances of this entity"
          },
          "409": {
            "description": "Conflict - An instance with the same key values already exists. Key attributes: CDCE_NOMBRE"
          }
        }
      }
    },
    "/CONCEPTO_DE_COBRO_EL/{id}": {
      "get": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "description": "Get a Concepto de cobro electrónico by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Concepto de cobro electrónico id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "description": "Whether to include child entities in the response (default: true)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Instance unique identifier",
                      "type": "integer"
                    },
                    "ESTA_NOMBRE": {
                      "title": "State name",
                      "type": "string",
                      "nullable": true
                    },
                    "ESTA_CODIGO": {
                      "title": "State code",
                      "type": "integer",
                      "nullable": true
                    },
                    "AUDI_FECHA_ALTA": {
                      "title": "Creation date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "AUDI_FECHA_MODIF": {
                      "title": "Last modification date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "CDCE_NOMBRE": {
                      "title": "Nombre",
                      "type": "string"
                    },
                    "CUCO_ID_CUCO": {
                      "title": "Cuenta contable Cobro",
                      "type": "integer",
                      "description": "Foreign key to Cuenta contable"
                    },
                    "CDCE_CATEGORIA": {
                      "title": "Categoría",
                      "type": "string",
                      "nullable": true
                    },
                    "CDCE_DIMINUTIVO": {
                      "title": "Diminutivo",
                      "type": "string",
                      "nullable": true
                    },
                    "CDCE_NO_EN_MENU_POS": {
                      "title": "No se muestra en el POS",
                      "type": "boolean",
                      "nullable": true
                    },
                    "CDCE_SALDO": {
                      "title": "Saldo",
                      "type": "number",
                      "nullable": true
                    },
                    "CUCO_ID_COMI": {
                      "title": "Cuenta contable Comision",
                      "type": "integer",
                      "description": "Foreign key to Cuenta contable",
                      "nullable": true
                    },
                    "CUCO_ID_ARAN": {
                      "title": "Cuenta contable Arancel",
                      "type": "integer",
                      "description": "Foreign key to Cuenta contable",
                      "nullable": true
                    },
                    "CDCE_SOLO_ADMINISTRADOR": {
                      "title": "Vista únicamente por Administrador",
                      "type": "boolean",
                      "nullable": true
                    },
                    "CLIE_ID_CLIE": {
                      "title": "Proveedor",
                      "type": "integer",
                      "description": "Foreign key to Empresa",
                      "nullable": true
                    },
                    "COBROELECTRÓNICO": {
                      "title": "Cobro electrónico",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "COBR_ID_COBR": {
                            "title": "Recibo",
                            "type": "integer"
                          },
                          "COEL_IMPORTE": {
                            "title": "Importe",
                            "type": "number"
                          },
                          "COEL_CUOTAS": {
                            "title": "Cuotas",
                            "type": "integer",
                            "nullable": true
                          },
                          "COEL_OBSERVACIONES": {
                            "title": "Observaciones",
                            "type": "string",
                            "nullable": true
                          },
                          "COEL_FECHA_DE_COBRO": {
                            "title": "Fecha de Cobro",
                            "type": "string",
                            "nullable": true
                          },
                          "CDCE_ID_CDCE": {
                            "title": "Concepto",
                            "type": "integer"
                          },
                          "CLIE_ID_CLIE": {
                            "title": "Cliente",
                            "type": "integer",
                            "nullable": true
                          },
                          "COEL_INFO": {
                            "title": "Info",
                            "type": "string",
                            "nullable": true
                          },
                          "ASIE_ID_ASIE": {
                            "title": "Asiento",
                            "type": "integer",
                            "nullable": true
                          },
                          "COEL_NRO_DE_OPERACION": {
                            "title": "Nro de operación",
                            "type": "string",
                            "nullable": true
                          },
                          "LDCE_ID_LDCE": {
                            "title": "Liquidación de Cobro electrónico",
                            "type": "integer",
                            "nullable": true
                          },
                          "PUVE_ID_PUVE": {
                            "title": "Punto de Venta",
                            "type": "integer",
                            "nullable": true
                          },
                          "COEL_INFO_DESCRIPCION": {
                            "title": "Info Descripción",
                            "type": "string",
                            "nullable": true
                          },
                          "COEL_OPERATIONID": {
                            "title": "operationId",
                            "type": "string",
                            "nullable": true
                          },
                          "LDCE_ID_NUVE": {
                            "title": "Liquidación de Cobro electrónico Existente",
                            "type": "integer",
                            "nullable": true
                          }
                        }
                      },
                      "description": "Child entities of Cobro electrónico (included when includeChildren=true)"
                    },
                    "LIQUIDACIÓNDECOBRO": {
                      "title": "Liquidación de cobro",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "LDCE_NUMERO_LIQ": {
                            "title": "Nro",
                            "type": "integer",
                            "nullable": true
                          },
                          "CDCE_ID_CDCE": {
                            "title": "Concepto de cobro electrónico",
                            "type": "integer"
                          },
                          "CUDE_ID_CUDE": {
                            "title": "Cuenta Bancaria Destino",
                            "type": "integer"
                          },
                          "LDCE_FECHA": {
                            "title": "Fecha",
                            "type": "string"
                          },
                          "LDCE_MONTO": {
                            "title": "Monto a liquidar",
                            "type": "number"
                          },
                          "LDCE_MONTO_COMISION": {
                            "title": "Neto comisión",
                            "type": "number",
                            "nullable": true
                          },
                          "ALIV_ID_ALIV": {
                            "title": "Alícuota IVA Comisión",
                            "type": "integer",
                            "nullable": true
                          },
                          "LDCE_IVA_COMISION": {
                            "title": "IVA Comision",
                            "type": "number",
                            "nullable": true
                          },
                          "LDCE_NETO_ARANCEL": {
                            "title": "Neto arancel",
                            "type": "number",
                            "nullable": true
                          },
                          "ALIV_ID_ARAN": {
                            "title": "Alícuota IVA Arancel",
                            "type": "integer",
                            "nullable": true
                          },
                          "LDCE_IVA_ARANCEL": {
                            "title": "IVA Arancel",
                            "type": "number",
                            "nullable": true
                          },
                          "LDCE_TOTAL_PERCEPCIONES": {
                            "title": "Total Percepciones",
                            "type": "number",
                            "nullable": true
                          },
                          "LDCE_TOTAL_RETENCIONES": {
                            "title": "Total Retenciones",
                            "type": "number",
                            "nullable": true
                          },
                          "LDCE_TOTAL_DEPOSITADO": {
                            "title": "Total a acreditar",
                            "type": "number",
                            "nullable": true
                          },
                          "ASIE_ID_ASIE": {
                            "title": "Asiento",
                            "type": "integer",
                            "nullable": true
                          },
                          "FACO_ID_FACO": {
                            "title": "Factura de compra",
                            "type": "integer",
                            "nullable": true
                          },
                          "LDCE_DESCRIPCION": {
                            "title": "Descripción",
                            "type": "string",
                            "nullable": true
                          },
                          "TIFA_ID_TIFA": {
                            "title": "Tipo de Factura",
                            "type": "integer",
                            "nullable": true
                          },
                          "LDCE_PUNTO_DE_VENTA": {
                            "title": "Punto de venta",
                            "type": "integer",
                            "nullable": true
                          },
                          "LDCE_NUMERO": {
                            "title": "Nro de Factura",
                            "type": "integer",
                            "nullable": true
                          },
                          "LDCE_OPERATIONID": {
                            "title": "operationId",
                            "type": "string",
                            "nullable": true
                          }
                        }
                      },
                      "description": "Child entities of Liquidación de cobro (included when includeChildren=true)"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to access this resource"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      },
      "put": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "summary": "Update a Concepto de cobro electrónico by id.",
        "description": "Update a Concepto de cobro electrónico",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Concepto de cobro electrónico id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "CDCE_NOMBRE",
                      "CUCO_ID_CUCO"
                    ],
                    "type": "object",
                    "properties": {
                      "CDCE_NOMBRE": {
                        "title": "Nombre",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "CUCO_ID_CUCO": {
                        "title": "Cuenta contable Cobro",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected"
                      },
                      "CDCE_CATEGORIA": {
                        "title": "Categoría",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CDCE_DIMINUTIVO": {
                        "title": "Diminutivo",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CDCE_NO_EN_MENU_POS": {
                        "title": "No se muestra en el POS",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CUCO_ID_COMI": {
                        "title": "Cuenta contable Comision",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                        "nullable": true
                      },
                      "CUCO_ID_ARAN": {
                        "title": "Cuenta contable Arancel",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                        "nullable": true
                      },
                      "CDCE_SOLO_ADMINISTRADOR": {
                        "title": "Vista únicamente por Administrador",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Proveedor",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "CobroElectrónico": {
                        "title": "Cobro electrónico",
                        "type": "array",
                        "items": {
                          "title": "Cobro electrónico",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "COEL_IMPORTE": {
                              "title": "Importe",
                              "type": "number"
                            },
                            "COEL_CUOTAS": {
                              "title": "Cuotas",
                              "type": "integer",
                              "default": "1",
                              "nullable": true
                            },
                            "COEL_OBSERVACIONES": {
                              "title": "Observaciones",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "COEL_FECHA_DE_COBRO": {
                              "title": "Fecha de Cobro",
                              "type": "string",
                              "default": "PARAM.PARA_HOY",
                              "nullable": true
                            },
                            "COEL_NRO_DE_OPERACION": {
                              "title": "Nro de operación",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "LDCE_ID_LDCE": {
                              "title": "Liquidación de Cobro electrónico",
                              "type": "integer",
                              "description": " This is a foreign key to Liquidación de Cobro electrónico. An id of Liquidación de Cobro electrónico is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Cobro electrónico"
                        },
                        "description": "Array of child entities of Cobro electrónico"
                      },
                      "LiquidaciónDeCobro": {
                        "title": "Liquidación de cobro",
                        "type": "array",
                        "items": {
                          "title": "Liquidación de cobro",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CUDE_ID_CUDE": {
                              "title": "Cuenta Bancaria Destino",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected"
                            },
                            "LDCE_FECHA": {
                              "title": "Fecha",
                              "type": "string",
                              "default": "PARAM.PARA_HOY"
                            },
                            "LDCE_MONTO": {
                              "title": "Monto a liquidar",
                              "type": "number",
                              "description": "Se refiere al monto total a ser descontado del concepto de cobro electrónico"
                            },
                            "LDCE_MONTO_COMISION": {
                              "title": "Neto comisión",
                              "type": "number",
                              "description": "Opcional: Se refiere al monto de comisión.\nSupongamos que en la cuenta del cobro electrónico hay $10.000 y que el canal de pagos nos cobra $1000 en concepto de comisión. Entonces ingresaríamos $9000 en Monto a liquidar (que es lo que se acreditará en el banco) y $1000 en concepto de comisión.\n This attribute is mandatory when the instance is at state 'Realizada'",
                              "nullable": true
                            },
                            "ALIV_ID_ALIV": {
                              "title": "Alícuota IVA Comisión",
                              "type": "integer",
                              "description": " This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected",
                              "nullable": true
                            },
                            "LDCE_NETO_ARANCEL": {
                              "title": "Neto arancel",
                              "type": "number",
                              "nullable": true
                            },
                            "ALIV_ID_ARAN": {
                              "title": "Alícuota IVA Arancel",
                              "type": "integer",
                              "description": " This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Liquidación de cobro"
                        },
                        "description": "Array of child entities of Liquidación de cobro"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "summary": "Delete a Concepto de cobro electrónico by id.",
        "description": "Delete a Concepto de cobro electrónico",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Concepto de cobro electrónico id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/CONCEPTO_DE_COBRO_EL/search": {
      "get": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Concepto de cobro electrónico",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "CDCE_NOMBRE",
            "in": "query",
            "description": "Nombre",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CUCO_ID_CUCO",
            "in": "query",
            "description": "Cuenta contable Cobro",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CONCEPTO_DE_COBRO_EL/smartie": {
      "get": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CONCEPTO_DE_COBRO_EL/query": {
      "post": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "summary": "Execute dynamic query without persisted smartie",
        "description": "Performs a dynamic query on Concepto de cobro electrónico instances with custom columns, filters, sorting, and aggregations. This endpoint allows ad-hoc queries without requiring a saved smartie configuration.",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Dynamic query parameters including pagination, columns, filters, and search criteria",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "page"
                ],
                "type": "object",
                "properties": {
                  "page": {
                    "minimum": 1,
                    "type": "integer",
                    "description": "Page number (1-based)",
                    "default": 1
                  },
                  "pageSize": {
                    "maximum": 1000,
                    "minimum": 1,
                    "type": "integer",
                    "description": "Number of records per page",
                    "default": 50
                  },
                  "search": {
                    "type": "string",
                    "description": "Fast search term to filter across all columns",
                    "nullable": true
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "required": [
                        "field"
                      ],
                      "type": "object",
                      "properties": {
                        "field": {
                          "enum": [
                            "CDCE_NOMBRE",
                            "CDCE_CATEGORIA",
                            "CDCE_DIMINUTIVO",
                            "CDCE_NO_EN_MENU_POS",
                            "CDCE_SALDO",
                            "CDCE_SOLO_ADMINISTRADOR",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Physical column name (required). Available columns from entity view."
                        },
                        "title": {
                          "type": "string",
                          "description": "Custom column title (optional)",
                          "nullable": true
                        },
                        "sortDirection": {
                          "enum": [
                            "ASC",
                            "DESC"
                          ],
                          "type": "string",
                          "description": "Sort direction",
                          "nullable": true
                        },
                        "order": {
                          "type": "integer",
                          "description": "Column display order (optional)",
                          "nullable": true
                        },
                        "sortOrder": {
                          "type": "integer",
                          "description": "Sort priority order (optional)",
                          "nullable": true
                        },
                        "aggregation": {
                          "enum": [
                            "SUM",
                            "COUNT",
                            "AVG",
                            "MIN",
                            "MAX"
                          ],
                          "type": "string",
                          "description": "Aggregation function",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Column specifications. If null or empty, default header columns will be used",
                    "nullable": true
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "required": [
                        "columnName",
                        "operator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "columnName": {
                          "enum": [
                            "CDCE_NOMBRE",
                            "CDCE_CATEGORIA",
                            "CDCE_DIMINUTIVO",
                            "CDCE_NO_EN_MENU_POS",
                            "CDCE_SALDO",
                            "CDCE_SOLO_ADMINISTRADOR",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Column name to filter (required). Available columns from entity view."
                        },
                        "operator": {
                          "enum": [
                            "=",
                            "!=",
                            ">",
                            "<",
                            ">=",
                            "<=",
                            "LIKE"
                          ],
                          "type": "string",
                          "description": "Comparison operator"
                        },
                        "value": {
                          "description": "Value to compare. Type should match column data type",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Filter specifications",
                    "nullable": true
                  }
                }
              },
              "example": {
                "page": 1,
                "pageSize": 10,
                "search": "",
                "columns": [
                  {
                    "field": "COLUMN_NAME",
                    "title": "Column Title",
                    "sortDirection": "ASC",
                    "sortOrder": 1
                  }
                ],
                "filters": [
                  {
                    "columnName": "COLUMN_NAME",
                    "operator": "=",
                    "value": "value"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Array of records matching the query"
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records (without pagination)"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Column definitions"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or column names"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to view this entity"
          },
          "404": {
            "description": "Entity not found"
          }
        }
      }
    },
    "/CONCEPTO_DE_COBRO_EL/changestate": {
      "post": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Creado</li>\n<li>Recalcula Saldo</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CONCEPTO_DE_COBRO_EL/changestatemultiple": {
      "post": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "description": "Change multiple instances' state",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Creado</li>\n<li>Recalcula Saldo</li></ul>",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Comma separated ids",
            "required": true,
            "example": "100,101,102"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CONCEPTO_DE_COBRO_EL/file": {
      "get": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CONCEPTO_DE_COBRO_EL/report": {
      "get": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/DET_INDICADORES_FINA": {
      "post": {
        "tags": [
          "Det Indicadores Financieros"
        ],
        "summary": "Create a Det Indicadores Financieros.",
        "description": "Creates a new instance of Det Indicadores Financieros.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "INFI_ID_INFI": {
                        "title": "Período",
                        "type": "integer",
                        "description": " This is a foreign key to Indicadores financieros. An id of Indicadores financieros is expected",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Empresa",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "DEIF_PMP": {
                        "title": "PMP",
                        "type": "number",
                        "description": "Período medio de pago.",
                        "nullable": true
                      },
                      "DEIF_PMC": {
                        "title": "PMC",
                        "type": "number",
                        "description": "Período medio de cobro.",
                        "nullable": true
                      }
                    },
                    "description": "Instance data"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Instance created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the newly created instance"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to create instances of this entity"
          },
          "409": {
            "description": "Conflict - Duplicate instance detected"
          }
        }
      }
    },
    "/DET_INDICADORES_FINA/{id}": {
      "get": {
        "tags": [
          "Det Indicadores Financieros"
        ],
        "description": "Get a Det Indicadores Financieros by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Det Indicadores Financieros id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "description": "Whether to include child entities in the response (default: true)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Instance unique identifier",
                      "type": "integer"
                    },
                    "ESTA_NOMBRE": {
                      "title": "State name",
                      "type": "string",
                      "nullable": true
                    },
                    "ESTA_CODIGO": {
                      "title": "State code",
                      "type": "integer",
                      "nullable": true
                    },
                    "AUDI_FECHA_ALTA": {
                      "title": "Creation date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "AUDI_FECHA_MODIF": {
                      "title": "Last modification date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "INFI_ID_INFI": {
                      "title": "Período",
                      "type": "integer",
                      "description": "Foreign key to Indicadores financieros",
                      "nullable": true
                    },
                    "CLIE_ID_CLIE": {
                      "title": "Empresa",
                      "type": "integer",
                      "description": "Foreign key to Empresa",
                      "nullable": true
                    },
                    "DEIF_PMP": {
                      "title": "PMP",
                      "type": "number",
                      "description": "Período medio de pago.",
                      "nullable": true
                    },
                    "DEIF_PMC": {
                      "title": "PMC",
                      "type": "number",
                      "description": "Período medio de cobro.",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to access this resource"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      },
      "put": {
        "tags": [
          "Det Indicadores Financieros"
        ],
        "summary": "Update a Det Indicadores Financieros by id.",
        "description": "Update a Det Indicadores Financieros",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Det Indicadores Financieros id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "INFI_ID_INFI": {
                        "title": "Período",
                        "type": "integer",
                        "description": " This is a foreign key to Indicadores financieros. An id of Indicadores financieros is expected",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Empresa",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "DEIF_PMP": {
                        "title": "PMP",
                        "type": "number",
                        "description": "Período medio de pago.",
                        "nullable": true
                      },
                      "DEIF_PMC": {
                        "title": "PMC",
                        "type": "number",
                        "description": "Período medio de cobro.",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Det Indicadores Financieros"
        ],
        "summary": "Delete a Det Indicadores Financieros by id.",
        "description": "Delete a Det Indicadores Financieros",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Det Indicadores Financieros id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/DET_INDICADORES_FINA/search": {
      "get": {
        "tags": [
          "Det Indicadores Financieros"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Det Indicadores Financieros",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DET_INDICADORES_FINA/smartie": {
      "get": {
        "tags": [
          "Det Indicadores Financieros"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DET_INDICADORES_FINA/query": {
      "post": {
        "tags": [
          "Det Indicadores Financieros"
        ],
        "summary": "Execute dynamic query without persisted smartie",
        "description": "Performs a dynamic query on Det Indicadores Financieros instances with custom columns, filters, sorting, and aggregations. This endpoint allows ad-hoc queries without requiring a saved smartie configuration.",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Dynamic query parameters including pagination, columns, filters, and search criteria",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "page"
                ],
                "type": "object",
                "properties": {
                  "page": {
                    "minimum": 1,
                    "type": "integer",
                    "description": "Page number (1-based)",
                    "default": 1
                  },
                  "pageSize": {
                    "maximum": 1000,
                    "minimum": 1,
                    "type": "integer",
                    "description": "Number of records per page",
                    "default": 50
                  },
                  "search": {
                    "type": "string",
                    "description": "Fast search term to filter across all columns",
                    "nullable": true
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "required": [
                        "field"
                      ],
                      "type": "object",
                      "properties": {
                        "field": {
                          "enum": [
                            "DEIF_PMP",
                            "DEIF_PMC",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Physical column name (required). Available columns from entity view."
                        },
                        "title": {
                          "type": "string",
                          "description": "Custom column title (optional)",
                          "nullable": true
                        },
                        "sortDirection": {
                          "enum": [
                            "ASC",
                            "DESC"
                          ],
                          "type": "string",
                          "description": "Sort direction",
                          "nullable": true
                        },
                        "order": {
                          "type": "integer",
                          "description": "Column display order (optional)",
                          "nullable": true
                        },
                        "sortOrder": {
                          "type": "integer",
                          "description": "Sort priority order (optional)",
                          "nullable": true
                        },
                        "aggregation": {
                          "enum": [
                            "SUM",
                            "COUNT",
                            "AVG",
                            "MIN",
                            "MAX"
                          ],
                          "type": "string",
                          "description": "Aggregation function",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Column specifications. If null or empty, default header columns will be used",
                    "nullable": true
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "required": [
                        "columnName",
                        "operator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "columnName": {
                          "enum": [
                            "DEIF_PMP",
                            "DEIF_PMC",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Column name to filter (required). Available columns from entity view."
                        },
                        "operator": {
                          "enum": [
                            "=",
                            "!=",
                            ">",
                            "<",
                            ">=",
                            "<=",
                            "LIKE"
                          ],
                          "type": "string",
                          "description": "Comparison operator"
                        },
                        "value": {
                          "description": "Value to compare. Type should match column data type",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Filter specifications",
                    "nullable": true
                  }
                }
              },
              "example": {
                "page": 1,
                "pageSize": 10,
                "search": "",
                "columns": [
                  {
                    "field": "COLUMN_NAME",
                    "title": "Column Title",
                    "sortDirection": "ASC",
                    "sortOrder": 1
                  }
                ],
                "filters": [
                  {
                    "columnName": "COLUMN_NAME",
                    "operator": "=",
                    "value": "value"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Array of records matching the query"
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records (without pagination)"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Column definitions"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or column names"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to view this entity"
          },
          "404": {
            "description": "Entity not found"
          }
        }
      }
    },
    "/DET_INDICADORES_FINA/file": {
      "get": {
        "tags": [
          "Det Indicadores Financieros"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Det Indicadores Financieros"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/DET_INDICADORES_FINA/report": {
      "get": {
        "tags": [
          "Det Indicadores Financieros"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/INDICADORES_FINANCIE": {
      "post": {
        "tags": [
          "Indicadores financieros"
        ],
        "summary": "Create a Indicadores financieros.",
        "description": "Creates a new instance of Indicadores financieros.\n\n**Key Attributes (Unique):** `INFI_PERIODO` (Período)\n\nThese attributes form the entity's unique key. If you attempt to create an instance with key values that already exist, the API will return HTTP 409 Conflict.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "INFI_PERIODO"
                    ],
                    "type": "object",
                    "properties": {
                      "INFI_PERIODO": {
                        "title": "Período",
                        "type": "string"
                      },
                      "INFI_DIAS_P_CALCULO": {
                        "title": "Días p/Cálculo",
                        "type": "integer",
                        "default": "365",
                        "nullable": true
                      },
                      "IndicadoresPorEmpresa": {
                        "title": "Indicadores por empresa",
                        "type": "array",
                        "items": {
                          "title": "Indicadores por empresa",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CLIE_ID_CLIE": {
                              "title": "Empresa",
                              "type": "integer",
                              "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                              "nullable": true
                            },
                            "DEIF_PMP": {
                              "title": "PMP",
                              "type": "number",
                              "description": "Período medio de pago.",
                              "nullable": true
                            },
                            "DEIF_PMC": {
                              "title": "PMC",
                              "type": "number",
                              "description": "Período medio de cobro.",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Indicadores por empresa"
                        },
                        "description": "Array of child entities of Indicadores por empresa"
                      }
                    },
                    "description": "Instance data. Key attributes (INFI_PERIODO) must be unique across all instances."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Instance created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the newly created instance"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to create instances of this entity"
          },
          "409": {
            "description": "Conflict - An instance with the same key values already exists. Key attributes: INFI_PERIODO"
          }
        }
      }
    },
    "/INDICADORES_FINANCIE/{id}": {
      "get": {
        "tags": [
          "Indicadores financieros"
        ],
        "description": "Get a Indicadores financieros by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Indicadores financieros id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "description": "Whether to include child entities in the response (default: true)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Instance unique identifier",
                      "type": "integer"
                    },
                    "ESTA_NOMBRE": {
                      "title": "State name",
                      "type": "string",
                      "nullable": true
                    },
                    "ESTA_CODIGO": {
                      "title": "State code",
                      "type": "integer",
                      "nullable": true
                    },
                    "AUDI_FECHA_ALTA": {
                      "title": "Creation date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "AUDI_FECHA_MODIF": {
                      "title": "Last modification date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "INFI_PERIODO": {
                      "title": "Período",
                      "type": "string"
                    },
                    "INFI_DIAS_P_CALCULO": {
                      "title": "Días p/Cálculo",
                      "type": "integer",
                      "nullable": true
                    },
                    "INFI_PMP": {
                      "title": "PMP",
                      "type": "number",
                      "nullable": true
                    },
                    "INFI_PMC": {
                      "title": "PMC",
                      "type": "number",
                      "nullable": true
                    },
                    "INDICADORESPOREMPRESA": {
                      "title": "Indicadores por empresa",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "INFI_ID_INFI": {
                            "title": "Período",
                            "type": "integer",
                            "nullable": true
                          },
                          "CLIE_ID_CLIE": {
                            "title": "Empresa",
                            "type": "integer",
                            "nullable": true
                          },
                          "DEIF_PMP": {
                            "title": "PMP",
                            "type": "number",
                            "nullable": true
                          },
                          "DEIF_PMC": {
                            "title": "PMC",
                            "type": "number",
                            "nullable": true
                          }
                        }
                      },
                      "description": "Child entities of Indicadores por empresa (included when includeChildren=true)"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to access this resource"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      },
      "put": {
        "tags": [
          "Indicadores financieros"
        ],
        "summary": "Update a Indicadores financieros by id.",
        "description": "Update a Indicadores financieros",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Indicadores financieros id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "INFI_PERIODO"
                    ],
                    "type": "object",
                    "properties": {
                      "INFI_PERIODO": {
                        "title": "Período",
                        "type": "string"
                      },
                      "INFI_DIAS_P_CALCULO": {
                        "title": "Días p/Cálculo",
                        "type": "integer",
                        "default": "365",
                        "nullable": true
                      },
                      "IndicadoresPorEmpresa": {
                        "title": "Indicadores por empresa",
                        "type": "array",
                        "items": {
                          "title": "Indicadores por empresa",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CLIE_ID_CLIE": {
                              "title": "Empresa",
                              "type": "integer",
                              "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                              "nullable": true
                            },
                            "DEIF_PMP": {
                              "title": "PMP",
                              "type": "number",
                              "description": "Período medio de pago.",
                              "nullable": true
                            },
                            "DEIF_PMC": {
                              "title": "PMC",
                              "type": "number",
                              "description": "Período medio de cobro.",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Indicadores por empresa"
                        },
                        "description": "Array of child entities of Indicadores por empresa"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Indicadores financieros"
        ],
        "summary": "Delete a Indicadores financieros by id.",
        "description": "Delete a Indicadores financieros",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Indicadores financieros id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/INDICADORES_FINANCIE/search": {
      "get": {
        "tags": [
          "Indicadores financieros"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Indicadores financieros",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "INFI_PERIODO",
            "in": "query",
            "description": "Período",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "INFI_DIAS_P_CALCULO",
            "in": "query",
            "description": "Días p/Cálculo",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/INDICADORES_FINANCIE/smartie": {
      "get": {
        "tags": [
          "Indicadores financieros"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/INDICADORES_FINANCIE/query": {
      "post": {
[...]
