{
  "openapi": "3.0.4",
  "info": {
    "title": "erpdemo.schema RRHH",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yiqi.com.ar/api/public"
    }
  ],
  "paths": {
    "/DET_GESTION_DE_HERRA": {
      "post": {
        "tags": [
          "Det Gestión de Herramientas"
        ],
        "summary": "Create a Det Gestión de Herramientas.",
        "description": "Creates a Det Gestión de Herramientas",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "GEDH_ID_GEDH",
                      "MATE_ID_MATE",
                      "DGDH_CANTIDAD"
                    ],
                    "type": "object",
                    "properties": {
                      "GEDH_ID_GEDH": {
                        "title": "Gestión",
                        "type": "integer",
                        "description": " This is a foreign key to Gestión de Herramientas. An id of Gestión de Herramientas is expected"
                      },
                      "MATE_ID_MATE": {
                        "title": "Artículo",
                        "type": "integer",
                        "description": " This is a foreign key to Artículo. An id of Artículo is expected"
                      },
                      "DGDH_CANTIDAD": {
                        "title": "Cantidad",
                        "type": "integer"
                      },
                      "DGDH_NRO_DE_SERIE": {
                        "title": "Nro de Serie",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "LOTE_ID_LOTE": {
                        "title": "Lote",
                        "type": "integer",
                        "description": " This is a foreign key to Lote / Despacho. An id of Lote / Despacho is expected",
                        "nullable": true
                      },
                      "DGDH_ESTADO_DEL_PRODUCTO": {
                        "title": "Estado del producto",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DET_GESTION_DE_HERRA/{id}": {
      "get": {
        "tags": [
          "Det Gestión de Herramientas"
        ],
        "description": "Get a Det Gestión de Herramientas by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Det Gestión de Herramientas id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Det Gestión de Herramientas"
        ],
        "summary": "Update a Det Gestión de Herramientas by id.",
        "description": "Update a Det Gestión de Herramientas",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Det Gestión de Herramientas id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "GEDH_ID_GEDH",
                      "MATE_ID_MATE",
                      "DGDH_CANTIDAD"
                    ],
                    "type": "object",
                    "properties": {
                      "GEDH_ID_GEDH": {
                        "title": "Gestión",
                        "type": "integer",
                        "description": " This is a foreign key to Gestión de Herramientas. An id of Gestión de Herramientas is expected"
                      },
                      "MATE_ID_MATE": {
                        "title": "Artículo",
                        "type": "integer",
                        "description": " This is a foreign key to Artículo. An id of Artículo is expected"
                      },
                      "DGDH_CANTIDAD": {
                        "title": "Cantidad",
                        "type": "integer"
                      },
                      "DGDH_NRO_DE_SERIE": {
                        "title": "Nro de Serie",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "LOTE_ID_LOTE": {
                        "title": "Lote",
                        "type": "integer",
                        "description": " This is a foreign key to Lote / Despacho. An id of Lote / Despacho is expected",
                        "nullable": true
                      },
                      "DGDH_ESTADO_DEL_PRODUCTO": {
                        "title": "Estado del producto",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Det Gestión de Herramientas"
        ],
        "summary": "Delete a Det Gestión de Herramientas by id.",
        "description": "Delete a Det Gestión de Herramientas",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Det Gestión de Herramientas id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/DET_GESTION_DE_HERRA/search": {
      "get": {
        "tags": [
          "Det Gestión de Herramientas"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Det Gestión de Herramientas",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "GEDH_ID_GEDH",
            "in": "query",
            "description": "Gestión",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "MATE_ID_MATE",
            "in": "query",
            "description": "Artículo",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "DGDH_CANTIDAD",
            "in": "query",
            "description": "Cantidad",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DET_GESTION_DE_HERRA/smartie": {
      "get": {
        "tags": [
          "Det Gestión de Herramientas"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DET_GESTION_DE_HERRA/changestate": {
      "post": {
        "tags": [
          "Det Gestión de Herramientas"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Cargado</li>\n<li>Procesado</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DET_GESTION_DE_HERRA/file": {
      "get": {
        "tags": [
          "Det Gestión de Herramientas"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Det Gestión de Herramientas"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/DET_GESTION_DE_HERRA/report": {
      "get": {
        "tags": [
          "Det Gestión de Herramientas"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/EMPLEADO": {
      "post": {
        "tags": [
          "Empleado"
        ],
        "summary": "Create a Empleado.",
        "description": "Creates a Empleado",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "EMPL_LEGAJO",
                      "EMPL_DNI"
                    ],
                    "type": "object",
                    "properties": {
                      "EMPL_FOTO": {
                        "title": "Foto",
                        "type": "integer",
                        "nullable": true
                      },
                      "EMPL_NOMBRE_COMPLETO": {
                        "title": "Nombre completo",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_ID_TARJETA_DE_INGRES": {
                        "title": "ID Tarjeta de Ingreso",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_LEGAJO": {
                        "title": "Legajo",
                        "type": "integer"
                      },
                      "SECT_ID_SECT": {
                        "title": "Sector",
                        "type": "integer",
                        "description": " This is a foreign key to Sector. An id of Sector is expected",
                        "nullable": true
                      },
                      "PUES_ID_PUES": {
                        "title": "Puesto",
                        "type": "integer",
                        "description": " This is a foreign key to Puesto Funcional. An id of Puesto Funcional is expected",
                        "nullable": true
                      },
                      "SUCU_ID_SUCU": {
                        "title": "Sucursal",
                        "type": "integer",
                        "description": " This is a foreign key to Sucursal. An id of Sucursal is expected",
                        "nullable": true
                      },
                      "TIDD_ID_TIDD": {
                        "title": "Tipo de documento",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de Documento. An id of Tipo de Documento is expected",
                        "nullable": true
                      },
                      "EMPL_DNI": {
                        "title": "DNI",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "EMPL_CUIT": {
                        "title": "CUIL / CUIT",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_DOCUMENTO_ADJUNTO": {
                        "title": "Documento adjunto",
                        "type": "integer",
                        "nullable": true
                      },
                      "EMPL_TELEFONO": {
                        "title": "Teléfono",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_CELULAR": {
                        "title": "Celular",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_EMAIL": {
                        "title": "E-mail personal",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_DOMICILIO": {
                        "title": "Domicilio",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ESCI_ID_ESCI": {
                        "title": "Estado Civil",
                        "type": "integer",
                        "description": " This is a foreign key to Estado Civil. An id of Estado Civil is expected",
                        "nullable": true
                      },
                      "EMPL_FECHANACIMIENTO": {
                        "title": "Fecha de Nacimiento",
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_ULTIMA_FECHA_DE_ING": {
                        "title": "Ultima Fecha de ingreso",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Activo'",
                        "nullable": true
                      },
                      "EMPL_FECHAFIN": {
                        "title": "Fecha de egreso",
                        "type": "string",
                        "nullable": true
                      },
                      "BANC_ID_BANC": {
                        "title": "Banco",
                        "type": "integer",
                        "description": " This is a foreign key to Banco. An id of Banco is expected",
                        "nullable": true
                      },
                      "TCUE_ID_TCUE": {
                        "title": "Tipo de cuenta",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo Cuenta Bancaria. An id of Tipo Cuenta Bancaria is expected",
                        "nullable": true
                      },
                      "CUDE_ID_CUDE": {
                        "title": "Nro Cuenta",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected",
                        "nullable": true
                      },
                      "EMPL_CBU": {
                        "title": "CBU",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_ALIAS_CBU": {
                        "title": "Alias CBU",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_HORARIO": {
                        "title": "Horario",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_ESTUDIOS": {
                        "title": "Estudios",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_USUARIO": {
                        "title": "Usuario",
                        "type": "integer",
                        "nullable": true
                      },
                      "EMPL_EMAIL_LABORAL": {
                        "title": "E-mail laboral",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_ARHC_ID_1425": {
                        "title": "CV Institucional",
                        "type": "integer",
                        "nullable": true
                      },
                      "EMPL_ARCR_ID_1426": {
                        "title": "CV Institucional (SVN)",
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_ASIGNABLE": {
                        "title": "Tiene asignación a proyectos",
                        "type": "boolean",
                        "nullable": true
                      },
                      "PREP_ID_PREP": {
                        "title": "Prepaga",
                        "type": "integer",
                        "description": " This is a foreign key to Prepaga. An id of Prepaga is expected",
                        "nullable": true
                      },
                      "EMPL_INSTRUCTIVO_DE_CALID": {
                        "title": "Instructivo de Calidad entregado",
                        "type": "boolean",
                        "nullable": true
                      },
                      "EMPL_ARCHIVO_BIENVENIDO_E": {
                        "title": "Archivo Bienvenido entregado",
                        "type": "boolean",
                        "nullable": true
                      },
                      "EMPL_REGLAS_DE_CONVIVENCI": {
                        "title": "Reglas de convivencia",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CLDL_ID_CLDL": {
                        "title": "Clase de legajo",
                        "type": "integer",
                        "description": " This is a foreign key to Clase de Legajo. An id of Clase de Legajo is expected",
                        "nullable": true
                      },
                      "SEXO_ID_SEXO": {
                        "title": "Sexo",
                        "type": "integer",
                        "description": " This is a foreign key to Sexo. An id of Sexo is expected",
                        "nullable": true
                      },
                      "NACI_ID_NACI": {
                        "title": "Nacionalidad",
                        "type": "integer",
                        "description": " This is a foreign key to Nacionalidad. An id of Nacionalidad is expected",
                        "nullable": true
                      },
                      "EMPL_DOC_EXTRANJERO": {
                        "title": "Documento extranjero",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_FECHA_DE_FIN_DE_RESI": {
                        "title": "Fecha de fin de residencia",
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_DIAS_PARA_VENCIMIENT": {
                        "title": "Días para vencimiento de residencia",
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_FECHA_DOMICILIO": {
                        "title": "Fecha último domicilio",
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_LOCALIDAD": {
                        "title": "Localidad",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_CP": {
                        "title": "CP",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_VEHICULO_PROPIO": {
                        "title": "Vehículo propio",
                        "type": "boolean",
                        "nullable": true
                      },
                      "EMPL_SOLICITANTE_DE_ALTA_": {
                        "title": "Solicitante de alta de empleado",
                        "type": "integer",
                        "nullable": true
                      },
                      "EMPL_ARHC_ID_815": {
                        "title": "Currículm Vitae",
                        "type": "integer",
                        "nullable": true
                      },
                      "ZONA_ID_ZONA": {
                        "title": "Zona / Delegación",
                        "type": "integer",
                        "description": " This is a foreign key to Zona. An id of Zona is expected",
                        "nullable": true
                      },
                      "EMPL_FIMA_DIGITAL": {
                        "title": "Firma digital",
                        "type": "integer",
                        "nullable": true
                      },
                      "EMPL_ACLARACION": {
                        "title": "Aclaracion",
                        "maxLength": 80000,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_CCT": {
                        "title": "CCT",
                        "type": "boolean",
                        "nullable": true
                      },
                      "EMPL_SCVO": {
                        "title": "SCVO",
                        "type": "boolean",
                        "nullable": true
                      },
                      "EMPL_CORRESPONDE_REDUCCIO": {
                        "title": "Corresponde reducción",
                        "type": "boolean",
                        "nullable": true
                      },
                      "EMPL_PORC_DE_REDUCCION": {
                        "title": "Porc. de reducción",
                        "type": "number",
                        "nullable": true
                      },
                      "EMPL_CODIGO_SITUACION": {
                        "title": "Código situación",
                        "maxLength": 100,
                        "enum": [
                          "0",
                          "1",
                          "2",
                          "3",
                          "4",
                          "5",
                          "6",
                          "7",
                          "8",
                          "9",
                          "10",
                          "11",
                          "12",
                          "13",
                          "14",
                          "15",
                          " incisos 6 y 7 del Decreto N° 342/92)",
                          "16",
                          "17",
                          "18",
                          "19",
                          "20",
                          "21",
                          "31",
                          "32",
                          "33",
                          "42",
                          "43"
                        ],
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_CODIGO_CONDICION": {
                        "title": "Código condición",
                        "maxLength": 100,
                        "enum": [
                          "1",
                          "2",
                          "3",
                          "4",
                          "5",
                          "6",
                          "7",
                          "8",
                          ""
                        ],
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_CODIGO_ACTIVIDAD": {
                        "title": "Código actividad",
                        "maxLength": 100,
                        "enum": [
                          "0",
                          "1",
                          "2",
                          "3",
                          "4",
                          "5",
                          "6",
                          "7",
                          "8",
                          "9",
                          "10",
                          "11",
                          "12",
                          "13",
                          "14",
                          "15",
                          " municipios",
                          " org",
                          " cent y descent. Emp mixt provin y otros16 No obligados con el SIJP (colegios",
                          " reciprocidad previsional y otros)",
                          "17",
                          "18",
                          "19",
                          "20",
                          "21",
                          " Org. y Entes Públicos con OS y FNE",
                          "22",
                          " Org. y Entes Públicos sin OS y con FNE",
                          "27",
                          "29",
                          "30",
                          "31",
                          "32",
                          " Magistrados provinciales",
                          " Revisores de Cuenta",
                          "33",
                          "34",
                          "35",
                          "36",
                          "37",
                          "38",
                          "39",
                          "40",
                          "41",
                          "42",
                          "43",
                          "44",
                          "45",
                          "46",
                          "47",
                          "48",
                          "49",
                          "50",
                          "51",
                          "52",
                          "53",
                          "54",
                          "55",
                          "56",
                          "57",
                          "58",
                          "59",
                          "60",
                          "61",
                          "62",
                          "63",
                          "64",
                          "65",
                          "66",
                          "67",
                          "68",
                          "69",
                          "70",
                          "71",
                          "72",
                          "75",
                          "76",
                          "77",
                          "78",
                          "79",
                          "81",
                          "82",
                          "83",
                          "84",
                          " Revisores de Cuenta - docentes",
                          "86",
                          "87",
                          "88",
                          "91",
                          "92",
                          "93",
                          "94",
                          "95",
                          "96",
                          "97",
                          "98",
                          "99",
                          "100",
                          " Magistrados provinciales",
                          " Revisores de Cta sin ART",
                          "101",
                          " Revisores de Cta - docentes sin ART",
                          "106",
                          "109",
                          "110",
                          "117",
                          " 464920 | Venta al por mayor de materiales y productos de limpieza",
                          ""
                        ],
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_CODIGO_MODALIDAD_CON": {
                        "title": "Código modalidad contratación",
                        "maxLength": 100,
                        "enum": [
                          "0",
                          "1",
                          "2",
                          "3",
                          "4",
                          "5",
                          "6",
                          "7",
                          "8",
                          "9",
                          "10",
                          "11",
                          "12",
                          "13",
                          "14",
                          "15",
                          "16",
                          "17",
                          " Varones y Mujeres de 45 o más años y Mujer Jefe de familia S/límite/edad Ley 25250",
                          "18",
                          "19",
                          "20",
                          " Varones y Mujeres 45 o más y Mujer Jefe de familia S/límite de edad. Art. 34 Ley N° 24.147 y Ley N° 25.250",
                          "21",
                          "22",
                          "23",
                          "24",
                          "25",
                          "26",
                          " capacitación y de recuperación productiva",
                          "27",
                          "29",
                          "30",
                          "31",
                          "32",
                          "33",
                          "34",
                          "35",
                          "36",
                          "37",
                          "38",
                          "39",
                          "40",
                          "41",
                          "42",
                          "43",
                          "44",
                          "45",
                          "46",
                          " Provincial y/o Municipal",
                          "47",
                          "48",
                          "49",
                          "50",
                          "51",
                          "95",
                          "96",
                          "97",
                          "98",
                          "99",
                          " municipios",
                          " org",
                          " cent y descent. Emp mixt docentes privados o publicos de jurisdicciones incorporadas o no al SIJP)",
                          "100",
                          "102",
                          "110",
                          "111",
                          "112",
                          "113",
                          "114",
                          "115",
                          "201",
                          "202",
                          "203",
                          "205",
                          "206",
                          "211",
                          "212",
                          "213",
                          "221",
                          "222",
                          "223",
                          "301",
                          "302",
                          "303",
                          "304",
                          "305",
                          "306",
                          "307",
                          "308",
                          "309",
                          "310",
                          "311",
                          "312",
                          "313",
                          "314",
                          "315",
                          "985",
                          "987",
                          "989",
                          "990",
                          "991",
                          "992",
                          "994",
                          "995",
                          "996",
                          "997",
                          "998",
                          "999",
                          ""
                        ],
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_REVISTA_1": {
                        "title": "Situación de revista 1",
                        "maxLength": 100,
                        "enum": [
                          "0",
                          "1",
                          "2",
                          "3",
                          "4",
                          "5",
                          "6",
                          "7",
                          "8",
                          "9",
                          "10",
                          "11",
                          "12",
                          "13",
                          "14",
                          "15",
                          " incisos 6 y 7 del Decreto N° 342/92)",
                          "16",
                          "17",
                          "18",
                          "19",
                          "20",
                          "21",
                          "31",
                          "32",
                          "33",
                          "42",
                          "43"
                        ],
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_DIA_REVISTA_1": {
                        "title": "Día de inicio de situación de revista 1",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_REVISTA_2": {
                        "title": "Situación de revista 2",
                        "maxLength": 100,
                        "enum": [
                          "0",
                          "1",
                          "2",
                          "3",
                          "4",
                          "5",
                          "6",
                          "7",
                          "8",
                          "9",
                          "10",
                          "11",
                          "12",
                          "13",
                          "14",
                          "15",
                          " incisos 6 y 7 del Decreto N° 342/92)",
                          "16",
                          "17",
                          "18",
                          "19",
                          "20",
                          "21",
                          "31",
                          "32",
                          "33",
                          "42",
                          "43"
                        ],
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_DIA_REVISTA_2": {
                        "title": "Día de inicio de situación de revista 2",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_REVISTA_3": {
                        "title": "Situación de revista 3",
                        "maxLength": 100,
                        "enum": [
                          "0",
                          "1",
                          "2",
                          "3",
                          "4",
                          "5",
                          "6",
                          "7",
                          "8",
                          "9",
                          "10",
                          "11",
                          "12",
                          "13",
                          "14",
                          "15",
                          " incisos 6 y 7 del Decreto N° 342/92)",
                          "16",
                          "17",
                          "18",
                          "19",
                          "20",
                          "21",
                          "31",
                          "32",
                          "33",
                          "42",
                          "43"
                        ],
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_DIA_REVISTA_3": {
                        "title": "Día de inicio de situación de revista 3",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_REG_PREVISIONAL": {
                        "title": "Reg. Previsional",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "TICO_ID_TICO": {
                        "title": "Modo Contratación",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de contrato. An id of Tipo de contrato is expected",
                        "nullable": true
                      },
                      "SOAL_ID_SOAL": {
                        "title": "Solicitud de alta",
                        "type": "integer",
                        "description": " This is a foreign key to Solicitud de Alta . An id of Solicitud de Alta  is expected",
                        "nullable": true
                      },
                      "EMPL_DESCRIPCION_DE_MATER": {
                        "title": "Descripción de materiales a devolver",
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_CERTIFICADO_SERV": {
                        "title": "Certif. de Servicios",
                        "type": "boolean",
                        "nullable": true
                      },
                      "EMPL_RECEP_CERTIF_SERV": {
                        "title": "Recepción de Certif. Servicios",
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_CERITFICADO_TRAB": {
                        "title": "Certif. Trabajo",
                        "type": "boolean",
                        "nullable": true
                      },
                      "EMPL_RECEP_CERTIF_TRAB": {
                        "title": "Recepción de Certif. Trabajo",
                        "type": "string",
                        "nullable": true
                      },
                      "OBSO_ID_OBSO": {
                        "title": "Obra Social",
                        "type": "integer",
                        "description": " This is a foreign key to Obra Social. An id of Obra Social is expected",
                        "nullable": true
                      },
                      "SIND_ID_SIND": {
                        "title": "Sindicato",
                        "type": "integer",
                        "description": " This is a foreign key to Sindicato. An id of Sindicato is expected",
                        "nullable": true
                      },
                      "CECO_ID_CECO": {
                        "title": "Centro de costo",
                        "type": "integer",
                        "description": " This is a foreign key to Centro de costos. An id of Centro de costos is expected",
                        "nullable": true
                      },
                      "EMPL_DIAS_VACACIONES": {
                        "title": "Días de vacaciones",
                        "type": "integer",
                        "nullable": true
                      },
                      "EMPL_MEDIDAS_PREVENTIVAS": {
                        "title": "Entrega de medidas preventivas",
                        "type": "boolean",
                        "nullable": true
                      },
                      "NICA_ID_NICA": {
                        "title": "Nivel de Capacidad",
                        "type": "integer",
                        "description": " This is a foreign key to Nivel de Capacidad. An id of Nivel de Capacidad is expected",
                        "nullable": true
                      },
                      "EMPL_ARHC_ID_467": {
                        "title": "Información postulante",
                        "type": "integer",
                        "nullable": true
                      },
                      "EMPL_ARHC_ID_469": {
                        "title": "Alta ARCA",
                        "type": "integer",
                        "nullable": true
                      },
                      "EMPL_FORM_572": {
                        "title": "Formulario 572",
                        "type": "boolean",
                        "nullable": true
                      },
                      "EMPL_CARTA_ACUERDO": {
                        "title": "Carta Acuerdo",
                        "type": "boolean",
                        "nullable": true
                      },
                      "EMPL_SEG_VIDA_OBL": {
                        "title": "Seg. Vida Obligatorio",
                        "type": "boolean",
                        "nullable": true
                      },
                      "EMPL_SUAF_ANSES": {
                        "title": "SUAF (ANSES)",
                        "type": "boolean",
                        "nullable": true
                      },
                      "EMPL_FORM_SEG_VIDA": {
                        "title": "Form. Seg. Vida",
                        "type": "boolean",
                        "nullable": true
                      },
                      "EMPL_FORM_5_3": {
                        "title": "Form. 5.3 (ANSES)",
                        "type": "boolean",
                        "nullable": true
                      },
                      "EMPL_FORM_HISTORIA_LABORA": {
                        "title": "Form. Historia Laboral",
                        "type": "boolean",
                        "nullable": true
                      },
                      "EMPL_FECHA_BAJA": {
                        "title": "Fecha Baja",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Baja solicitada'",
                        "nullable": true
                      },
                      "TIBA_ID_TIBA": {
                        "title": "Tipo de baja ",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de baja. An id of Tipo de baja is expected\n This attribute is mandatory when the instance is at state 'Baja'",
                        "nullable": true
                      },
                      "EMPL_DIAS_DESDE_BAJA": {
                        "title": "Días transcurridos desde baja",
                        "type": "integer",
                        "nullable": true
                      },
                      "EMPL_DELEGADO_SINDICAL": {
                        "title": "Delegado Sindical",
                        "type": "boolean",
                        "nullable": true
                      },
                      "EMPL_DELEGADO_DESDE": {
                        "title": "Delegado desde",
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_DELEGADO_HASTA": {
                        "title": "Delegado hasta",
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_JORNADA_LABORAL": {
                        "title": "Jornada laboral",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_GUARDIAS": {
                        "title": "Guardias",
                        "type": "boolean",
                        "nullable": true
                      },
                      "EMPL_DISPONIBILIDAD": {
                        "title": "Disponibilidad",
                        "type": "boolean",
                        "nullable": true
                      },
                      "EMPL_DESARRAIGO": {
                        "title": "Desarraigo",
                        "type": "integer",
                        "nullable": true
                      },
                      "EMPL_SUELDO_BASE": {
                        "title": "Sueldo base",
                        "type": "number",
                        "nullable": true
                      },
                      "EMPL_REMUNERACION_ADIC": {
                        "title": "Remuneracion adicional",
                        "type": "number",
                        "nullable": true
                      },
                      "EMPL_CAJA_DE_AHORRO": {
                        "title": "Caja de ahorro",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_CUENTA_FONDO_DESEMPL": {
                        "title": "Cuenta Fondo Desempleo",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_COSTO_HORA": {
                        "title": "Costo hora",
                        "type": "number",
                        "nullable": true
                      },
                      "EMPL_CODIGO_SINIESTRADO": {
                        "title": "Código Siniestrado",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_ADH_NO_FAM": {
                        "title": "Adherentes OS no familiares",
                        "type": "integer",
                        "nullable": true
                      },
                      "EMPL_APORTE_ADICIONAL_OS": {
                        "title": "Aporte adicional OS",
                        "type": "number",
                        "nullable": true
                      },
                      "EMPL_CONTRIBUCION_ADICION": {
                        "title": "Contribución adicional OS",
                        "type": "number",
                        "nullable": true
                      },
                      "EMPL_BA_OS_FSR": {
                        "title": "Base aporte Diferencial Aportes OS y  FSR",
                        "type": "number",
                        "nullable": true
                      },
                      "EMPL_BC_OS_FSR": {
                        "title": "Base cálculo  Diferencial Aportes OS y  FSR",
                        "type": "number",
                        "nullable": true
                      },
                      "EMPL_BC_LRT": {
                        "title": "Base calculo Diferencial  LRT",
                        "type": "number",
                        "nullable": true
                      },
                      "CEDI_ID_CEDI": {
                        "title": "Ubicación de stock",
                        "type": "integer",
                        "description": " This is a foreign key to Ubicación de stock. An id of Ubicación de stock is expected",
                        "nullable": true
                      },
                      "GRSA_ID_GRSA": {
                        "title": "Grupo Sanguíneo",
                        "type": "integer",
                        "description": " This is a foreign key to Grupo Sanguíneo. An id of Grupo Sanguíneo is expected",
                        "nullable": true
                      },
                      "EMPL_ENFERMEDADES": {
                        "title": "Enfermedades que padece",
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_MEDICACION_PERMANEN": {
                        "title": "Medicación permanente y dosis",
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_ALERGICO": {
                        "title": "¿Alérgico?",
                        "type": "boolean",
                        "nullable": true
                      },
                      "EMPL_ALERGICO_A": {
                        "title": "Alérgico a",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_HIPERTENSO": {
                        "title": "¿Hipertenso?",
                        "type": "boolean",
                        "nullable": true
                      },
                      "EMPL_DIABETICO": {
                        "title": "¿Diabético?",
                        "type": "boolean",
                        "nullable": true
                      },
                      "EMPL_DIABETICO_TIPO": {
                        "title": "Diabético - Tipo",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_ENFERMEDADES_CARD": {
                        "title": "¿Enfermedades cardíacas?",
                        "type": "boolean",
                        "nullable": true
                      },
                      "EMPL_ASMATICO": {
                        "title": "¿Asmático?",
                        "type": "boolean",
                        "nullable": true
                      },
                      "EMPL_OPERACIONES": {
                        "title": "Operaciones",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_COMENTARIOS2": {
                        "title": "Comentarios",
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_EMERGENCIA___NOMBRE": {
                        "title": "Emergencia - Nombre",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_EMERGENCIA___PARENTE": {
                        "title": "Emergencia - Parentesco",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_EMERGENCIA___TELEFON": {
                        "title": "Emergencia - Teléfonos",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_EMERGENCIA_2___NOMBR": {
                        "title": "Emergencia 2 - Nombre",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_EMERGENCIA_2___PAREN": {
                        "title": "Emergencia 2 - Parentesco",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "EMPL_EMERGENCIA_2___TELEF": {
                        "title": "Emergencia 2 - Teléfonos",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "NUTA_ID_NUTA": {
                        "title": "Mameluco",
                        "type": "integer",
                        "description": " This is a foreign key to Número de talle. An id of Número de talle is expected",
                        "nullable": true
                      },
                      "NUTA_ID_NUT1": {
                        "title": "Pantalón",
                        "type": "integer",
                        "description": " This is a foreign key to Número de talle. An id of Número de talle is expected",
                        "nullable": true
                      },
                      "NUTA_ID_NUT2": {
                        "title": "Camisa",
                        "type": "integer",
                        "description": " This is a foreign key to Número de talle. An id of Número de talle is expected",
                        "nullable": true
                      },
                      "NUTA_ID_NUT3": {
                        "title": "Remera",
                        "type": "integer",
                        "description": " This is a foreign key to Número de talle. An id of Número de talle is expected",
                        "nullable": true
                      },
                      "NUTA_ID_NUT5": {
                        "title": "Chaqueta",
                        "type": "integer",
                        "description": " This is a foreign key to Número de talle. An id of Número de talle is expected",
                        "nullable": true
                      },
                      "NUCA_ID_NUCA": {
                        "title": "Calzado",
                        "type": "integer",
                        "description": " This is a foreign key to Número de calzado. An id of Número de calzado is expected",
                        "nullable": true
                      },
                      "TATA_ID_TATA": {
                        "title": "Buzo",
                        "type": "integer",
                        "description": " This is a foreign key to Tamaño de talle. An id of Tamaño de talle is expected",
                        "nullable": true
                      },
                      "TATA_ID_TAT1": {
                        "title": "Chomba",
                        "type": "integer",
                        "description": " This is a foreign key to Tamaño de talle. An id of Tamaño de talle is expected",
                        "nullable": true
                      },
                      "TATA_ID_TAT2": {
                        "title": "Campera ignífuga",
                        "type": "integer",
                        "description": " This is a foreign key to Tamaño de talle. An id of Tamaño de talle is expected",
                        "nullable": true
                      },
                      "TATA_ID_TAT3": {
                        "title": "Campera algodón",
                        "type": "integer",
                        "description": " This is a foreign key to Tamaño de talle. An id of Tamaño de talle is expected",
                        "nullable": true
                      },
                      "TATA_ID_TAT4": {
                        "title": "Botas lluvia / especiales",
                        "type": "integer",
                        "description": " This is a foreign key to Tamaño de talle. An id of Tamaño de talle is expected",
                        "nullable": true
                      },
                      "TATA_ID_TAT5": {
                        "title": "Capa lluvia",
                        "type": "integer",
                        "description": " This is a foreign key to Tamaño de talle. An id of Tamaño de talle is expected",
                        "nullable": true
                      },
                      "TATA_ID_TAT6": {
                        "title": "Faja",
                        "type": "integer",
                        "description": " This is a foreign key to Tamaño de talle. An id of Tamaño de talle is expected",
                        "nullable": true
                      },
                      "Capacitaciones": {
                        "title": "Capacitaciones",
                        "type": "array",
                        "items": {
                          "title": "Capacitaciones",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CAPA_ID_CAPA": {
                              "title": "Capacitación",
                              "type": "integer",
                              "description": " This is a foreign key to Capacitación. An id of Capacitación is expected",
                              "nullable": true
                            },
                            "CAEM_FECHA": {
                              "title": "Fecha",
                              "type": "string",
                              "nullable": true
                            },
                            "CAEM_COSTO_NETO_ASOCIADO": {
                              "title": "Costo neto asociado",
                              "type": "number",
                              "nullable": true
                            },
                            "CAEM_FECHA_CADUCIDAD": {
                              "title": "Fecha caducidad",
                              "type": "string",
                              "nullable": true
                            },
                            "CAEM_ADJUNTO": {
                              "title": "Adjunto",
                              "type": "integer",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Capacitaciones"
                        },
                        "description": "Array of child entities of Capacitaciones"
                      },
                      "CategoríasHistóricas": {
                        "title": "Categorías históricas",
                        "type": "array",
                        "items": {
                          "title": "Categorías históricas",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CCDT_ID_CCDT": {
                              "title": "Convenio",
                              "type": "integer",
                              "description": " This is a foreign key to Convenio colectivo de trabajo. An id of Convenio colectivo de trabajo is expected",
                              "nullable": true
                            },
                            "CADC_ID_CACO": {
                              "title": "Categoría",
                              "type": "integer",
                              "description": " This is a foreign key to Categoría de convenio. An id of Categoría de convenio is expected",
                              "nullable": true
                            },
                            "SUCA_ID_SUCA": {
                              "title": "Subcategoría",
                              "type": "integer",
                              "description": " This is a foreign key to Subcategoría de conv. An id of Subcategoría de conv is expected",
                              "nullable": true
                            },
                            "PUCO_ID_PUCO": {
                              "title": "Puesto de convenio",
                              "type": "integer",
                              "description": " This is a foreign key to Puesto de convenio. An id of Puesto de convenio is expected",
                              "nullable": true
                            },
                            "CAEM_FECHA_DE_ALTA": {
                              "title": "Fecha de alta",
                              "type": "string",
                              "nullable": true
                            },
                            "CAEM_FECHA_DE_BAJA": {
                              "title": "Fecha de baja",
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Categorías históricas"
                        },
                        "description": "Array of child entities of Categorías históricas"
                      },
                      "Com.Legales": {
                        "title": "Com. Legales",
                        "type": "array",
                        "items": {
                          "title": "Com. Legales",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "COLE_DESCRIPCION": {
                              "title": "Descripción",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "COLE_FECHA": {
                              "title": "Fecha",
                              "type": "string"
                            },
                            "COLE_DOCUMENTO": {
                              "title": "Documento",
                              "type": "boolean",
                              "nullable": true
                            },
                            "COLE_ACUSE_RECIBO": {
                              "title": "Acuse de recibo",
                              "type": "boolean",
                              "nullable": true
                            },
                            "COLE_BAJA_AFIP": {
                              "title": "Baja ARCA",
                              "type": "boolean",
                              "nullable": true
                            },
                            "TIEN_ID_TIEN": {
                              "title": "Tipo envío",
                              "type": "integer",
                              "description": " This is a foreign key to Tipo de Envío. An id of Tipo de Envío is expected"
                            },
                            "OBCO_ID_OBCO": {
                              "title": "Objeto de la comunicación",
                              "type": "integer",
                              "description": " This is a foreign key to Objeto de Com.. An id of Objeto de Com. is expected",
                              "nullable": true
                            },
                            "COLE_ARHC_ID_9291": {
                              "title": "Adjunto",
                              "type": "integer",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Com. Legales"
                        },
                        "description": "Array of child entities of Com. Legales"
                      },
                      "DenunciasDeART": {
                        "title": "Denuncias de ART",
                        "type": "array",
                        "items": {
                          "title": "Denuncias de ART",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "DEAR_REFERENCIA": {
                              "title": "Referencia",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "DEAR_FECHA_DE_DENUNCIA": {
                              "title": "Fecha de denuncia",
                              "type": "string",
                              "nullable": true
                            },
                            "DEAR_FECHA_DE_ACCIDENTE": {
                              "title": "Fecha de accidente",
                              "type": "string",
                              "nullable": true
                            },
                            "DEAR_FECHA_DE_ALTA": {
                              "title": "Fecha de alta",
                              "type": "string",
                              "nullable": true
                            },
                            "DEAR_OBSERVACIONES": {
                              "title": "Observaciones",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "DEAR_ADJUNTO": {
                              "title": "Adjunto",
                              "type": "integer",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Denuncias de ART"
                        },
                        "description": "Array of child entities of Denuncias de ART"
                      },
                      "Domicilios": {
                        "title": "Domicilios",
                        "type": "array",
                        "items": {
                          "title": "Domicilios",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "DOMI_DIRECCION": {
                              "title": "Dirección",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "DOMI_CP": {
                              "title": "CP",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "DOMI_LOCALIDAD": {
                              "title": "Localidad",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "PAIS_ID_PAIS": {
                              "title": "País",
                              "type": "integer",
                              "description": " This is a foreign key to País. An id of País is expected",
                              "nullable": true
                            },
                            "PROV_ID_PROV": {
                              "title": "Provincia",
                              "type": "integer",
                              "description": " This is a foreign key to Provincia. An id of Provincia is expected",
                              "nullable": true
                            },
                            "DOMI_ARHC_ID_275": {
                              "title": "DDJJ Domicilio",
                              "type": "integer",
                              "nullable": true
                            },
                            "DOMI_FECHA": {
                              "title": "Fecha",
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Domicilios"
                        },
                        "description": "Array of child entities of Domicilios"
                      },
                      "EntregasDeEPP": {
                        "title": "Entregas de EPP",
                        "type": "array",
                        "items": {
                          "title": "Entregas de EPP",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "ENEP_FECHA": {
                              "title": "Fecha",
                              "type": "string"
                            },
                            "ENEP_ADJUNTO": {
                              "title": "Adjunto",
                              "type": "integer",
                              "nullable": true
                            },
                            "ENEP_COMENTARIO": {
                              "title": "Descripción de la entrega",
                              "maxLength": 100,
                              "type": "string"
                            }
                          },
                          "description": "Child entity of Entregas de EPP"
                        },
                        "description": "Array of child entities of Entregas de EPP"
                      },
                      "ExámenesMédicos": {
                        "title": "Exámenes médicos",
                        "type": "array",
                        "items": {
                          "title": "Exámenes médicos",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "EXME_FECHA": {
                              "title": "Fecha",
                              "type": "string",
                              "nullable": true
                            },
                            "EXME_EXAMEN": {
                              "title": "Examen",
                              "type": "integer",
                              "nullable": true
                            },
                            "TIEM_ID_TIEM": {
                              "title": "Tipo de Examen",
                              "type": "integer",
                              "description": " This is a foreign key to Tipo Examen Méd.. An id of Tipo Examen Méd. is expected",
                              "nullable": true
                            },
                            "RESU_ID_RESU": {
                              "title": "Resultado",
                              "type": "integer",
                              "description": " This is a foreign key to Resultado. An id of Resultado is expected",
                              "nullable": true
                            },
                            "EXME_COMENTARIO": {
                              "title": "Comentario",
                              "type": "string",
                              "nullable": true
                            },
                            "EXME_VENCIMIENTO": {
                              "title": "Vencimiento",
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Exámenes médicos"
                        },
                        "description": "Array of child entities of Exámenes médicos"
                      },
                      "Familia": {
                        "title": "Familia",
                        "type": "array",
                        "items": {
                          "title": "Familia",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "FAEM_NOMBRE_COMPLETO": {
                              "title": "Nombre completo",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "TIVI_ID_TIVI": {
                              "title": "Vínculo",
                              "type": "integer",
                              "description": " This is a foreign key to Tipo de vínculo. An id of Tipo de vínculo is expected",
                              "nullable": true
                            },
                            "FAEM_FECHA_DE_NACIMIENTO": {
                              "title": "Fecha de nacimiento",
                              "type": "string",
                              "nullable": true
                            },
                            "TIDD_ID_TIDD": {
                              "title": "Tipo documento",
                              "type": "integer",
                              "description": " This is a foreign key to Tipo de Documento. An id of Tipo de Documento is expected",
                              "nullable": true
                            },
                            "FAEM_NRO_DOCUMENTO": {
                              "title": "Nro Documento",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "FAEM_FECHA_DE_INICIO_DEL_": {
                              "title": "Fecha de inicio del vínculo",
                              "type": "string",
                              "nullable": true
                            },
                            "FAEM_ACTA_DE_MATRIMONIO": {
                              "title": "Acta de matrimonio",
                              "type": "boolean",
                              "nullable": true
                            },
                            "FAEM_TESTIMONIO_DE_CONVIV": {
                              "title": "Testimonio de convivencia",
                              "type": "boolean",
                              "nullable": true
                            },
                            "FAEM_PARTIDA_DE_NACIMIENT": {
                              "title": "Partida de nacimiento",
                              "type": "boolean",
                              "nullable": true
                            },
                            "FAEM_DOCUMENTACION_POR_AD": {
                              "title": "Documentación por adopción",
                              "type": "boolean",
                              "nullable": true
                            },
                            "FAEM_CON_DISCAPACIDAD": {
                              "title": "Con discapacidad",
                              "type": "boolean",
                              "nullable": true
                            },
                            "FAEM_VTO_CERTIFICADO_HIJO": {
                              "title": "\tVto certificado hijo c/disc",
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Familia"
                        },
                        "description": "Array of child entities of Familia"
                      },
                      "Lic.Habilitantes": {
                        "title": "Lic. Habilitantes",
                        "type": "array",
                        "items": {
                          "title": "Lic. Habilitantes",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "TILH_ID_TILH": {
                              "title": "Tipo de licencia",
                              "type": "integer",
                              "description": " This is a foreign key to Tipo Lic. Habilit.. An id of Tipo Lic. Habilit. is expected",
                              "nullable": true
                            },
                            "LICE_FECHA_DE_EMISION": {
                              "title": "Fecha de emisión",
                              "type": "string",
                              "nullable": true
                            },
                            "LICE_FECHA_VENCIMIENTO": {
                              "title": "Fecha de vencimiento",
                              "type": "string",
                              "nullable": true
                            },
                            "LICE_COMENTARIO": {
                              "title": "Comentario",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "LICE_ADJUNTO": {
                              "title": "Adjunto",
                              "type": "integer",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Lic. Habilitantes"
                        },
                        "description": "Array of child entities of Lic. Habilitantes"
                      },
                      "Licencias": {
                        "title": "Licencias",
                        "type": "array",
                        "items": {
                          "title": "Licencias",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "TILE_ID_TILE": {
                              "title": "Tipo de Licencia",
                              "type": "integer",
                              "description": " This is a foreign key to Tipo de Licencia. An id of Tipo de Licencia is expected"
                            },
                            "SULI_ID_SULI": {
                              "title": "Subtipo de licencia",
                              "type": "integer",
                              "description": " This is a foreign key to Subtipo de licencia. An id of Subtipo de licencia is expected",
                              "nullable": true
                            },
                            "LITO_DIA_DESDE": {
                              "title": "Día desde",
                              "type": "string"
                            },
                            "LITO_DIA_HASTA": {
                              "title": "Día hasta",
                              "type": "string"
                            },
                            "LITO_ARHC_ID_209": {
                              "title": "Adjunto",
                              "type": "integer",
                              "nullable": true
                            },
                            "LITO_CERTIF_MEDICO": {
                              "title": "Certif. Médico",
                              "type": "boolean",
                              "nullable": true
                            },
                            "LITO_CERTIF_JUDICIAL": {
                              "title": "Certif. Judicial",
                              "type": "boolean",
                              "nullable": true
                            },
                            "LITO_CERTIF_ESTUDIOS": {
                              "title": "Certif. Estudios",
                              "type": "boolean",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Licencias"
                        },
                        "description": "Array of child entities of Licencias"
                      },
                      "Observaciones": {
                        "title": "Observaciones",
                        "type": "array",
                        "items": {
                          "title": "Observaciones",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "OBEM_FECHA": {
                              "title": "Fecha",
                              "type": "string"
                            },
                            "OBEM_OBSERVACION": {
                              "title": "Observación",
                              "type": "string"
                            }
                          },
                          "description": "Child entity of Observaciones"
                        },
                        "description": "Array of child entities of Observaciones"
                      },
                      "Sanciones": {
                        "title": "Sanciones",
                        "type": "array",
                        "items": {
                          "title": "Sanciones",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "TISA_ID_TISA": {
                              "title": "Tipo de Sanción",
                              "type": "integer",
                              "description": " This is a foreign key to Tipo de Sanción. An id of Tipo de Sanción is expected"
                            },
                            "SANC_DESCRIPCION": {
                              "title": "Descripción",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "SANC_FECHA": {
                              "title": "Fecha",
                              "type": "string"
                            },
                            "SANC_ARHC_ID_214": {
                              "title": "Adjunto",
                              "type": "integer",
                              "nullable": true
                            },
                            "SANC_DIA_DESDE": {
                              "title": "Día desde",
                              "type": "string",
                              "nullable": true
                            },
                            "SANC_DIA_HASTA": {
                              "title": "Día hasta",
                              "type": "string",
                              "nullable": true
                            },
                            "SANC_MOTIVO": {
                              "title": "Motivo",
                              "type": "string",
                              "nullable": true
                            },
                            "SANC_FECHA_DE_REINCORPORA": {
                              "title": "Fecha de reincorporación",
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Sanciones"
                        },
                        "description": "Array of child entities of Sanciones"
                      },
                      "ContrataciónPrevia": {
                        "title": "Contratación previa",
                        "type": "array",
                        "items": {
                          "title": "Contratación previa",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "COPR_DESDE": {
                              "title": "Desde",
                              "type": "string"
                            },
                            "COPR_HASTA": {
                              "title": "Hasta",
                              "type": "string"
                            }
                          },
                          "description": "Child entity of Contratación previa"
                        },
                        "description": "Array of child entities of Contratación previa"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/EMPLEADO/{id}": {
      "get": {
        "tags": [
          "Empleado"
        ],
        "description": "Get a Empleado by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Empleado id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Empleado"
        ],
        "summary": "Update a Empleado by id.",
        "description": "Update a Empleado",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Empleado id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
[...]
