{
  "openapi": "3.0.4",
  "info": {
    "title": "erpdemo.schema Calidad",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yiqi.com.ar/api/public"
    }
  ],
  "paths": {
    "/ACCION_DE_AR": {
      "post": {
        "tags": [
          "Aviso de Riesgo / Acción de AR"
        ],
        "summary": "Create a Acción de AR.",
        "description": "Creates a new instance of Acción de AR.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "ACDA_TITULO": {
                        "title": "Medida",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "AVDR_ID_AVDR": {
                        "title": "Aviso de Riesgo",
                        "type": "integer",
                        "description": " This is a foreign key to Aviso de riesgo. An id of Aviso de riesgo is expected\n This attribute is mandatory when the instance is at state 'Pendiente de confirmación'",
                        "nullable": true
                      },
                      "SECT_ID_SECT": {
                        "title": "Gerencia",
                        "type": "integer",
                        "description": " This is a foreign key to Gerencia. An id of Gerencia is expected",
                        "nullable": true
                      },
                      "ACDA_RESPONSABLE": {
                        "title": "Responsable",
                        "type": "integer",
                        "nullable": true
                      },
                      "TIDA_ID_TIDA": {
                        "title": "Tipo de acción",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de acción. An id of Tipo de acción is expected",
                        "nullable": true
                      },
                      "ACDA_FECHA_ACORDADA": {
                        "title": "Fecha acordada",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Pendiente de confirmación'",
                        "nullable": true
                      },
                      "ACDA_FECHA_DE_CIERRE": {
                        "title": "Fecha de cierre",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Finalizada'",
                        "nullable": true
                      },
                      "ACDA_DESVIO": {
                        "title": "Desvío",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACDA_PROXIMO_NUMERO": {
                        "title": "Proximo Nro",
                        "type": "integer",
                        "nullable": true
                      }
                    },
                    "description": "Instance data"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Instance created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the newly created instance"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to create instances of this entity"
          },
          "409": {
            "description": "Conflict - Duplicate instance detected"
          }
        }
      }
    },
    "/ACCION_DE_AR/{id}": {
      "get": {
        "tags": [
          "Aviso de Riesgo / Acción de AR"
        ],
        "description": "Get a Acción de AR by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Acción de AR id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "description": "Whether to include child entities in the response (default: true)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Instance unique identifier",
                      "type": "integer"
                    },
                    "ESTA_NOMBRE": {
                      "title": "State name",
                      "type": "string",
                      "nullable": true
                    },
                    "ESTA_CODIGO": {
                      "title": "State code",
                      "type": "integer",
                      "nullable": true
                    },
                    "AUDI_FECHA_ALTA": {
                      "title": "Creation date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "AUDI_FECHA_MODIF": {
                      "title": "Last modification date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "ACDA_NRO": {
                      "title": "Nro",
                      "type": "string",
                      "nullable": true
                    },
                    "ACDA_TITULO": {
                      "title": "Medida",
                      "type": "string",
                      "nullable": true
                    },
                    "AVDR_ID_AVDR": {
                      "title": "Aviso de Riesgo",
                      "type": "integer",
                      "description": "Foreign key to Aviso de riesgo",
                      "nullable": true
                    },
                    "SECT_ID_SECT": {
                      "title": "Gerencia",
                      "type": "integer",
                      "description": "Foreign key to Gerencia",
                      "nullable": true
                    },
                    "CLIE_ID_CLIE": {
                      "title": "Cliente del sector",
                      "type": "integer",
                      "description": "Foreign key to Empresa",
                      "nullable": true
                    },
                    "ACDA_RESPONSABLE": {
                      "title": "Responsable",
                      "type": "integer",
                      "nullable": true
                    },
                    "TIDA_ID_TIDA": {
                      "title": "Tipo de acción",
                      "type": "integer",
                      "description": "Foreign key to Tipo de acción",
                      "nullable": true
                    },
                    "ACDA_FECHA_ACORDADA": {
                      "title": "Fecha acordada",
                      "type": "string",
                      "nullable": true
                    },
                    "ACDA_FECHA_DE_CIERRE": {
                      "title": "Fecha de cierre",
                      "type": "string",
                      "nullable": true
                    },
                    "ACDA_DESVIO": {
                      "title": "Desvío",
                      "type": "integer",
                      "nullable": true
                    },
                    "ACDA_FECHA_OBLIGATORIA": {
                      "title": "Fecha de confirmación obligatoria",
                      "type": "string",
                      "nullable": true
                    },
                    "ACDA_DIAS_A_CONFIRMACION": {
                      "title": "Días a confirmación",
                      "type": "integer",
                      "nullable": true
                    },
                    "ACDA_ESTADO_AC": {
                      "title": "Situación de acción",
                      "type": "string",
                      "nullable": true
                    },
                    "ACDA_ESTADO_VENCIDA": {
                      "title": "Estado vencida",
                      "type": "integer",
                      "nullable": true
                    },
                    "ACDA_OPERACION_DE_AR": {
                      "title": "Operación de AR",
                      "type": "string",
                      "nullable": true
                    },
                    "ACDA_BASE_OPERATIVA": {
                      "title": "Base Operativa",
                      "type": "string",
                      "nullable": true
                    },
                    "ACDA_PROXIMO_NUMERO": {
                      "title": "Proximo Nro",
                      "type": "integer",
                      "nullable": true
                    },
                    "ACDA_DIAS_A_VENCIMIENTO": {
                      "title": "Días a vencimiento",
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to access this resource"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      },
      "put": {
        "tags": [
          "Aviso de Riesgo / Acción de AR"
        ],
        "summary": "Update a Acción de AR by id.",
        "description": "Update a Acción de AR",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Acción de AR id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "ACDA_TITULO": {
                        "title": "Medida",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "AVDR_ID_AVDR": {
                        "title": "Aviso de Riesgo",
                        "type": "integer",
                        "description": " This is a foreign key to Aviso de riesgo. An id of Aviso de riesgo is expected\n This attribute is mandatory when the instance is at state 'Pendiente de confirmación'",
                        "nullable": true
                      },
                      "SECT_ID_SECT": {
                        "title": "Gerencia",
                        "type": "integer",
                        "description": " This is a foreign key to Gerencia. An id of Gerencia is expected",
                        "nullable": true
                      },
                      "ACDA_RESPONSABLE": {
                        "title": "Responsable",
                        "type": "integer",
                        "nullable": true
                      },
                      "TIDA_ID_TIDA": {
                        "title": "Tipo de acción",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de acción. An id of Tipo de acción is expected",
                        "nullable": true
                      },
                      "ACDA_FECHA_ACORDADA": {
                        "title": "Fecha acordada",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Pendiente de confirmación'",
                        "nullable": true
                      },
                      "ACDA_FECHA_DE_CIERRE": {
                        "title": "Fecha de cierre",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Finalizada'",
                        "nullable": true
                      },
                      "ACDA_DESVIO": {
                        "title": "Desvío",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACDA_PROXIMO_NUMERO": {
                        "title": "Proximo Nro",
                        "type": "integer",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Aviso de Riesgo / Acción de AR"
        ],
        "summary": "Delete a Acción de AR by id.",
        "description": "Delete a Acción de AR",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Acción de AR id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/ACCION_DE_AR/search": {
      "get": {
        "tags": [
          "Aviso de Riesgo / Acción de AR"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Acción de AR",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ACCION_DE_AR/smartie": {
      "get": {
        "tags": [
          "Aviso de Riesgo / Acción de AR"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ACCION_DE_AR/query": {
      "post": {
        "tags": [
          "Aviso de Riesgo / Acción de AR"
        ],
        "summary": "Execute dynamic query without persisted smartie",
        "description": "Performs a dynamic query on Acción de AR instances with custom columns, filters, sorting, and aggregations. This endpoint allows ad-hoc queries without requiring a saved smartie configuration.",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Dynamic query parameters including pagination, columns, filters, and search criteria",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "page"
                ],
                "type": "object",
                "properties": {
                  "page": {
                    "minimum": 1,
                    "type": "integer",
                    "description": "Page number (1-based)",
                    "default": 1
                  },
                  "pageSize": {
                    "maximum": 1000,
                    "minimum": 1,
                    "type": "integer",
                    "description": "Number of records per page",
                    "default": 50
                  },
                  "search": {
                    "type": "string",
                    "description": "Fast search term to filter across all columns",
                    "nullable": true
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "required": [
                        "field"
                      ],
                      "type": "object",
                      "properties": {
                        "field": {
                          "enum": [
                            "ACDA_NRO",
                            "ACDA_TITULO",
                            "ACDA_RESPONSABLE",
                            "ACDA_FECHA_ACORDADA",
                            "ACDA_FECHA_DE_CIERRE",
                            "ACDA_DESVIO",
                            "ACDA_FECHA_OBLIGATORIA",
                            "ACDA_DIAS_A_CONFIRMACION",
                            "ACDA_ESTADO_AC",
                            "ACDA_ESTADO_VENCIDA",
                            "ACDA_OPERACION_DE_AR",
                            "ACDA_BASE_OPERATIVA",
                            "ACDA_PROXIMO_NUMERO",
                            "ACDA_DIAS_A_VENCIMIENTO",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Physical column name (required). Available columns from entity view."
                        },
                        "title": {
                          "type": "string",
                          "description": "Custom column title (optional)",
                          "nullable": true
                        },
                        "sortDirection": {
                          "enum": [
                            "ASC",
                            "DESC"
                          ],
                          "type": "string",
                          "description": "Sort direction",
                          "nullable": true
                        },
                        "order": {
                          "type": "integer",
                          "description": "Column display order (optional)",
                          "nullable": true
                        },
                        "sortOrder": {
                          "type": "integer",
                          "description": "Sort priority order (optional)",
                          "nullable": true
                        },
                        "aggregation": {
                          "enum": [
                            "SUM",
                            "COUNT",
                            "AVG",
                            "MIN",
                            "MAX"
                          ],
                          "type": "string",
                          "description": "Aggregation function",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Column specifications. If null or empty, default header columns will be used",
                    "nullable": true
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "required": [
                        "columnName",
                        "operator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "columnName": {
                          "enum": [
                            "ACDA_NRO",
                            "ACDA_TITULO",
                            "ACDA_RESPONSABLE",
                            "ACDA_FECHA_ACORDADA",
                            "ACDA_FECHA_DE_CIERRE",
                            "ACDA_DESVIO",
                            "ACDA_FECHA_OBLIGATORIA",
                            "ACDA_DIAS_A_CONFIRMACION",
                            "ACDA_ESTADO_AC",
                            "ACDA_ESTADO_VENCIDA",
                            "ACDA_OPERACION_DE_AR",
                            "ACDA_BASE_OPERATIVA",
                            "ACDA_PROXIMO_NUMERO",
                            "ACDA_DIAS_A_VENCIMIENTO",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Column name to filter (required). Available columns from entity view."
                        },
                        "operator": {
                          "enum": [
                            "=",
                            "!=",
                            ">",
                            "<",
                            ">=",
                            "<=",
                            "LIKE"
                          ],
                          "type": "string",
                          "description": "Comparison operator"
                        },
                        "value": {
                          "description": "Value to compare. Type should match column data type",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Filter specifications",
                    "nullable": true
                  }
                }
              },
              "example": {
                "page": 1,
                "pageSize": 10,
                "search": "",
                "columns": [
                  {
                    "field": "COLUMN_NAME",
                    "title": "Column Title",
                    "sortDirection": "ASC",
                    "sortOrder": 1
                  }
                ],
                "filters": [
                  {
                    "columnName": "COLUMN_NAME",
                    "operator": "=",
                    "value": "value"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Array of records matching the query"
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records (without pagination)"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Column definitions"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or column names"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to view this entity"
          },
          "404": {
            "description": "Entity not found"
          }
        }
      }
    },
    "/ACCION_DE_AR/changestate": {
      "post": {
        "tags": [
          "Aviso de Riesgo / Acción de AR"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Editando acción</li>\n<li>Finalizada</li>\n<li>Iniciada</li>\n<li>Iniciando autom</li>\n<li>Pendiente de confirmación</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ACCION_DE_AR/changestatemultiple": {
      "post": {
        "tags": [
          "Aviso de Riesgo / Acción de AR"
        ],
        "description": "Change multiple instances' state",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Editando acción</li>\n<li>Finalizada</li>\n<li>Iniciada</li>\n<li>Iniciando autom</li>\n<li>Pendiente de confirmación</li></ul>",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Comma separated ids",
            "required": true,
            "example": "100,101,102"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ACCION_DE_AR/file": {
      "get": {
        "tags": [
          "Aviso de Riesgo / Acción de AR"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Aviso de Riesgo / Acción de AR"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ACCION_DE_AR/report": {
      "get": {
        "tags": [
          "Aviso de Riesgo / Acción de AR"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ANALISIS_DE_CAUSA": {
      "post": {
        "tags": [
          "Aviso de Riesgo / Análisis de causa"
        ],
        "summary": "Create a Análisis de causa.",
        "description": "Creates a new instance of Análisis de causa.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "AVDR_ID_AVDR"
                    ],
                    "type": "object",
                    "properties": {
                      "AVDR_ID_AVDR": {
                        "title": "AR",
                        "type": "integer",
                        "description": " This is a foreign key to Aviso de riesgo. An id of Aviso de riesgo is expected"
                      },
                      "ANDC_AFECTADOS_INVOL": {
                        "title": "Afectados / Involucrados",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_SUPERIOR_DIRECTO": {
                        "title": "Superior directo",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_EFECTIVO": {
                        "title": "Efectivo",
                        "type": "boolean",
                        "nullable": true
                      },
                      "ANDC_EVENTUAL": {
                        "title": "Eventual",
                        "type": "boolean",
                        "nullable": true
                      },
                      "ANDC_TERCERO": {
                        "title": "Tercero",
                        "type": "boolean",
                        "nullable": true
                      },
                      "ANDC_EMPRESA": {
                        "title": "En Empresa",
                        "type": "integer",
                        "nullable": true
                      },
                      "ANDC_PUESTO": {
                        "title": "En Puesto",
                        "type": "integer",
                        "nullable": true
                      },
                      "ANDC_EQUIPOS_VEHICULOS_I": {
                        "title": "Equipos / Vehículos involucrados",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_TIPO_DE_LESION": {
                        "title": "Tipo de lesión",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PARTE_AFECTADA": {
                        "title": "Parte afectada",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_DANOS_PRODUCTOS": {
                        "title": "Daños Productos/ Estructuras/ Equipamientos",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_DAOS_AMBIENTE": {
                        "title": "Daños Ambiente",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_DESVIOS_DE_CALIDAD": {
                        "title": "Desvíos de calidad",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_DESCRIPCION___OBSERV": {
                        "title": "Descripción / Observación",
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_UBICACION": {
                        "title": "Ubicación / Lugar de ocurrencia",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PROBLEMA": {
                        "title": "Problema",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_POR_QUE_1": {
                        "title": "¿Por qué? (1)",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_POR_QUE_2": {
                        "title": "¿Por qué? (2)",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_POR_QUE_3": {
                        "title": "¿Por qué? (3)",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_POR_QUE_4": {
                        "title": "¿Por qué? (4)",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_POR_QUE_5": {
                        "title": "¿Por qué? (5)",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_MA_A": {
                        "title": "Causa A",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_ME_A": {
                        "title": "Causa A",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_MA_A": {
                        "title": "¿Por qué?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_ME_A": {
                        "title": "¿Por qué ?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_MA_B": {
                        "title": "Causa B",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_ME_B": {
                        "title": "Causa B",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_MA_B": {
                        "title": "¿Por qué?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_ME_B": {
                        "title": "¿Por qué?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_MD_A": {
                        "title": "Causa A",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_MP_A": {
                        "title": "Causa A",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_MD_A": {
                        "title": "¿Por qué?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_MP_A": {
                        "title": "¿Por qué?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_MD_B": {
                        "title": "Causa B",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_MP_B": {
                        "title": "Causa B",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_MD_B": {
                        "title": "¿Por qué?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_MP_B": {
                        "title": "¿Por qué?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_MB_A": {
                        "title": "Causa A",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_OT_A": {
                        "title": "Causa A",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_MB_A": {
                        "title": "¿Por qué?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_OT_A": {
                        "title": "¿Por qué?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_MB_B": {
                        "title": "Causa B",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_OT_B": {
                        "title": "Causa B",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_MB_B": {
                        "title": "¿Por qué?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_OT_B": {
                        "title": "¿Por qué?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA": {
                        "title": "Causa raíz",
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSAS_CONTRIBUYENTE": {
                        "title": "Factores Contribuyentes",
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "description": "Instance data"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Instance created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the newly created instance"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to create instances of this entity"
          },
          "409": {
            "description": "Conflict - Duplicate instance detected"
          }
        }
      }
    },
    "/ANALISIS_DE_CAUSA/{id}": {
      "get": {
        "tags": [
          "Aviso de Riesgo / Análisis de causa"
        ],
        "description": "Get a Análisis de causa by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Análisis de causa id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "description": "Whether to include child entities in the response (default: true)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Instance unique identifier",
                      "type": "integer"
                    },
                    "ESTA_NOMBRE": {
                      "title": "State name",
                      "type": "string",
                      "nullable": true
                    },
                    "ESTA_CODIGO": {
                      "title": "State code",
                      "type": "integer",
                      "nullable": true
                    },
                    "AUDI_FECHA_ALTA": {
                      "title": "Creation date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "AUDI_FECHA_MODIF": {
                      "title": "Last modification date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "AVDR_ID_AVDR": {
                      "title": "AR",
                      "type": "integer",
                      "description": "Foreign key to Aviso de riesgo"
                    },
                    "ANDC_AFECTADOS_INVOL": {
                      "title": "Afectados / Involucrados",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_SUPERIOR_DIRECTO": {
                      "title": "Superior directo",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_EFECTIVO": {
                      "title": "Efectivo",
                      "type": "boolean",
                      "nullable": true
                    },
                    "ANDC_EVENTUAL": {
                      "title": "Eventual",
                      "type": "boolean",
                      "nullable": true
                    },
                    "ANDC_TERCERO": {
                      "title": "Tercero",
                      "type": "boolean",
                      "nullable": true
                    },
                    "ANDC_EMPRESA": {
                      "title": "En Empresa",
                      "type": "integer",
                      "nullable": true
                    },
                    "ANDC_PUESTO": {
                      "title": "En Puesto",
                      "type": "integer",
                      "nullable": true
                    },
                    "ANDC_EQUIPOS_VEHICULOS_I": {
                      "title": "Equipos / Vehículos involucrados",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_TIPO_DE_LESION": {
                      "title": "Tipo de lesión",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_PARTE_AFECTADA": {
                      "title": "Parte afectada",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_DANOS_PRODUCTOS": {
                      "title": "Daños Productos/ Estructuras/ Equipamientos",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_DAOS_AMBIENTE": {
                      "title": "Daños Ambiente",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_DESVIOS_DE_CALIDAD": {
                      "title": "Desvíos de calidad",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_DESCRIPCION___OBSERV": {
                      "title": "Descripción / Observación",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_UBICACION": {
                      "title": "Ubicación / Lugar de ocurrencia",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_PROBLEMA": {
                      "title": "Problema",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_POR_QUE_1": {
                      "title": "¿Por qué? (1)",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_POR_QUE_2": {
                      "title": "¿Por qué? (2)",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_POR_QUE_3": {
                      "title": "¿Por qué? (3)",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_POR_QUE_4": {
                      "title": "¿Por qué? (4)",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_POR_QUE_5": {
                      "title": "¿Por qué? (5)",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_CAUSA_MA_A": {
                      "title": "Causa A",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_CAUSA_ME_A": {
                      "title": "Causa A",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_PORQUE_MA_A": {
                      "title": "¿Por qué?",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_PORQUE_ME_A": {
                      "title": "¿Por qué ?",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_CAUSA_MA_B": {
                      "title": "Causa B",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_CAUSA_ME_B": {
                      "title": "Causa B",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_PORQUE_MA_B": {
                      "title": "¿Por qué?",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_PORQUE_ME_B": {
                      "title": "¿Por qué?",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_CAUSA_MD_A": {
                      "title": "Causa A",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_CAUSA_MP_A": {
                      "title": "Causa A",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_PORQUE_MD_A": {
                      "title": "¿Por qué?",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_PORQUE_MP_A": {
                      "title": "¿Por qué?",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_CAUSA_MD_B": {
                      "title": "Causa B",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_CAUSA_MP_B": {
                      "title": "Causa B",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_PORQUE_MD_B": {
                      "title": "¿Por qué?",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_PORQUE_MP_B": {
                      "title": "¿Por qué?",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_CAUSA_MB_A": {
                      "title": "Causa A",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_CAUSA_OT_A": {
                      "title": "Causa A",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_PORQUE_MB_A": {
                      "title": "¿Por qué?",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_PORQUE_OT_A": {
                      "title": "¿Por qué?",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_CAUSA_MB_B": {
                      "title": "Causa B",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_CAUSA_OT_B": {
                      "title": "Causa B",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_PORQUE_MB_B": {
                      "title": "¿Por qué?",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_PORQUE_OT_B": {
                      "title": "¿Por qué?",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_CAUSA": {
                      "title": "Causa raíz",
                      "type": "string",
                      "nullable": true
                    },
                    "ANDC_CAUSAS_CONTRIBUYENTE": {
                      "title": "Factores Contribuyentes",
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to access this resource"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      },
      "put": {
        "tags": [
          "Aviso de Riesgo / Análisis de causa"
        ],
        "summary": "Update a Análisis de causa by id.",
        "description": "Update a Análisis de causa",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Análisis de causa id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "AVDR_ID_AVDR"
                    ],
                    "type": "object",
                    "properties": {
                      "AVDR_ID_AVDR": {
                        "title": "AR",
                        "type": "integer",
                        "description": " This is a foreign key to Aviso de riesgo. An id of Aviso de riesgo is expected"
                      },
                      "ANDC_AFECTADOS_INVOL": {
                        "title": "Afectados / Involucrados",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_SUPERIOR_DIRECTO": {
                        "title": "Superior directo",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_EFECTIVO": {
                        "title": "Efectivo",
                        "type": "boolean",
                        "nullable": true
                      },
                      "ANDC_EVENTUAL": {
                        "title": "Eventual",
                        "type": "boolean",
                        "nullable": true
                      },
                      "ANDC_TERCERO": {
                        "title": "Tercero",
                        "type": "boolean",
                        "nullable": true
                      },
                      "ANDC_EMPRESA": {
                        "title": "En Empresa",
                        "type": "integer",
                        "nullable": true
                      },
                      "ANDC_PUESTO": {
                        "title": "En Puesto",
                        "type": "integer",
                        "nullable": true
                      },
                      "ANDC_EQUIPOS_VEHICULOS_I": {
                        "title": "Equipos / Vehículos involucrados",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_TIPO_DE_LESION": {
                        "title": "Tipo de lesión",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PARTE_AFECTADA": {
                        "title": "Parte afectada",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_DANOS_PRODUCTOS": {
                        "title": "Daños Productos/ Estructuras/ Equipamientos",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_DAOS_AMBIENTE": {
                        "title": "Daños Ambiente",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_DESVIOS_DE_CALIDAD": {
                        "title": "Desvíos de calidad",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_DESCRIPCION___OBSERV": {
                        "title": "Descripción / Observación",
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_UBICACION": {
                        "title": "Ubicación / Lugar de ocurrencia",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PROBLEMA": {
                        "title": "Problema",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_POR_QUE_1": {
                        "title": "¿Por qué? (1)",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_POR_QUE_2": {
                        "title": "¿Por qué? (2)",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_POR_QUE_3": {
                        "title": "¿Por qué? (3)",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_POR_QUE_4": {
                        "title": "¿Por qué? (4)",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_POR_QUE_5": {
                        "title": "¿Por qué? (5)",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_MA_A": {
                        "title": "Causa A",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_ME_A": {
                        "title": "Causa A",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_MA_A": {
                        "title": "¿Por qué?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_ME_A": {
                        "title": "¿Por qué ?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_MA_B": {
                        "title": "Causa B",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_ME_B": {
                        "title": "Causa B",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_MA_B": {
                        "title": "¿Por qué?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_ME_B": {
                        "title": "¿Por qué?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_MD_A": {
                        "title": "Causa A",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_MP_A": {
                        "title": "Causa A",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_MD_A": {
                        "title": "¿Por qué?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_MP_A": {
                        "title": "¿Por qué?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_MD_B": {
                        "title": "Causa B",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_MP_B": {
                        "title": "Causa B",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_MD_B": {
                        "title": "¿Por qué?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_MP_B": {
                        "title": "¿Por qué?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_MB_A": {
                        "title": "Causa A",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_OT_A": {
                        "title": "Causa A",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_MB_A": {
                        "title": "¿Por qué?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_OT_A": {
                        "title": "¿Por qué?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_MB_B": {
                        "title": "Causa B",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA_OT_B": {
                        "title": "Causa B",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_MB_B": {
                        "title": "¿Por qué?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_PORQUE_OT_B": {
                        "title": "¿Por qué?",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSA": {
                        "title": "Causa raíz",
                        "type": "string",
                        "nullable": true
                      },
                      "ANDC_CAUSAS_CONTRIBUYENTE": {
                        "title": "Factores Contribuyentes",
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Aviso de Riesgo / Análisis de causa"
        ],
        "summary": "Delete a Análisis de causa by id.",
        "description": "Delete a Análisis de causa",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Análisis de causa id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/ANALISIS_DE_CAUSA/search": {
      "get": {
        "tags": [
          "Aviso de Riesgo / Análisis de causa"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Análisis de causa",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "AVDR_ID_AVDR",
            "in": "query",
            "description": "AR",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ANALISIS_DE_CAUSA/smartie": {
      "get": {
        "tags": [
          "Aviso de Riesgo / Análisis de causa"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ANALISIS_DE_CAUSA/query": {
      "post": {
        "tags": [
          "Aviso de Riesgo / Análisis de causa"
        ],
        "summary": "Execute dynamic query without persisted smartie",
        "description": "Performs a dynamic query on Análisis de causa instances with custom columns, filters, sorting, and aggregations. This endpoint allows ad-hoc queries without requiring a saved smartie configuration.",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Dynamic query parameters including pagination, columns, filters, and search criteria",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "page"
                ],
                "type": "object",
                "properties": {
                  "page": {
                    "minimum": 1,
                    "type": "integer",
                    "description": "Page number (1-based)",
                    "default": 1
                  },
                  "pageSize": {
                    "maximum": 1000,
                    "minimum": 1,
                    "type": "integer",
                    "description": "Number of records per page",
                    "default": 50
                  },
                  "search": {
                    "type": "string",
                    "description": "Fast search term to filter across all columns",
                    "nullable": true
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "required": [
                        "field"
                      ],
                      "type": "object",
                      "properties": {
                        "field": {
                          "enum": [
                            "ANDC_AFECTADOS_INVOL",
                            "ANDC_SUPERIOR_DIRECTO",
                            "ANDC_CONTRATACION",
                            "ANDC_EFECTIVO",
                            "ANDC_EVENTUAL",
                            "ANDC_TERCERO",
                            "ANDC_ANTIGUEDADES",
                            "ANDC_EMPRESA",
                            "ANDC_PUESTO",
                            "ANDC_EQUIPOS_VEHICULOS_I",
                            "ANDC_LESION_DANOS",
                            "ANDC_TIPO_DE_LESION",
                            "ANDC_PARTE_AFECTADA",
                            "ANDC_DANOS_PRODUCTOS",
                            "ANDC_DAOS_AMBIENTE",
                            "ANDC_DESVIOS_DE_CALIDAD",
                            "ANDC_DESCRIPCION___OBSERV",
                            "ANDC_UBICACION",
                            "ANDC_PROBLEMA",
                            "ANDC_ANALISIS_DEL_PROBLEM",
                            "ANDC_POR_QUE_1",
                            "ANDC_POR_QUE_2",
                            "ANDC_POR_QUE_3",
                            "ANDC_POR_QUE_4",
                            "ANDC_POR_QUE_5",
                            "ANDC_ARBOL_DE_CAUSAS",
                            "ANDC_MAQUINAS",
                            "ANDC_METODOS",
                            "ANDC_CAUSA_MA_A",
                            "ANDC_CAUSA_ME_A",
                            "ANDC_PORQUE_MA_A",
                            "ANDC_PORQUE_ME_A",
                            "ANDC_CAUSA_MA_B",
                            "ANDC_CAUSA_ME_B",
                            "ANDC_PORQUE_MA_B",
                            "ANDC_PORQUE_ME_B",
                            "ANDC_MEDIO_AM",
                            "ANDC_MATE_PRIMAS",
                            "ANDC_CAUSA_MD_A",
                            "ANDC_CAUSA_MP_A",
                            "ANDC_PORQUE_MD_A",
                            "ANDC_PORQUE_MP_A",
                            "ANDC_CAUSA_MD_B",
                            "ANDC_CAUSA_MP_B",
                            "ANDC_PORQUE_MD_B",
                            "ANDC_PORQUE_MP_B",
                            "ANDC_MANO_OBRA",
                            "ANDC_OTROS",
                            "ANDC_CAUSA_MB_A",
                            "ANDC_CAUSA_OT_A",
                            "ANDC_PORQUE_MB_A",
                            "ANDC_PORQUE_OT_A",
                            "ANDC_CAUSA_MB_B",
                            "ANDC_CAUSA_OT_B",
                            "ANDC_PORQUE_MB_B",
                            "ANDC_PORQUE_OT_B",
                            "ANDC_CAUSA",
                            "ANDC_CAUSAS_CONTRIBUYENTE",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Physical column name (required). Available columns from entity view."
                        },
                        "title": {
                          "type": "string",
                          "description": "Custom column title (optional)",
                          "nullable": true
                        },
                        "sortDirection": {
                          "enum": [
                            "ASC",
                            "DESC"
                          ],
                          "type": "string",
                          "description": "Sort direction",
                          "nullable": true
                        },
                        "order": {
                          "type": "integer",
                          "description": "Column display order (optional)",
                          "nullable": true
                        },
                        "sortOrder": {
                          "type": "integer",
                          "description": "Sort priority order (optional)",
                          "nullable": true
                        },
                        "aggregation": {
                          "enum": [
                            "SUM",
                            "COUNT",
                            "AVG",
                            "MIN",
                            "MAX"
                          ],
                          "type": "string",
                          "description": "Aggregation function",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Column specifications. If null or empty, default header columns will be used",
                    "nullable": true
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "required": [
                        "columnName",
                        "operator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "columnName": {
                          "enum": [
                            "ANDC_AFECTADOS_INVOL",
                            "ANDC_SUPERIOR_DIRECTO",
                            "ANDC_CONTRATACION",
                            "ANDC_EFECTIVO",
                            "ANDC_EVENTUAL",
                            "ANDC_TERCERO",
                            "ANDC_ANTIGUEDADES",
                            "ANDC_EMPRESA",
                            "ANDC_PUESTO",
                            "ANDC_EQUIPOS_VEHICULOS_I",
                            "ANDC_LESION_DANOS",
                            "ANDC_TIPO_DE_LESION",
                            "ANDC_PARTE_AFECTADA",
                            "ANDC_DANOS_PRODUCTOS",
                            "ANDC_DAOS_AMBIENTE",
                            "ANDC_DESVIOS_DE_CALIDAD",
                            "ANDC_DESCRIPCION___OBSERV",
                            "ANDC_UBICACION",
                            "ANDC_PROBLEMA",
                            "ANDC_ANALISIS_DEL_PROBLEM",
                            "ANDC_POR_QUE_1",
                            "ANDC_POR_QUE_2",
                            "ANDC_POR_QUE_3",
                            "ANDC_POR_QUE_4",
                            "ANDC_POR_QUE_5",
                            "ANDC_ARBOL_DE_CAUSAS",
                            "ANDC_MAQUINAS",
                            "ANDC_METODOS",
                            "ANDC_CAUSA_MA_A",
                            "ANDC_CAUSA_ME_A",
                            "ANDC_PORQUE_MA_A",
                            "ANDC_PORQUE_ME_A",
                            "ANDC_CAUSA_MA_B",
                            "ANDC_CAUSA_ME_B",
                            "ANDC_PORQUE_MA_B",
                            "ANDC_PORQUE_ME_B",
                            "ANDC_MEDIO_AM",
                            "ANDC_MATE_PRIMAS",
                            "ANDC_CAUSA_MD_A",
                            "ANDC_CAUSA_MP_A",
                            "ANDC_PORQUE_MD_A",
                            "ANDC_PORQUE_MP_A",
                            "ANDC_CAUSA_MD_B",
                            "ANDC_CAUSA_MP_B",
                            "ANDC_PORQUE_MD_B",
                            "ANDC_PORQUE_MP_B",
                            "ANDC_MANO_OBRA",
                            "ANDC_OTROS",
                            "ANDC_CAUSA_MB_A",
                            "ANDC_CAUSA_OT_A",
                            "ANDC_PORQUE_MB_A",
                            "ANDC_PORQUE_OT_A",
                            "ANDC_CAUSA_MB_B",
                            "ANDC_CAUSA_OT_B",
                            "ANDC_PORQUE_MB_B",
                            "ANDC_PORQUE_OT_B",
                            "ANDC_CAUSA",
                            "ANDC_CAUSAS_CONTRIBUYENTE",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Column name to filter (required). Available columns from entity view."
                        },
                        "operator": {
                          "enum": [
                            "=",
                            "!=",
                            ">",
                            "<",
                            ">=",
                            "<=",
                            "LIKE"
                          ],
                          "type": "string",
                          "description": "Comparison operator"
                        },
                        "value": {
                          "description": "Value to compare. Type should match column data type",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Filter specifications",
                    "nullable": true
                  }
                }
              },
              "example": {
                "page": 1,
                "pageSize": 10,
                "search": "",
                "columns": [
                  {
                    "field": "COLUMN_NAME",
                    "title": "Column Title",
                    "sortDirection": "ASC",
                    "sortOrder": 1
                  }
                ],
                "filters": [
                  {
                    "columnName": "COLUMN_NAME",
                    "operator": "=",
                    "value": "value"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Array of records matching the query"
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records (without pagination)"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Column definitions"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or column names"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to view this entity"
          },
          "404": {
            "description": "Entity not found"
          }
        }
      }
    },
    "/ANALISIS_DE_CAUSA/file": {
      "get": {
        "tags": [
          "Aviso de Riesgo / Análisis de causa"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Aviso de Riesgo / Análisis de causa"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ANALISIS_DE_CAUSA/report": {
      "get": {
        "tags": [
          "Aviso de Riesgo / Análisis de causa"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/AVISO_DE_RIESGO": {
      "post": {
        "tags": [
          "Aviso de Riesgo / Aviso de riesgo"
        ],
        "summary": "Create a Aviso de riesgo.",
        "description": "Creates a new instance of Aviso de riesgo.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
[...]
