{
  "openapi": "3.0.4",
  "info": {
    "title": "erpdemo.schema Compras",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yiqi.com.ar/api/public"
    }
  ],
  "paths": {
    "/DESPACHO": {
      "post": {
        "tags": [
          "Despacho"
        ],
        "summary": "Create a Despacho.",
        "description": "Creates a Despacho",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "DESP_NRO_DE_DESPACHO"
                    ],
                    "type": "object",
                    "properties": {
                      "DESP_NRO_DE_DESPACHO": {
                        "title": "Nro de Despacho",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "DESP_FECHA_DE_NACIONALIZA": {
                        "title": "Fecha de nacionalización",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Confirmado'",
                        "nullable": true
                      },
                      "DESP_SALES_ORDER": {
                        "title": "Sales Order",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ORDC_ID_ORDC": {
                        "title": "Orden de compra",
                        "type": "integer",
                        "description": " This is a foreign key to Orden de Compra. An id of Orden de Compra is expected",
                        "nullable": true
                      },
                      "DESP_FECHA_DE_INICIO": {
                        "title": "Fecha de inicio",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'En producción'",
                        "nullable": true
                      },
                      "DESP_FINALIZACION": {
                        "title": "Finalización",
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_SALIDA_TRANS": {
                        "title": "Salida Trans",
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_ETD": {
                        "title": "ETD",
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_ETA": {
                        "title": "ETA",
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_ENTREGA": {
                        "title": "Entrega",
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_REF_FORWARD": {
                        "title": "Ref. Forward",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_HBL_GUIA": {
                        "title": "HBL/Guía",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_POL_AOL": {
                        "title": "POL/AOL",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_FORWARD": {
                        "title": "Forward",
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_FOB": {
                        "title": "FOB",
                        "type": "number",
                        "description": " This attribute is mandatory when the instance is at state 'Generando factura'",
                        "nullable": true
                      },
                      "DESP_FLETE": {
                        "title": "Flete",
                        "type": "number",
                        "description": " This attribute is mandatory when the instance is at state 'Generando factura'",
                        "nullable": true
                      },
                      "DESP_SEGURO": {
                        "title": "Seguro Total",
                        "type": "number",
                        "description": " This attribute is mandatory when the instance is at state 'Generando factura'",
                        "nullable": true
                      },
                      "DESP_VALOR_DE_CAMBIO": {
                        "title": "Valor de cambio",
                        "type": "number",
                        "nullable": true
                      },
                      "DESP_BI_USD": {
                        "title": "Base Imponible USD - 1",
                        "type": "number",
                        "nullable": true
                      },
                      "ALIV_ID_ALIV": {
                        "title": "Alicuota - 1",
                        "type": "integer",
                        "description": " This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected\n This attribute is mandatory when the instance is at state 'Generando factura'",
                        "nullable": true
                      },
                      "DESP_BI2_USD": {
                        "title": "Base Imponible USD - 2",
                        "type": "number",
                        "nullable": true
                      },
                      "ALIV_ID_ALI2": {
                        "title": "Alicuota IVA - 2",
                        "type": "integer",
                        "description": " This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected",
                        "nullable": true
                      },
                      "DESP_OTROS_IMPUESTOS": {
                        "title": "Otros Impuestos",
                        "type": "number",
                        "description": " This attribute is mandatory when the instance is at state 'Generando factura'",
                        "nullable": true
                      },
                      "DESP_TASA_ESTADISTICA": {
                        "title": "Tasa estadística",
                        "type": "number",
                        "description": " This attribute is mandatory when the instance is at state 'Generando factura'",
                        "nullable": true
                      },
                      "DESP_DERECHOS_IMPORTACION": {
                        "title": "Derechos Importación",
                        "type": "number",
                        "description": " This attribute is mandatory when the instance is at state 'Generando factura'",
                        "nullable": true
                      },
                      "DESP_ESTADO_SIMI": {
                        "title": "Estado SIMI",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_NUMERO_SIMI": {
                        "title": "Nro SIMI",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_CANAL": {
                        "title": "Canal",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_VERIF_ADUANA": {
                        "title": "Verif. Aduana",
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_ID_ADUA": {
                        "title": "Aduana",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected\n This attribute is mandatory when the instance is at state 'Generando factura'",
                        "nullable": true
                      },
                      "DESP_ADJUNTO": {
                        "title": "Adjunto",
                        "type": "integer",
                        "nullable": true
                      },
                      "DESP_INGRESO": {
                        "title": "Ingreso",
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_SALIDA": {
                        "title": "Salida",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Despachado de origen'",
                        "nullable": true
                      },
                      "DESP_CTNR": {
                        "title": "CTNR",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_PRECINTO": {
                        "title": "Precinto",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_BUQUE": {
                        "title": "Buque",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_VIAJE": {
                        "title": "Viaje",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_FECHA_DE_INGRESO": {
                        "title": " Fecha de ingreso Fiscal",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'En Dep. Fiscal'",
                        "nullable": true
                      },
                      "DESP_SALIDA_A_DEP_NACIONA": {
                        "title": "Salida a Dep. Nacional",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'En Dep. Nacional'",
                        "nullable": true
                      },
                      "DEFI_ID_DEFI": {
                        "title": "Deposito Fiscal",
                        "type": "integer",
                        "description": " This is a foreign key to Depósito Fiscal. An id of Depósito Fiscal is expected\n This attribute is mandatory when the instance is at state 'En Dep. Fiscal'",
                        "nullable": true
                      },
                      "DENA_ID_DENA": {
                        "title": "Depósito Nacional",
                        "type": "integer",
                        "description": " This is a foreign key to Depósito Nacional. An id of Depósito Nacional is expected\n This attribute is mandatory when the instance is at state 'En Dep. Nacional'",
                        "nullable": true
                      },
                      "DESP_DESCONS": {
                        "title": "Descons.",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_TRASLADO": {
                        "title": "Traslado",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_FECHA": {
                        "title": "Fecha",
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_FECHA_DEVOL": {
                        "title": "Fecha devol. CTNR",
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_DEMORA_USD": {
                        "title": "Demora (USD)",
                        "type": "number",
                        "nullable": true
                      },
                      "DESP_DEMORA_DIAS": {
                        "title": "Demora (días)",
                        "type": "integer",
                        "nullable": true
                      },
                      "DESP_SALIDA_CTNR": {
                        "title": "Salida CTNR",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_PUERTO_TRASBORDO": {
                        "title": "Puerto trasbordo",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_BUQUE_TRASBORDO": {
                        "title": "Buque trasbordo",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_VIAJE_TRASBORDO": {
                        "title": "Viaje trasbordo",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_ARRIBO": {
                        "title": "Arribo",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_TERMINAL": {
                        "title": "Terminal",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_AIRLINE": {
                        "title": "Airline",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_FLIGHT": {
                        "title": "Flight",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_CARTA_GARANTIA": {
                        "title": "Carta garantía",
                        "type": "integer",
                        "nullable": true
                      },
                      "DESP_CERT_ORIGEN": {
                        "title": "Cert. Origen",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_SEC_COMERCIO": {
                        "title": "Sec Comercio",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_A": {
                        "title": "A",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_B": {
                        "title": "B",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_F_453": {
                        "title": "F 453",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_OTROS": {
                        "title": "Otros",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_ADUANA": {
                        "title": "Aduana",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_NUMERO": {
                        "title": "Nro",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "Facturas": {
                        "title": "Facturas",
                        "type": "array",
                        "items": {
                          "title": "Facturas",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CLIE_ID_PROV": {
                              "title": "Proveedor",
                              "type": "integer",
                              "description": "Empresa emisora de la factura\n This is a foreign key to Empresa. An id of Empresa is expected"
                            },
                            "TIFA_ID_TIFA": {
                              "title": "Tipo de factura",
                              "type": "integer",
                              "description": " This is a foreign key to Tipo de factura. An id of Tipo de factura is expected"
                            },
                            "FACO_PUNTO_DE_VENTA": {
                              "title": "Punto de Venta",
                              "type": "integer",
                              "description": " This attribute is mandatory when the instance is at state 'Recibida'",
                              "nullable": true
                            },
                            "FACO_NUMERO_INT": {
                              "title": "Nro",
                              "type": "integer",
                              "description": " This attribute is mandatory when the instance is at state 'Recibida'",
                              "nullable": true
                            },
                            "PROV_ID_PRO2": {
                              "title": "Provincia",
                              "type": "integer",
                              "description": " This is a foreign key to Provincia. An id of Provincia is expected",
                              "nullable": true
                            },
                            "MONE_ID_MON1": {
                              "title": "Moneda de la Factura",
                              "type": "integer",
                              "description": " This is a foreign key to Moneda. An id of Moneda is expected",
                              "default": "PARAM.MONE_ID_MONE",
                              "nullable": true
                            },
                            "FACO_VALOR_DE_CAMBIO": {
                              "title": "Valor  de cambio",
                              "type": "number",
                              "default": "1",
                              "nullable": true
                            },
                            "FACO_DESCUENTO_GENERAL": {
                              "title": "Descuento General",
                              "type": "number",
                              "description": "Valor % entre 0 y 100",
                              "nullable": true
                            },
                            "FACO_ARHC_ID_2736": {
                              "title": "Comprobante",
                              "type": "integer",
                              "description": "Scan de la factura",
                              "nullable": true
                            },
                            "COVE_ID_COVE": {
                              "title": "Condición de Pago",
                              "type": "integer",
                              "description": " This is a foreign key to Condición de venta. An id of Condición de venta is expected",
                              "nullable": true
                            },
                            "FACO_FECHA_EMISION": {
                              "title": "Fecha de emisión",
                              "type": "string",
                              "description": " This attribute is mandatory when the instance is at state 'Recibida'",
                              "nullable": true
                            },
                            "FACO_FECHA_PERIODO_DESDE": {
                              "title": "Fecha período desde",
                              "type": "string",
                              "description": "(Si corresponde) Fecha de inicio del período facturado. Dato presente habitualmente en los servicios.",
                              "nullable": true
                            },
                            "FACO_FECHA_PERIODO_HASTA": {
                              "title": "Fecha período hasta",
                              "type": "string",
                              "description": "(Si corresponde) Fecha de fin del período facturado. Dato presente habitualmente en los servicios.",
                              "nullable": true
                            },
                            "FACO_FECHA_1V": {
                              "title": "1er. venc.",
                              "type": "string",
                              "description": "Fecha del primer vencimiento de la factura\n This attribute is mandatory when the instance is at state 'Recibida'",
                              "nullable": true
                            },
                            "FACO_FECHA_2V": {
                              "title": "2do. venc.",
                              "type": "string",
                              "description": "Fecha del segundo vencimiento de la factura.",
                              "nullable": true
                            },
                            "FACO_TOTAL_2V": {
                              "title": "Total 2do venc.",
                              "type": "number",
                              "description": "(Si corresponde) Total a pagar en el caso de que exista un importe diferenciado para un segundo vencimiento.",
                              "nullable": true
                            },
                            "CLIE_ID_CLIE": {
                              "title": "Cliente",
                              "type": "integer",
                              "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                              "nullable": true
                            },
                            "PROY_ID_PROY": {
                              "title": "Centro de costos",
                              "type": "integer",
                              "description": " This is a foreign key to Centro de costos. An id of Centro de costos is expected",
                              "nullable": true
                            },
                            "CUCO_ID_CUGA": {
                              "title": "Cuenta de Gastos",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                              "nullable": true
                            },
                            "ORCO_ID_ORCO": {
                              "title": "Solicitud de Compra",
                              "type": "integer",
                              "description": " This is a foreign key to Solicitud de compra. An id of Solicitud de compra is expected",
                              "nullable": true
                            },
                            "FACO_IMPUESTOS_INTERNOS": {
                              "title": "Impuestos internos",
                              "type": "number",
                              "nullable": true
                            },
                            "PRSE_ID_PRSE": {
                              "title": "Producto/Servicio",
                              "type": "integer",
                              "description": " This is a foreign key to Producto Servicio. An id of Producto Servicio is expected\n This attribute is mandatory when the instance is at state 'Proyectada'",
                              "nullable": true
                            },
                            "ACCF_ID_ACCF": {
                              "title": "Actividad crédito fiscal",
                              "type": "integer",
                              "description": " This is a foreign key to Actividad crédito fiscal. An id of Actividad crédito fiscal is expected",
                              "nullable": true
                            },
                            "RUBR_ID_RUBR": {
                              "title": "Rubro",
                              "type": "integer",
                              "description": " This is a foreign key to Rubro. An id of Rubro is expected",
                              "nullable": true
                            },
                            "FACO_OBSERVACIONES": {
                              "title": "Observaciones",
                              "type": "string",
                              "nullable": true
                            },
                            "LIQI_ID_LIQI": {
                              "title": "Liquidación de IVA",
                              "type": "integer",
                              "description": " This is a foreign key to Liquidación de impuestos. An id of Liquidación de impuestos is expected",
                              "nullable": true
                            },
                            "FACO_FORZAR_PERIODO_CONTA": {
                              "title": "Forzar período contable",
                              "type": "string",
                              "nullable": true
                            },
                            "FACO_NETO_PROYECTADO": {
                              "title": "Neto proyectado",
                              "type": "number",
                              "nullable": true
                            },
                            "FACO_IVA_PROYECTADO": {
                              "title": "IVA proyectado",
                              "type": "number",
                              "nullable": true
                            },
                            "FACO_TOTAL_PROYECTADO": {
                              "title": "Total proyectado",
                              "type": "number",
                              "nullable": true
                            },
                            "FACO_FECHA_EMISION_PROYEC": {
                              "title": "Fecha emisión proyectada",
                              "type": "string",
                              "nullable": true
                            },
                            "MONE_ID_MONE": {
                              "title": "Moneda Extranjera",
                              "type": "integer",
                              "description": " This is a foreign key to Moneda. An id of Moneda is expected",
                              "nullable": true
                            },
                            "FACO_FECHA_DE_COTIZACION": {
                              "title": " Fecha de Cotización",
                              "type": "string",
                              "nullable": true
                            },
                            "FACO_COTIZACION_DE_MONEDA": {
                              "title": "Cotización de Moneda Extranjera",
                              "type": "number",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Facturas"
                        },
                        "description": "Array of child entities of Facturas"
                      },
                      "Percepciones": {
                        "title": "Percepciones",
                        "type": "array",
                        "items": {
                          "title": "Percepciones",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "FACO_ID_FACO": {
                              "title": "Factura",
                              "type": "integer",
                              "description": " This is a foreign key to Factura de compra. An id of Factura de compra is expected",
                              "nullable": true
                            },
                            "COPE_ID_COPE": {
                              "title": "Concepto",
                              "type": "integer",
                              "description": " This is a foreign key to Concepto Percepción. An id of Concepto Percepción is expected"
                            },
                            "PERE_IMPORTE": {
                              "title": "Importe",
                              "type": "number",
                              "nullable": true
                            },
                            "LIQI_ID_LIQI": {
                              "title": "Liquidación de impuesto",
                              "type": "integer",
                              "description": " This is a foreign key to Liquidación de impuestos. An id of Liquidación de impuestos is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Percepciones"
                        },
                        "description": "Array of child entities of Percepciones"
                      },
                      "Costos": {
                        "title": "Costos",
                        "type": "array",
                        "items": {
                          "title": "Costos",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "MATE_ID_MATE": {
                              "title": "Artículo",
                              "type": "integer",
                              "description": " This is a foreign key to Artículo. An id of Artículo is expected",
                              "nullable": true
                            },
                            "CUCO_ID_CUCO": {
                              "title": "Cuenta Contable",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                              "nullable": true
                            },
                            "COPD_COSTO": {
                              "title": "Costo Unitario",
                              "type": "number",
                              "nullable": true
                            },
                            "COPD_COSTO_TOTAL": {
                              "title": "Costo Total",
                              "type": "number",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Costos"
                        },
                        "description": "Array of child entities of Costos"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DESPACHO/{id}": {
      "get": {
        "tags": [
          "Despacho"
        ],
        "description": "Get a Despacho by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Despacho id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Despacho"
        ],
        "summary": "Update a Despacho by id.",
        "description": "Update a Despacho",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Despacho id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "DESP_NRO_DE_DESPACHO"
                    ],
                    "type": "object",
                    "properties": {
                      "DESP_NRO_DE_DESPACHO": {
                        "title": "Nro de Despacho",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "DESP_FECHA_DE_NACIONALIZA": {
                        "title": "Fecha de nacionalización",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Confirmado'",
                        "nullable": true
                      },
                      "DESP_SALES_ORDER": {
                        "title": "Sales Order",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ORDC_ID_ORDC": {
                        "title": "Orden de compra",
                        "type": "integer",
                        "description": " This is a foreign key to Orden de Compra. An id of Orden de Compra is expected",
                        "nullable": true
                      },
                      "DESP_FECHA_DE_INICIO": {
                        "title": "Fecha de inicio",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'En producción'",
                        "nullable": true
                      },
                      "DESP_FINALIZACION": {
                        "title": "Finalización",
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_SALIDA_TRANS": {
                        "title": "Salida Trans",
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_ETD": {
                        "title": "ETD",
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_ETA": {
                        "title": "ETA",
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_ENTREGA": {
                        "title": "Entrega",
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_REF_FORWARD": {
                        "title": "Ref. Forward",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_HBL_GUIA": {
                        "title": "HBL/Guía",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_POL_AOL": {
                        "title": "POL/AOL",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_FORWARD": {
                        "title": "Forward",
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_FOB": {
                        "title": "FOB",
                        "type": "number",
                        "description": " This attribute is mandatory when the instance is at state 'Generando factura'",
                        "nullable": true
                      },
                      "DESP_FLETE": {
                        "title": "Flete",
                        "type": "number",
                        "description": " This attribute is mandatory when the instance is at state 'Generando factura'",
                        "nullable": true
                      },
                      "DESP_SEGURO": {
                        "title": "Seguro Total",
                        "type": "number",
                        "description": " This attribute is mandatory when the instance is at state 'Generando factura'",
                        "nullable": true
                      },
                      "DESP_VALOR_DE_CAMBIO": {
                        "title": "Valor de cambio",
                        "type": "number",
                        "nullable": true
                      },
                      "DESP_BI_USD": {
                        "title": "Base Imponible USD - 1",
                        "type": "number",
                        "nullable": true
                      },
                      "ALIV_ID_ALIV": {
                        "title": "Alicuota - 1",
                        "type": "integer",
                        "description": " This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected\n This attribute is mandatory when the instance is at state 'Generando factura'",
                        "nullable": true
                      },
                      "DESP_BI2_USD": {
                        "title": "Base Imponible USD - 2",
                        "type": "number",
                        "nullable": true
                      },
                      "ALIV_ID_ALI2": {
                        "title": "Alicuota IVA - 2",
                        "type": "integer",
                        "description": " This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected",
                        "nullable": true
                      },
                      "DESP_OTROS_IMPUESTOS": {
                        "title": "Otros Impuestos",
                        "type": "number",
                        "description": " This attribute is mandatory when the instance is at state 'Generando factura'",
                        "nullable": true
                      },
                      "DESP_TASA_ESTADISTICA": {
                        "title": "Tasa estadística",
                        "type": "number",
                        "description": " This attribute is mandatory when the instance is at state 'Generando factura'",
                        "nullable": true
                      },
                      "DESP_DERECHOS_IMPORTACION": {
                        "title": "Derechos Importación",
                        "type": "number",
                        "description": " This attribute is mandatory when the instance is at state 'Generando factura'",
                        "nullable": true
                      },
                      "DESP_ESTADO_SIMI": {
                        "title": "Estado SIMI",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_NUMERO_SIMI": {
                        "title": "Nro SIMI",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_CANAL": {
                        "title": "Canal",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_VERIF_ADUANA": {
                        "title": "Verif. Aduana",
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_ID_ADUA": {
                        "title": "Aduana",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected\n This attribute is mandatory when the instance is at state 'Generando factura'",
                        "nullable": true
                      },
                      "DESP_ADJUNTO": {
                        "title": "Adjunto",
                        "type": "integer",
                        "nullable": true
                      },
                      "DESP_INGRESO": {
                        "title": "Ingreso",
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_SALIDA": {
                        "title": "Salida",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Despachado de origen'",
                        "nullable": true
                      },
                      "DESP_CTNR": {
                        "title": "CTNR",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_PRECINTO": {
                        "title": "Precinto",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_BUQUE": {
                        "title": "Buque",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_VIAJE": {
                        "title": "Viaje",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_FECHA_DE_INGRESO": {
                        "title": " Fecha de ingreso Fiscal",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'En Dep. Fiscal'",
                        "nullable": true
                      },
                      "DESP_SALIDA_A_DEP_NACIONA": {
                        "title": "Salida a Dep. Nacional",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'En Dep. Nacional'",
                        "nullable": true
                      },
                      "DEFI_ID_DEFI": {
                        "title": "Deposito Fiscal",
                        "type": "integer",
                        "description": " This is a foreign key to Depósito Fiscal. An id of Depósito Fiscal is expected\n This attribute is mandatory when the instance is at state 'En Dep. Fiscal'",
                        "nullable": true
                      },
                      "DENA_ID_DENA": {
                        "title": "Depósito Nacional",
                        "type": "integer",
                        "description": " This is a foreign key to Depósito Nacional. An id of Depósito Nacional is expected\n This attribute is mandatory when the instance is at state 'En Dep. Nacional'",
                        "nullable": true
                      },
                      "DESP_DESCONS": {
                        "title": "Descons.",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_TRASLADO": {
                        "title": "Traslado",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_FECHA": {
                        "title": "Fecha",
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_FECHA_DEVOL": {
                        "title": "Fecha devol. CTNR",
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_DEMORA_USD": {
                        "title": "Demora (USD)",
                        "type": "number",
                        "nullable": true
                      },
                      "DESP_DEMORA_DIAS": {
                        "title": "Demora (días)",
                        "type": "integer",
                        "nullable": true
                      },
                      "DESP_SALIDA_CTNR": {
                        "title": "Salida CTNR",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_PUERTO_TRASBORDO": {
                        "title": "Puerto trasbordo",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_BUQUE_TRASBORDO": {
                        "title": "Buque trasbordo",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_VIAJE_TRASBORDO": {
                        "title": "Viaje trasbordo",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_ARRIBO": {
                        "title": "Arribo",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_TERMINAL": {
                        "title": "Terminal",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_AIRLINE": {
                        "title": "Airline",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_FLIGHT": {
                        "title": "Flight",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_CARTA_GARANTIA": {
                        "title": "Carta garantía",
                        "type": "integer",
                        "nullable": true
                      },
                      "DESP_CERT_ORIGEN": {
                        "title": "Cert. Origen",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_SEC_COMERCIO": {
                        "title": "Sec Comercio",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_A": {
                        "title": "A",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_B": {
                        "title": "B",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_F_453": {
                        "title": "F 453",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_OTROS": {
                        "title": "Otros",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_ADUANA": {
                        "title": "Aduana",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DESP_NUMERO": {
                        "title": "Nro",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "Facturas": {
                        "title": "Facturas",
                        "type": "array",
                        "items": {
                          "title": "Facturas",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CLIE_ID_PROV": {
                              "title": "Proveedor",
                              "type": "integer",
                              "description": "Empresa emisora de la factura\n This is a foreign key to Empresa. An id of Empresa is expected"
                            },
                            "TIFA_ID_TIFA": {
                              "title": "Tipo de factura",
                              "type": "integer",
                              "description": " This is a foreign key to Tipo de factura. An id of Tipo de factura is expected"
                            },
                            "FACO_PUNTO_DE_VENTA": {
                              "title": "Punto de Venta",
                              "type": "integer",
                              "description": " This attribute is mandatory when the instance is at state 'Recibida'",
                              "nullable": true
                            },
                            "FACO_NUMERO_INT": {
                              "title": "Nro",
                              "type": "integer",
                              "description": " This attribute is mandatory when the instance is at state 'Recibida'",
                              "nullable": true
                            },
                            "PROV_ID_PRO2": {
                              "title": "Provincia",
                              "type": "integer",
                              "description": " This is a foreign key to Provincia. An id of Provincia is expected",
                              "nullable": true
                            },
                            "MONE_ID_MON1": {
                              "title": "Moneda de la Factura",
                              "type": "integer",
                              "description": " This is a foreign key to Moneda. An id of Moneda is expected",
                              "default": "PARAM.MONE_ID_MONE",
                              "nullable": true
                            },
                            "FACO_VALOR_DE_CAMBIO": {
                              "title": "Valor  de cambio",
                              "type": "number",
                              "default": "1",
                              "nullable": true
                            },
                            "FACO_DESCUENTO_GENERAL": {
                              "title": "Descuento General",
                              "type": "number",
                              "description": "Valor % entre 0 y 100",
                              "nullable": true
                            },
                            "FACO_ARHC_ID_2736": {
                              "title": "Comprobante",
                              "type": "integer",
                              "description": "Scan de la factura",
                              "nullable": true
                            },
                            "COVE_ID_COVE": {
                              "title": "Condición de Pago",
                              "type": "integer",
                              "description": " This is a foreign key to Condición de venta. An id of Condición de venta is expected",
                              "nullable": true
                            },
                            "FACO_FECHA_EMISION": {
                              "title": "Fecha de emisión",
                              "type": "string",
                              "description": " This attribute is mandatory when the instance is at state 'Recibida'",
                              "nullable": true
                            },
                            "FACO_FECHA_PERIODO_DESDE": {
                              "title": "Fecha período desde",
                              "type": "string",
                              "description": "(Si corresponde) Fecha de inicio del período facturado. Dato presente habitualmente en los servicios.",
                              "nullable": true
                            },
                            "FACO_FECHA_PERIODO_HASTA": {
                              "title": "Fecha período hasta",
                              "type": "string",
                              "description": "(Si corresponde) Fecha de fin del período facturado. Dato presente habitualmente en los servicios.",
                              "nullable": true
                            },
                            "FACO_FECHA_1V": {
                              "title": "1er. venc.",
                              "type": "string",
                              "description": "Fecha del primer vencimiento de la factura\n This attribute is mandatory when the instance is at state 'Recibida'",
                              "nullable": true
                            },
                            "FACO_FECHA_2V": {
                              "title": "2do. venc.",
                              "type": "string",
                              "description": "Fecha del segundo vencimiento de la factura.",
                              "nullable": true
                            },
                            "FACO_TOTAL_2V": {
                              "title": "Total 2do venc.",
                              "type": "number",
                              "description": "(Si corresponde) Total a pagar en el caso de que exista un importe diferenciado para un segundo vencimiento.",
                              "nullable": true
                            },
                            "CLIE_ID_CLIE": {
                              "title": "Cliente",
                              "type": "integer",
                              "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                              "nullable": true
                            },
                            "PROY_ID_PROY": {
                              "title": "Centro de costos",
                              "type": "integer",
                              "description": " This is a foreign key to Centro de costos. An id of Centro de costos is expected",
                              "nullable": true
                            },
                            "CUCO_ID_CUGA": {
                              "title": "Cuenta de Gastos",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                              "nullable": true
                            },
                            "ORCO_ID_ORCO": {
                              "title": "Solicitud de Compra",
                              "type": "integer",
                              "description": " This is a foreign key to Solicitud de compra. An id of Solicitud de compra is expected",
                              "nullable": true
                            },
                            "FACO_IMPUESTOS_INTERNOS": {
                              "title": "Impuestos internos",
                              "type": "number",
                              "nullable": true
                            },
                            "PRSE_ID_PRSE": {
                              "title": "Producto/Servicio",
                              "type": "integer",
                              "description": " This is a foreign key to Producto Servicio. An id of Producto Servicio is expected\n This attribute is mandatory when the instance is at state 'Proyectada'",
                              "nullable": true
                            },
                            "ACCF_ID_ACCF": {
                              "title": "Actividad crédito fiscal",
                              "type": "integer",
                              "description": " This is a foreign key to Actividad crédito fiscal. An id of Actividad crédito fiscal is expected",
                              "nullable": true
                            },
                            "RUBR_ID_RUBR": {
                              "title": "Rubro",
                              "type": "integer",
                              "description": " This is a foreign key to Rubro. An id of Rubro is expected",
                              "nullable": true
                            },
                            "FACO_OBSERVACIONES": {
                              "title": "Observaciones",
                              "type": "string",
                              "nullable": true
                            },
                            "LIQI_ID_LIQI": {
                              "title": "Liquidación de IVA",
                              "type": "integer",
                              "description": " This is a foreign key to Liquidación de impuestos. An id of Liquidación de impuestos is expected",
                              "nullable": true
                            },
                            "FACO_FORZAR_PERIODO_CONTA": {
                              "title": "Forzar período contable",
                              "type": "string",
                              "nullable": true
                            },
                            "FACO_NETO_PROYECTADO": {
                              "title": "Neto proyectado",
                              "type": "number",
                              "nullable": true
                            },
                            "FACO_IVA_PROYECTADO": {
                              "title": "IVA proyectado",
                              "type": "number",
                              "nullable": true
                            },
                            "FACO_TOTAL_PROYECTADO": {
                              "title": "Total proyectado",
                              "type": "number",
                              "nullable": true
                            },
                            "FACO_FECHA_EMISION_PROYEC": {
                              "title": "Fecha emisión proyectada",
                              "type": "string",
                              "nullable": true
                            },
                            "MONE_ID_MONE": {
                              "title": "Moneda Extranjera",
                              "type": "integer",
                              "description": " This is a foreign key to Moneda. An id of Moneda is expected",
                              "nullable": true
                            },
                            "FACO_FECHA_DE_COTIZACION": {
                              "title": " Fecha de Cotización",
                              "type": "string",
                              "nullable": true
                            },
                            "FACO_COTIZACION_DE_MONEDA": {
                              "title": "Cotización de Moneda Extranjera",
                              "type": "number",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Facturas"
                        },
                        "description": "Array of child entities of Facturas"
                      },
                      "Percepciones": {
                        "title": "Percepciones",
                        "type": "array",
                        "items": {
                          "title": "Percepciones",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "FACO_ID_FACO": {
                              "title": "Factura",
                              "type": "integer",
                              "description": " This is a foreign key to Factura de compra. An id of Factura de compra is expected",
                              "nullable": true
                            },
                            "COPE_ID_COPE": {
                              "title": "Concepto",
                              "type": "integer",
                              "description": " This is a foreign key to Concepto Percepción. An id of Concepto Percepción is expected"
                            },
                            "PERE_IMPORTE": {
                              "title": "Importe",
                              "type": "number",
                              "nullable": true
                            },
                            "LIQI_ID_LIQI": {
                              "title": "Liquidación de impuesto",
                              "type": "integer",
                              "description": " This is a foreign key to Liquidación de impuestos. An id of Liquidación de impuestos is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Percepciones"
                        },
                        "description": "Array of child entities of Percepciones"
                      },
                      "Costos": {
                        "title": "Costos",
                        "type": "array",
                        "items": {
                          "title": "Costos",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "MATE_ID_MATE": {
                              "title": "Artículo",
                              "type": "integer",
                              "description": " This is a foreign key to Artículo. An id of Artículo is expected",
                              "nullable": true
                            },
                            "CUCO_ID_CUCO": {
                              "title": "Cuenta Contable",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                              "nullable": true
                            },
                            "COPD_COSTO": {
                              "title": "Costo Unitario",
                              "type": "number",
                              "nullable": true
                            },
                            "COPD_COSTO_TOTAL": {
                              "title": "Costo Total",
                              "type": "number",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Costos"
                        },
                        "description": "Array of child entities of Costos"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Despacho"
        ],
        "summary": "Delete a Despacho by id.",
        "description": "Delete a Despacho",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Despacho id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/DESPACHO/search": {
      "get": {
        "tags": [
          "Despacho"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Despacho",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "DESP_NRO_DE_DESPACHO",
            "in": "query",
            "description": "Nro de Despacho",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DESP_FECHA_DE_INICIO",
            "in": "query",
            "description": "Fecha de inicio",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DESP_FINALIZACION",
            "in": "query",
            "description": "Finalización",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DESP_TOTAL_A_PAGAR",
            "in": "query",
            "description": "Total a pagar",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DESPACHO/smartie": {
      "get": {
        "tags": [
          "Despacho"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DESPACHO/changestate": {
      "post": {
        "tags": [
          "Despacho"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Calculando Costos</li>\n<li>Confirmado</li>\n<li>Creado</li>\n<li>Despachado de origen</li>\n<li>En Dep. Fiscal</li>\n<li>En Dep. Nacional</li>\n<li>En producción</li>\n<li>Generando factura</li>\n<li>Recibido</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DESPACHO/file": {
      "get": {
        "tags": [
          "Despacho"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "enum": [
                "ADJUNTO",
                "CARTA_GARANTIA"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Despacho"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "enum": [
                "ADJUNTO",
                "CARTA_GARANTIA"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/DESPACHO/report": {
      "get": {
        "tags": [
          "Despacho"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/DET_FACT_COMPRA": {
      "post": {
        "tags": [
          "Det factura compra"
        ],
        "summary": "Create a Det factura compra.",
        "description": "Creates a Det factura compra",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "FACO_ID_FACO"
                    ],
                    "type": "object",
                    "properties": {
                      "FACO_ID_FACO": {
                        "title": "Factura",
                        "type": "integer",
                        "description": " This is a foreign key to Factura de compra. An id of Factura de compra is expected"
                      },
                      "CODC_ID_CODC": {
                        "title": "Concepto",
                        "type": "integer",
                        "description": " This is a foreign key to Concepto de Compras. An id of Concepto de Compras is expected",
                        "nullable": true
                      },
                      "DEFC_CONCEPTO": {
                        "title": "Texto adicional",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DEFC_CANTIDAD": {
                        "title": "Cantidad",
                        "type": "number",
                        "description": " This attribute is mandatory when the instance is at state 'Ingresado'",
                        "nullable": true
                      },
                      "TIUN_ID_TIUN": {
                        "title": "Tipo de unidad",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de unidad. An id of Tipo de unidad is expected",
                        "nullable": true
                      },
                      "DEFC_PRECIO_UNITARIO": {
                        "title": "Precio Unitario",
                        "type": "number",
                        "description": " This attribute is mandatory when the instance is at state 'Ingresado'",
                        "nullable": true
                      },
                      "DEFC_PORC_BONIFICACION": {
                        "title": "% Bonificación",
                        "type": "number",
                        "nullable": true
                      },
                      "ALIV_ID_ALIV": {
                        "title": "Alícuota",
                        "type": "integer",
                        "description": " This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected",
                        "nullable": true
                      },
                      "HOSO_ID_HOSO": {
                        "title": "Honorario",
                        "type": "integer",
                        "description": " This is a foreign key to Honorarios Socios. An id of Honorarios Socios is expected",
                        "nullable": true
                      },
                      "CUOT_ID_CUOT": {
                        "title": "Cuota relacionada",
                        "type": "integer",
                        "description": " This is a foreign key to Cuota. An id of Cuota is expected",
                        "nullable": true
                      },
                      "CUCO_ID_CUCO": {
                        "title": "Cuenta de gastos",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                        "nullable": true
                      },
                      "REMI_ID_REMI": {
                        "title": "Remito de Compras",
                        "type": "integer",
                        "description": " This is a foreign key to Remito de Compra. An id of Remito de Compra is expected",
                        "nullable": true
                      },
                      "DEFC_EXCLUIR_MOVIMIENTO": {
                        "title": "Excluir Movimiento",
                        "type": "boolean",
                        "nullable": true
                      },
                      "DEFC_CANTIDAD_DAADOS": {
                        "title": "# dañados",
                        "type": "integer",
                        "nullable": true
                      },
                      "ORDC_ID_ORDC": {
                        "title": "Orden de compra",
                        "type": "integer",
                        "description": " This is a foreign key to Orden de Compra. An id of Orden de Compra is expected",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DET_FACT_COMPRA/{id}": {
      "get": {
        "tags": [
          "Det factura compra"
        ],
        "description": "Get a Det factura compra by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Det factura compra id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Det factura compra"
        ],
        "summary": "Update a Det factura compra by id.",
        "description": "Update a Det factura compra",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Det factura compra id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "FACO_ID_FACO"
                    ],
                    "type": "object",
                    "properties": {
                      "FACO_ID_FACO": {
                        "title": "Factura",
                        "type": "integer",
                        "description": " This is a foreign key to Factura de compra. An id of Factura de compra is expected"
                      },
                      "CODC_ID_CODC": {
                        "title": "Concepto",
                        "type": "integer",
                        "description": " This is a foreign key to Concepto de Compras. An id of Concepto de Compras is expected",
                        "nullable": true
                      },
                      "DEFC_CONCEPTO": {
                        "title": "Texto adicional",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DEFC_CANTIDAD": {
                        "title": "Cantidad",
                        "type": "number",
                        "description": " This attribute is mandatory when the instance is at state 'Ingresado'",
                        "nullable": true
                      },
                      "TIUN_ID_TIUN": {
                        "title": "Tipo de unidad",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de unidad. An id of Tipo de unidad is expected",
                        "nullable": true
                      },
                      "DEFC_PRECIO_UNITARIO": {
                        "title": "Precio Unitario",
                        "type": "number",
                        "description": " This attribute is mandatory when the instance is at state 'Ingresado'",
                        "nullable": true
                      },
                      "DEFC_PORC_BONIFICACION": {
                        "title": "% Bonificación",
                        "type": "number",
                        "nullable": true
                      },
                      "ALIV_ID_ALIV": {
                        "title": "Alícuota",
                        "type": "integer",
                        "description": " This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected",
                        "nullable": true
                      },
                      "HOSO_ID_HOSO": {
                        "title": "Honorario",
                        "type": "integer",
                        "description": " This is a foreign key to Honorarios Socios. An id of Honorarios Socios is expected",
                        "nullable": true
                      },
                      "CUOT_ID_CUOT": {
                        "title": "Cuota relacionada",
                        "type": "integer",
                        "description": " This is a foreign key to Cuota. An id of Cuota is expected",
                        "nullable": true
                      },
                      "CUCO_ID_CUCO": {
                        "title": "Cuenta de gastos",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                        "nullable": true
                      },
                      "REMI_ID_REMI": {
                        "title": "Remito de Compras",
                        "type": "integer",
                        "description": " This is a foreign key to Remito de Compra. An id of Remito de Compra is expected",
                        "nullable": true
                      },
                      "DEFC_EXCLUIR_MOVIMIENTO": {
                        "title": "Excluir Movimiento",
                        "type": "boolean",
                        "nullable": true
                      },
                      "DEFC_CANTIDAD_DAADOS": {
                        "title": "# dañados",
                        "type": "integer",
                        "nullable": true
                      },
                      "ORDC_ID_ORDC": {
                        "title": "Orden de compra",
                        "type": "integer",
                        "description": " This is a foreign key to Orden de Compra. An id of Orden de Compra is expected",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Det factura compra"
        ],
        "summary": "Delete a Det factura compra by id.",
        "description": "Delete a Det factura compra",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Det factura compra id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/DET_FACT_COMPRA/search": {
      "get": {
        "tags": [
          "Det factura compra"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Det factura compra",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "DEFC_CONCEPTO",
            "in": "query",
            "description": "Texto adicional",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DEFC_CANTIDAD",
            "in": "query",
            "description": "Cantidad",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "DEFC_PRECIO_UNITARIO",
            "in": "query",
            "description": "Precio Unitario",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "DEFC_NETO",
            "in": "query",
            "description": "Neto",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "ALIV_ID_ALIV",
            "in": "query",
            "description": "Alícuota",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "DEFC_IVA",
            "in": "query",
            "description": "IVA",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "DEFC_TOTAL",
            "in": "query",
            "description": "Subtotal",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "DEFC_HONORARIO_RELACIONAD",
            "in": "query",
            "description": "Honorario relacionado",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DEFC_CUOTA",
            "in": "query",
            "description": "Cuota",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FACO_ID_FACO",
            "in": "query",
            "description": "Factura",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DET_FACT_COMPRA/smartie": {
      "get": {
        "tags": [
          "Det factura compra"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DET_FACT_COMPRA/changestate": {
      "post": {
        "tags": [
          "Det factura compra"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Ingresado</li>\n<li>Modificando Precio</li>\n<li>Recibido</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DET_FACT_COMPRA/file": {
      "get": {
        "tags": [
          "Det factura compra"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
[...]
