{
  "openapi": "3.0.4",
  "info": {
    "title": "erpdemo.schema POS",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yiqi.com.ar/api/public"
    }
  ],
  "paths": {
    "/ARTICULO_POS": {
      "post": {
        "tags": [
          "Articulo POS"
        ],
        "summary": "Create a Articulo POS.",
        "description": "Creates a Articulo POS",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "MATE_ID": {
                        "title": "MATE_ID",
                        "type": "integer",
                        "nullable": true
                      },
                      "MATE_CODIGO_DE_BARRA": {
                        "title": "MATE_CODIGO_DE_BARRA",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "MATE_NOMBRE": {
                        "title": "Artículo - Nombre",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "SUMA_ID_SUMA": {
                        "title": "SUMA_ID_SUMA",
                        "type": "integer",
                        "nullable": true
                      },
                      "GRMA_ID_GRMA": {
                        "title": "GRMA_ID_GRMA",
                        "type": "integer",
                        "nullable": true
                      },
                      "ALIV_ID_ALIV": {
                        "title": "ALIV_ID_ALIV",
                        "type": "number",
                        "nullable": true
                      },
                      "MATE_PRECIO_DE_VENTA": {
                        "title": "Precio Neto",
                        "type": "number",
                        "nullable": true
                      },
                      "PAPL_PRECIO_FINAL": {
                        "title": "Precio Final",
                        "type": "number",
                        "nullable": true
                      },
                      "PAPL_PRECIO_TACHADO": {
                        "title": "Precio Final Tachado",
                        "type": "number",
                        "nullable": true
                      },
                      "MATE_PRECIO_DE_VENT2": {
                        "title": "Precio Neto",
                        "type": "number",
                        "nullable": true
                      },
                      "PAPL_PRECIO_FINAL2": {
                        "title": "Precio Final",
                        "type": "number",
                        "nullable": true
                      },
                      "PAPL_PRECIO_TACHADO2": {
                        "title": "Precio Final Tachado",
                        "type": "number",
                        "nullable": true
                      },
                      "MATE_PROV_CODIGO": {
                        "title": "MATE_PROV_CODIGO",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "MATE_COD_PROV_2": {
                        "title": "MATE_COD_PROV_2",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "MARC_ID_MARC": {
                        "title": "MARC_ID_MARC",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "MATE_NO_SE_INCLUYE": {
                        "title": "MATE_NO_SE_INCLUYE",
                        "type": "boolean",
                        "nullable": true
                      },
                      "MATE_ES_GENERICO": {
                        "title": "MATE_ES_GENERICO",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "IMAGEN": {
                        "title": "IMAGEN",
                        "type": "integer",
                        "nullable": true
                      },
                      "IMPUESTO_INTERNO": {
                        "title": "IMPUESTO_INTERNO",
                        "type": "number",
                        "nullable": true
                      },
                      "ID_UNIVERSAL": {
                        "title": "ID_UNIVERSAL",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ARTICULO_POS/{id}": {
      "get": {
        "tags": [
          "Articulo POS"
        ],
        "description": "Get a Articulo POS by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Articulo POS id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Articulo POS"
        ],
        "summary": "Update a Articulo POS by id.",
        "description": "Update a Articulo POS",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Articulo POS id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "MATE_ID": {
                        "title": "MATE_ID",
                        "type": "integer",
                        "nullable": true
                      },
                      "MATE_CODIGO_DE_BARRA": {
                        "title": "MATE_CODIGO_DE_BARRA",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "MATE_NOMBRE": {
                        "title": "Artículo - Nombre",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "SUMA_ID_SUMA": {
                        "title": "SUMA_ID_SUMA",
                        "type": "integer",
                        "nullable": true
                      },
                      "GRMA_ID_GRMA": {
                        "title": "GRMA_ID_GRMA",
                        "type": "integer",
                        "nullable": true
                      },
                      "ALIV_ID_ALIV": {
                        "title": "ALIV_ID_ALIV",
                        "type": "number",
                        "nullable": true
                      },
                      "MATE_PRECIO_DE_VENTA": {
                        "title": "Precio Neto",
                        "type": "number",
                        "nullable": true
                      },
                      "PAPL_PRECIO_FINAL": {
                        "title": "Precio Final",
                        "type": "number",
                        "nullable": true
                      },
                      "PAPL_PRECIO_TACHADO": {
                        "title": "Precio Final Tachado",
                        "type": "number",
                        "nullable": true
                      },
                      "MATE_PRECIO_DE_VENT2": {
                        "title": "Precio Neto",
                        "type": "number",
                        "nullable": true
                      },
                      "PAPL_PRECIO_FINAL2": {
                        "title": "Precio Final",
                        "type": "number",
                        "nullable": true
                      },
                      "PAPL_PRECIO_TACHADO2": {
                        "title": "Precio Final Tachado",
                        "type": "number",
                        "nullable": true
                      },
                      "MATE_PROV_CODIGO": {
                        "title": "MATE_PROV_CODIGO",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "MATE_COD_PROV_2": {
                        "title": "MATE_COD_PROV_2",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "MARC_ID_MARC": {
                        "title": "MARC_ID_MARC",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "MATE_NO_SE_INCLUYE": {
                        "title": "MATE_NO_SE_INCLUYE",
                        "type": "boolean",
                        "nullable": true
                      },
                      "MATE_ES_GENERICO": {
                        "title": "MATE_ES_GENERICO",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "IMAGEN": {
                        "title": "IMAGEN",
                        "type": "integer",
                        "nullable": true
                      },
                      "IMPUESTO_INTERNO": {
                        "title": "IMPUESTO_INTERNO",
                        "type": "number",
                        "nullable": true
                      },
                      "ID_UNIVERSAL": {
                        "title": "ID_UNIVERSAL",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Articulo POS"
        ],
        "summary": "Delete a Articulo POS by id.",
        "description": "Delete a Articulo POS",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Articulo POS id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/ARTICULO_POS/search": {
      "get": {
        "tags": [
          "Articulo POS"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Articulo POS",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "MATE_ID",
            "in": "query",
            "description": "MATE_ID",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "MATE_CODIGO_DE_BARRA",
            "in": "query",
            "description": "MATE_CODIGO_DE_BARRA",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MATE_NOMBRE",
            "in": "query",
            "description": "Artículo - Nombre",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MATE_PRECIO_DE_VENTA",
            "in": "query",
            "description": "Precio Neto",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "PAPL_PRECIO_FINAL",
            "in": "query",
            "description": "Precio Final",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "PAPL_PRECIO_TACHADO",
            "in": "query",
            "description": "Precio Final Tachado",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "MATE_PRECIO_DE_VENT2",
            "in": "query",
            "description": "Precio Neto",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "PAPL_PRECIO_FINAL2",
            "in": "query",
            "description": "Precio Final",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "PAPL_PRECIO_TACHADO2",
            "in": "query",
            "description": "Precio Final Tachado",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "MATE_ES_GENERICO",
            "in": "query",
            "description": "MATE_ES_GENERICO",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IMAGEN",
            "in": "query",
            "description": "IMAGEN",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "IMPUESTO_INTERNO",
            "in": "query",
            "description": "IMPUESTO_INTERNO",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "ID_UNIVERSAL",
            "in": "query",
            "description": "ID_UNIVERSAL",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ARTICULO_POS/smartie": {
      "get": {
        "tags": [
          "Articulo POS"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ARTICULO_POS/file": {
      "get": {
        "tags": [
          "Articulo POS"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Articulo POS"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ARTICULO_POS/report": {
      "get": {
        "tags": [
          "Articulo POS"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CIERRE_DE_CAJA": {
      "post": {
        "tags": [
          "Cierre de caja POS"
        ],
        "summary": "Create a Cierre de caja POS.",
        "description": "Creates a Cierre de caja POS",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "CAJA_ID_CAJA"
                    ],
                    "type": "object",
                    "properties": {
                      "CIDC_USUARIO": {
                        "title": "Usuario",
                        "type": "integer",
                        "nullable": true
                      },
                      "CIDC_FECHA_HORA": {
                        "title": "Fecha hora",
                        "type": "string",
                        "nullable": true
                      },
                      "CAJA_ID_CAJA": {
                        "title": "Caja",
                        "type": "integer",
                        "description": " This is a foreign key to Caja. An id of Caja is expected\n This attribute is mandatory when the instance is at state 'Pendiente'"
                      },
                      "CIDC_LOGIN": {
                        "title": "Login",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CIDC_CERRADA": {
                        "title": "Cerrada",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CIDC_TIPO_DE_ACCION": {
                        "title": "Tipo de Acción",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CIDC_IMPORTE_EFECTIVO_SIS": {
                        "title": "Importe efectivo sistema",
                        "type": "number",
                        "nullable": true
                      },
                      "CIDC_IMPORTE_TARJETAS_SIS": {
                        "title": "Importe tarjetas sistema",
                        "type": "number",
                        "nullable": true
                      },
                      "Billetes": {
                        "title": "Billetes",
                        "type": "array",
                        "items": {
                          "title": "Billetes",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "BIDC_CANTIDAD": {
                              "title": "Cantidad",
                              "type": "integer",
                              "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                              "nullable": true
                            },
                            "BIDC_DENOMINACION": {
                              "title": "Denominación",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                              "nullable": true
                            },
                            "MONE_ID_MONE": {
                              "title": "Moneda",
                              "type": "integer",
                              "description": " This is a foreign key to Moneda. An id of Moneda is expected\n This attribute is mandatory when the instance is at state 'Pendiente'",
                              "nullable": true
                            },
                            "BIDC_OBSERVACION": {
                              "title": "Observación",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Billetes"
                        },
                        "description": "Array of child entities of Billetes"
                      },
                      "Tarjetas": {
                        "title": "Tarjetas",
                        "type": "array",
                        "items": {
                          "title": "Tarjetas",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "COTA_IMPORTE": {
                              "title": "Importe",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Ingresado'",
                              "nullable": true
                            },
                            "COTA_OBSERVACION": {
                              "title": "Observación",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CDCE_ID_CDCE": {
                              "title": "Concepto de Cobro Electrónico",
                              "type": "integer",
                              "description": " This is a foreign key to Concepto de cobro electrónico. An id of Concepto de cobro electrónico is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Tarjetas"
                        },
                        "description": "Array of child entities of Tarjetas"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CIERRE_DE_CAJA/{id}": {
      "get": {
        "tags": [
          "Cierre de caja POS"
        ],
        "description": "Get a Cierre de caja POS by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Cierre de caja POS id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Cierre de caja POS"
        ],
        "summary": "Update a Cierre de caja POS by id.",
        "description": "Update a Cierre de caja POS",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Cierre de caja POS id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "CAJA_ID_CAJA"
                    ],
                    "type": "object",
                    "properties": {
                      "CIDC_USUARIO": {
                        "title": "Usuario",
                        "type": "integer",
                        "nullable": true
                      },
                      "CIDC_FECHA_HORA": {
                        "title": "Fecha hora",
                        "type": "string",
                        "nullable": true
                      },
                      "CAJA_ID_CAJA": {
                        "title": "Caja",
                        "type": "integer",
                        "description": " This is a foreign key to Caja. An id of Caja is expected\n This attribute is mandatory when the instance is at state 'Pendiente'"
                      },
                      "CIDC_LOGIN": {
                        "title": "Login",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CIDC_CERRADA": {
                        "title": "Cerrada",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CIDC_TIPO_DE_ACCION": {
                        "title": "Tipo de Acción",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CIDC_IMPORTE_EFECTIVO_SIS": {
                        "title": "Importe efectivo sistema",
                        "type": "number",
                        "nullable": true
                      },
                      "CIDC_IMPORTE_TARJETAS_SIS": {
                        "title": "Importe tarjetas sistema",
                        "type": "number",
                        "nullable": true
                      },
                      "Billetes": {
                        "title": "Billetes",
                        "type": "array",
                        "items": {
                          "title": "Billetes",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "BIDC_CANTIDAD": {
                              "title": "Cantidad",
                              "type": "integer",
                              "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                              "nullable": true
                            },
                            "BIDC_DENOMINACION": {
                              "title": "Denominación",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                              "nullable": true
                            },
                            "MONE_ID_MONE": {
                              "title": "Moneda",
                              "type": "integer",
                              "description": " This is a foreign key to Moneda. An id of Moneda is expected\n This attribute is mandatory when the instance is at state 'Pendiente'",
                              "nullable": true
                            },
                            "BIDC_OBSERVACION": {
                              "title": "Observación",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Billetes"
                        },
                        "description": "Array of child entities of Billetes"
                      },
                      "Tarjetas": {
                        "title": "Tarjetas",
                        "type": "array",
                        "items": {
                          "title": "Tarjetas",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "COTA_IMPORTE": {
                              "title": "Importe",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Ingresado'",
                              "nullable": true
                            },
                            "COTA_OBSERVACION": {
                              "title": "Observación",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CDCE_ID_CDCE": {
                              "title": "Concepto de Cobro Electrónico",
                              "type": "integer",
                              "description": " This is a foreign key to Concepto de cobro electrónico. An id of Concepto de cobro electrónico is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Tarjetas"
                        },
                        "description": "Array of child entities of Tarjetas"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Cierre de caja POS"
        ],
        "summary": "Delete a Cierre de caja POS by id.",
        "description": "Delete a Cierre de caja POS",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Cierre de caja POS id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/CIERRE_DE_CAJA/search": {
      "get": {
        "tags": [
          "Cierre de caja POS"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Cierre de caja POS",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "CAJA_ID_CAJA",
            "in": "query",
            "description": "Caja",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CIERRE_DE_CAJA/smartie": {
      "get": {
        "tags": [
          "Cierre de caja POS"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CIERRE_DE_CAJA/changestate": {
      "post": {
        "tags": [
          "Cierre de caja POS"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Pendiente</li>\n<li>Procesado</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CIERRE_DE_CAJA/file": {
      "get": {
        "tags": [
          "Cierre de caja POS"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Cierre de caja POS"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CIERRE_DE_CAJA/report": {
      "get": {
        "tags": [
          "Cierre de caja POS"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "enum": [
                "CIERRE_CAJA_POS_V1.0"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CLIENTE_POS": {
      "post": {
        "tags": [
          "Cliente POS"
        ],
        "summary": "Create a Cliente POS.",
        "description": "Creates a Cliente POS",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "CLIE_ID": {
                        "title": "CLIE_ID",
                        "type": "integer",
                        "nullable": true
                      },
                      "CLIE_NOMBRE": {
                        "title": "CLIE_NOMBRE",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_CUIT": {
                        "title": "CLIE_CUIT",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_DOMICILIO": {
                        "title": "CLIE_DOMICILIO",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_TE1": {
                        "title": "CLIE_TE1",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_MAIL": {
                        "title": "CLIE_MAIL",
                        "type": "string",
                        "nullable": true
                      },
                      "TIDD_ID_TIDD": {
                        "title": "TIDD_ID_TIDD",
                        "type": "integer",
                        "nullable": true
                      },
                      "PAIS_ID_PAIS": {
                        "title": "PAIS_ID_PAIS",
                        "type": "integer",
                        "nullable": true
                      },
                      "PROV_ID_PROV": {
                        "title": "PROV_ID_PROV",
                        "type": "integer",
                        "nullable": true
                      },
                      "CLIE_CP": {
                        "title": "CLIE_CP",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_LOCALIDAD": {
                        "title": "CLIE_LOCALIDAD",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "COIV_ID_COIV": {
                        "title": "COIV_ID_COIV",
                        "type": "integer",
                        "nullable": true
                      },
                      "CLIE_CODIGO": {
                        "title": "CLIE_CODIGO",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "COVE_ID_COVE": {
                        "title": "COVE_ID_COVE",
                        "type": "integer",
                        "nullable": true
                      },
                      "CLIE_ALIC_PER_CABA": {
                        "title": "CLIE_ALIC_PER_CABA",
                        "type": "number",
                        "nullable": true
                      },
                      "CLIE_ALIC_PER_BA": {
                        "title": "CLIE_ALIC_PER_BA",
                        "type": "number",
                        "nullable": true
                      },
                      "DESCUENTO": {
                        "title": "DESCUENTO",
                        "type": "number",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CLIENTE_POS/{id}": {
      "get": {
        "tags": [
          "Cliente POS"
        ],
        "description": "Get a Cliente POS by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Cliente POS id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Cliente POS"
        ],
        "summary": "Update a Cliente POS by id.",
        "description": "Update a Cliente POS",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Cliente POS id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "CLIE_ID": {
                        "title": "CLIE_ID",
                        "type": "integer",
                        "nullable": true
                      },
                      "CLIE_NOMBRE": {
                        "title": "CLIE_NOMBRE",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_CUIT": {
                        "title": "CLIE_CUIT",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_DOMICILIO": {
                        "title": "CLIE_DOMICILIO",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_TE1": {
                        "title": "CLIE_TE1",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_MAIL": {
                        "title": "CLIE_MAIL",
                        "type": "string",
                        "nullable": true
                      },
                      "TIDD_ID_TIDD": {
                        "title": "TIDD_ID_TIDD",
                        "type": "integer",
                        "nullable": true
                      },
                      "PAIS_ID_PAIS": {
                        "title": "PAIS_ID_PAIS",
                        "type": "integer",
                        "nullable": true
                      },
                      "PROV_ID_PROV": {
                        "title": "PROV_ID_PROV",
                        "type": "integer",
                        "nullable": true
                      },
                      "CLIE_CP": {
                        "title": "CLIE_CP",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_LOCALIDAD": {
                        "title": "CLIE_LOCALIDAD",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "COIV_ID_COIV": {
                        "title": "COIV_ID_COIV",
                        "type": "integer",
                        "nullable": true
                      },
                      "CLIE_CODIGO": {
                        "title": "CLIE_CODIGO",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "COVE_ID_COVE": {
                        "title": "COVE_ID_COVE",
                        "type": "integer",
                        "nullable": true
                      },
                      "CLIE_ALIC_PER_CABA": {
                        "title": "CLIE_ALIC_PER_CABA",
                        "type": "number",
                        "nullable": true
                      },
                      "CLIE_ALIC_PER_BA": {
                        "title": "CLIE_ALIC_PER_BA",
                        "type": "number",
                        "nullable": true
                      },
                      "DESCUENTO": {
                        "title": "DESCUENTO",
                        "type": "number",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Cliente POS"
        ],
        "summary": "Delete a Cliente POS by id.",
        "description": "Delete a Cliente POS",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Cliente POS id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/CLIENTE_POS/search": {
      "get": {
        "tags": [
          "Cliente POS"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Cliente POS",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "COVE_ID_COVE",
            "in": "query",
            "description": "COVE_ID_COVE",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "CLIE_ALIC_PER_CABA",
            "in": "query",
            "description": "CLIE_ALIC_PER_CABA",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "CLIE_ALIC_PER_BA",
            "in": "query",
            "description": "CLIE_ALIC_PER_BA",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "DESCUENTO",
            "in": "query",
            "description": "DESCUENTO",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CLIENTE_POS/smartie": {
      "get": {
        "tags": [
          "Cliente POS"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CLIENTE_POS/file": {
      "get": {
        "tags": [
          "Cliente POS"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Cliente POS"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CLIENTE_POS/report": {
      "get": {
        "tags": [
          "Cliente POS"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CONTROL_POS": {
      "post": {
        "tags": [
          "Control POS"
        ],
        "summary": "Create a Control POS.",
        "description": "Creates a Control POS",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "ORDV_NRO_ORDEN": {
                        "title": "Nro de OV",
                        "type": "integer",
                        "nullable": true
                      },
                      "PUVE_NUMERO": {
                        "title": "Punto de venta",
                        "type": "integer",
                        "nullable": true
                      },
                      "SUCU_NOMBRE": {
                        "title": "Sucursal",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ORDV_FECHA": {
                        "title": "Fecha",
                        "type": "string",
                        "nullable": true
                      },
                      "NETO_FACTURAS": {
                        "title": "Neto Facturas",
                        "type": "number",
                        "nullable": true
                      },
                      "TOTAL_FACTURAS": {
                        "title": "Total Facturas",
                        "type": "number",
                        "nullable": true
                      },
                      "TOTAL_NCS": {
                        "title": "Total NCs",
                        "type": "number",
                        "nullable": true
                      },
                      "TOTAL_TICKETS": {
                        "title": "Total Tickets",
                        "type": "number",
                        "nullable": true
                      },
                      "TOTAL_PERCEPCIONES": {
                        "title": "Total Percepciones",
                        "type": "number",
                        "nullable": true
                      },
                      "CANTIDAD_COBROS": {
                        "title": "# cobros",
                        "type": "integer",
                        "nullable": true
                      },
                      "ITEMS_REMITO": {
                        "title": "Items de remito",
                        "type": "integer",
                        "nullable": true
                      },
                      "ITEMS_OV": {
                        "title": "Items de OV",
                        "type": "integer",
                        "nullable": true
                      },
                      "ITEMS_MOV_STOCK": {
                        "title": "Items Mov Stock",
                        "type": "integer",
                        "nullable": true
                      },
                      "DIF_TICKET_FACTURA": {
                        "title": "Dif Ticket/Factura",
                        "type": "number",
                        "nullable": true
                      },
                      "DIF_ITEMS": {
                        "title": "Diferencia Items",
                        "type": "integer",
                        "nullable": true
                      },
                      "COBROS_EFECTIVO": {
                        "title": "Cobros en efectivo",
                        "type": "number",
                        "nullable": true
                      },
                      "COBROS_TARJETA": {
                        "title": "Cobros con tarjeta",
                        "type": "number",
                        "nullable": true
                      },
                      "TOTAL_RECIBO": {
                        "title": "Total Recibo",
                        "type": "number",
                        "nullable": true
                      },
                      "DIF_COBROS_RECIBO": {
                        "title": "Dif Cobros - Recibo",
                        "type": "number",
                        "nullable": true
                      },
                      "ORDEN_ESTADO": {
                        "title": "ORDEN_ESTADO",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DEVOLUCION": {
                        "title": "DEVOLUCION",
                        "type": "number",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CONTROL_POS/{id}": {
      "get": {
        "tags": [
          "Control POS"
        ],
        "description": "Get a Control POS by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Control POS id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Control POS"
        ],
        "summary": "Update a Control POS by id.",
        "description": "Update a Control POS",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Control POS id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "ORDV_NRO_ORDEN": {
                        "title": "Nro de OV",
                        "type": "integer",
                        "nullable": true
                      },
                      "PUVE_NUMERO": {
                        "title": "Punto de venta",
                        "type": "integer",
                        "nullable": true
                      },
                      "SUCU_NOMBRE": {
                        "title": "Sucursal",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ORDV_FECHA": {
                        "title": "Fecha",
                        "type": "string",
                        "nullable": true
                      },
                      "NETO_FACTURAS": {
                        "title": "Neto Facturas",
                        "type": "number",
                        "nullable": true
                      },
                      "TOTAL_FACTURAS": {
                        "title": "Total Facturas",
                        "type": "number",
                        "nullable": true
                      },
                      "TOTAL_NCS": {
                        "title": "Total NCs",
                        "type": "number",
                        "nullable": true
                      },
                      "TOTAL_TICKETS": {
                        "title": "Total Tickets",
                        "type": "number",
                        "nullable": true
                      },
                      "TOTAL_PERCEPCIONES": {
                        "title": "Total Percepciones",
                        "type": "number",
                        "nullable": true
                      },
                      "CANTIDAD_COBROS": {
                        "title": "# cobros",
                        "type": "integer",
                        "nullable": true
                      },
                      "ITEMS_REMITO": {
                        "title": "Items de remito",
                        "type": "integer",
                        "nullable": true
                      },
                      "ITEMS_OV": {
                        "title": "Items de OV",
                        "type": "integer",
                        "nullable": true
                      },
                      "ITEMS_MOV_STOCK": {
                        "title": "Items Mov Stock",
                        "type": "integer",
                        "nullable": true
                      },
                      "DIF_TICKET_FACTURA": {
                        "title": "Dif Ticket/Factura",
                        "type": "number",
                        "nullable": true
                      },
                      "DIF_ITEMS": {
                        "title": "Diferencia Items",
                        "type": "integer",
                        "nullable": true
                      },
                      "COBROS_EFECTIVO": {
                        "title": "Cobros en efectivo",
                        "type": "number",
                        "nullable": true
                      },
                      "COBROS_TARJETA": {
                        "title": "Cobros con tarjeta",
                        "type": "number",
                        "nullable": true
                      },
                      "TOTAL_RECIBO": {
                        "title": "Total Recibo",
                        "type": "number",
                        "nullable": true
                      },
                      "DIF_COBROS_RECIBO": {
                        "title": "Dif Cobros - Recibo",
                        "type": "number",
                        "nullable": true
                      },
                      "ORDEN_ESTADO": {
                        "title": "ORDEN_ESTADO",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DEVOLUCION": {
                        "title": "DEVOLUCION",
                        "type": "number",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Control POS"
        ],
        "summary": "Delete a Control POS by id.",
        "description": "Delete a Control POS",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Control POS id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/CONTROL_POS/search": {
      "get": {
        "tags": [
          "Control POS"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Control POS",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ORDV_NRO_ORDEN",
            "in": "query",
            "description": "Nro de OV",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "PUVE_NUMERO",
            "in": "query",
            "description": "Punto de venta",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "SUCU_NOMBRE",
            "in": "query",
            "description": "Sucursal",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ORDV_FECHA",
            "in": "query",
            "description": "Fecha",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NETO_FACTURAS",
            "in": "query",
            "description": "Neto Facturas",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "TOTAL_FACTURAS",
            "in": "query",
            "description": "Total Facturas",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "TOTAL_NCS",
            "in": "query",
            "description": "Total NCs",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "TOTAL_TICKETS",
            "in": "query",
            "description": "Total Tickets",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "TOTAL_PERCEPCIONES",
            "in": "query",
            "description": "Total Percepciones",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "CANTIDAD_COBROS",
            "in": "query",
            "description": "# cobros",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ITEMS_REMITO",
            "in": "query",
            "description": "Items de remito",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ITEMS_OV",
            "in": "query",
            "description": "Items de OV",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ITEMS_MOV_STOCK",
            "in": "query",
            "description": "Items Mov Stock",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "DIF_TICKET_FACTURA",
            "in": "query",
            "description": "Dif Ticket/Factura",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "DIF_ITEMS",
            "in": "query",
            "description": "Diferencia Items",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "COBROS_EFECTIVO",
            "in": "query",
            "description": "Cobros en efectivo",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "COBROS_TARJETA",
            "in": "query",
            "description": "Cobros con tarjeta",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "TOTAL_RECIBO",
            "in": "query",
            "description": "Total Recibo",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "DIF_COBROS_RECIBO",
            "in": "query",
            "description": "Dif Cobros - Recibo",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "ORDEN_ESTADO",
            "in": "query",
            "description": "ORDEN_ESTADO",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DEVOLUCION",
            "in": "query",
            "description": "DEVOLUCION",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CONTROL_POS/smartie": {
      "get": {
        "tags": [
          "Control POS"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CONTROL_POS/file": {
      "get": {
        "tags": [
          "Control POS"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Control POS"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CONTROL_POS/report": {
      "get": {
        "tags": [
          "Control POS"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
[...]
