{
  "openapi": "3.0.4",
  "info": {
    "title": "erpdemo.schema Ventas",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yiqi.com.ar/api/public"
    }
  ],
  "paths": {
    "/COBRO": {
      "post": {
        "tags": [
          "Recibo"
        ],
        "summary": "Create a Recibo.",
        "description": "Creates a Recibo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "CLIE_ID_CLIE"
                    ],
                    "type": "object",
                    "properties": {
                      "COBR_FECHA": {
                        "title": "Fecha de cobro",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                        "default": "PARAM.PARA_HOY",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Cliente",
                        "type": "integer",
                        "description": "Son sólo los clientes Activos que tienen una cuenta contable como cliente asignada (en Empresa)\n This is a foreign key to Empresa. An id of Empresa is expected"
                      },
                      "PUVE_ID_PUVE": {
                        "title": "Punto de Venta",
                        "type": "integer",
                        "description": " This is a foreign key to Punto de venta. An id of Punto de venta is expected",
                        "nullable": true
                      },
                      "COBR_COBRADOR": {
                        "title": "Cobrador",
                        "type": "integer",
                        "nullable": true
                      },
                      "COBR_OBSERVACIONES": {
                        "title": "Observaciones",
                        "type": "string",
                        "nullable": true
                      },
                      "MONE_ID_MONE": {
                        "title": "Moneda Recibo",
                        "type": "integer",
                        "description": " This is a foreign key to Moneda. An id of Moneda is expected",
                        "default": "PARAM.MONE_ID_MONE",
                        "nullable": true
                      },
                      "COBR_COTIZACION_MONEDA_EX": {
                        "title": "Cotización Moneda Extranjera",
                        "type": "number",
                        "default": "1",
                        "nullable": true
                      },
                      "COBR_DIFERENCIA_DE_CAMBIO": {
                        "title": "Diferencia de Cambio",
                        "type": "number",
                        "default": "1=2",
                        "nullable": true
                      },
                      "COBR_ARHC_ID_3720": {
                        "title": "Adjunto",
                        "type": "integer",
                        "nullable": true
                      },
                      "COBR_COMENTARIOS_INTERNOS": {
                        "title": "Comentarios internos",
                        "type": "string",
                        "nullable": true
                      },
                      "CobrosEnEfectivo": {
                        "title": "Cobros en Efectivo",
                        "type": "array",
                        "items": {
                          "title": "Cobros en Efectivo",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CAJA_ID_CAJA": {
                              "title": "Caja",
                              "type": "integer",
                              "description": " This is a foreign key to Caja. An id of Caja is expected\n This attribute is mandatory when the instance is at state 'Pendiente'",
                              "default": "PARAM.CAJA_ID_CAJA"
                            },
                            "DECO_IMPORTE": {
                              "title": "Importe",
                              "type": "number",
                              "nullable": true
                            },
                            "DECO_FECHA_DEPOSITO": {
                              "title": "Fecha de cobro",
                              "type": "string",
                              "default": "PARAM.PARA_HOY",
                              "nullable": true
                            },
                            "DECO_OBSERVACIONES": {
                              "title": "Observaciones",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Cobros en Efectivo"
                        },
                        "description": "Array of child entities of Cobros en Efectivo"
                      },
                      "FacturasCanceladas": {
                        "title": "Facturas canceladas",
                        "type": "array",
                        "items": {
                          "title": "Facturas canceladas",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CLIE_ID_CLIE": {
                              "title": "Cliente",
                              "type": "integer",
                              "description": " This is a foreign key to Empresa. An id of Empresa is expected"
                            },
                            "FACT_ID_FACT": {
                              "title": "Factura",
                              "type": "integer",
                              "description": " This is a foreign key to Factura. An id of Factura is expected"
                            },
                            "NODE_ID_NODE": {
                              "title": "Nota de Débito",
                              "type": "integer",
                              "description": " This is a foreign key to Nota de Débito (V). An id of Nota de Débito (V) is expected",
                              "nullable": true
                            },
                            "CANC_IMPORTE_A_CANCELAR": {
                              "title": "Total Imputado",
                              "type": "number",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Facturas canceladas"
                        },
                        "description": "Array of child entities of Facturas canceladas"
                      },
                      "Cheques": {
                        "title": "Cheques",
                        "type": "array",
                        "items": {
                          "title": "Cheques",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "BANC_ID_BANC": {
                              "title": "Banco",
                              "type": "integer",
                              "description": " This is a foreign key to Banco. An id of Banco is expected\n This attribute is mandatory when the instance is at state 'Recibido'"
                            },
                            "CUDE_ID_CUDE": {
                              "title": "Banco depositado",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected\n This attribute is mandatory when the instance is at state 'Depositado'",
                              "nullable": true
                            },
                            "CHEQ_NUMERO": {
                              "title": "Nro de cheque",
                              "maxLength": 100,
                              "type": "string",
                              "description": " This attribute is mandatory when the instance is at state 'Recibido'"
                            },
                            "CHEQ_ELECTRONICO": {
                              "title": "Electrónico",
                              "type": "boolean",
                              "nullable": true
                            },
                            "CHEQ_FECHA_PAGO": {
                              "title": "Fecha de pago",
                              "type": "string",
                              "description": "La fecha indicada en el cheque a partir de la cual el mismo se puede depositar\n This attribute is mandatory when the instance is at state 'Recibido'",
                              "nullable": true
                            },
                            "CHEQ_IMPORTE": {
                              "title": "Importe",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Recibido'",
                              "nullable": true
                            },
                            "CAJA_ID_CAJA": {
                              "title": "Caja",
                              "type": "integer",
                              "description": " This is a foreign key to Caja. An id of Caja is expected",
                              "default": "PARAM.CAJA_ID_CAJ2",
                              "nullable": true
                            },
                            "CHEQ_FECHA_DEPOSITO": {
                              "title": "Fecha depósito",
                              "type": "string",
                              "description": "Fecha efectiva de depósito\n This attribute is mandatory when the instance is at state 'Depositado'",
                              "nullable": true
                            },
                            "CHEQ_FECHA_DE_ACREDITACIO": {
                              "title": "Fecha de acreditación",
                              "type": "string",
                              "description": "Fecha de acreditación\n This attribute is mandatory when the instance is at state 'Acreditado'",
                              "nullable": true
                            },
                            "CHEQ_CUIT_LIBRADOR": {
                              "title": "CUIT Librador (3ro)",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CHEQ_REFERENCIA": {
                              "title": "Referencia",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CUCO_ID_CUCO": {
                              "title": "Banco depositado Des",
                              "type": "integer",
                              "description": "Se cambió este campo de Cuenta Contable a Cuenta Bancaria\n This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                              "nullable": true
                            },
                            "CHEQ_REVERTIR_COBROS": {
                              "title": "Revertir Cobros",
                              "type": "boolean",
                              "description": " This attribute is mandatory when the instance is at state 'Rechazado'",
                              "nullable": true
                            },
                            "CHEQ_GASTO_BANCARIO_POR_R": {
                              "title": "Gasto bancario por rechazo",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Rechazado'",
                              "nullable": true
                            },
                            "CHEQ_INFO_DESCRIPCION": {
                              "title": "Info Descripcion",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "BODD_ID_BOD2": {
                              "title": "Boleta",
                              "type": "integer",
                              "description": " This is a foreign key to Boleta de Depósito. An id of Boleta de Depósito is expected\n This attribute is mandatory when the instance is at state 'Cambiando boleta'",
                              "nullable": true
                            },
                            "BDCV_ID_NUEV": {
                              "title": "Boleta de Cheque Vendido",
                              "type": "integer",
                              "description": " This is a foreign key to Boleta de Cheques Vendidos. An id of Boleta de Cheques Vendidos is expected\n This attribute is mandatory when the instance is at state 'Asignando a boleta'",
                              "nullable": true
                            },
                            "CHEQ_MONTO_VENTA_NUEVO": {
                              "title": "Monto de la Boleta de Venta",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Asignando a boleta'",
                              "nullable": true
                            },
                            "CHEQ_REVERTIR_COBROS_DEV": {
                              "title": "Revertir Recibos",
                              "type": "boolean",
                              "description": "Si se marca se buscará modificar las cancelaciones asociadas al Recibo para que no incluyan el monto devuelto por este cheque.\n This attribute is mandatory when the instance is at state 'Devuelto'",
                              "nullable": true
                            },
                            "CHEQ_REVERTIR_OP_DEV": {
                              "title": "Revertir Órdenes de Pago",
                              "type": "boolean",
                              "description": "Si se marca se buscará modificar las cancelaciones asociadas a la Orden de Pago para que no incluyan el monto devuelto por este cheque.\n This attribute is mandatory when the instance is at state 'Devuelto'",
                              "nullable": true
                            },
                            "OBLI_ID_NUEV": {
                              "title": "Orden de pago",
                              "type": "integer",
                              "description": " This is a foreign key to Orden de pago. An id of Orden de pago is expected\n This attribute is mandatory when the instance is at state 'Reasignando OP'",
                              "nullable": true
                            },
                            "CHEQ_FECHA_DE_VENTA": {
                              "title": "Fecha de Venta",
                              "type": "string",
                              "nullable": true
                            },
                            "CHEQ_MONTO_VENTA": {
                              "title": "Monto de la Boleta de Venta",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Vendido'",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Cheques"
                        },
                        "description": "Array of child entities of Cheques"
                      },
                      "Retenciones": {
                        "title": "Retenciones",
                        "type": "array",
                        "items": {
                          "title": "Retenciones",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "RERE_NUMERO_COMPROBANTE": {
                              "title": "Nro Comprobante",
                              "maxLength": 100,
                              "type": "string"
                            },
                            "RERE_FECHA_EMISION": {
                              "title": "Fecha de emisión",
                              "type": "string",
                              "description": " This attribute is mandatory when the instance is at state 'Recibida'",
                              "nullable": true
                            },
                            "CORE_ID_CORE": {
                              "title": "Concepto",
                              "type": "integer",
                              "description": " This is a foreign key to Concepto Retención. An id of Concepto Retención is expected"
                            },
                            "RERE_IMPORTE": {
                              "title": "Importe",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                              "nullable": true
                            },
                            "LIQI_ID_LIQI": {
                              "title": "Liquidación de impuestos",
                              "type": "integer",
                              "description": " This is a foreign key to Liquidación de impuestos. An id of Liquidación de impuestos is expected",
                              "nullable": true
                            },
                            "RERE_ARHC_ID_3801": {
                              "title": "Comprobante",
                              "type": "integer",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Retenciones"
                        },
                        "description": "Array of child entities of Retenciones"
                      },
                      "Ajustes(Adelantos)": {
                        "title": "Ajustes (adelantos)",
                        "type": "array",
                        "items": {
                          "title": "Ajustes (adelantos)",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CLIE_ID_CLIE": {
                              "title": "Cliente",
                              "type": "integer",
                              "description": " This is a foreign key to Empresa. An id of Empresa is expected"
                            },
                            "AJUS_DEBITO": {
                              "title": "Débito",
                              "type": "number",
                              "nullable": true
                            },
                            "AJUS_CREDITO": {
                              "title": "Crédito",
                              "type": "number",
                              "nullable": true
                            },
                            "AJUS_SALDO": {
                              "title": "Saldo",
                              "type": "number",
                              "nullable": true
                            },
                            "AJUS_FECHA": {
                              "title": "Fecha",
                              "type": "string",
                              "nullable": true
                            },
                            "OBLI_ID_OBLI": {
                              "title": "Orden Pago",
                              "type": "integer",
                              "description": " This is a foreign key to Orden de pago. An id of Orden de pago is expected",
                              "nullable": true
                            },
                            "NOCR_ID_NOCR": {
                              "title": "Nota de crédito (V)",
                              "type": "integer",
                              "description": " This is a foreign key to Nota de Crédito (V). An id of Nota de Crédito (V) is expected",
                              "nullable": true
                            },
                            "NOCC_ID_NOCC": {
                              "title": "Nota de crédito (C)",
                              "type": "integer",
                              "description": " This is a foreign key to Nota de Crédito (C) . An id of Nota de Crédito (C)  is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Ajustes (adelantos)"
                        },
                        "description": "Array of child entities of Ajustes (adelantos)"
                      },
                      "DepósitosBancarios": {
                        "title": "Depósitos Bancarios",
                        "type": "array",
                        "items": {
                          "title": "Depósitos Bancarios",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "DEBA_IMPORTE": {
                              "title": "Importe",
                              "type": "number"
                            },
                            "CUDE_ID_CUDE": {
                              "title": "Cuenta bancaria",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected"
                            },
                            "DEBA_REFERENCIA": {
                              "title": "Referencia",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "DEBA_FECHA": {
                              "title": "Fecha",
                              "type": "string"
                            },
                            "DEBA_OBSERVACIONES": {
                              "title": "Observaciones",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "DEBA_INFO_DESCRIPCION": {
                              "title": "Info Descripcion",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Depósitos Bancarios"
                        },
                        "description": "Array of child entities of Depósitos Bancarios"
                      },
                      "Transferencias": {
                        "title": "Transferencias",
                        "type": "array",
                        "items": {
                          "title": "Transferencias",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CLIE_ID_CLIE": {
                              "title": "Cliente",
                              "type": "integer",
                              "description": " This is a foreign key to Empresa. An id of Empresa is expected"
                            },
                            "TRRE_FECHA": {
                              "title": "Fecha",
                              "type": "string"
                            },
                            "TRRE_IMPORTE": {
                              "title": "Importe",
                              "type": "number"
                            },
                            "TRRE_COMISION_BANCARIA": {
                              "title": "Comisión Bancaria",
                              "type": "number",
                              "nullable": true
                            },
                            "TRRE_COT_COM_BANCARIA": {
                              "title": "Cotización Comisión Bancaria",
                              "type": "number",
                              "description": "Cotización de la moneda de la comisión bancaria. Si no se usa, se toma la cotización del Recibo.\n Tampoco se utiliza en caso de que la moneda del recibo sea ARS.",
                              "nullable": true
                            },
                            "CUDE_ID_CUDE": {
                              "title": "Cuenta Destino",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected"
                            },
                            "CUDE_ID_CUOR": {
                              "title": "Cuenta Origen",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected",
                              "nullable": true
                            },
                            "TRRE_REFERENCIA": {
                              "title": "Referencia",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "TRNF_ID_TRNF": {
                              "title": "Transferencia",
                              "type": "integer",
                              "description": " This is a foreign key to Transferencia. An id of Transferencia is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Transferencias"
                        },
                        "description": "Array of child entities of Transferencias"
                      },
                      "CobrosElectrónicos": {
                        "title": "Cobros electrónicos",
                        "type": "array",
                        "items": {
                          "title": "Cobros electrónicos",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "COEL_IMPORTE": {
                              "title": "Importe",
                              "type": "number"
                            },
                            "COEL_CUOTAS": {
                              "title": "Cuotas",
                              "type": "integer",
                              "default": "1",
                              "nullable": true
                            },
                            "COEL_OBSERVACIONES": {
                              "title": "Observaciones",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "COEL_FECHA_DE_COBRO": {
                              "title": "Fecha de Cobro",
                              "type": "string",
                              "default": "PARAM.PARA_HOY",
                              "nullable": true
                            },
                            "CDCE_ID_CDCE": {
                              "title": "Concepto",
                              "type": "integer",
                              "description": " This is a foreign key to Concepto de cobro electrónico. An id of Concepto de cobro electrónico is expected"
                            },
                            "COEL_NRO_DE_OPERACION": {
                              "title": "Nro de operación",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "LDCE_ID_LDCE": {
                              "title": "Liquidación de Cobro electrónico",
                              "type": "integer",
                              "description": " This is a foreign key to Liquidación de Cobro electrónico. An id of Liquidación de Cobro electrónico is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Cobros electrónicos"
                        },
                        "description": "Array of child entities of Cobros electrónicos"
                      },
                      "RelacionesPagos": {
                        "title": "Relaciones Pagos",
                        "type": "array",
                        "items": {
                          "title": "Relaciones Pagos",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "FACT_ID_FACT": {
                              "title": "Factura",
                              "type": "integer",
                              "description": " This is a foreign key to Factura. An id of Factura is expected"
                            },
                            "CHEQ_ID_CHEQ": {
                              "title": "Cheque",
                              "type": "integer",
                              "description": " This is a foreign key to Cheque Recibido. An id of Cheque Recibido is expected",
                              "nullable": true
                            },
                            "DECO_ID_DECO": {
                              "title": "Cobro en Efectivo",
                              "type": "integer",
                              "description": " This is a foreign key to Cobro en Efectivo. An id of Cobro en Efectivo is expected",
                              "nullable": true
                            },
                            "TRRE_ID_TRRE": {
                              "title": "Transferencia",
                              "type": "integer",
                              "description": " This is a foreign key to Transferencia Recibida. An id of Transferencia Recibida is expected",
                              "nullable": true
                            },
                            "COEL_ID_COEL": {
                              "title": "Cobro Electrónico",
                              "type": "integer",
                              "description": " This is a foreign key to Cobro electrónico. An id of Cobro electrónico is expected",
                              "nullable": true
                            },
                            "DEBA_ID_DEBA": {
                              "title": "Depósito Bancario",
                              "type": "integer",
                              "description": " This is a foreign key to Depósito bancario. An id of Depósito bancario is expected",
                              "nullable": true
                            },
                            "RERE_ID_RERE": {
                              "title": "Retención Recibida",
                              "type": "integer",
                              "description": " This is a foreign key to Retención Recibida. An id of Retención Recibida is expected",
                              "nullable": true
                            },
                            "AJUS_ID_AJUS": {
                              "title": "Ajuste",
                              "type": "integer",
                              "description": " This is a foreign key to Ajuste. An id of Ajuste is expected",
                              "nullable": true
                            },
                            "REPA_MONTO": {
                              "title": "Monto",
                              "type": "number",
                              "nullable": true
                            },
                            "REPA_VALOR_DEL_CAMBIO": {
                              "title": "Valor del Cambio",
                              "type": "number",
                              "description": "Ejemplo: 1USD= 17ARS.\nCompletar: 17",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Relaciones Pagos"
                        },
                        "description": "Array of child entities of Relaciones Pagos"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/COBRO/{id}": {
      "get": {
        "tags": [
          "Recibo"
        ],
        "description": "Get a Recibo by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Recibo id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Recibo"
        ],
        "summary": "Update a Recibo by id.",
        "description": "Update a Recibo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Recibo id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "CLIE_ID_CLIE"
                    ],
                    "type": "object",
                    "properties": {
                      "COBR_FECHA": {
                        "title": "Fecha de cobro",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                        "default": "PARAM.PARA_HOY",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Cliente",
                        "type": "integer",
                        "description": "Son sólo los clientes Activos que tienen una cuenta contable como cliente asignada (en Empresa)\n This is a foreign key to Empresa. An id of Empresa is expected"
                      },
                      "PUVE_ID_PUVE": {
                        "title": "Punto de Venta",
                        "type": "integer",
                        "description": " This is a foreign key to Punto de venta. An id of Punto de venta is expected",
                        "nullable": true
                      },
                      "COBR_COBRADOR": {
                        "title": "Cobrador",
                        "type": "integer",
                        "nullable": true
                      },
                      "COBR_OBSERVACIONES": {
                        "title": "Observaciones",
                        "type": "string",
                        "nullable": true
                      },
                      "MONE_ID_MONE": {
                        "title": "Moneda Recibo",
                        "type": "integer",
                        "description": " This is a foreign key to Moneda. An id of Moneda is expected",
                        "default": "PARAM.MONE_ID_MONE",
                        "nullable": true
                      },
                      "COBR_COTIZACION_MONEDA_EX": {
                        "title": "Cotización Moneda Extranjera",
                        "type": "number",
                        "default": "1",
                        "nullable": true
                      },
                      "COBR_DIFERENCIA_DE_CAMBIO": {
                        "title": "Diferencia de Cambio",
                        "type": "number",
                        "default": "1=2",
                        "nullable": true
                      },
                      "COBR_ARHC_ID_3720": {
                        "title": "Adjunto",
                        "type": "integer",
                        "nullable": true
                      },
                      "COBR_COMENTARIOS_INTERNOS": {
                        "title": "Comentarios internos",
                        "type": "string",
                        "nullable": true
                      },
                      "CobrosEnEfectivo": {
                        "title": "Cobros en Efectivo",
                        "type": "array",
                        "items": {
                          "title": "Cobros en Efectivo",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CAJA_ID_CAJA": {
                              "title": "Caja",
                              "type": "integer",
                              "description": " This is a foreign key to Caja. An id of Caja is expected\n This attribute is mandatory when the instance is at state 'Pendiente'",
                              "default": "PARAM.CAJA_ID_CAJA"
                            },
                            "DECO_IMPORTE": {
                              "title": "Importe",
                              "type": "number",
                              "nullable": true
                            },
                            "DECO_FECHA_DEPOSITO": {
                              "title": "Fecha de cobro",
                              "type": "string",
                              "default": "PARAM.PARA_HOY",
                              "nullable": true
                            },
                            "DECO_OBSERVACIONES": {
                              "title": "Observaciones",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Cobros en Efectivo"
                        },
                        "description": "Array of child entities of Cobros en Efectivo"
                      },
                      "FacturasCanceladas": {
                        "title": "Facturas canceladas",
                        "type": "array",
                        "items": {
                          "title": "Facturas canceladas",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CLIE_ID_CLIE": {
                              "title": "Cliente",
                              "type": "integer",
                              "description": " This is a foreign key to Empresa. An id of Empresa is expected"
                            },
                            "FACT_ID_FACT": {
                              "title": "Factura",
                              "type": "integer",
                              "description": " This is a foreign key to Factura. An id of Factura is expected"
                            },
                            "NODE_ID_NODE": {
                              "title": "Nota de Débito",
                              "type": "integer",
                              "description": " This is a foreign key to Nota de Débito (V). An id of Nota de Débito (V) is expected",
                              "nullable": true
                            },
                            "CANC_IMPORTE_A_CANCELAR": {
                              "title": "Total Imputado",
                              "type": "number",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Facturas canceladas"
                        },
                        "description": "Array of child entities of Facturas canceladas"
                      },
                      "Cheques": {
                        "title": "Cheques",
                        "type": "array",
                        "items": {
                          "title": "Cheques",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "BANC_ID_BANC": {
                              "title": "Banco",
                              "type": "integer",
                              "description": " This is a foreign key to Banco. An id of Banco is expected\n This attribute is mandatory when the instance is at state 'Recibido'"
                            },
                            "CUDE_ID_CUDE": {
                              "title": "Banco depositado",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected\n This attribute is mandatory when the instance is at state 'Depositado'",
                              "nullable": true
                            },
                            "CHEQ_NUMERO": {
                              "title": "Nro de cheque",
                              "maxLength": 100,
                              "type": "string",
                              "description": " This attribute is mandatory when the instance is at state 'Recibido'"
                            },
                            "CHEQ_ELECTRONICO": {
                              "title": "Electrónico",
                              "type": "boolean",
                              "nullable": true
                            },
                            "CHEQ_FECHA_PAGO": {
                              "title": "Fecha de pago",
                              "type": "string",
                              "description": "La fecha indicada en el cheque a partir de la cual el mismo se puede depositar\n This attribute is mandatory when the instance is at state 'Recibido'",
                              "nullable": true
                            },
                            "CHEQ_IMPORTE": {
                              "title": "Importe",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Recibido'",
                              "nullable": true
                            },
                            "CAJA_ID_CAJA": {
                              "title": "Caja",
                              "type": "integer",
                              "description": " This is a foreign key to Caja. An id of Caja is expected",
                              "default": "PARAM.CAJA_ID_CAJ2",
                              "nullable": true
                            },
                            "CHEQ_FECHA_DEPOSITO": {
                              "title": "Fecha depósito",
                              "type": "string",
                              "description": "Fecha efectiva de depósito\n This attribute is mandatory when the instance is at state 'Depositado'",
                              "nullable": true
                            },
                            "CHEQ_FECHA_DE_ACREDITACIO": {
                              "title": "Fecha de acreditación",
                              "type": "string",
                              "description": "Fecha de acreditación\n This attribute is mandatory when the instance is at state 'Acreditado'",
                              "nullable": true
                            },
                            "CHEQ_CUIT_LIBRADOR": {
                              "title": "CUIT Librador (3ro)",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CHEQ_REFERENCIA": {
                              "title": "Referencia",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CUCO_ID_CUCO": {
                              "title": "Banco depositado Des",
                              "type": "integer",
                              "description": "Se cambió este campo de Cuenta Contable a Cuenta Bancaria\n This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                              "nullable": true
                            },
                            "CHEQ_REVERTIR_COBROS": {
                              "title": "Revertir Cobros",
                              "type": "boolean",
                              "description": " This attribute is mandatory when the instance is at state 'Rechazado'",
                              "nullable": true
                            },
                            "CHEQ_GASTO_BANCARIO_POR_R": {
                              "title": "Gasto bancario por rechazo",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Rechazado'",
                              "nullable": true
                            },
                            "CHEQ_INFO_DESCRIPCION": {
                              "title": "Info Descripcion",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "BODD_ID_BOD2": {
                              "title": "Boleta",
                              "type": "integer",
                              "description": " This is a foreign key to Boleta de Depósito. An id of Boleta de Depósito is expected\n This attribute is mandatory when the instance is at state 'Cambiando boleta'",
                              "nullable": true
                            },
                            "BDCV_ID_NUEV": {
                              "title": "Boleta de Cheque Vendido",
                              "type": "integer",
                              "description": " This is a foreign key to Boleta de Cheques Vendidos. An id of Boleta de Cheques Vendidos is expected\n This attribute is mandatory when the instance is at state 'Asignando a boleta'",
                              "nullable": true
                            },
                            "CHEQ_MONTO_VENTA_NUEVO": {
                              "title": "Monto de la Boleta de Venta",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Asignando a boleta'",
                              "nullable": true
                            },
                            "CHEQ_REVERTIR_COBROS_DEV": {
                              "title": "Revertir Recibos",
                              "type": "boolean",
                              "description": "Si se marca se buscará modificar las cancelaciones asociadas al Recibo para que no incluyan el monto devuelto por este cheque.\n This attribute is mandatory when the instance is at state 'Devuelto'",
                              "nullable": true
                            },
                            "CHEQ_REVERTIR_OP_DEV": {
                              "title": "Revertir Órdenes de Pago",
                              "type": "boolean",
                              "description": "Si se marca se buscará modificar las cancelaciones asociadas a la Orden de Pago para que no incluyan el monto devuelto por este cheque.\n This attribute is mandatory when the instance is at state 'Devuelto'",
                              "nullable": true
                            },
                            "OBLI_ID_NUEV": {
                              "title": "Orden de pago",
                              "type": "integer",
                              "description": " This is a foreign key to Orden de pago. An id of Orden de pago is expected\n This attribute is mandatory when the instance is at state 'Reasignando OP'",
                              "nullable": true
                            },
                            "CHEQ_FECHA_DE_VENTA": {
                              "title": "Fecha de Venta",
                              "type": "string",
                              "nullable": true
                            },
                            "CHEQ_MONTO_VENTA": {
                              "title": "Monto de la Boleta de Venta",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Vendido'",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Cheques"
                        },
                        "description": "Array of child entities of Cheques"
                      },
                      "Retenciones": {
                        "title": "Retenciones",
                        "type": "array",
                        "items": {
                          "title": "Retenciones",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "RERE_NUMERO_COMPROBANTE": {
                              "title": "Nro Comprobante",
                              "maxLength": 100,
                              "type": "string"
                            },
                            "RERE_FECHA_EMISION": {
                              "title": "Fecha de emisión",
                              "type": "string",
                              "description": " This attribute is mandatory when the instance is at state 'Recibida'",
                              "nullable": true
                            },
                            "CORE_ID_CORE": {
                              "title": "Concepto",
                              "type": "integer",
                              "description": " This is a foreign key to Concepto Retención. An id of Concepto Retención is expected"
                            },
                            "RERE_IMPORTE": {
                              "title": "Importe",
                              "type": "number",
                              "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                              "nullable": true
                            },
                            "LIQI_ID_LIQI": {
                              "title": "Liquidación de impuestos",
                              "type": "integer",
                              "description": " This is a foreign key to Liquidación de impuestos. An id of Liquidación de impuestos is expected",
                              "nullable": true
                            },
                            "RERE_ARHC_ID_3801": {
                              "title": "Comprobante",
                              "type": "integer",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Retenciones"
                        },
                        "description": "Array of child entities of Retenciones"
                      },
                      "Ajustes(Adelantos)": {
                        "title": "Ajustes (adelantos)",
                        "type": "array",
                        "items": {
                          "title": "Ajustes (adelantos)",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CLIE_ID_CLIE": {
                              "title": "Cliente",
                              "type": "integer",
                              "description": " This is a foreign key to Empresa. An id of Empresa is expected"
                            },
                            "AJUS_DEBITO": {
                              "title": "Débito",
                              "type": "number",
                              "nullable": true
                            },
                            "AJUS_CREDITO": {
                              "title": "Crédito",
                              "type": "number",
                              "nullable": true
                            },
                            "AJUS_SALDO": {
                              "title": "Saldo",
                              "type": "number",
                              "nullable": true
                            },
                            "AJUS_FECHA": {
                              "title": "Fecha",
                              "type": "string",
                              "nullable": true
                            },
                            "OBLI_ID_OBLI": {
                              "title": "Orden Pago",
                              "type": "integer",
                              "description": " This is a foreign key to Orden de pago. An id of Orden de pago is expected",
                              "nullable": true
                            },
                            "NOCR_ID_NOCR": {
                              "title": "Nota de crédito (V)",
                              "type": "integer",
                              "description": " This is a foreign key to Nota de Crédito (V). An id of Nota de Crédito (V) is expected",
                              "nullable": true
                            },
                            "NOCC_ID_NOCC": {
                              "title": "Nota de crédito (C)",
                              "type": "integer",
                              "description": " This is a foreign key to Nota de Crédito (C) . An id of Nota de Crédito (C)  is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Ajustes (adelantos)"
                        },
                        "description": "Array of child entities of Ajustes (adelantos)"
                      },
                      "DepósitosBancarios": {
                        "title": "Depósitos Bancarios",
                        "type": "array",
                        "items": {
                          "title": "Depósitos Bancarios",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "DEBA_IMPORTE": {
                              "title": "Importe",
                              "type": "number"
                            },
                            "CUDE_ID_CUDE": {
                              "title": "Cuenta bancaria",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected"
                            },
                            "DEBA_REFERENCIA": {
                              "title": "Referencia",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "DEBA_FECHA": {
                              "title": "Fecha",
                              "type": "string"
                            },
                            "DEBA_OBSERVACIONES": {
                              "title": "Observaciones",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "DEBA_INFO_DESCRIPCION": {
                              "title": "Info Descripcion",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Depósitos Bancarios"
                        },
                        "description": "Array of child entities of Depósitos Bancarios"
                      },
                      "Transferencias": {
                        "title": "Transferencias",
                        "type": "array",
                        "items": {
                          "title": "Transferencias",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CLIE_ID_CLIE": {
                              "title": "Cliente",
                              "type": "integer",
                              "description": " This is a foreign key to Empresa. An id of Empresa is expected"
                            },
                            "TRRE_FECHA": {
                              "title": "Fecha",
                              "type": "string"
                            },
                            "TRRE_IMPORTE": {
                              "title": "Importe",
                              "type": "number"
                            },
                            "TRRE_COMISION_BANCARIA": {
                              "title": "Comisión Bancaria",
                              "type": "number",
                              "nullable": true
                            },
                            "TRRE_COT_COM_BANCARIA": {
                              "title": "Cotización Comisión Bancaria",
                              "type": "number",
                              "description": "Cotización de la moneda de la comisión bancaria. Si no se usa, se toma la cotización del Recibo.\n Tampoco se utiliza en caso de que la moneda del recibo sea ARS.",
                              "nullable": true
                            },
                            "CUDE_ID_CUDE": {
                              "title": "Cuenta Destino",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected"
                            },
                            "CUDE_ID_CUOR": {
                              "title": "Cuenta Origen",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected",
                              "nullable": true
                            },
                            "TRRE_REFERENCIA": {
                              "title": "Referencia",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "TRNF_ID_TRNF": {
                              "title": "Transferencia",
                              "type": "integer",
                              "description": " This is a foreign key to Transferencia. An id of Transferencia is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Transferencias"
                        },
                        "description": "Array of child entities of Transferencias"
                      },
                      "CobrosElectrónicos": {
                        "title": "Cobros electrónicos",
                        "type": "array",
                        "items": {
                          "title": "Cobros electrónicos",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "COEL_IMPORTE": {
                              "title": "Importe",
                              "type": "number"
                            },
                            "COEL_CUOTAS": {
                              "title": "Cuotas",
                              "type": "integer",
                              "default": "1",
                              "nullable": true
                            },
                            "COEL_OBSERVACIONES": {
                              "title": "Observaciones",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "COEL_FECHA_DE_COBRO": {
                              "title": "Fecha de Cobro",
                              "type": "string",
                              "default": "PARAM.PARA_HOY",
                              "nullable": true
                            },
                            "CDCE_ID_CDCE": {
                              "title": "Concepto",
                              "type": "integer",
                              "description": " This is a foreign key to Concepto de cobro electrónico. An id of Concepto de cobro electrónico is expected"
                            },
                            "COEL_NRO_DE_OPERACION": {
                              "title": "Nro de operación",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "LDCE_ID_LDCE": {
                              "title": "Liquidación de Cobro electrónico",
                              "type": "integer",
                              "description": " This is a foreign key to Liquidación de Cobro electrónico. An id of Liquidación de Cobro electrónico is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Cobros electrónicos"
                        },
                        "description": "Array of child entities of Cobros electrónicos"
                      },
                      "RelacionesPagos": {
                        "title": "Relaciones Pagos",
                        "type": "array",
                        "items": {
                          "title": "Relaciones Pagos",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "FACT_ID_FACT": {
                              "title": "Factura",
                              "type": "integer",
                              "description": " This is a foreign key to Factura. An id of Factura is expected"
                            },
                            "CHEQ_ID_CHEQ": {
                              "title": "Cheque",
                              "type": "integer",
                              "description": " This is a foreign key to Cheque Recibido. An id of Cheque Recibido is expected",
                              "nullable": true
                            },
                            "DECO_ID_DECO": {
                              "title": "Cobro en Efectivo",
                              "type": "integer",
                              "description": " This is a foreign key to Cobro en Efectivo. An id of Cobro en Efectivo is expected",
                              "nullable": true
                            },
                            "TRRE_ID_TRRE": {
                              "title": "Transferencia",
                              "type": "integer",
                              "description": " This is a foreign key to Transferencia Recibida. An id of Transferencia Recibida is expected",
                              "nullable": true
                            },
                            "COEL_ID_COEL": {
                              "title": "Cobro Electrónico",
                              "type": "integer",
                              "description": " This is a foreign key to Cobro electrónico. An id of Cobro electrónico is expected",
                              "nullable": true
                            },
                            "DEBA_ID_DEBA": {
                              "title": "Depósito Bancario",
                              "type": "integer",
                              "description": " This is a foreign key to Depósito bancario. An id of Depósito bancario is expected",
                              "nullable": true
                            },
                            "RERE_ID_RERE": {
                              "title": "Retención Recibida",
                              "type": "integer",
                              "description": " This is a foreign key to Retención Recibida. An id of Retención Recibida is expected",
                              "nullable": true
                            },
                            "AJUS_ID_AJUS": {
                              "title": "Ajuste",
                              "type": "integer",
                              "description": " This is a foreign key to Ajuste. An id of Ajuste is expected",
                              "nullable": true
                            },
                            "REPA_MONTO": {
                              "title": "Monto",
                              "type": "number",
                              "nullable": true
                            },
                            "REPA_VALOR_DEL_CAMBIO": {
                              "title": "Valor del Cambio",
                              "type": "number",
                              "description": "Ejemplo: 1USD= 17ARS.\nCompletar: 17",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Relaciones Pagos"
                        },
                        "description": "Array of child entities of Relaciones Pagos"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Recibo"
        ],
        "summary": "Delete a Recibo by id.",
        "description": "Delete a Recibo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Recibo id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/COBRO/search": {
      "get": {
        "tags": [
          "Recibo"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Recibo",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "COBR_FECHA",
            "in": "query",
            "description": "Fecha de cobro",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CLIE_ID_CLIE",
            "in": "query",
            "description": "Cliente",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "COBR_NRODERECIBO",
            "in": "query",
            "description": "Nro de Recibo",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "COBR_TOTAL_CANCELADO",
            "in": "query",
            "description": "Total Imputado",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "COBR_TOTAL_RECIBIDO",
            "in": "query",
            "description": "Total Recibido",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "COBR_TOTAL_COBRADO",
            "in": "query",
            "description": "Total del Recibo",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "COBR_PENDIENTE_DE_ASIGNAC",
            "in": "query",
            "description": "Pendiente de Asignación",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "COBR_DEVOLUCIONES",
            "in": "query",
            "description": "Devoluciones",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/COBRO/smartie": {
      "get": {
        "tags": [
          "Recibo"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/COBRO/changestate": {
      "post": {
        "tags": [
          "Recibo"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Anulado</li>\n<li>Borrando Ajustes</li>\n<li>Borrando Ajustes Previos</li>\n<li>Cargando cancelaciones</li>\n<li>Cobrado con Cheque Devuelto</li>\n<li>Cobrado con Cheque Rechazado</li>\n<li>Emitido</li>\n<li>Pendiente</li>\n<li>Procesando ajustes</li>\n<li>Regenerar asiento</li>\n<li>Reimputando</li>\n<li>Solicitando Retenciones</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/COBRO/file": {
      "get": {
        "tags": [
          "Recibo"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "enum": [
                "ARHC_ID_3720"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Recibo"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "enum": [
                "ARHC_ID_3720"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/COBRO/report": {
      "get": {
        "tags": [
          "Recibo"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "enum": [
                "RECIBO_BLANCO_v1.0",
                "RECIBO_v1.2"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CONTROL_FACTURAS_ONL": {
      "post": {
        "tags": [
          "Control Facturas Online"
        ],
        "summary": "Create a Control Facturas Online.",
        "description": "Creates a Control Facturas Online",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "ESTADO_FACTURA": {
                        "title": "Estado Factura",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "PV_NUMERO": {
                        "title": "Punto de Venta",
                        "type": "integer",
                        "nullable": true
                      },
                      "NUMERO_FACTURA": {
                        "title": "Número Factura",
                        "type": "integer",
                        "nullable": true
                      },
                      "NUMERO_PEDIDO": {
                        "title": "Número Pedido",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ESTADO_PEDIDO": {
                        "title": "Estado Pedido",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "PENDIENTE_CANCELACIO": {
                        "title": "Pendiente de Cancelación",
                        "type": "number",
                        "nullable": true
                      },
                      "FECHA_EMISION": {
                        "title": "Fecha Emisión",
                        "type": "string",
                        "nullable": true
                      },
                      "FECHA_CREACION": {
                        "title": "Fecha Creación",
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CONTROL_FACTURAS_ONL/{id}": {
      "get": {
        "tags": [
          "Control Facturas Online"
        ],
        "description": "Get a Control Facturas Online by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Control Facturas Online id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Control Facturas Online"
        ],
        "summary": "Update a Control Facturas Online by id.",
        "description": "Update a Control Facturas Online",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Control Facturas Online id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "ESTADO_FACTURA": {
                        "title": "Estado Factura",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "PV_NUMERO": {
                        "title": "Punto de Venta",
                        "type": "integer",
                        "nullable": true
                      },
                      "NUMERO_FACTURA": {
                        "title": "Número Factura",
                        "type": "integer",
                        "nullable": true
                      },
                      "NUMERO_PEDIDO": {
                        "title": "Número Pedido",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ESTADO_PEDIDO": {
                        "title": "Estado Pedido",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "PENDIENTE_CANCELACIO": {
                        "title": "Pendiente de Cancelación",
                        "type": "number",
                        "nullable": true
                      },
                      "FECHA_EMISION": {
                        "title": "Fecha Emisión",
                        "type": "string",
                        "nullable": true
                      },
                      "FECHA_CREACION": {
                        "title": "Fecha Creación",
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Control Facturas Online"
        ],
        "summary": "Delete a Control Facturas Online by id.",
        "description": "Delete a Control Facturas Online",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Control Facturas Online id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/CONTROL_FACTURAS_ONL/search": {
      "get": {
        "tags": [
          "Control Facturas Online"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Control Facturas Online",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ESTADO_FACTURA",
            "in": "query",
            "description": "Estado Factura",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PV_NUMERO",
            "in": "query",
            "description": "Punto de Venta",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "NUMERO_FACTURA",
            "in": "query",
            "description": "Número Factura",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "NUMERO_PEDIDO",
            "in": "query",
            "description": "Número Pedido",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ESTADO_PEDIDO",
            "in": "query",
            "description": "Estado Pedido",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PENDIENTE_CANCELACIO",
            "in": "query",
            "description": "Pendiente de Cancelación",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "FECHA_EMISION",
            "in": "query",
            "description": "Fecha Emisión",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FECHA_CREACION",
            "in": "query",
            "description": "Fecha Creación",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CONTROL_FACTURAS_ONL/smartie": {
      "get": {
        "tags": [
          "Control Facturas Online"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CONTROL_FACTURAS_ONL/file": {
      "get": {
        "tags": [
          "Control Facturas Online"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
[...]
