{
  "openapi": "3.0.4",
  "info": {
    "title": "erpdemo.schema Finanzas",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yiqi.com.ar/api/public"
    }
  ],
  "paths": {
    "/CONCEPTO_DE_COBRO_EL": {
      "post": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "summary": "Create a Concepto de cobro electrónico.",
        "description": "Creates a new instance of Concepto de cobro electrónico.\n\n**Key Attributes (Unique):** `CDCE_NOMBRE` (Nombre)\n\nThese attributes form the entity's unique key. If you attempt to create an instance with key values that already exist, the API will return HTTP 409 Conflict.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "CDCE_NOMBRE",
                      "CUCO_ID_CUCO"
                    ],
                    "type": "object",
                    "properties": {
                      "CDCE_NOMBRE": {
                        "title": "Nombre",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "CUCO_ID_CUCO": {
                        "title": "Cuenta contable Cobro",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected"
                      },
                      "CDCE_CATEGORIA": {
                        "title": "Categoría",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CDCE_DIMINUTIVO": {
                        "title": "Diminutivo",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CDCE_NO_EN_MENU_POS": {
                        "title": "No se muestra en el POS",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CUCO_ID_COMI": {
                        "title": "Cuenta contable Comision",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                        "nullable": true
                      },
                      "CUCO_ID_ARAN": {
                        "title": "Cuenta contable Arancel",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                        "nullable": true
                      },
                      "CDCE_SOLO_ADMINISTRADOR": {
                        "title": "Vista únicamente por Administrador",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Proveedor",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "CobroElectrónico": {
                        "title": "Cobro electrónico",
                        "type": "array",
                        "items": {
                          "title": "Cobro electrónico",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "COEL_IMPORTE": {
                              "title": "Importe",
                              "type": "number"
                            },
                            "COEL_CUOTAS": {
                              "title": "Cuotas",
                              "type": "integer",
                              "default": "1",
                              "nullable": true
                            },
                            "COEL_OBSERVACIONES": {
                              "title": "Observaciones",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "COEL_FECHA_DE_COBRO": {
                              "title": "Fecha de Cobro",
                              "type": "string",
                              "default": "PARAM.PARA_HOY",
                              "nullable": true
                            },
                            "COEL_NRO_DE_OPERACION": {
                              "title": "Nro de operación",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "LDCE_ID_LDCE": {
                              "title": "Liquidación de Cobro electrónico",
                              "type": "integer",
                              "description": " This is a foreign key to Liquidación de Cobro electrónico. An id of Liquidación de Cobro electrónico is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Cobro electrónico"
                        },
                        "description": "Array of child entities of Cobro electrónico"
                      },
                      "LiquidaciónDeCobro": {
                        "title": "Liquidación de cobro",
                        "type": "array",
                        "items": {
                          "title": "Liquidación de cobro",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CUDE_ID_CUDE": {
                              "title": "Cuenta Bancaria Destino",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected"
                            },
                            "LDCE_FECHA": {
                              "title": "Fecha",
                              "type": "string",
                              "default": "PARAM.PARA_HOY"
                            },
                            "LDCE_MONTO": {
                              "title": "Monto a liquidar",
                              "type": "number",
                              "description": "Se refiere al monto total a ser descontado del concepto de cobro electrónico"
                            },
                            "LDCE_MONTO_COMISION": {
                              "title": "Neto comisión",
                              "type": "number",
                              "description": "Opcional: Se refiere al monto de comisión.\nSupongamos que en la cuenta del cobro electrónico hay $10.000 y que el canal de pagos nos cobra $1000 en concepto de comisión. Entonces ingresaríamos $9000 en Monto a liquidar (que es lo que se acreditará en el banco) y $1000 en concepto de comisión.\n This attribute is mandatory when the instance is at state 'Realizada'",
                              "nullable": true
                            },
                            "ALIV_ID_ALIV": {
                              "title": "Alícuota IVA Comisión",
                              "type": "integer",
                              "description": " This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected",
                              "nullable": true
                            },
                            "LDCE_NETO_ARANCEL": {
                              "title": "Neto arancel",
                              "type": "number",
                              "nullable": true
                            },
                            "ALIV_ID_ARAN": {
                              "title": "Alícuota IVA Arancel",
                              "type": "integer",
                              "description": " This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Liquidación de cobro"
                        },
                        "description": "Array of child entities of Liquidación de cobro"
                      }
                    },
                    "description": "Instance data. Key attributes (CDCE_NOMBRE) must be unique across all instances."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request processed. Check `ok`: a business validation failure also returns HTTP 200, with ok=false and the reason in `error`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "True if the instance was saved. Business validation failures are reported as HTTP 200 with ok=false and a message in `error` - always check this flag."
                    },
                    "newId": {
                      "type": "integer",
                      "description": "Id of the saved Concepto de cobro electrónico (the new id when creating, the same id when updating). This is the field that carries the identifier - there is no `id` field in this response."
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message when ok=false. Null on success.",
                      "nullable": true
                    },
                    "parameter": {
                      "type": "string",
                      "description": "The full saved instance, serialized as a JSON **string** (not a nested object) - same content as GET /CONCEPTO_DE_COBRO_EL/{id} with includeChildren=true. Parse it to read it.",
                      "nullable": true
                    }
                  },
                  "example": {
                    "ok": true,
                    "newId": 12345,
                    "error": null,
                    "parameter": "{\"id\":12345, ...}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to create instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "409": {
            "description": "Conflict - An instance with the same key values already exists. Key attributes: CDCE_NOMBRE"
          }
        }
      }
    },
    "/CONCEPTO_DE_COBRO_EL/{id}": {
      "get": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "description": "Get a Concepto de cobro electrónico by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Concepto de cobro electrónico id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "description": "Whether to include child entities in the response (default: true)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includeTransitions",
            "in": "query",
            "description": "Whether to include the state transitions available for this instance, as `transitions` (default: false)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeFkTexts",
            "in": "query",
            "description": "Whether to include `attsFkTexts`: the descriptive text behind every foreign key / user / profile / fixed-value attribute, keyed by physical name (default: false). Use it to show \"Acme S.A.\" where the attribute carries `9744`. Opt-in because it costs one query per foreign key attribute.",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Instance unique identifier",
                      "type": "integer"
                    },
                    "ESTA_NOMBRE": {
                      "title": "State name",
                      "type": "string",
                      "nullable": true
                    },
                    "ESTA_CODIGO": {
                      "title": "State code",
                      "type": "integer",
                      "nullable": true
                    },
                    "AUDI_FECHA_ALTA": {
                      "title": "Creation date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "AUDI_FECHA_MODIF": {
                      "title": "Last modification date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "CDCE_NOMBRE": {
                      "title": "Nombre",
                      "type": "string"
                    },
                    "CUCO_ID_CUCO": {
                      "title": "Cuenta contable Cobro",
                      "type": "integer",
                      "description": "Foreign key to Cuenta contable"
                    },
                    "CDCE_CATEGORIA": {
                      "title": "Categoría",
                      "type": "string",
                      "nullable": true
                    },
                    "CDCE_DIMINUTIVO": {
                      "title": "Diminutivo",
                      "type": "string",
                      "nullable": true
                    },
                    "CDCE_NO_EN_MENU_POS": {
                      "title": "No se muestra en el POS",
                      "type": "boolean",
                      "nullable": true
                    },
                    "CDCE_SALDO": {
                      "title": "Saldo",
                      "type": "number",
                      "nullable": true
                    },
                    "CUCO_ID_COMI": {
                      "title": "Cuenta contable Comision",
                      "type": "integer",
                      "description": "Foreign key to Cuenta contable",
                      "nullable": true
                    },
                    "CUCO_ID_ARAN": {
                      "title": "Cuenta contable Arancel",
                      "type": "integer",
                      "description": "Foreign key to Cuenta contable",
                      "nullable": true
                    },
                    "CDCE_SOLO_ADMINISTRADOR": {
                      "title": "Vista únicamente por Administrador",
                      "type": "boolean",
                      "nullable": true
                    },
                    "CLIE_ID_CLIE": {
                      "title": "Proveedor",
                      "type": "integer",
                      "description": "Foreign key to Empresa",
                      "nullable": true
                    },
                    "COBROELECTRÓNICO": {
                      "title": "Cobro electrónico",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "COBR_ID_COBR": {
                            "title": "Recibo",
                            "type": "integer"
                          },
                          "COEL_IMPORTE": {
                            "title": "Importe",
                            "type": "number"
                          },
                          "COEL_CUOTAS": {
                            "title": "Cuotas",
                            "type": "integer",
                            "nullable": true
                          },
                          "COEL_OBSERVACIONES": {
                            "title": "Observaciones",
                            "type": "string",
                            "nullable": true
                          },
                          "COEL_FECHA_DE_COBRO": {
                            "title": "Fecha de Cobro",
                            "type": "string",
                            "nullable": true
                          },
                          "CDCE_ID_CDCE": {
                            "title": "Concepto",
                            "type": "integer"
                          },
                          "CLIE_ID_CLIE": {
                            "title": "Cliente",
                            "type": "integer",
                            "nullable": true
                          },
                          "COEL_INFO": {
                            "title": "Info",
                            "type": "string",
                            "nullable": true
                          },
                          "ASIE_ID_ASIE": {
                            "title": "Asiento",
                            "type": "integer",
                            "nullable": true
                          },
                          "COEL_NRO_DE_OPERACION": {
                            "title": "Nro de operación",
                            "type": "string",
                            "nullable": true
                          },
                          "LDCE_ID_LDCE": {
                            "title": "Liquidación de Cobro electrónico",
                            "type": "integer",
                            "nullable": true
                          },
                          "PUVE_ID_PUVE": {
                            "title": "Punto de Venta",
                            "type": "integer",
                            "nullable": true
                          },
                          "COEL_INFO_DESCRIPCION": {
                            "title": "Info Descripción",
                            "type": "string",
                            "nullable": true
                          },
                          "COEL_OPERATIONID": {
                            "title": "operationId",
                            "type": "string",
                            "nullable": true
                          },
                          "LDCE_ID_NUVE": {
                            "title": "Liquidación de Cobro electrónico Existente",
                            "type": "integer",
                            "nullable": true
                          }
                        }
                      },
                      "description": "Child entities of Cobro electrónico (included when includeChildren=true)"
                    },
                    "LIQUIDACIÓNDECOBRO": {
                      "title": "Liquidación de cobro",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "LDCE_NUMERO_LIQ": {
                            "title": "Nro",
                            "type": "integer",
                            "nullable": true
                          },
                          "CDCE_ID_CDCE": {
                            "title": "Concepto de cobro electrónico",
                            "type": "integer"
                          },
                          "CUDE_ID_CUDE": {
                            "title": "Cuenta Bancaria Destino",
                            "type": "integer"
                          },
                          "LDCE_FECHA": {
                            "title": "Fecha",
                            "type": "string"
                          },
                          "LDCE_MONTO": {
                            "title": "Monto a liquidar",
                            "type": "number"
                          },
                          "LDCE_MONTO_COMISION": {
                            "title": "Neto comisión",
                            "type": "number",
                            "nullable": true
                          },
                          "ALIV_ID_ALIV": {
                            "title": "Alícuota IVA Comisión",
                            "type": "integer",
                            "nullable": true
                          },
                          "LDCE_IVA_COMISION": {
                            "title": "IVA Comision",
                            "type": "number",
                            "nullable": true
                          },
                          "LDCE_NETO_ARANCEL": {
                            "title": "Neto arancel",
                            "type": "number",
                            "nullable": true
                          },
                          "ALIV_ID_ARAN": {
                            "title": "Alícuota IVA Arancel",
                            "type": "integer",
                            "nullable": true
                          },
                          "LDCE_IVA_ARANCEL": {
                            "title": "IVA Arancel",
                            "type": "number",
                            "nullable": true
                          },
                          "LDCE_TOTAL_PERCEPCIONES": {
                            "title": "Total Percepciones",
                            "type": "number",
                            "nullable": true
                          },
                          "LDCE_TOTAL_RETENCIONES": {
                            "title": "Total Retenciones",
                            "type": "number",
                            "nullable": true
                          },
                          "LDCE_TOTAL_DEPOSITADO": {
                            "title": "Total a acreditar",
                            "type": "number",
                            "nullable": true
                          },
                          "ASIE_ID_ASIE": {
                            "title": "Asiento",
                            "type": "integer",
                            "nullable": true
                          },
                          "FACO_ID_FACO": {
                            "title": "Factura de compra",
                            "type": "integer",
                            "nullable": true
                          },
                          "LDCE_DESCRIPCION": {
                            "title": "Descripción",
                            "type": "string",
                            "nullable": true
                          },
                          "TIFA_ID_TIFA": {
                            "title": "Tipo de Factura",
                            "type": "integer",
                            "nullable": true
                          },
                          "LDCE_PUNTO_DE_VENTA": {
                            "title": "Punto de venta",
                            "type": "integer",
                            "nullable": true
                          },
                          "LDCE_NUMERO": {
                            "title": "Nro de Factura",
                            "type": "integer",
                            "nullable": true
                          },
                          "LDCE_OPERATIONID": {
                            "title": "operationId",
                            "type": "string",
                            "nullable": true
                          }
                        }
                      },
                      "description": "Child entities of Liquidación de cobro (included when includeChildren=true)"
                    },
                    "transitions": {
                      "title": "Available state transitions",
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "State transitions available for this instance (included when includeTransitions=true)"
                    },
                    "attsFkTexts": {
                      "title": "Foreign key texts",
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Descriptive text of every foreign key / user / profile / fixed-value attribute that has a value, keyed by physical name (included when includeFkTexts=true). Example: `\"TIDD_ID_TIDD\": \"CUIT\"`. Attributes without a value are omitted, not returned as empty."
                    }
                  },
                  "description": "A Concepto de cobro electrónico instance.\n\nOnly Concepto de cobro electrónico's own attributes are returned here: a foreign key travels as its id (e.g. `XXXX_ID_XXXX`), not as the referenced instance's description. Columns joined from related entities (aliased `<fkPrefix>_<ATTRIBUTE>`, e.g. `TIDD_NOMBRE`) do exist, but they are list columns: request them explicitly through `POST /CONCEPTO_DE_COBRO_EL/query` (the `field` enum there lists every available column, related ones included) or add them to a smartie. For a single instance, `GET /CONCEPTO_DE_COBRO_EL/{id}?includeFkTexts=true` returns `attsFkTexts` with the descriptive text behind each foreign key."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity or instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "summary": "Update a Concepto de cobro electrónico by id.",
        "description": "Update a Concepto de cobro electrónico. The id in the path wins: it is written over `data.id` before saving, so it does not need to be repeated in the body.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Concepto de cobro electrónico id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "CDCE_NOMBRE",
                      "CUCO_ID_CUCO"
                    ],
                    "type": "object",
                    "properties": {
                      "CDCE_NOMBRE": {
                        "title": "Nombre",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "CUCO_ID_CUCO": {
                        "title": "Cuenta contable Cobro",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected"
                      },
                      "CDCE_CATEGORIA": {
                        "title": "Categoría",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CDCE_DIMINUTIVO": {
                        "title": "Diminutivo",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CDCE_NO_EN_MENU_POS": {
                        "title": "No se muestra en el POS",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CUCO_ID_COMI": {
                        "title": "Cuenta contable Comision",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                        "nullable": true
                      },
                      "CUCO_ID_ARAN": {
                        "title": "Cuenta contable Arancel",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                        "nullable": true
                      },
                      "CDCE_SOLO_ADMINISTRADOR": {
                        "title": "Vista únicamente por Administrador",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Proveedor",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "CobroElectrónico": {
                        "title": "Cobro electrónico",
                        "type": "array",
                        "items": {
                          "title": "Cobro electrónico",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "COEL_IMPORTE": {
                              "title": "Importe",
                              "type": "number"
                            },
                            "COEL_CUOTAS": {
                              "title": "Cuotas",
                              "type": "integer",
                              "default": "1",
                              "nullable": true
                            },
                            "COEL_OBSERVACIONES": {
                              "title": "Observaciones",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "COEL_FECHA_DE_COBRO": {
                              "title": "Fecha de Cobro",
                              "type": "string",
                              "default": "PARAM.PARA_HOY",
                              "nullable": true
                            },
                            "COEL_NRO_DE_OPERACION": {
                              "title": "Nro de operación",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "LDCE_ID_LDCE": {
                              "title": "Liquidación de Cobro electrónico",
                              "type": "integer",
                              "description": " This is a foreign key to Liquidación de Cobro electrónico. An id of Liquidación de Cobro electrónico is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Cobro electrónico"
                        },
                        "description": "Array of child entities of Cobro electrónico"
                      },
                      "LiquidaciónDeCobro": {
                        "title": "Liquidación de cobro",
                        "type": "array",
                        "items": {
                          "title": "Liquidación de cobro",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CUDE_ID_CUDE": {
                              "title": "Cuenta Bancaria Destino",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected"
                            },
                            "LDCE_FECHA": {
                              "title": "Fecha",
                              "type": "string",
                              "default": "PARAM.PARA_HOY"
                            },
                            "LDCE_MONTO": {
                              "title": "Monto a liquidar",
                              "type": "number",
                              "description": "Se refiere al monto total a ser descontado del concepto de cobro electrónico"
                            },
                            "LDCE_MONTO_COMISION": {
                              "title": "Neto comisión",
                              "type": "number",
                              "description": "Opcional: Se refiere al monto de comisión.\nSupongamos que en la cuenta del cobro electrónico hay $10.000 y que el canal de pagos nos cobra $1000 en concepto de comisión. Entonces ingresaríamos $9000 en Monto a liquidar (que es lo que se acreditará en el banco) y $1000 en concepto de comisión.\n This attribute is mandatory when the instance is at state 'Realizada'",
                              "nullable": true
                            },
                            "ALIV_ID_ALIV": {
                              "title": "Alícuota IVA Comisión",
                              "type": "integer",
                              "description": " This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected",
                              "nullable": true
                            },
                            "LDCE_NETO_ARANCEL": {
                              "title": "Neto arancel",
                              "type": "number",
                              "nullable": true
                            },
                            "ALIV_ID_ARAN": {
                              "title": "Alícuota IVA Arancel",
                              "type": "integer",
                              "description": " This is a foreign key to Alícuota de IVA. An id of Alícuota de IVA is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Liquidación de cobro"
                        },
                        "description": "Array of child entities of Liquidación de cobro"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request processed. Check `ok`: a business validation failure also returns HTTP 200, with ok=false and the reason in `error`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "True if the instance was saved. Business validation failures are reported as HTTP 200 with ok=false and a message in `error` - always check this flag."
                    },
                    "newId": {
                      "type": "integer",
                      "description": "Id of the saved Concepto de cobro electrónico (the new id when creating, the same id when updating). This is the field that carries the identifier - there is no `id` field in this response."
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message when ok=false. Null on success.",
                      "nullable": true
                    },
                    "parameter": {
                      "type": "string",
                      "description": "The full saved instance, serialized as a JSON **string** (not a nested object) - same content as GET /CONCEPTO_DE_COBRO_EL/{id} with includeChildren=true. Parse it to read it.",
                      "nullable": true
                    }
                  },
                  "example": {
                    "ok": true,
                    "newId": 12345,
                    "error": null,
                    "parameter": "{\"id\":12345, ...}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to edit instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity or instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "409": {
            "description": "Conflict - An instance with the same key values already exists. Key attributes: CDCE_NOMBRE"
          }
        }
      },
      "delete": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "summary": "Delete a Concepto de cobro electrónico by id.",
        "description": "Delete a Concepto de cobro electrónico",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Concepto de cobro electrónico id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Result message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - entity name empty or id not greater than 0",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to delete instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity or instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/CONCEPTO_DE_COBRO_EL/search": {
      "get": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "summary": "Fast search endpoint. Returns a capped, non-paginated set of Concepto de cobro electrónico records; prefer /query for controlled, production-grade listings.",
        "description": "Performs a lightweight search over Concepto de cobro electrónico instances. Every query parameter below that matches an attribute's physical name is applied as an equality filter; omit them all to list the first records. The result set is capped and not paginated, so this endpoint is meant for quick lookups. For production listings that require configurable pagination, explicit column selection, or advanced filters, prefer /query.\n\nOnly Concepto de cobro electrónico's own attributes are returned here: a foreign key travels as its id (e.g. `XXXX_ID_XXXX`), not as the referenced instance's description. Columns joined from related entities (aliased `<fkPrefix>_<ATTRIBUTE>`, e.g. `TIDD_NOMBRE`) do exist, but they are list columns: request them explicitly through `POST /CONCEPTO_DE_COBRO_EL/query` (the `field` enum there lists every available column, related ones included) or add them to a smartie. For a single instance, `GET /CONCEPTO_DE_COBRO_EL/{id}?includeFkTexts=true` returns `attsFkTexts` with the descriptive text behind each foreign key.",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "CDCE_NOMBRE",
            "in": "query",
            "description": "Nombre",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CUCO_ID_CUCO",
            "in": "query",
            "description": "Cuenta contable Cobro",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching instances, as a flat array (not wrapped in an object). Child entities are not included.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "title": "Instance unique identifier",
                        "type": "integer"
                      },
                      "ESTA_NOMBRE": {
                        "title": "State name",
                        "type": "string",
                        "nullable": true
                      },
                      "ESTA_CODIGO": {
                        "title": "State code",
                        "type": "integer",
                        "nullable": true
                      },
                      "AUDI_FECHA_ALTA": {
                        "title": "Creation date",
                        "type": "string",
                        "format": "date-time"
                      },
                      "AUDI_FECHA_MODIF": {
                        "title": "Last modification date",
                        "type": "string",
                        "format": "date-time"
                      },
                      "CDCE_NOMBRE": {
                        "title": "Nombre",
                        "type": "string"
                      },
                      "CUCO_ID_CUCO": {
                        "title": "Cuenta contable Cobro",
                        "type": "integer",
                        "description": "Foreign key to Cuenta contable"
                      },
                      "CDCE_CATEGORIA": {
                        "title": "Categoría",
                        "type": "string",
                        "nullable": true
                      },
                      "CDCE_DIMINUTIVO": {
                        "title": "Diminutivo",
                        "type": "string",
                        "nullable": true
                      },
                      "CDCE_NO_EN_MENU_POS": {
                        "title": "No se muestra en el POS",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CDCE_SALDO": {
                        "title": "Saldo",
                        "type": "number",
                        "nullable": true
                      },
                      "CUCO_ID_COMI": {
                        "title": "Cuenta contable Comision",
                        "type": "integer",
                        "description": "Foreign key to Cuenta contable",
                        "nullable": true
                      },
                      "CUCO_ID_ARAN": {
                        "title": "Cuenta contable Arancel",
                        "type": "integer",
                        "description": "Foreign key to Cuenta contable",
                        "nullable": true
                      },
                      "CDCE_SOLO_ADMINISTRADOR": {
                        "title": "Vista únicamente por Administrador",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Proveedor",
                        "type": "integer",
                        "description": "Foreign key to Empresa",
                        "nullable": true
                      }
                    },
                    "description": "A Concepto de cobro electrónico instance.\n\nOnly Concepto de cobro electrónico's own attributes are returned here: a foreign key travels as its id (e.g. `XXXX_ID_XXXX`), not as the referenced instance's description. Columns joined from related entities (aliased `<fkPrefix>_<ATTRIBUTE>`, e.g. `TIDD_NOMBRE`) do exist, but they are list columns: request them explicitly through `POST /CONCEPTO_DE_COBRO_EL/query` (the `field` enum there lists every available column, related ones included) or add them to a smartie. For a single instance, `GET /CONCEPTO_DE_COBRO_EL/{id}?includeFkTexts=true` returns `attsFkTexts` with the descriptive text behind each foreign key."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - entity name empty",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to view this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/CONCEPTO_DE_COBRO_EL/smartie": {
      "get": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "summary": "Get a page of a smartie (saved list configuration)",
        "description": "Runs a saved list configuration (columns, filters, sorting) and returns one page of it.\n\n**The keys of each `data` row are the smartie's configured columns, not the entity schema.** A smartie can include columns joined from related entities (aliased `<fkPrefix>_<ATTRIBUTE>`, e.g. `TIDD_NOMBRE`, `ALIV_PORCENTAJE`), which is why the response may contain fields that do not appear in this entity's own attributes. The `columns` array of the response always describes exactly what came back.\n\nColumns whose attribute group the caller cannot see are dropped from both `data` and `columns`. If you need a stable, explicit column set, prefer `POST /CONCEPTO_DE_COBRO_EL/query`.",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (1-based). Defaults to 1 when omitted.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Rows of the page. Each row is keyed by the smartie's column names (related-entity columns included); `id` and `ESTA_CODIGO` are added when the rows represent instances (i.e. the query does not group or pivot)."
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records matching the query (ignoring pagination)"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Definition of the columns actually returned - the authoritative list of the keys present in `data`"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - entity name or smartieId empty",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token / user could not be resolved"
          },
          "403": {
            "description": "User does not have permission to view this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity not found, or smartie not found for this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/CONCEPTO_DE_COBRO_EL/query": {
      "post": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "summary": "Execute dynamic query without persisted smartie",
        "description": "Performs a dynamic query on Concepto de cobro electrónico instances with custom columns, filters, sorting, aggregations, and configurable pagination. Use this endpoint for production-grade listings that require predictable performance, payload control, and advanced filtering. Unlike /search, /query allows explicit column selection and page size configuration, making it the preferred option for list screens, integrations, and high-volume data retrieval scenarios. This endpoint allows ad-hoc queries without requiring a saved smartie configuration.",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Dynamic query parameters including pagination, columns, filters, and search criteria",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "page"
                ],
                "type": "object",
                "properties": {
                  "page": {
                    "minimum": 1,
                    "type": "integer",
                    "description": "Page number (1-based)",
                    "default": 1
                  },
                  "pageSize": {
                    "maximum": 1000,
                    "minimum": 1,
                    "type": "integer",
                    "description": "Number of records per page",
                    "default": 50
                  },
                  "search": {
                    "type": "string",
                    "description": "Free-text term applied over the requested columns: a LIKE '%term%' against each column in `columns` whose data type supports it, OR-ed together. It narrows both `data` and `total`. Combine it with `filters` for exact conditions.",
                    "nullable": true
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "required": [
                        "field"
                      ],
                      "type": "object",
                      "properties": {
                        "field": {
                          "enum": [
                            "CDCE_NOMBRE",
                            "CDCE_CATEGORIA",
                            "CDCE_DIMINUTIVO",
                            "CDCE_NO_EN_MENU_POS",
                            "CDCE_SALDO",
                            "CDCE_SOLO_ADMINISTRADOR",
                            "id",
                            "DESC_ESTADO",
                            "ESTA_CODIGO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Physical column name (required). Available columns from entity view, plus the raw id of Usuario-typed attributes (e.g. ORDC_SOLICITADA_POR) even though the resolved username (e.g. ORDC_SOLICITADA_POR_NOMBRE) is offered separately - request the raw id to cross-reference against your own user directory instead of the resolved display name."
                        },
                        "title": {
                          "type": "string",
                          "description": "Custom column title (optional)",
                          "nullable": true
                        },
                        "sortDirection": {
                          "enum": [
                            "ASC",
                            "DESC"
                          ],
                          "type": "string",
                          "description": "Sort direction",
                          "nullable": true
                        },
                        "order": {
                          "type": "integer",
                          "description": "Column display order (optional)",
                          "nullable": true
                        },
                        "sortOrder": {
                          "type": "integer",
                          "description": "Sort priority order (optional)",
                          "nullable": true
                        },
                        "aggregation": {
                          "enum": [
                            "SUM",
                            "COUNT",
                            "AVG",
                            "MIN",
                            "MAX"
                          ],
                          "type": "string",
                          "description": "Aggregation function",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Column specifications. If null or empty, default header columns will be used",
                    "nullable": true
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "required": [
                        "columnName",
                        "operator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "columnName": {
                          "enum": [
                            "CDCE_NOMBRE",
                            "CDCE_CATEGORIA",
                            "CDCE_DIMINUTIVO",
                            "CDCE_NO_EN_MENU_POS",
                            "CDCE_SALDO",
                            "CDCE_SOLO_ADMINISTRADOR",
                            "id",
                            "DESC_ESTADO",
                            "ESTA_CODIGO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF",
                            "CUCO_ID_CUCO",
                            "CUCO_ID_COMI",
                            "CUCO_ID_ARAN",
                            "CLIE_ID_CLIE"
                          ],
                          "type": "string",
                          "description": "Column name to filter (required). Available columns from `columns` (entity view columns plus the raw id of Usuario-typed attributes), plus the physical id of related entities (e.g. CLIE_ID_CLIE) which - unlike Usuario ids - are filter-only: filtering by the related id doesn't need the related row's data, only the row's id, so it's supported here even though selecting/sorting by it isn't."
                        },
                        "operator": {
                          "enum": [
                            "=",
                            "!=",
                            ">",
                            "<",
                            ">=",
                            "<=",
                            "LIKE"
                          ],
                          "type": "string",
                          "description": "Comparison operator"
                        },
                        "value": {
                          "description": "Value to compare. Type should match column data type",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Filter specifications",
                    "nullable": true
                  }
                }
              },
              "example": {
                "page": 1,
                "pageSize": 10,
                "search": "",
                "columns": [
                  {
                    "field": "COLUMN_NAME",
                    "title": "Column Title",
                    "sortDirection": "ASC",
                    "sortOrder": 1
                  }
                ],
                "filters": [
                  {
                    "columnName": "COLUMN_NAME",
                    "operator": "=",
                    "value": "value"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Rows of the page, keyed by the `field` of each requested column. `id` and `ESTA_CODIGO` are added when the rows represent instances (i.e. no column uses an aggregation)."
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records matching the query (ignoring pagination)"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Definition of the columns actually returned - the authoritative list of the keys present in `data`"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters, unknown column name, or unsupported operator",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to view this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/CONCEPTO_DE_COBRO_EL/changestate": {
      "post": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Target state name. Possibles values: <ul><li>Creado</li>\n<li>Recalcula Saldo</li></ul>",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "State changed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Result message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - id not greater than 0, state empty, the transition is not allowed, or the body includes a field not required by the target state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to edit instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity or instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "409": {
            "description": "The instance cannot transition to that state from its current one",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/CONCEPTO_DE_COBRO_EL/changestatemultiple": {
      "post": {
        "tags": [
          "Concepto de cobro electrónico"
        ],
        "description": "Change multiple instances' state",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Target state name, applied to every id. Possibles values: <ul><li>Creado</li>\n<li>Recalcula Saldo</li></ul>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Comma separated ids. All of them are changed inside a single transaction: if one fails, none is applied.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "100,101,102"
          }
        ],
        "responses": {
          "200": {
            "description": "State changed for every id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Result message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - ids empty, malformed id, or state empty",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to edit instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity, state, or one of the instances not found",
            "content": {
              "application/json": {
                "schema": {
[...]
