{
  "openapi": "3.0.4",
  "info": {
    "title": "erpdemo.schema Gestión",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yiqi.com.ar/api/public"
    }
  ],
  "paths": {
    "/ACTIVIDAD": {
      "post": {
        "tags": [
          "Actividad"
        ],
        "summary": "Create a Actividad.",
        "description": "Creates a new instance of Actividad.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "CLIE_ID_CLIE": {
                        "title": "Cliente",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "PROY_ID_PROY": {
                        "title": "Centro de costos",
                        "type": "integer",
                        "description": " This is a foreign key to Centro de costos. An id of Centro de costos is expected\n This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "ACTI_TITULO": {
                        "title": "Título",
                        "maxLength": 100,
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                        "nullable": true
                      },
                      "ACTI_RESPONSABLE": {
                        "title": "Responsable",
                        "type": "integer",
                        "description": " This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "ACTI_DESCRIPCION": {
                        "title": "Descripción",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                        "nullable": true
                      },
                      "TIDA_ID_TIDA": {
                        "title": "Tipo de Actividad",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de actividad. An id of Tipo de actividad is expected\n This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "CRIT_ID_CRIT": {
                        "title": "Criticidad",
                        "type": "integer",
                        "description": " This is a foreign key to Criticidad Y. An id of Criticidad Y is expected\n This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "ACTI_SOLICITADO_POR": {
                        "title": "Solicitado por",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_SEMANA_DESDE_I": {
                        "title": "Semana desde inicio",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_DURACION_ESTIMADA": {
                        "title": "Duración estimada (días)",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_ARHC_ID_964": {
                        "title": "Adjunto",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_FECHA_INICIO": {
                        "title": "Fecha inicio",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Cerrado'",
                        "nullable": true
                      },
                      "ACTI_FECHA_FIN": {
                        "title": "Fecha fin",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Cerrado'",
                        "nullable": true
                      },
                      "ACTI_FECHA_LIMITE": {
                        "title": "Fecha Límite",
                        "type": "string",
                        "nullable": true
                      },
                      "REUN_ID_REUN": {
                        "title": "Reunión",
                        "type": "integer",
                        "description": " This is a foreign key to Reunión. An id of Reunión is expected",
                        "nullable": true
                      }
                    },
                    "description": "Instance data"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Instance created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the newly created instance"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to create instances of this entity"
          },
          "409": {
            "description": "Conflict - Duplicate instance detected"
          }
        }
      }
    },
    "/ACTIVIDAD/{id}": {
      "get": {
        "tags": [
          "Actividad"
        ],
        "description": "Get a Actividad by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Actividad id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "description": "Whether to include child entities in the response (default: true)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Instance unique identifier",
                      "type": "integer"
                    },
                    "ESTA_NOMBRE": {
                      "title": "State name",
                      "type": "string",
                      "nullable": true
                    },
                    "ESTA_CODIGO": {
                      "title": "State code",
                      "type": "integer",
                      "nullable": true
                    },
                    "AUDI_FECHA_ALTA": {
                      "title": "Creation date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "AUDI_FECHA_MODIF": {
                      "title": "Last modification date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "CLIE_ID_CLIE": {
                      "title": "Cliente",
                      "type": "integer",
                      "description": "Foreign key to Empresa",
                      "nullable": true
                    },
                    "PROY_ID_PROY": {
                      "title": "Centro de costos",
                      "type": "integer",
                      "description": "Foreign key to Centro de costos",
                      "nullable": true
                    },
                    "ACTI_TITULO": {
                      "title": "Título",
                      "type": "string",
                      "nullable": true
                    },
                    "ACTI_RESPONSABLE": {
                      "title": "Responsable",
                      "type": "integer",
                      "nullable": true
                    },
                    "ACTI_CODIGO": {
                      "title": "Código",
                      "type": "string",
                      "nullable": true
                    },
                    "ACTI_NUMERO": {
                      "title": "Nro",
                      "type": "integer",
                      "nullable": true
                    },
                    "ACTI_DESCRIPCION": {
                      "title": "Descripción",
                      "type": "string",
                      "nullable": true
                    },
                    "TIDA_ID_TIDA": {
                      "title": "Tipo de Actividad",
                      "type": "integer",
                      "description": "Foreign key to Tipo de actividad",
                      "nullable": true
                    },
                    "CRIT_ID_CRIT": {
                      "title": "Criticidad",
                      "type": "integer",
                      "description": "Foreign key to Criticidad Y",
                      "nullable": true
                    },
                    "ACTI_SOLICITADO_POR": {
                      "title": "Solicitado por",
                      "type": "integer",
                      "nullable": true
                    },
                    "ACTI_SEMANA_DESDE_I": {
                      "title": "Semana desde inicio",
                      "type": "integer",
                      "nullable": true
                    },
                    "ACTI_DURACION_ESTIMADA": {
                      "title": "Duración estimada (días)",
                      "type": "integer",
                      "nullable": true
                    },
                    "ACTI_ARHC_ID_964": {
                      "title": "Adjunto",
                      "type": "integer",
                      "nullable": true
                    },
                    "ACTI_FECHA_INICIO": {
                      "title": "Fecha inicio",
                      "type": "string",
                      "nullable": true
                    },
                    "ACTI_FECHA_FIN": {
                      "title": "Fecha fin",
                      "type": "string",
                      "nullable": true
                    },
                    "ACTI_FECHA_LIMITE": {
                      "title": "Fecha Límite",
                      "type": "string",
                      "nullable": true
                    },
                    "ACTI_DIAS_FALTANTES_PARA_": {
                      "title": "Días faltantes para inicio",
                      "type": "integer",
                      "nullable": true
                    },
                    "ACTI_CRITICIDAD": {
                      "title": "Prioridad",
                      "type": "integer",
                      "nullable": true
                    },
                    "REUN_ID_REUN": {
                      "title": "Reunión",
                      "type": "integer",
                      "description": "Foreign key to Reunión",
                      "nullable": true
                    },
                    "ACTI_NRO_ACTIVIDAD": {
                      "title": "Nro de actividad",
                      "type": "integer",
                      "nullable": true
                    },
                    "NOCO_ID_NOCO": {
                      "title": "No conformidad",
                      "type": "integer",
                      "description": "Foreign key to No conformidad",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to access this resource"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      },
      "put": {
        "tags": [
          "Actividad"
        ],
        "summary": "Update a Actividad by id.",
        "description": "Update a Actividad",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Actividad id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "CLIE_ID_CLIE": {
                        "title": "Cliente",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "PROY_ID_PROY": {
                        "title": "Centro de costos",
                        "type": "integer",
                        "description": " This is a foreign key to Centro de costos. An id of Centro de costos is expected\n This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "ACTI_TITULO": {
                        "title": "Título",
                        "maxLength": 100,
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                        "nullable": true
                      },
                      "ACTI_RESPONSABLE": {
                        "title": "Responsable",
                        "type": "integer",
                        "description": " This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "ACTI_DESCRIPCION": {
                        "title": "Descripción",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                        "nullable": true
                      },
                      "TIDA_ID_TIDA": {
                        "title": "Tipo de Actividad",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de actividad. An id of Tipo de actividad is expected\n This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "CRIT_ID_CRIT": {
                        "title": "Criticidad",
                        "type": "integer",
                        "description": " This is a foreign key to Criticidad Y. An id of Criticidad Y is expected\n This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "ACTI_SOLICITADO_POR": {
                        "title": "Solicitado por",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_SEMANA_DESDE_I": {
                        "title": "Semana desde inicio",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_DURACION_ESTIMADA": {
                        "title": "Duración estimada (días)",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_ARHC_ID_964": {
                        "title": "Adjunto",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_FECHA_INICIO": {
                        "title": "Fecha inicio",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Cerrado'",
                        "nullable": true
                      },
                      "ACTI_FECHA_FIN": {
                        "title": "Fecha fin",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Cerrado'",
                        "nullable": true
                      },
                      "ACTI_FECHA_LIMITE": {
                        "title": "Fecha Límite",
                        "type": "string",
                        "nullable": true
                      },
                      "REUN_ID_REUN": {
                        "title": "Reunión",
                        "type": "integer",
                        "description": " This is a foreign key to Reunión. An id of Reunión is expected",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Actividad"
        ],
        "summary": "Delete a Actividad by id.",
        "description": "Delete a Actividad",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Actividad id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/ACTIVIDAD/search": {
      "get": {
        "tags": [
          "Actividad"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Actividad",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "CLIE_ID_CLIE",
            "in": "query",
            "description": "Cliente",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "PROY_ID_PROY",
            "in": "query",
            "description": "Centro de costos",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ACTI_TITULO",
            "in": "query",
            "description": "Título",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ACTI_CODIGO",
            "in": "query",
            "description": "Código",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ACTI_NUMERO",
            "in": "query",
            "description": "Nro",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "TIDA_ID_TIDA",
            "in": "query",
            "description": "Tipo de Actividad",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ACTI_RESPONSABLE",
            "in": "query",
            "description": "Responsable",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ACTIVIDAD/smartie": {
      "get": {
        "tags": [
          "Actividad"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ACTIVIDAD/query": {
      "post": {
        "tags": [
          "Actividad"
        ],
        "summary": "Execute dynamic query without persisted smartie",
        "description": "Performs a dynamic query on Actividad instances with custom columns, filters, sorting, and aggregations. This endpoint allows ad-hoc queries without requiring a saved smartie configuration.",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Dynamic query parameters including pagination, columns, filters, and search criteria",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "page"
                ],
                "type": "object",
                "properties": {
                  "page": {
                    "minimum": 1,
                    "type": "integer",
                    "description": "Page number (1-based)",
                    "default": 1
                  },
                  "pageSize": {
                    "maximum": 1000,
                    "minimum": 1,
                    "type": "integer",
                    "description": "Number of records per page",
                    "default": 50
                  },
                  "search": {
                    "type": "string",
                    "description": "Fast search term to filter across all columns",
                    "nullable": true
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "required": [
                        "field"
                      ],
                      "type": "object",
                      "properties": {
                        "field": {
                          "enum": [
                            "ACTI_TITULO",
                            "ACTI_RESPONSABLE",
                            "ACTI_CODIGO",
                            "ACTI_NUMERO",
                            "ACTI_DESCRIPCION",
                            "ACTI_SOLICITADO_POR",
                            "ACTI_SEP1",
                            "ACTI_SEMANA_DESDE_I",
                            "ACTI_DURACION_ESTIMADA",
                            "ACTI_ARHC_ID_964",
                            "ACTI_FECHA_INICIO",
                            "ACTI_FECHA_FIN",
                            "ACTI_FECHA_LIMITE",
                            "ACTI_DIAS_FALTANTES_PARA_",
                            "ACTI_CRITICIDAD",
                            "ACTI_NRO_ACTIVIDAD",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Physical column name (required). Available columns from entity view."
                        },
                        "title": {
                          "type": "string",
                          "description": "Custom column title (optional)",
                          "nullable": true
                        },
                        "sortDirection": {
                          "enum": [
                            "ASC",
                            "DESC"
                          ],
                          "type": "string",
                          "description": "Sort direction",
                          "nullable": true
                        },
                        "order": {
                          "type": "integer",
                          "description": "Column display order (optional)",
                          "nullable": true
                        },
                        "sortOrder": {
                          "type": "integer",
                          "description": "Sort priority order (optional)",
                          "nullable": true
                        },
                        "aggregation": {
                          "enum": [
                            "SUM",
                            "COUNT",
                            "AVG",
                            "MIN",
                            "MAX"
                          ],
                          "type": "string",
                          "description": "Aggregation function",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Column specifications. If null or empty, default header columns will be used",
                    "nullable": true
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "required": [
                        "columnName",
                        "operator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "columnName": {
                          "enum": [
                            "ACTI_TITULO",
                            "ACTI_RESPONSABLE",
                            "ACTI_CODIGO",
                            "ACTI_NUMERO",
                            "ACTI_DESCRIPCION",
                            "ACTI_SOLICITADO_POR",
                            "ACTI_SEP1",
                            "ACTI_SEMANA_DESDE_I",
                            "ACTI_DURACION_ESTIMADA",
                            "ACTI_ARHC_ID_964",
                            "ACTI_FECHA_INICIO",
                            "ACTI_FECHA_FIN",
                            "ACTI_FECHA_LIMITE",
                            "ACTI_DIAS_FALTANTES_PARA_",
                            "ACTI_CRITICIDAD",
                            "ACTI_NRO_ACTIVIDAD",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Column name to filter (required). Available columns from entity view."
                        },
                        "operator": {
                          "enum": [
                            "=",
                            "!=",
                            ">",
                            "<",
                            ">=",
                            "<=",
                            "LIKE"
                          ],
                          "type": "string",
                          "description": "Comparison operator"
                        },
                        "value": {
                          "description": "Value to compare. Type should match column data type",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Filter specifications",
                    "nullable": true
                  }
                }
              },
              "example": {
                "page": 1,
                "pageSize": 10,
                "search": "",
                "columns": [
                  {
                    "field": "COLUMN_NAME",
                    "title": "Column Title",
                    "sortDirection": "ASC",
                    "sortOrder": 1
                  }
                ],
                "filters": [
                  {
                    "columnName": "COLUMN_NAME",
                    "operator": "=",
                    "value": "value"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Array of records matching the query"
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records (without pagination)"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Column definitions"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or column names"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to view this entity"
          },
          "404": {
            "description": "Entity not found"
          }
        }
      }
    },
    "/ACTIVIDAD/changestate": {
      "post": {
        "tags": [
          "Actividad"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Cancelado</li>\n<li>Cerrada</li>\n<li>Cerrado</li>\n<li>Detectada</li>\n<li>Eficaz</li>\n<li>En - curso</li>\n<li>No Eficaz</li>\n<li>Pendiente</li>\n<li>Pendiente Validación</li>\n<li>Recurrente</li>\n<li>Terminada</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ACTIVIDAD/changestatemultiple": {
      "post": {
        "tags": [
          "Actividad"
        ],
        "description": "Change multiple instances' state",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Cancelado</li>\n<li>Cerrada</li>\n<li>Cerrado</li>\n<li>Detectada</li>\n<li>Eficaz</li>\n<li>En - curso</li>\n<li>No Eficaz</li>\n<li>Pendiente</li>\n<li>Pendiente Validación</li>\n<li>Recurrente</li>\n<li>Terminada</li></ul>",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Comma separated ids",
            "required": true,
            "example": "100,101,102"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ACTIVIDAD/file": {
      "get": {
        "tags": [
          "Actividad"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "enum": [
                "ARHC_ID_964"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Actividad"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "enum": [
                "ARHC_ID_964"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ACTIVIDAD/report": {
      "get": {
        "tags": [
          "Actividad"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CLASIFICACION_CAUSA_": {
      "post": {
        "tags": [
          "Clasificación Causa Ticket"
        ],
        "summary": "Create a Clasificación Causa Ticket.",
        "description": "Creates a new instance of Clasificación Causa Ticket.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "CLCT_CAUSA": {
                        "title": "Causa",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "description": "Instance data"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Instance created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the newly created instance"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to create instances of this entity"
          },
          "409": {
            "description": "Conflict - Duplicate instance detected"
          }
        }
      }
    },
    "/CLASIFICACION_CAUSA_/{id}": {
      "get": {
        "tags": [
          "Clasificación Causa Ticket"
        ],
        "description": "Get a Clasificación Causa Ticket by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Clasificación Causa Ticket id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "description": "Whether to include child entities in the response (default: true)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Instance unique identifier",
                      "type": "integer"
                    },
                    "ESTA_NOMBRE": {
                      "title": "State name",
                      "type": "string",
                      "nullable": true
                    },
                    "ESTA_CODIGO": {
                      "title": "State code",
                      "type": "integer",
                      "nullable": true
                    },
                    "AUDI_FECHA_ALTA": {
                      "title": "Creation date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "AUDI_FECHA_MODIF": {
                      "title": "Last modification date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "CLCT_CAUSA": {
                      "title": "Causa",
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to access this resource"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      },
      "put": {
        "tags": [
          "Clasificación Causa Ticket"
        ],
        "summary": "Update a Clasificación Causa Ticket by id.",
        "description": "Update a Clasificación Causa Ticket",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Clasificación Causa Ticket id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "CLCT_CAUSA": {
                        "title": "Causa",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Clasificación Causa Ticket"
        ],
        "summary": "Delete a Clasificación Causa Ticket by id.",
        "description": "Delete a Clasificación Causa Ticket",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Clasificación Causa Ticket id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/CLASIFICACION_CAUSA_/search": {
      "get": {
        "tags": [
          "Clasificación Causa Ticket"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Clasificación Causa Ticket",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CLASIFICACION_CAUSA_/smartie": {
      "get": {
        "tags": [
          "Clasificación Causa Ticket"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CLASIFICACION_CAUSA_/query": {
      "post": {
        "tags": [
          "Clasificación Causa Ticket"
        ],
        "summary": "Execute dynamic query without persisted smartie",
        "description": "Performs a dynamic query on Clasificación Causa Ticket instances with custom columns, filters, sorting, and aggregations. This endpoint allows ad-hoc queries without requiring a saved smartie configuration.",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Dynamic query parameters including pagination, columns, filters, and search criteria",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "page"
                ],
                "type": "object",
                "properties": {
                  "page": {
                    "minimum": 1,
                    "type": "integer",
                    "description": "Page number (1-based)",
                    "default": 1
                  },
                  "pageSize": {
                    "maximum": 1000,
                    "minimum": 1,
                    "type": "integer",
                    "description": "Number of records per page",
                    "default": 50
                  },
                  "search": {
                    "type": "string",
                    "description": "Fast search term to filter across all columns",
                    "nullable": true
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "required": [
                        "field"
                      ],
                      "type": "object",
                      "properties": {
                        "field": {
                          "enum": [
                            "CLCT_CAUSA",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Physical column name (required). Available columns from entity view."
                        },
                        "title": {
                          "type": "string",
                          "description": "Custom column title (optional)",
                          "nullable": true
                        },
                        "sortDirection": {
                          "enum": [
                            "ASC",
                            "DESC"
                          ],
                          "type": "string",
                          "description": "Sort direction",
                          "nullable": true
                        },
                        "order": {
                          "type": "integer",
                          "description": "Column display order (optional)",
                          "nullable": true
                        },
                        "sortOrder": {
                          "type": "integer",
                          "description": "Sort priority order (optional)",
                          "nullable": true
                        },
                        "aggregation": {
                          "enum": [
                            "SUM",
                            "COUNT",
                            "AVG",
                            "MIN",
                            "MAX"
                          ],
                          "type": "string",
                          "description": "Aggregation function",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Column specifications. If null or empty, default header columns will be used",
                    "nullable": true
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "required": [
                        "columnName",
                        "operator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "columnName": {
                          "enum": [
                            "CLCT_CAUSA",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Column name to filter (required). Available columns from entity view."
                        },
                        "operator": {
                          "enum": [
                            "=",
                            "!=",
                            ">",
                            "<",
                            ">=",
                            "<=",
                            "LIKE"
                          ],
                          "type": "string",
                          "description": "Comparison operator"
                        },
                        "value": {
                          "description": "Value to compare. Type should match column data type",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Filter specifications",
                    "nullable": true
                  }
                }
              },
              "example": {
                "page": 1,
                "pageSize": 10,
                "search": "",
                "columns": [
                  {
                    "field": "COLUMN_NAME",
                    "title": "Column Title",
                    "sortDirection": "ASC",
                    "sortOrder": 1
                  }
                ],
                "filters": [
                  {
                    "columnName": "COLUMN_NAME",
                    "operator": "=",
                    "value": "value"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Array of records matching the query"
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records (without pagination)"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Column definitions"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or column names"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to view this entity"
          },
          "404": {
            "description": "Entity not found"
          }
        }
      }
    },
    "/CLASIFICACION_CAUSA_/file": {
      "get": {
        "tags": [
          "Clasificación Causa Ticket"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Clasificación Causa Ticket"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CLASIFICACION_CAUSA_/report": {
      "get": {
        "tags": [
          "Clasificación Causa Ticket"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CLASIFICACION_DE_TIC": {
      "post": {
        "tags": [
          "Clasificación de Ticket"
        ],
        "summary": "Create a Clasificación de Ticket.",
        "description": "Creates a new instance of Clasificación de Ticket.\n\n**Key Attributes (Unique):** `CLDT_CLASIFICACION` (Clasificación)\n\nThese attributes form the entity's unique key. If you attempt to create an instance with key values that already exist, the API will return HTTP 409 Conflict.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "CLDT_CLASIFICACION": {
                        "title": "Clasificación",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "description": "Instance data. Key attributes (CLDT_CLASIFICACION) must be unique across all instances."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Instance created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the newly created instance"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to create instances of this entity"
          },
          "409": {
            "description": "Conflict - An instance with the same key values already exists. Key attributes: CLDT_CLASIFICACION"
          }
        }
      }
    },
    "/CLASIFICACION_DE_TIC/{id}": {
      "get": {
        "tags": [
          "Clasificación de Ticket"
        ],
        "description": "Get a Clasificación de Ticket by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Clasificación de Ticket id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "description": "Whether to include child entities in the response (default: true)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Instance unique identifier",
                      "type": "integer"
                    },
                    "ESTA_NOMBRE": {
                      "title": "State name",
                      "type": "string",
                      "nullable": true
                    },
                    "ESTA_CODIGO": {
                      "title": "State code",
                      "type": "integer",
                      "nullable": true
                    },
                    "AUDI_FECHA_ALTA": {
                      "title": "Creation date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "AUDI_FECHA_MODIF": {
                      "title": "Last modification date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "CLDT_CLASIFICACION": {
                      "title": "Clasificación",
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to access this resource"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      },
      "put": {
        "tags": [
          "Clasificación de Ticket"
        ],
        "summary": "Update a Clasificación de Ticket by id.",
        "description": "Update a Clasificación de Ticket",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Clasificación de Ticket id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "CLDT_CLASIFICACION": {
                        "title": "Clasificación",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Clasificación de Ticket"
        ],
        "summary": "Delete a Clasificación de Ticket by id.",
        "description": "Delete a Clasificación de Ticket",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Clasificación de Ticket id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/CLASIFICACION_DE_TIC/search": {
      "get": {
        "tags": [
          "Clasificación de Ticket"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Clasificación de Ticket",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "CLDT_CLASIFICACION",
            "in": "query",
            "description": "Clasificación",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CLASIFICACION_DE_TIC/smartie": {
      "get": {
        "tags": [
          "Clasificación de Ticket"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CLASIFICACION_DE_TIC/query": {
      "post": {
        "tags": [
          "Clasificación de Ticket"
        ],
        "summary": "Execute dynamic query without persisted smartie",
        "description": "Performs a dynamic query on Clasificación de Ticket instances with custom columns, filters, sorting, and aggregations. This endpoint allows ad-hoc queries without requiring a saved smartie configuration.",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Dynamic query parameters including pagination, columns, filters, and search criteria",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "page"
                ],
                "type": "object",
                "properties": {
                  "page": {
                    "minimum": 1,
                    "type": "integer",
                    "description": "Page number (1-based)",
                    "default": 1
                  },
                  "pageSize": {
                    "maximum": 1000,
                    "minimum": 1,
                    "type": "integer",
                    "description": "Number of records per page",
                    "default": 50
                  },
                  "search": {
                    "type": "string",
                    "description": "Fast search term to filter across all columns",
                    "nullable": true
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "required": [
                        "field"
                      ],
                      "type": "object",
                      "properties": {
                        "field": {
                          "enum": [
                            "CLDT_CLASIFICACION",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Physical column name (required). Available columns from entity view."
                        },
                        "title": {
                          "type": "string",
                          "description": "Custom column title (optional)",
                          "nullable": true
                        },
                        "sortDirection": {
                          "enum": [
                            "ASC",
                            "DESC"
                          ],
                          "type": "string",
                          "description": "Sort direction",
                          "nullable": true
                        },
                        "order": {
                          "type": "integer",
                          "description": "Column display order (optional)",
                          "nullable": true
                        },
                        "sortOrder": {
                          "type": "integer",
                          "description": "Sort priority order (optional)",
                          "nullable": true
                        },
                        "aggregation": {
                          "enum": [
                            "SUM",
                            "COUNT",
                            "AVG",
                            "MIN",
                            "MAX"
                          ],
                          "type": "string",
                          "description": "Aggregation function",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Column specifications. If null or empty, default header columns will be used",
                    "nullable": true
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "required": [
                        "columnName",
                        "operator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "columnName": {
                          "enum": [
                            "CLDT_CLASIFICACION",
                            "id",
                            "DESC_ESTADO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Column name to filter (required). Available columns from entity view."
                        },
                        "operator": {
                          "enum": [
                            "=",
                            "!=",
                            ">",
                            "<",
                            ">=",
                            "<=",
                            "LIKE"
                          ],
                          "type": "string",
                          "description": "Comparison operator"
                        },
                        "value": {
                          "description": "Value to compare. Type should match column data type",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Filter specifications",
                    "nullable": true
                  }
                }
              },
              "example": {
                "page": 1,
                "pageSize": 10,
                "search": "",
                "columns": [
                  {
                    "field": "COLUMN_NAME",
                    "title": "Column Title",
                    "sortDirection": "ASC",
                    "sortOrder": 1
                  }
                ],
                "filters": [
                  {
                    "columnName": "COLUMN_NAME",
                    "operator": "=",
                    "value": "value"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Array of records matching the query"
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records (without pagination)"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Column definitions"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or column names"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to view this entity"
          },
          "404": {
            "description": "Entity not found"
          }
        }
      }
    },
    "/CLASIFICACION_DE_TIC/file": {
      "get": {
        "tags": [
          "Clasificación de Ticket"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Clasificación de Ticket"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CLASIFICACION_DE_TIC/report": {
      "get": {
        "tags": [
          "Clasificación de Ticket"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/DEDICACIONES": {
      "post": {
        "tags": [
          "Dedicación diaria"
        ],
        "summary": "Create a Dedicación diaria.",
        "description": "Creates a new instance of Dedicación diaria.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "DEDI_PERSONA",
                      "DEDI_FECHA",
                      "CLIE_ID_CLIE",
                      "PROY_ID_PROY",
                      "DEDI_HORAS"
                    ],
                    "type": "object",
                    "properties": {
                      "DEDI_PERSONA": {
                        "title": "Persona",
                        "type": "integer"
                      },
                      "DEDI_FECHA": {
                        "title": "Fecha",
                        "type": "string"
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Cliente",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected"
                      },
                      "PROY_ID_PROY": {
                        "title": "Centro de costos",
                        "type": "integer",
                        "description": " This is a foreign key to Centro de costos. An id of Centro de costos is expected"
                      },
                      "ACTI_ID_ACTI": {
                        "title": "Actividad",
                        "type": "integer",
                        "description": " This is a foreign key to Actividad. An id of Actividad is expected",
                        "nullable": true
                      },
                      "DEDI_HORAS": {
                        "title": "Horas",
                        "type": "number"
                      },
                      "DEDI_OBSERVACIONES": {
                        "title": "Observaciones",
                        "type": "string",
                        "nullable": true
                      },
                      "DEDI_ESTOY_FRENADO_EN": {
                        "title": "Estoy frenado en...",
                        "type": "string",
                        "nullable": true
                      },
                      "TICK_ID_TICK": {
                        "title": "Ticket relacionado",
                        "type": "integer",
                        "description": " This is a foreign key to Ticket. An id of Ticket is expected",
                        "nullable": true
                      },
                      "DEDI_DIA_HABIL": {
                        "title": "Día habil",
                        "type": "boolean",
                        "nullable": true
                      },
                      "DEDI_COSTO_HORA": {
                        "title": "Costo hora",
                        "type": "number",
                        "nullable": true
                      }
                    },
                    "description": "Instance data"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Instance created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the newly created instance"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to create instances of this entity"
          },
          "409": {
            "description": "Conflict - Duplicate instance detected"
          }
        }
      }
    },
    "/DEDICACIONES/{id}": {
      "get": {
        "tags": [
          "Dedicación diaria"
        ],
        "description": "Get a Dedicación diaria by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Dedicación diaria id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "description": "Whether to include child entities in the response (default: true)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance found",
            "content": {
              "application/json": {
                "schema": {
[...]
