{
  "openapi": "3.0.4",
  "info": {
    "title": "erpdemo.schema Clientes y proveedores",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yiqi.com.ar/api/public"
    }
  ],
  "paths": {
    "/CLIENTE": {
      "post": {
        "tags": [
          "Empresa"
        ],
        "summary": "Create a Empresa.",
        "description": "Creates a new instance of Empresa.\n\n**Key Attributes (Unique):** `CLIE_NOMBRE` (Nombre), `CLIE_CUIT` (CUIT/Documento), `CLIE_CODIGO` (Código)\n\nThese attributes form the entity's unique key. If you attempt to create an instance with key values that already exist, the API will return HTTP 409 Conflict.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "CLIE_RAZON_SOCIAL"
                    ],
                    "type": "object",
                    "properties": {
                      "CLIE_NOMBRE": {
                        "title": "Nombre",
                        "maxLength": 100,
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Ingresada'",
                        "nullable": true
                      },
                      "CLIE_RAZON_SOCIAL": {
                        "title": "Razón Social",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "TIDD_ID_TIDD": {
                        "title": "Tipo de documento",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de Documento. An id of Tipo de Documento is expected",
                        "nullable": true
                      },
                      "CLIE_CUIT": {
                        "title": "CUIT/Documento",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_CODIGO": {
                        "title": "Código",
                        "maxLength": 100,
                        "type": "string",
                        "description": "Código interno opcional para identificar a la empresa",
                        "nullable": true
                      },
                      "CLIE_ISOLOGO": {
                        "title": "Isologo",
                        "type": "integer",
                        "nullable": true
                      },
                      "CLIE_ACTIVO": {
                        "title": "Activo (cliente)",
                        "type": "boolean",
                        "description": "Un cliente está Activo, si se le puede facturar",
                        "nullable": true
                      },
                      "CUCO_ID_CUCO": {
                        "title": "Cuenta contable (como cliente)",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                        "nullable": true
                      },
                      "CLIE_ACTIVO_P": {
                        "title": "Activo (Proveedor)",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CUCO_ID_CUPR": {
                        "title": "Cuenta contable (como proveedor)",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                        "nullable": true
                      },
                      "CLIE_SOL_ACT_DATOS": {
                        "title": "Solicitar actualización de datos",
                        "type": "boolean",
                        "description": "Si se marca este campo se le pedirá al proveedor que actualice sus datos en el Frontend de Proveedores.",
                        "nullable": true
                      },
                      "CUCO_ID_CUGA": {
                        "title": "Cuenta de Gastos Default",
                        "type": "integer",
                        "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                        "nullable": true
                      },
                      "PROY_ID_PROY": {
                        "title": "Centro de costos default",
                        "type": "integer",
                        "description": "Centro de costo que se propone automáticamente en las facturas de compra emitidas por este proveedor. Sólo se aplica cuando la factura no tiene un centro informado manualmente ni utiliza centros de costo asociados; nunca reemplaza esos valores.\n This is a foreign key to Centro de costos. An id of Centro de costos is expected",
                        "nullable": true
                      },
                      "LIDP_ID_LIDP": {
                        "title": "Lista de Precio",
                        "type": "integer",
                        "description": " This is a foreign key to Lista de precios de venta. An id of Lista de precios de venta is expected",
                        "nullable": true
                      },
                      "COVE_ID_COVE": {
                        "title": "Condición de Venta",
                        "type": "integer",
                        "description": " This is a foreign key to Condición de venta. An id of Condición de venta is expected",
                        "default": "PARAM.COVE_ID_COVE",
                        "nullable": true
                      },
                      "COIV_ID_COIV": {
                        "title": "Condición IVA",
                        "type": "integer",
                        "description": " This is a foreign key to Condición de impuesto. An id of Condición de impuesto is expected",
                        "default": "PARAM.COIV_ID_COIV",
                        "nullable": true
                      },
                      "VEHA_ID_VEHA": {
                        "title": "Vendedor",
                        "type": "integer",
                        "description": " This is a foreign key to Vendedor. An id of Vendedor is expected",
                        "nullable": true
                      },
                      "TRLO_ID_TRLO": {
                        "title": "Transp. Logistico",
                        "type": "integer",
                        "description": " This is a foreign key to Transport. Logística. An id of Transport. Logística is expected",
                        "nullable": true
                      },
                      "TIDC_ID_TIDC": {
                        "title": "Tipo de Cliente",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de Cliente. An id of Tipo de Cliente is expected",
                        "nullable": true
                      },
                      "MEDE_ID_MEDE": {
                        "title": "Método de envío",
                        "type": "integer",
                        "description": " This is a foreign key to Método de envío. An id of Método de envío is expected",
                        "nullable": true
                      },
                      "CLIE_PASSWORD": {
                        "title": "Password",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_FRECU_COMPRA_DIAS": {
                        "title": "Proveedor - Frecuencia de compra (días)",
                        "type": "integer",
                        "description": "Cantidad de días estimada entre compras al proveedor.",
                        "nullable": true
                      },
                      "CLIE_OBSERVACIONES": {
                        "title": "Observaciones",
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_PERMITIR_DUPLICAR_CU": {
                        "title": "Permitir duplicar CUIT",
                        "type": "boolean",
                        "description": "Si se marca esta opción, se permitirá cargar dos empresas con distinto nombre pero con el mismo CUIT",
                        "nullable": true
                      },
                      "CLIE_GLN": {
                        "title": "GLN",
                        "maxLength": 100,
                        "type": "string",
                        "description": "Para más información: http://www.gs1.org.ar",
                        "nullable": true
                      },
                      "CLIE_LATITUD": {
                        "title": "Latitud",
                        "type": "number",
                        "nullable": true
                      },
                      "CLIE_LONGITUD": {
                        "title": "Longitud",
                        "type": "number",
                        "nullable": true
                      },
                      "CLIE_MAIL": {
                        "title": "Mail",
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_NO_AJUSTAR_POR_TENEN": {
                        "title": "No ajustar por tenencia",
                        "type": "boolean",
                        "description": "Si está marcado, no se contempla para el Ajuste por tenencia.",
                        "nullable": true
                      },
                      "CLIE_NO_USAR_WEB": {
                        "title": "No utilizar en ventas e-commerce",
                        "type": "boolean",
                        "description": "Si está marcado, no se usará este cliente para las ventas que bajen de la web. Se creará otro análogo con un \"(web)\" al final.",
                        "nullable": true
                      },
                      "CLIE_ALERTA_FINANCIERA": {
                        "title": "Alerta Financiera",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_NO_INCLU_REPO_PAGOS": {
                        "title": "No incluir en el reporte de pagos",
                        "type": "boolean",
                        "description": "Si está marcado, no se incluirá este cliente en el reporte de pagos.",
                        "nullable": true
                      },
                      "CLIE_TIPO_DE_OPERACION_FC": {
                        "title": "Tipo de Operacion FC",
                        "maxLength": 100,
                        "enum": [
                          "SCA",
                          "ADC"
                        ],
                        "type": "string",
                        "description": "Según lo definido, se pisará sobre todas las facturas de esta empresa.",
                        "nullable": true
                      },
                      "SUCU_ID_SUCU": {
                        "title": "Sucursal Propia",
                        "type": "integer",
                        "description": " This is a foreign key to Sucursal. An id of Sucursal is expected",
                        "nullable": true
                      },
                      "CLIE_CODIGO_BANELCO": {
                        "title": "Código Banelco",
                        "type": "integer",
                        "description": "Código usado para el reporte de Pago Mis Cuentas",
                        "nullable": true
                      },
                      "CLIE_WEB": {
                        "title": "Web",
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_DOMICILIO": {
                        "title": "Domicilio",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_DOMICILIO_2": {
                        "title": "Domicilio Secundario",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_CP": {
                        "title": "CP",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "PAIS_ID_PAIS": {
                        "title": "País",
                        "type": "integer",
                        "description": " This is a foreign key to País. An id of País is expected",
                        "nullable": true
                      },
                      "PROV_ID_PROV": {
                        "title": "Provincia / Estado",
                        "type": "integer",
                        "description": " This is a foreign key to Provincia. An id of Provincia is expected",
                        "nullable": true
                      },
                      "CLIE_LOCALIDAD": {
                        "title": "Localidad",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_TE1": {
                        "title": "TE 1",
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_TE2": {
                        "title": "TE 2",
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_FAX": {
                        "title": "FAX",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_ARHC_ID_1093": {
                        "title": "Adjunto",
                        "type": "integer",
                        "nullable": true
                      },
                      "CLIE_DIA_FACTURACION": {
                        "title": "Día de facturación",
                        "type": "integer",
                        "nullable": true
                      },
                      "SEYI_ID_SEYI": {
                        "title": "Servicio",
                        "type": "integer",
                        "description": " This is a foreign key to Servicio. An id of Servicio is expected",
                        "nullable": true
                      },
                      "CLIE_PLAZO_DIAS_DE_PAGO": {
                        "title": "Plazo días de pago",
                        "type": "integer",
                        "nullable": true
                      },
                      "CLIE_DESCUENTO_PAGO_TEMP": {
                        "title": "% Descuento por pago temprano",
                        "type": "number",
                        "nullable": true
                      },
                      "CLIE_SE_FACTURA_MES_VENCI": {
                        "title": "Se factura mes vencido",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CLIE_INICIO_SERVICIO": {
                        "title": "Inicio de servicio",
                        "type": "string",
                        "description": "Es la fecha en la cual se inicia el primer servicio con el cliente.-",
                        "nullable": true
                      },
                      "CLIE_NO_NOTIFICAR_VENCIMI": {
                        "title": "No notificar vencimientos a este mail",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CLIE_ID_INTEGRACION_ML": {
                        "title": "Id integración ML",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_NICKNAME_ML": {
                        "title": "NickName ML",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_ID_INTEGRACION_TN": {
                        "title": "Id integración TN",
                        "type": "integer",
                        "nullable": true
                      },
                      "CLIE_CREDITO_MAXIMO_COMO_": {
                        "title": "Crédito máximo como cliente",
                        "type": "number",
                        "nullable": true
                      },
                      "ORCO_ID_ORCO": {
                        "title": "Origen del Contacto",
                        "type": "integer",
                        "description": " This is a foreign key to Origen del Contacto. An id of Origen del Contacto is expected",
                        "nullable": true
                      },
                      "CLIE_FIRMA_RECIBO": {
                        "title": "Firma Recibo",
                        "type": "integer",
                        "nullable": true
                      },
                      "CLIE_ATENCION_A_PROVEEDOR": {
                        "title": "Atención a proveedores",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_PAGO_PROVEEDORES": {
                        "title": "Pago proveedores",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_HORARIO_DE_ENTREGA": {
                        "title": "Horario de entrega",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CAMP_ID_CAMP": {
                        "title": "Campaña",
                        "type": "integer",
                        "description": " This is a foreign key to Campaña. An id of Campaña is expected",
                        "nullable": true
                      },
                      "CLIE_TIPO_EMPRESA": {
                        "title": "Tipo empresa",
                        "maxLength": 100,
                        "type": "string",
                        "description": "0 - Administración Pública 1-Decreto 814/01, Art2 Inc.B 2-Servicios Eventuales, Art2 Inc.B 4-Decreto 814/01, Art2 Inc.A 5-Servicios Eventuales, Art2 Inc.A 7-Enseñanza Privada 8-Decreto 1212/03 - AFA Clubes",
                        "nullable": true
                      },
                      "RUBR_ID_RUBR": {
                        "title": "Rubro",
                        "type": "integer",
                        "description": " This is a foreign key to Rubro. An id of Rubro is expected",
                        "nullable": true
                      },
                      "SUBR_ID_SUBR": {
                        "title": "Subrubro",
                        "type": "integer",
                        "description": " This is a foreign key to Subrubro. An id of Subrubro is expected",
                        "nullable": true
                      },
                      "CLIE_SEGMENTACION_ESPECIA": {
                        "title": "Segmentación Especial",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_METODO_PAGO": {
                        "title": "Método",
                        "maxLength": 100,
                        "enum": [
                          "efectivo",
                          "transferencia",
                          "debito",
                          "electronico",
                          "ch_propio",
                          "ch_tercero",
                          "credito"
                        ],
                        "type": "string",
                        "nullable": true
                      },
                      "CAJA_ID_CAJA": {
                        "title": "Caja",
                        "type": "integer",
                        "description": "Seleccionar la caja a utilizar para pagos en efectivo\n This is a foreign key to Caja. An id of Caja is expected",
                        "nullable": true
                      },
                      "CUDE_ID_CUDE": {
                        "title": "Cuenta Bancaria",
                        "type": "integer",
                        "description": "Seleccionar la cuenta bancaria a utilizar\n This is a foreign key to Cuenta bancaria. An id of Cuenta bancaria is expected",
                        "nullable": true
                      },
                      "TARJ_ID_TARJ": {
                        "title": "Concepto de Pago Electrónico",
                        "type": "integer",
                        "description": "Seleccionar el concepto de pago electrónico\n This is a foreign key to Concepto de pago electrónico. An id of Concepto de pago electrónico is expected",
                        "nullable": true
                      },
                      "CLIE_CHEQUES_ELECTRONICOS": {
                        "title": "Cheques Electrónicos",
                        "type": "boolean",
                        "description": "Si está marcado, los cheques propios serán electrónicos",
                        "nullable": true
                      },
                      "CLIE_NRO_IIBB": {
                        "title": "Nro Ingresos Brutos",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_INICIO_ACTIVIDADES": {
                        "title": "Inicio de Actividades",
                        "type": "string",
                        "nullable": true
                      },
                      "SURE_ID_SURE": {
                        "title": "Subconcepto de gananacias",
                        "type": "integer",
                        "description": "De elegirse un subconcepto, se calculará la retención de ganancias en la Orden de Pago\n This is a foreign key to Subconcepto Retención. An id of Subconcepto Retención is expected",
                        "nullable": true
                      },
                      "CLIE_NO_CALCULAR_PERCEPCI": {
                        "title": "No calcular Percepciones",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CLIE_FECHA_DESDE": {
                        "title": "Fecha desde",
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_FECHA_HASTA": {
                        "title": "Fecha hasta",
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_ENVIA_FC_A_KRIKOS": {
                        "title": "Envía Facturas y Notas de Crédito a Krikos",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CLIE_DESC_IMP_INTERNO": {
                        "title": "Descuenta Impuesto Interno en órdenes",
                        "type": "boolean",
                        "nullable": true
                      },
                      "CLIE_PRECIO_POR_UNIDAD": {
                        "title": "Informa precio por bulto",
                        "type": "boolean",
                        "description": "Si está marcado se multiplica el precio por la cantidad de componentes del bulto.",
                        "nullable": true
                      },
                      "CentrosDeCostos": {
                        "title": "Centros de costos",
                        "type": "array",
                        "items": {
                          "title": "Centros de costos",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "PROY_CODIGO": {
                              "title": "Código",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "PROY_NOMBRE": {
                              "title": "Nombre",
                              "maxLength": 100,
                              "type": "string"
                            },
                            "SUCU_ID_SUCU": {
                              "title": "Sucursal",
                              "type": "integer",
                              "description": " This is a foreign key to Sucursal. An id of Sucursal is expected",
                              "nullable": true
                            },
                            "PROY_FECHA_INICIO": {
                              "title": "Fecha inicio",
                              "type": "string",
                              "nullable": true
                            },
                            "PROY_FECHA_FIN": {
                              "title": "Fecha Fin estimada",
                              "type": "string",
                              "nullable": true
                            },
                            "PROY_DESCRIPCION": {
                              "title": "Descripción",
                              "type": "string",
                              "nullable": true
                            },
                            "PROY_OBS_ADIC_IMPLEM": {
                              "title": "Obs. Adicional p/Implementador",
                              "type": "string",
                              "nullable": true
                            },
                            "PROY_PORC_AVANCE": {
                              "title": "% Avance",
                              "type": "number",
                              "nullable": true
                            },
                            "PROY_PLAZO_DIAS_DE_PAGO": {
                              "title": "Plazo de días de pago",
                              "type": "integer",
                              "nullable": true
                            },
                            "PROY_ES_PRORRATEABLE": {
                              "title": "Es prorrateable",
                              "type": "boolean",
                              "description": "Marcar cuando el proyecto representa un centro de costo de estructura. Sus costos se consideran indirectos y son origen de una distribución. Los proyectos receptores deben ser no prorrateables, por lo que este campo no debe marcarse en ellos.",
                              "nullable": true
                            },
                            "CEDI_ID_CEDI": {
                              "title": "Ubicación de Stock",
                              "type": "integer",
                              "description": " This is a foreign key to Ubicación de stock. An id of Ubicación de stock is expected",
                              "nullable": true
                            },
                            "PROY_CICLO": {
                              "title": "Ciclo",
                              "type": "integer",
                              "description": "Año principal del proyecto (formato: 2023, 2024, etc.). Usado para reportes gerenciales.",
                              "nullable": true
                            },
                            "PROY_HORAS_ESTIMADAS": {
                              "title": "Horas estimadas",
                              "type": "number",
                              "nullable": true
                            },
                            "PROY_RENTABILIDAD_ESPERAD": {
                              "title": "Margen directo esperado",
                              "type": "number",
                              "nullable": true
                            },
                            "PROY_COSTOS_ADICIONALES": {
                              "title": "Costos adicionales",
                              "type": "number",
                              "description": "Son costos no incluidos en facturas de compras",
                              "nullable": true
                            },
                            "PROY_RESULTADO_INDIRECTO": {
                              "title": "Resultado indirecto",
                              "type": "number",
                              "nullable": true
                            },
                            "PROY_MARGEN_INDIRECTO": {
                              "title": "Margen indirecto",
                              "type": "number",
                              "nullable": true
                            },
                            "PROY_RI_COLOR": {
                              "title": "RI Color",
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Centros de costos"
                        },
                        "description": "Array of child entities of Centros de costos"
                      },
                      "Contactos": {
                        "title": "Contactos",
                        "type": "array",
                        "items": {
                          "title": "Contactos",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CONT_NOMBRE": {
                              "title": "Nombre y apellido",
                              "maxLength": 100,
                              "type": "string"
                            },
                            "CONT_PUESTO": {
                              "title": "Puesto del contacto",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CONT_TELABORAL": {
                              "title": "Teléfono laboral",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CONT_TEPARTIC": {
                              "title": "Teléfono particular",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CONT_CELULAR": {
                              "title": "Teléfono celular",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "ORCO_ID_ORCO": {
                              "title": "Origen del Contacto",
                              "type": "integer",
                              "description": " This is a foreign key to Origen del Contacto. An id of Origen del Contacto is expected",
                              "nullable": true
                            },
                            "CONT_CONTACTOINT": {
                              "title": "Contacto Interno",
                              "type": "integer",
                              "nullable": true
                            },
                            "CONT_EMAIL": {
                              "title": "Correo electrónico",
                              "type": "string",
                              "nullable": true
                            },
                            "CONT_ULTIMOCONT": {
                              "title": "Fecha último contacto",
                              "type": "string",
                              "nullable": true
                            },
                            "CONT_SKYPE": {
                              "title": "Skype",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CONT_LINKEDINPROF": {
                              "title": "Linkedin Profile",
                              "type": "string",
                              "nullable": true
                            },
                            "CONT_IDIOMA_PRIM": {
                              "title": "Idioma primario",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CONT_ARHC_ID_1135": {
                              "title": "Foto",
                              "type": "integer",
                              "nullable": true
                            },
                            "CONT_MATRICULA": {
                              "title": "Matricula",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CONT_DNI": {
                              "title": "DNI",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CONT_PASSWORD_TICKETS": {
                              "title": "Password tickets",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CONT_FECHA_DE_NACIMIENTO": {
                              "title": "Fecha de Nacimiento",
                              "type": "string",
                              "nullable": true
                            },
                            "CONT_CONTACTO_FACTURACION": {
                              "title": "Contacto de facturación",
                              "type": "boolean",
                              "description": "Si está marcado, se le enviarán las facturas emitidas por mail a este contacto",
                              "nullable": true
                            },
                            "CONT_CONTACTO_COBRANZAS": {
                              "title": "Contacto de cobranzas",
                              "type": "boolean",
                              "description": "Si está marcado, se le enviarán los recibos emitidos por mail a este contacto",
                              "nullable": true
                            },
                            "CONT_CONTACTO_DE_PAGOS": {
                              "title": "Contacto de pagos",
                              "type": "boolean",
                              "description": "Si está marcado, se le enviarán las órdenes de pago emitidas por mail a este contacto",
                              "nullable": true
                            },
                            "CONT_CONTACTO_DE_COMPRAS": {
                              "title": "Contacto de compras",
                              "type": "boolean",
                              "description": "Si está marcado, se le enviarán las órdenes de compra por mail a este contacto.",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Contactos"
                        },
                        "description": "Array of child entities of Contactos"
                      },
                      "Legales": {
                        "title": "Legales",
                        "type": "array",
                        "items": {
                          "title": "Legales",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "DLCL_TITULO": {
                              "title": "Título",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "DLCL_ARHC_ID_1926": {
                              "title": "Documento",
                              "type": "integer",
                              "nullable": true
                            },
                            "DLCL_FECHA_DE_FIN_DE_VIGE": {
                              "title": "Fecha de fin de vigencia",
                              "type": "string",
                              "nullable": true
                            },
                            "DLCL_DIAS_DE_PREAVISO": {
                              "title": "Días de preaviso",
                              "type": "integer",
                              "nullable": true
                            },
                            "SEYI_ID_SEYI": {
                              "title": "Tipo de servicio",
                              "type": "integer",
                              "description": " This is a foreign key to Servicio. An id of Servicio is expected",
                              "nullable": true
                            },
                            "DLCL_OBSERVACIONES": {
                              "title": "Observaciones",
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Legales"
                        },
                        "description": "Array of child entities of Legales"
                      },
                      "Tarifas": {
                        "title": "Tarifas",
                        "type": "array",
                        "items": {
                          "title": "Tarifas",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "SEYI_ID_SEYI": {
                              "title": "Servicio",
                              "type": "integer",
                              "description": " This is a foreign key to Servicio. An id of Servicio is expected"
                            },
                            "PROY_ID_PROY": {
                              "title": "Centro de costos",
                              "type": "integer",
                              "description": " This is a foreign key to Centro de costos. An id of Centro de costos is expected",
                              "nullable": true
                            },
                            "PRSE_ID_PRSE": {
                              "title": "Producto / Servicio",
                              "type": "integer",
                              "description": "Valores fijos e identicos en todos los esquemas: 1 = Productos, 2 = Servicios, 3 = Productos y Servicios. PRODUCTO_SERVICIO no es una entidad consultable por la API publica (no tiene /query ni /search), asi que este mapeo hay que usarlo tal cual en vez de intentar resolverlo contra la entidad relacionada.\n This is a foreign key to Producto Servicio. An id of Producto Servicio is expected",
                              "default": "PARAM.PRSE_ID_TARI",
                              "nullable": true
                            },
                            "MONE_ID_MONE": {
                              "title": "Moneda",
                              "type": "integer",
                              "description": " This is a foreign key to Moneda. An id of Moneda is expected",
                              "default": "PARAM.MONE_ID_MONE"
                            },
                            "TARI_TARIFA": {
                              "title": "Precio Unitario",
                              "type": "number"
                            },
                            "TARI_DESCUENTO": {
                              "title": "Descuento",
                              "type": "number",
                              "nullable": true
                            },
                            "TARI_CANTIDAD": {
                              "title": "Cantidad",
                              "type": "number",
                              "nullable": true
                            },
                            "TARI_FECHA_DESDE": {
                              "title": "Fecha desde",
                              "type": "string"
                            },
                            "TARI_FECHA_HASTA": {
                              "title": "Fecha hasta",
                              "type": "string",
                              "nullable": true
                            },
                            "TARI_FECHA_DE_REVISION_DE": {
                              "title": "Fecha de revisión",
                              "type": "string",
                              "description": "Tener en cuenta que existen en los contratos plazos predeterminados de aviso de cambio de tarifa.",
                              "nullable": true
                            },
                            "TARI_RE_NEGOCIADA": {
                              "title": "Re negociada",
                              "type": "boolean",
                              "nullable": true
                            },
                            "TARI_CONCEPTO": {
                              "title": "Concepto",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "TARI_COMENTARIO": {
                              "title": "Comentario",
                              "type": "string",
                              "nullable": true
                            },
                            "TARI_ES_FACTURACION_R": {
                              "title": "Es facturación recurrente",
                              "type": "boolean",
                              "nullable": true
                            },
                            "PUVE_ID_PUVE": {
                              "title": "Punto de venta",
                              "type": "integer",
                              "description": " This is a foreign key to Punto de venta. An id of Punto de venta is expected",
                              "nullable": true
                            },
                            "TIFA_ID_TIFA": {
                              "title": "Tipo de Factura",
                              "type": "integer",
                              "description": " This is a foreign key to Tipo de factura. An id of Tipo de factura is expected",
                              "nullable": true
                            },
                            "TARI_ERROR_DE_FACTURACION": {
                              "title": "Error de facturación recurrente",
                              "type": "string",
                              "nullable": true
                            },
                            "TARI_TEXTO_ADICIONAL": {
                              "title": "Texto adicional",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Tarifas"
                        },
                        "description": "Array of child entities of Tarifas"
                      },
                      "CuentasBancarias": {
                        "title": "Cuentas bancarias",
                        "type": "array",
                        "items": {
                          "title": "Cuentas bancarias",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CUDE_DESCRIPCION": {
                              "title": "Descripcion",
                              "maxLength": 100,
                              "type": "string",
                              "description": " This attribute is mandatory when the instance is at state 'Ingresada'"
                            },
                            "CUDE_SOLO_ADMINISTRADOR": {
                              "title": "Vista únicamente por Administrador",
                              "type": "boolean",
                              "description": "Si se marca, solo lo podrán asociar y usar usuarios con el perfil Finanzas administrador",
                              "nullable": true
                            },
                            "CUCO_ID_CUCO": {
                              "title": "Cta contable (activo)",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                              "nullable": true
                            },
                            "CUCO_ID_DEBI": {
                              "title": "Cta Valores a Debitar",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected",
                              "nullable": true
                            },
                            "CUDE_ACTIVAR_INTER_B": {
                              "title": "Activar Interbanking",
                              "type": "boolean",
                              "description": "Si se marca, se generarán Extractos que envíe el Interbanking del día durante la noche. Será necesario además realizar las configuraciones definidas de en la ayuda.",
                              "nullable": true
                            },
                            "MONE_ID_MONE": {
                              "title": "Moneda",
                              "type": "integer",
                              "description": " This is a foreign key to Moneda. An id of Moneda is expected",
                              "default": "PARAM.MONE_ID_MONE"
                            },
                            "BANC_ID_BANC": {
                              "title": "Banco",
                              "type": "integer",
                              "description": " This is a foreign key to Banco. An id of Banco is expected\n This attribute is mandatory when the instance is at state 'Ingresada'",
                              "nullable": true
                            },
                            "TCUE_ID_TCUE": {
                              "title": "Tipo de cuenta",
                              "type": "integer",
                              "description": " This is a foreign key to Tipo Cuenta Bancaria. An id of Tipo Cuenta Bancaria is expected",
                              "nullable": true
                            },
                            "CUDE_NROCUENTA": {
                              "title": "Nro Cuenta",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CUDE_ALIAS": {
                              "title": "Alias",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CUDE_CBU": {
                              "title": "CBU",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Cuentas bancarias"
                        },
                        "description": "Array of child entities of Cuentas bancarias"
                      },
                      "EvaluacionesDeProveedor": {
                        "title": "Evaluaciones de proveedor",
                        "type": "array",
                        "items": {
                          "title": "Evaluaciones de proveedor",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "EVPR_FECHA": {
                              "title": "Fecha",
                              "type": "string",
                              "nullable": true
                            },
                            "EVPR_EVALUACION_INICIAL": {
                              "title": "Evaluación inicial",
                              "type": "boolean",
                              "description": "Completar en caso de que sea la primera evaluación al proveedor.-",
                              "nullable": true
                            },
                            "EVPR_ES_PROVEEDOR_UNICO": {
                              "title": "Es proveedor único",
                              "type": "boolean",
                              "description": "Aquellos con los que la empresa debe trabajar obligatoriamente, porque es un requisito del cliente o bien porque no existe alternativa en el mercado.",
                              "nullable": true
                            },
                            "EVPR_COMENTARIOS": {
                              "title": "Comentarios",
                              "type": "string",
                              "nullable": true
                            },
                            "EVPR_PUNTAJE_EVALUACION_I": {
                              "title": "Puntaje evaluación inicial",
                              "type": "number",
                              "nullable": true
                            },
                            "EVPR_FORMA_DE_PAGO": {
                              "title": "Plazo de pago",
                              "type": "integer",
                              "description": "Ingresar la cantidad de días.-",
                              "nullable": true
                            },
                            "EVPR_EXPERIENCIA_CON_EL_P": {
                              "title": "Experiencia con el proveedor",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "EVPR_SERVICIO_DE_POST_VEN": {
                              "title": "Servicio de post venta",
                              "type": "boolean",
                              "nullable": true
                            },
                            "EVPR_COMENTARIO": {
                              "title": "Comentario",
                              "type": "string",
                              "nullable": true
                            },
                            "EVPR_COMENTARIO_TECNICO": {
                              "title": "Comentario técnico",
                              "type": "string",
                              "nullable": true
                            },
                            "EVPR_SERV_TEC": {
                              "title": "Servicio post venta",
                              "type": "boolean",
                              "nullable": true
                            },
                            "EVPR_ESPECIFICACIONES_TEC": {
                              "title": "Especificaciones técnicas",
                              "type": "string",
                              "nullable": true
                            },
                            "EVPR_PREFERENCIAS_DEL_USU": {
                              "title": "Preferencias del usuario principal del producto",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "EVPR_FACILIDAD_EN_EL_MANT": {
                              "title": "Facilidad en el mantenimiento",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "EVPR_CAPACITACION_OFRECID": {
                              "title": "Capacitación ofrecida por el proveedor",
                              "type": "boolean",
                              "nullable": true
                            },
                            "EVPR_CONFIABILIDAD_DE_PRO": {
                              "title": "Confiabilidad de producto",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "EVPR_SERVICIO_TECNICO_OFR": {
                              "title": "Servicio técnico ofrecido",
                              "type": "boolean",
                              "nullable": true
                            },
                            "EVPR_EXP_TEC": {
                              "title": "Experiencia con el proveedor",
                              "type": "boolean",
                              "nullable": true
                            },
                            "EVPR_FORMA_PAGO_ER": {
                              "title": "Forma de pago (ER)",
                              "type": "integer",
                              "description": "Completar con 1, 2 ó 3 - Ponderación: 20%",
                              "nullable": true
                            },
                            "EVPR_CALIDAD_P_S_ER": {
                              "title": "Calidad de producto / servicio (ER)",
                              "type": "integer",
                              "description": "Completar con 1, 2 ó 3 -  Ponderación: 50%",
                              "nullable": true
                            },
                            "EVPR_TIEMPO_ENT_ER": {
                              "title": "Tiempo de entrega (ER)",
                              "type": "integer",
                              "description": "Completar con 1, 2 ó 3 -  Ponderación: 30%",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Evaluaciones de proveedor"
                        },
                        "description": "Array of child entities of Evaluaciones de proveedor"
                      },
                      "Ajustes": {
                        "title": "Ajustes",
                        "type": "array",
                        "items": {
                          "title": "Ajustes",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "AJUS_DEBITO": {
                              "title": "Débito",
                              "type": "number",
                              "nullable": true
                            },
                            "AJUS_CREDITO": {
                              "title": "Crédito",
                              "type": "number",
                              "nullable": true
                            },
                            "AJUS_SALDO": {
                              "title": "Saldo",
                              "type": "number",
                              "nullable": true
                            },
                            "AJUS_FECHA": {
                              "title": "Fecha",
                              "type": "string",
                              "nullable": true
                            },
                            "COBR_ID_COB1": {
                              "title": "Recibo origen",
                              "type": "integer",
                              "description": " This is a foreign key to Recibo. An id of Recibo is expected",
                              "nullable": true
                            },
                            "OBLI_ID_OBLI": {
                              "title": "Orden Pago",
                              "type": "integer",
                              "description": " This is a foreign key to Orden de pago. An id of Orden de pago is expected",
                              "nullable": true
                            },
                            "NOCR_ID_NOCR": {
                              "title": "Nota de crédito (V)",
                              "type": "integer",
                              "description": " This is a foreign key to Nota de Crédito (V). An id of Nota de Crédito (V) is expected",
                              "nullable": true
                            },
                            "NOCC_ID_NOCC": {
                              "title": "Nota de crédito (C)",
                              "type": "integer",
                              "description": " This is a foreign key to Nota de Crédito (C) . An id of Nota de Crédito (C)  is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Ajustes"
                        },
                        "description": "Array of child entities of Ajustes"
                      },
                      "Sucursales": {
                        "title": "Sucursales",
                        "type": "array",
                        "items": {
                          "title": "Sucursales",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "SUCU_NOMBRE": {
                              "title": "Nombre",
                              "maxLength": 100,
                              "type": "string"
                            },
                            "SUCU_DIRECCION": {
                              "title": "Dirección",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "SUCU_PARTIDO": {
                              "title": "Partido",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "PAIS_ID_PAIS": {
                              "title": "Pais",
                              "type": "integer",
                              "description": " This is a foreign key to País. An id of País is expected",
                              "nullable": true
                            },
                            "PROV_ID_PROV": {
                              "title": "Provincia",
                              "type": "integer",
                              "description": " This is a foreign key to Provincia. An id of Provincia is expected",
                              "nullable": true
                            },
                            "LOBA_ID_LOBA": {
                              "title": "Localidad",
                              "type": "integer",
                              "description": " This is a foreign key to Localidad/Barrio. An id of Localidad/Barrio is expected",
                              "nullable": true
                            },
                            "SUCU_CODIGO_POSTAL": {
                              "title": "Código Postal",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "SUCU_TELEFONO": {
                              "title": "Teléfono",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CEDI_ID_CEDI": {
                              "title": "Ubicación de Origen",
                              "type": "integer",
                              "description": " This is a foreign key to Ubicación de stock. An id of Ubicación de stock is expected",
                              "nullable": true
                            },
                            "SUCU_GLN": {
                              "title": "GLN",
                              "maxLength": 100,
                              "type": "string",
                              "description": "Para más información: http://www.gs1.org.ar",
                              "nullable": true
                            },
                            "SUCU_LATITUD": {
                              "title": "Latitud",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "SUCU_LONGITUD": {
                              "title": "Longitud",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "SUCU_HORARIO_ENTREGA_DESD": {
                              "title": "Horario entrega desde",
                              "type": "string",
                              "nullable": true
                            },
                            "SUCU_HORARIO_ENTREGA_HAST": {
                              "title": "Horario entrega hasta",
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Sucursales"
                        },
                        "description": "Array of child entities of Sucursales"
                      },
                      "CuponesMercadopago": {
                        "title": "Cupones MercadoPago",
                        "type": "array",
                        "items": {
                          "title": "Cupones MercadoPago",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CUMP_CUPON_MP_ID": {
                              "title": "Cupón MP Id",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CUMP_CUPON_MP_EXTERNAL_RE": {
                              "title": "Cupón MP External Reference",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CUMP_CUPON_MP_DESCRIPTION": {
                              "title": "Cupón MP Description",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "CUMP_JSON": {
                              "title": "JSON",
                              "type": "string",
                              "nullable": true
                            },
                            "CUMP_TOTAL": {
                              "title": "Total",
                              "type": "number",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Cupones MercadoPago"
                        },
                        "description": "Array of child entities of Cupones MercadoPago"
                      },
                      "CertificadosDeExclusión": {
                        "title": "Certificados de Exclusión",
                        "type": "array",
                        "items": {
                          "title": "Certificados de Exclusión",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "IMPU_ID_IMPU": {
                              "title": "Impuesto",
                              "type": "integer",
                              "description": " This is a foreign key to Impuesto. An id of Impuesto is expected",
                              "nullable": true
                            },
                            "EXDI_DESDE": {
                              "title": "Desde",
                              "type": "string",
                              "nullable": true
                            },
                            "EXDI_HASTA": {
                              "title": "Hasta",
                              "type": "string",
                              "nullable": true
                            },
                            "EXDI_ALICUOTA_PERCEPCION": {
                              "title": "Alícuota Percepción",
                              "type": "number",
                              "nullable": true
                            },
                            "EXDI_ALICUOTA_RETENCION": {
                              "title": "Alícuota Retención",
                              "type": "number",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Certificados de Exclusión"
                        },
                        "description": "Array of child entities of Certificados de Exclusión"
                      },
                      "PadrónAlícuotas": {
                        "title": "Padrón Alícuotas",
                        "type": "array",
                        "items": {
                          "title": "Padrón Alícuotas",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "ALPC_CUIT": {
                              "title": "CUIT",
                              "maxLength": 100,
                              "type": "string"
                            },
                            "ALPC_IMPUESTO": {
                              "title": "Impuesto",
                              "maxLength": 100,
                              "type": "string"
                            },
                            "ALPC_ALICUOTA_PER": {
                              "title": "Alícuota PER",
                              "type": "number",
                              "nullable": true
                            },
                            "ALPC_ALICUOTA_RET": {
                              "title": "Alícuota RET",
                              "type": "number",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Padrón Alícuotas"
                        },
                        "description": "Array of child entities of Padrón Alícuotas"
                      },
                      "AlícuotaProveedoresDefault": {
                        "title": "Alícuota proveedores default",
                        "type": "array",
                        "items": {
                          "title": "Alícuota proveedores default",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "COPE_ID_COPE": {
                              "title": "Concepto de Percepción",
                              "type": "integer",
                              "description": " This is a foreign key to Concepto Percepción. An id of Concepto Percepción is expected"
                            },
                            "ALIC_ALICUOTA": {
                              "title": "Alícuota",
                              "type": "number"
                            },
                            "ALIC_FECHA_DESDE": {
                              "title": "Fecha Desde",
                              "type": "string",
                              "nullable": true
                            },
                            "ALIC_FECHA_HASTA": {
                              "title": "Fecha Hasta",
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Alícuota proveedores default"
                        },
                        "description": "Array of child entities of Alícuota proveedores default"
                      }
                    },
                    "description": "Instance data. Key attributes (CLIE_NOMBRE, CLIE_CUIT, CLIE_CODIGO) must be unique across all instances."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request processed. Check `ok`: a business validation failure also returns HTTP 200, with ok=false and the reason in `error`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "True if the instance was saved. Business validation failures are reported as HTTP 200 with ok=false and a message in `error` - always check this flag."
                    },
                    "newId": {
                      "type": "integer",
                      "description": "Id of the saved Empresa (the new id when creating, the same id when updating). This is the field that carries the identifier - there is no `id` field in this response."
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message when ok=false. Null on success.",
                      "nullable": true
                    },
                    "parameter": {
                      "type": "string",
                      "description": "The full saved instance, serialized as a JSON **string** (not a nested object) - same content as GET /CLIENTE/{id} with includeChildren=true. Parse it to read it.",
                      "nullable": true
                    }
                  },
                  "example": {
                    "ok": true,
                    "newId": 12345,
                    "error": null,
                    "parameter": "{\"id\":12345, ...}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to create instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "409": {
            "description": "Conflict - An instance with the same key values already exists. Key attributes: CLIE_NOMBRE, CLIE_CUIT, CLIE_CODIGO"
          }
        }
      }
    },
    "/CLIENTE/{id}": {
      "get": {
        "tags": [
          "Empresa"
        ],
        "description": "Get a Empresa by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Empresa id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "description": "Whether to include child entities in the response (default: true)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includeTransitions",
            "in": "query",
            "description": "Whether to include the state transitions available for this instance, as `transitions` (default: false)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeFkTexts",
            "in": "query",
            "description": "Whether to include `attsFkTexts`: the descriptive text behind every foreign key / user / profile / fixed-value attribute, keyed by physical name (default: false). Use it to show \"Acme S.A.\" where the attribute carries `9744`. Opt-in because it costs one query per foreign key attribute.",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Instance unique identifier",
                      "type": "integer"
                    },
                    "ESTA_NOMBRE": {
                      "title": "State name",
                      "type": "string",
                      "nullable": true
                    },
                    "ESTA_CODIGO": {
                      "title": "State code",
                      "type": "integer",
                      "nullable": true
                    },
                    "AUDI_FECHA_ALTA": {
                      "title": "Creation date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "AUDI_FECHA_MODIF": {
                      "title": "Last modification date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "CLIE_NOMBRE": {
                      "title": "Nombre",
                      "type": "string",
                      "nullable": true
                    },
                    "CLIE_RAZON_SOCIAL": {
                      "title": "Razón Social",
                      "type": "string"
                    },
                    "TIDD_ID_TIDD": {
                      "title": "Tipo de documento",
                      "type": "integer",
                      "description": "Foreign key to Tipo de Documento",
                      "nullable": true
                    },
                    "CLIE_CUIT": {
                      "title": "CUIT/Documento",
                      "type": "string",
                      "nullable": true
                    },
                    "CLIE_CODIGO": {
                      "title": "Código",
                      "type": "string",
                      "description": "Código interno opcional para identificar a la empresa",
                      "nullable": true
                    },
                    "CLIE_ISOLOGO": {
                      "title": "Isologo",
                      "type": "integer",
                      "nullable": true
                    },
                    "CLIE_SALDO_DE_AJUSTES": {
                      "title": "Saldo no imputado de ajustes",
                      "type": "number",
                      "description": "Campo en desuso.",
                      "nullable": true
                    },
                    "CLIE_SALDO_CLIENTE": {
                      "title": "Saldo no imputado  de Cliente",
                      "type": "number",
                      "description": ">0: Dinero de más que se le cobró al cliente",
                      "nullable": true
                    },
                    "CLIE_SALDO_PROVEEDOR": {
                      "title": "Saldo no imputado  de Proveedor",
                      "type": "number",
                      "description": ">0: Dinero de más que se le pagó al proveedor.",
                      "nullable": true
                    },
                    "CLIE_DIFERENCIA_SALDOS": {
                      "title": "Diferencia Saldos",
                      "type": "number",
                      "description": "Saldo Cliente - Saldo Proveedor",
                      "nullable": true
                    },
                    "CLIE_ACTIVO": {
                      "title": "Activo (cliente)",
                      "type": "boolean",
                      "description": "Un cliente está Activo, si se le puede facturar",
                      "nullable": true
                    },
                    "CUCO_ID_CUCO": {
                      "title": "Cuenta contable (como cliente)",
                      "type": "integer",
                      "description": "Foreign key to Cuenta contable",
                      "nullable": true
                    },
                    "CLIE_ACTIVO_P": {
                      "title": "Activo (Proveedor)",
                      "type": "boolean",
                      "nullable": true
                    },
                    "CUCO_ID_CUPR": {
                      "title": "Cuenta contable (como proveedor)",
                      "type": "integer",
                      "description": "Foreign key to Cuenta contable",
                      "nullable": true
                    },
                    "CLIE_SOL_ACT_DATOS": {
                      "title": "Solicitar actualización de datos",
                      "type": "boolean",
                      "description": "Si se marca este campo se le pedirá al proveedor que actualice sus datos en el Frontend de Proveedores.",
                      "nullable": true
                    },
                    "CUCO_ID_CUGA": {
                      "title": "Cuenta de Gastos Default",
                      "type": "integer",
                      "description": "Foreign key to Cuenta contable",
                      "nullable": true
                    },
                    "PROY_ID_PROY": {
                      "title": "Centro de costos default",
                      "type": "integer",
                      "description": "Centro de costo que se propone automáticamente en las facturas de compra emitidas por este proveedor. Sólo se aplica cuando la factura no tiene un centro informado manualmente ni utiliza centros de costo asociados; nunca reemplaza esos valores.\nForeign key to Centro de costos",
                      "nullable": true
                    },
                    "LIDP_ID_LIDP": {
                      "title": "Lista de Precio",
                      "type": "integer",
                      "description": "Foreign key to Lista de precios de venta",
                      "nullable": true
                    },
                    "COVE_ID_COVE": {
                      "title": "Condición de Venta",
                      "type": "integer",
                      "description": "Foreign key to Condición de venta",
                      "nullable": true
                    },
                    "COIV_ID_COIV": {
                      "title": "Condición IVA",
                      "type": "integer",
                      "description": "Foreign key to Condición de impuesto",
                      "nullable": true
                    },
                    "VEHA_ID_VEHA": {
                      "title": "Vendedor",
                      "type": "integer",
                      "description": "Foreign key to Vendedor",
                      "nullable": true
                    },
                    "TRLO_ID_TRLO": {
                      "title": "Transp. Logistico",
                      "type": "integer",
                      "description": "Foreign key to Transport. Logística",
                      "nullable": true
                    },
                    "TIDC_ID_TIDC": {
                      "title": "Tipo de Cliente",
                      "type": "integer",
                      "description": "Foreign key to Tipo de Cliente",
                      "nullable": true
                    },
                    "MEDE_ID_MEDE": {
                      "title": "Método de envío",
                      "type": "integer",
                      "description": "Foreign key to Método de envío",
                      "nullable": true
                    },
                    "CLIE_PASSWORD": {
                      "title": "Password",
                      "type": "string",
                      "nullable": true
                    },
                    "CLIE_FRECU_COMPRA_DIAS": {
                      "title": "Proveedor - Frecuencia de compra (días)",
                      "type": "integer",
                      "description": "Cantidad de días estimada entre compras al proveedor.",
                      "nullable": true
                    },
                    "CLIE_OBSERVACIONES": {
                      "title": "Observaciones",
                      "type": "string",
                      "nullable": true
                    },
                    "CLIE_INFO": {
                      "title": "Info",
                      "type": "string",
                      "nullable": true
                    },
                    "CLIE_CODIGO_DIARIO": {
                      "title": "Código Diario",
                      "type": "string",
                      "description": "D - Es día pero no hay tarifas activas\nN - No es día\nP - Pendiente de facturación\nF - Facturado",
                      "nullable": true
                    },
                    "CLIE_PERMITIR_DUPLICAR_CU": {
                      "title": "Permitir duplicar CUIT",
                      "type": "boolean",
                      "description": "Si se marca esta opción, se permitirá cargar dos empresas con distinto nombre pero con el mismo CUIT",
                      "nullable": true
                    },
                    "CLIE_GLN": {
                      "title": "GLN",
                      "type": "string",
                      "description": "Para más información: http://www.gs1.org.ar",
                      "nullable": true
                    },
                    "CLIE_LATITUD": {
                      "title": "Latitud",
                      "type": "number",
                      "nullable": true
                    },
                    "CLIE_LONGITUD": {
                      "title": "Longitud",
                      "type": "number",
                      "nullable": true
                    },
                    "CLIE_MAIL": {
                      "title": "Mail",
                      "type": "string",
                      "nullable": true
                    },
                    "CLIE_NO_AJUSTAR_POR_TENEN": {
                      "title": "No ajustar por tenencia",
                      "type": "boolean",
                      "description": "Si está marcado, no se contempla para el Ajuste por tenencia.",
                      "nullable": true
                    },
                    "CLIE_NO_USAR_WEB": {
                      "title": "No utilizar en ventas e-commerce",
                      "type": "boolean",
                      "description": "Si está marcado, no se usará este cliente para las ventas que bajen de la web. Se creará otro análogo con un \"(web)\" al final.",
                      "nullable": true
                    },
                    "CLIE_ALERTA_FINANCIERA": {
                      "title": "Alerta Financiera",
                      "type": "string",
                      "nullable": true
                    },
                    "CLIE_NO_INCLU_REPO_PAGOS": {
                      "title": "No incluir en el reporte de pagos",
                      "type": "boolean",
                      "description": "Si está marcado, no se incluirá este cliente en el reporte de pagos.",
                      "nullable": true
                    },
                    "CLIE_INFOR_ALERTE": {
                      "title": "Infor Alerte",
                      "type": "string",
                      "nullable": true
                    },
                    "CLIE_TIPO_DE_OPERACION_FC": {
                      "title": "Tipo de Operacion FC",
                      "enum": [
                        "SCA",
                        "ADC"
                      ],
                      "type": "string",
                      "description": "Según lo definido, se pisará sobre todas las facturas de esta empresa.",
                      "nullable": true
                    },
                    "SUCU_ID_SUCU": {
                      "title": "Sucursal Propia",
                      "type": "integer",
                      "description": "Foreign key to Sucursal",
                      "nullable": true
                    },
                    "CLIE_CODIGO_BANELCO": {
                      "title": "Código Banelco",
                      "type": "integer",
                      "description": "Código usado para el reporte de Pago Mis Cuentas",
                      "nullable": true
                    },
                    "CLIE_WEB": {
                      "title": "Web",
                      "type": "string",
                      "nullable": true
                    },
                    "CLIE_DOMICILIO": {
                      "title": "Domicilio",
                      "type": "string",
                      "nullable": true
                    },
                    "CLIE_DOMICILIO_2": {
                      "title": "Domicilio Secundario",
                      "type": "string",
                      "nullable": true
                    },
                    "CLIE_CP": {
                      "title": "CP",
                      "type": "string",
                      "nullable": true
                    },
                    "PAIS_ID_PAIS": {
                      "title": "País",
                      "type": "integer",
                      "description": "Foreign key to País",
                      "nullable": true
                    },
                    "PROV_ID_PROV": {
                      "title": "Provincia / Estado",
                      "type": "integer",
                      "description": "Foreign key to Provincia",
                      "nullable": true
                    },
                    "CLIE_LOCALIDAD": {
                      "title": "Localidad",
                      "type": "string",
                      "nullable": true
                    },
                    "CLIE_TE1": {
                      "title": "TE 1",
                      "type": "string",
                      "nullable": true
                    },
                    "CLIE_TE2": {
                      "title": "TE 2",
                      "type": "string",
                      "nullable": true
                    },
                    "CLIE_FAX": {
                      "title": "FAX",
                      "type": "string",
                      "nullable": true
                    },
                    "CLIE_ARHC_ID_1093": {
                      "title": "Adjunto",
                      "type": "integer",
                      "nullable": true
                    },
                    "CLIE_DIA_FACTURACION": {
                      "title": "Día de facturación",
                      "type": "integer",
                      "nullable": true
                    },
                    "SEYI_ID_SEYI": {
                      "title": "Servicio",
                      "type": "integer",
                      "description": "Foreign key to Servicio",
                      "nullable": true
                    },
                    "CLIE_PLAZO_DIAS_DE_PAGO": {
                      "title": "Plazo días de pago",
                      "type": "integer",
                      "nullable": true
                    },
                    "CLIE_DESCUENTO_PAGO_TEMP": {
                      "title": "% Descuento por pago temprano",
                      "type": "number",
                      "nullable": true
                    },
                    "CLIE_SE_FACTURA_MES_VENCI": {
                      "title": "Se factura mes vencido",
                      "type": "boolean",
                      "nullable": true
                    },
                    "CLIE_CONCEPTO_DE_SERVICIO": {
                      "title": "Concepto de servicio",
                      "type": "string",
                      "nullable": true
                    },
                    "CLIE_INICIO_SERVICIO": {
                      "title": "Inicio de servicio",
                      "type": "string",
                      "description": "Es la fecha en la cual se inicia el primer servicio con el cliente.-",
                      "nullable": true
                    },
                    "CLIE_ANTIGUEDAD": {
                      "title": "Antigüedad (años)",
                      "type": "number",
                      "nullable": true
                    },
                    "CLIE_NO_NOTIFICAR_VENCIMI": {
                      "title": "No notificar vencimientos a este mail",
                      "type": "boolean",
                      "nullable": true
                    },
                    "CLIE_ID_INTEGRACION_ML": {
                      "title": "Id integración ML",
                      "type": "string",
                      "nullable": true
                    },
                    "CLIE_NICKNAME_ML": {
                      "title": "NickName ML",
                      "type": "string",
                      "nullable": true
                    },
                    "CLIE_ID_INTEGRACION_TN": {
                      "title": "Id integración TN",
                      "type": "integer",
                      "nullable": true
                    },
                    "CLIE_CREDITO_MAXIMO_COMO_": {
                      "title": "Crédito máximo como cliente",
                      "type": "number",
                      "nullable": true
                    },
                    "CLIE_DIAS_PARA_FACTURACIO": {
                      "title": "Días para facturación",
                      "type": "integer",
                      "nullable": true
                    },
                    "CLIE_ULTIMA_FECHA_FACT_RE": {
                      "title": "Última fecha fact. recurrente",
                      "type": "string",
                      "nullable": true
                    },
                    "ORCO_ID_ORCO": {
                      "title": "Origen del Contacto",
                      "type": "integer",
                      "description": "Foreign key to Origen del Contacto",
                      "nullable": true
                    },
                    "CLIE_FIRMA_RECIBO": {
                      "title": "Firma Recibo",
                      "type": "integer",
                      "nullable": true
                    },
                    "CLIE_ATENCION_A_PROVEEDOR": {
                      "title": "Atención a proveedores",
                      "type": "string",
                      "nullable": true
                    },
                    "CLIE_PAGO_PROVEEDORES": {
                      "title": "Pago proveedores",
                      "type": "string",
                      "nullable": true
                    },
                    "CLIE_HORARIO_DE_ENTREGA": {
                      "title": "Horario de entrega",
                      "type": "string",
                      "nullable": true
                    },
                    "CAMP_ID_CAMP": {
                      "title": "Campaña",
                      "type": "integer",
                      "description": "Foreign key to Campaña",
                      "nullable": true
                    },
                    "CLIE_TIPO_EMPRESA": {
                      "title": "Tipo empresa",
                      "type": "string",
[...]
