{
  "openapi": "3.0.4",
  "info": {
    "title": "erpdemo.schema Comercial/CRM",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yiqi.com.ar/api/public"
    }
  ],
  "paths": {
    "/ACCION_COMERCIAL": {
      "post": {
        "tags": [
          "Acción comercial"
        ],
        "summary": "Create a Acción comercial.",
        "description": "Creates a Acción comercial",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "ACCO_FECHA": {
                        "title": "Fecha",
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Cliente",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "CONT_ID_CONT": {
                        "title": "Contacto",
                        "type": "integer",
                        "description": " This is a foreign key to Contacto. An id of Contacto is expected",
                        "nullable": true
                      },
                      "TIDA_ID_TIDA": {
                        "title": "Tipo",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de acción. An id of Tipo de acción is expected",
                        "nullable": true
                      },
                      "ACCO_TITULO": {
                        "title": "Título",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ACCO_OBSERVACIONES": {
                        "title": "Observaciones",
                        "maxLength": 80000,
                        "type": "string",
                        "nullable": true
                      },
                      "ACCO_RESPONSABLE": {
                        "title": "Responsable",
                        "type": "integer",
                        "nullable": true
                      },
                      "OPDN_ID_OPOR": {
                        "title": "Oportunidad de negocio",
                        "type": "integer",
                        "description": " This is a foreign key to Oportunidad de Negocio. An id of Oportunidad de Negocio is expected",
                        "nullable": true
                      },
                      "ACCO_ADJUNTO": {
                        "title": "Adjunto",
                        "type": "integer",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ACCION_COMERCIAL/{id}": {
      "get": {
        "tags": [
          "Acción comercial"
        ],
        "description": "Get a Acción comercial by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Acción comercial id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Acción comercial"
        ],
        "summary": "Update a Acción comercial by id.",
        "description": "Update a Acción comercial",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Acción comercial id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "ACCO_FECHA": {
                        "title": "Fecha",
                        "type": "string",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Cliente",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "CONT_ID_CONT": {
                        "title": "Contacto",
                        "type": "integer",
                        "description": " This is a foreign key to Contacto. An id of Contacto is expected",
                        "nullable": true
                      },
                      "TIDA_ID_TIDA": {
                        "title": "Tipo",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de acción. An id of Tipo de acción is expected",
                        "nullable": true
                      },
                      "ACCO_TITULO": {
                        "title": "Título",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "ACCO_OBSERVACIONES": {
                        "title": "Observaciones",
                        "maxLength": 80000,
                        "type": "string",
                        "nullable": true
                      },
                      "ACCO_RESPONSABLE": {
                        "title": "Responsable",
                        "type": "integer",
                        "nullable": true
                      },
                      "OPDN_ID_OPOR": {
                        "title": "Oportunidad de negocio",
                        "type": "integer",
                        "description": " This is a foreign key to Oportunidad de Negocio. An id of Oportunidad de Negocio is expected",
                        "nullable": true
                      },
                      "ACCO_ADJUNTO": {
                        "title": "Adjunto",
                        "type": "integer",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Acción comercial"
        ],
        "summary": "Delete a Acción comercial by id.",
        "description": "Delete a Acción comercial",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Acción comercial id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/ACCION_COMERCIAL/search": {
      "get": {
        "tags": [
          "Acción comercial"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Acción comercial",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ACCO_FECHA",
            "in": "query",
            "description": "Fecha",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ACCO_TITULO",
            "in": "query",
            "description": "Título",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ACCO_RESPONSABLE",
            "in": "query",
            "description": "Responsable",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ACCION_COMERCIAL/smartie": {
      "get": {
        "tags": [
          "Acción comercial"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ACCION_COMERCIAL/changestate": {
      "post": {
        "tags": [
          "Acción comercial"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Cancelada</li>\n<li>Pendiente</li>\n<li>Realizada</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ACCION_COMERCIAL/file": {
      "get": {
        "tags": [
          "Acción comercial"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "enum": [
                "ADJUNTO"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Acción comercial"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "enum": [
                "ADJUNTO"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ACCION_COMERCIAL/report": {
      "get": {
        "tags": [
          "Acción comercial"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/AJUSTE_MASIVO_DE_TAR": {
      "post": {
        "tags": [
          "Ajuste masivo de tarifas"
        ],
        "summary": "Create a Ajuste masivo de tarifas.",
        "description": "Creates a Ajuste masivo de tarifas",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "AMDT_DESDE",
                      "AMDT_PORC_AUMENTO",
                      "LIDP_ID_LIDP"
                    ],
                    "type": "object",
                    "properties": {
                      "AMDT_DESDE": {
                        "title": "Nuevas tarifas desde",
                        "type": "string"
                      },
                      "AMDT_PORC_AUMENTO": {
                        "title": "Aumento (%)",
                        "type": "number",
                        "default": "10"
                      },
                      "LIDP_ID_LIDP": {
                        "title": "Lista de precios",
                        "type": "integer",
                        "description": " This is a foreign key to Lista de precios de venta. An id of Lista de precios de venta is expected",
                        "default": "PARAM.LIDP_ID_LIDP"
                      },
                      "Detalle": {
                        "title": "Detalle",
                        "type": "array",
                        "items": {
                          "title": "Detalle",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CLIE_ID_CLIE": {
                              "title": "Cliente",
                              "type": "integer",
                              "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                              "nullable": true
                            },
                            "SEYI_ID_SEYI": {
                              "title": "Servicio",
                              "type": "integer",
                              "description": " This is a foreign key to Servicio. An id of Servicio is expected",
                              "nullable": true
                            },
                            "DAMT_CANTIDAD": {
                              "title": "Cantidad",
                              "type": "integer",
                              "nullable": true
                            },
                            "DAMT_PRECIO_ANTERIOR": {
                              "title": "Precio anterior",
                              "type": "number",
                              "nullable": true
                            },
                            "DAMT_DESCUENTO_ANTERIOR": {
                              "title": "Descuento Anterior",
                              "type": "number",
                              "nullable": true
                            },
                            "DAMT_PRECIO_NUEVO": {
                              "title": "Precio nuevo",
                              "type": "number",
                              "nullable": true
                            },
                            "DAMT_DESCUENTO_NUEVO": {
                              "title": "Descuento Nuevo",
                              "type": "number",
                              "nullable": true
                            },
                            "TARI_ID_TARI": {
                              "title": "Tarifa",
                              "type": "integer",
                              "description": " This is a foreign key to Tarifa. An id of Tarifa is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Detalle"
                        },
                        "description": "Array of child entities of Detalle"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/AJUSTE_MASIVO_DE_TAR/{id}": {
      "get": {
        "tags": [
          "Ajuste masivo de tarifas"
        ],
        "description": "Get a Ajuste masivo de tarifas by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ajuste masivo de tarifas id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Ajuste masivo de tarifas"
        ],
        "summary": "Update a Ajuste masivo de tarifas by id.",
        "description": "Update a Ajuste masivo de tarifas",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ajuste masivo de tarifas id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "AMDT_DESDE",
                      "AMDT_PORC_AUMENTO",
                      "LIDP_ID_LIDP"
                    ],
                    "type": "object",
                    "properties": {
                      "AMDT_DESDE": {
                        "title": "Nuevas tarifas desde",
                        "type": "string"
                      },
                      "AMDT_PORC_AUMENTO": {
                        "title": "Aumento (%)",
                        "type": "number",
                        "default": "10"
                      },
                      "LIDP_ID_LIDP": {
                        "title": "Lista de precios",
                        "type": "integer",
                        "description": " This is a foreign key to Lista de precios de venta. An id of Lista de precios de venta is expected",
                        "default": "PARAM.LIDP_ID_LIDP"
                      },
                      "Detalle": {
                        "title": "Detalle",
                        "type": "array",
                        "items": {
                          "title": "Detalle",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CLIE_ID_CLIE": {
                              "title": "Cliente",
                              "type": "integer",
                              "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                              "nullable": true
                            },
                            "SEYI_ID_SEYI": {
                              "title": "Servicio",
                              "type": "integer",
                              "description": " This is a foreign key to Servicio. An id of Servicio is expected",
                              "nullable": true
                            },
                            "DAMT_CANTIDAD": {
                              "title": "Cantidad",
                              "type": "integer",
                              "nullable": true
                            },
                            "DAMT_PRECIO_ANTERIOR": {
                              "title": "Precio anterior",
                              "type": "number",
                              "nullable": true
                            },
                            "DAMT_DESCUENTO_ANTERIOR": {
                              "title": "Descuento Anterior",
                              "type": "number",
                              "nullable": true
                            },
                            "DAMT_PRECIO_NUEVO": {
                              "title": "Precio nuevo",
                              "type": "number",
                              "nullable": true
                            },
                            "DAMT_DESCUENTO_NUEVO": {
                              "title": "Descuento Nuevo",
                              "type": "number",
                              "nullable": true
                            },
                            "TARI_ID_TARI": {
                              "title": "Tarifa",
                              "type": "integer",
                              "description": " This is a foreign key to Tarifa. An id of Tarifa is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Detalle"
                        },
                        "description": "Array of child entities of Detalle"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Ajuste masivo de tarifas"
        ],
        "summary": "Delete a Ajuste masivo de tarifas by id.",
        "description": "Delete a Ajuste masivo de tarifas",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ajuste masivo de tarifas id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/AJUSTE_MASIVO_DE_TAR/search": {
      "get": {
        "tags": [
          "Ajuste masivo de tarifas"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Ajuste masivo de tarifas",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "AMDT_DESDE",
            "in": "query",
            "description": "Nuevas tarifas desde",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AMDT_PORC_AUMENTO",
            "in": "query",
            "description": "Aumento (%)",
            "allowEmptyValue": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "LIDP_ID_LIDP",
            "in": "query",
            "description": "Lista de precios",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/AJUSTE_MASIVO_DE_TAR/smartie": {
      "get": {
        "tags": [
          "Ajuste masivo de tarifas"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/AJUSTE_MASIVO_DE_TAR/changestate": {
      "post": {
        "tags": [
          "Ajuste masivo de tarifas"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Pendiente</li>\n<li>Procesado</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/AJUSTE_MASIVO_DE_TAR/file": {
      "get": {
        "tags": [
          "Ajuste masivo de tarifas"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Ajuste masivo de tarifas"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/AJUSTE_MASIVO_DE_TAR/report": {
      "get": {
        "tags": [
          "Ajuste masivo de tarifas"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ANALISIS_DE_GESTION": {
      "post": {
        "tags": [
          "Análisis de gestión"
        ],
        "summary": "Create a Análisis de gestión.",
        "description": "Creates a Análisis de gestión",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "ANDG_PERIODO": {
                        "title": "Período",
                        "type": "string",
                        "nullable": true
                      },
                      "Detalle": {
                        "title": "Detalle",
                        "type": "array",
                        "items": {
                          "title": "Detalle",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            }
                          },
                          "description": "Child entity of Detalle"
                        },
                        "description": "Array of child entities of Detalle"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ANALISIS_DE_GESTION/{id}": {
      "get": {
        "tags": [
          "Análisis de gestión"
        ],
        "description": "Get a Análisis de gestión by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Análisis de gestión id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Análisis de gestión"
        ],
        "summary": "Update a Análisis de gestión by id.",
        "description": "Update a Análisis de gestión",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Análisis de gestión id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "ANDG_PERIODO": {
                        "title": "Período",
                        "type": "string",
                        "nullable": true
                      },
                      "Detalle": {
                        "title": "Detalle",
                        "type": "array",
                        "items": {
                          "title": "Detalle",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            }
                          },
                          "description": "Child entity of Detalle"
                        },
                        "description": "Array of child entities of Detalle"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Análisis de gestión"
        ],
        "summary": "Delete a Análisis de gestión by id.",
        "description": "Delete a Análisis de gestión",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Análisis de gestión id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/ANALISIS_DE_GESTION/search": {
      "get": {
        "tags": [
          "Análisis de gestión"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Análisis de gestión",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ANALISIS_DE_GESTION/smartie": {
      "get": {
        "tags": [
          "Análisis de gestión"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ANALISIS_DE_GESTION/file": {
      "get": {
        "tags": [
          "Análisis de gestión"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Análisis de gestión"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ANALISIS_DE_GESTION/report": {
      "get": {
        "tags": [
          "Análisis de gestión"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CAMPANA": {
      "post": {
        "tags": [
          "Campaña"
        ],
        "summary": "Create a Campaña.",
        "description": "Creates a Campaña",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "ORCO_ID_ORCO",
                      "CAMP_NOMBRE"
                    ],
                    "type": "object",
                    "properties": {
                      "ORCO_ID_ORCO": {
                        "title": "Origen del Contacto",
                        "type": "integer",
                        "description": " This is a foreign key to Origen del Contacto. An id of Origen del Contacto is expected"
                      },
                      "CAMP_NOMBRE": {
                        "title": "Nombre ",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "CAMP_FECHA_LANZAMIENTO": {
                        "title": "Fecha Lanzamiento",
                        "type": "string",
                        "nullable": true
                      },
                      "CAMP_FECHA_CIERRE": {
                        "title": "Fecha Cierre",
                        "type": "string",
                        "nullable": true
                      },
                      "PROY_ID_PROY": {
                        "title": "Centro de costos",
                        "type": "integer",
                        "description": " This is a foreign key to Centro de costos. An id of Centro de costos is expected",
                        "nullable": true
                      },
                      "CAMP_OBJETIVOS_GENERALES": {
                        "title": "Objetivos generales",
                        "type": "string",
                        "nullable": true
                      },
                      "CAMP_DESARROLLO": {
                        "title": "Desarrollo de campaña",
                        "maxLength": 80000,
                        "type": "string",
                        "nullable": true
                      },
                      "CAMP_MONTO_INVERTIDO": {
                        "title": "Monto invertido",
                        "type": "number",
                        "nullable": true
                      },
                      "CAMP_CLICKS_ADWORDS": {
                        "title": "Clicks",
                        "type": "integer",
                        "nullable": true
                      },
                      "CAMP_BOUNCE_RATE": {
                        "title": "Bounce rate",
                        "type": "number",
                        "nullable": true
                      },
                      "CAMP_SESSIONS": {
                        "title": "Sessions",
                        "type": "integer",
                        "nullable": true
                      },
                      "CAMP_FOLLOWS": {
                        "title": "Follows",
                        "type": "integer",
                        "nullable": true
                      },
                      "CAMP_LIKES": {
                        "title": "Likes",
                        "type": "integer",
                        "nullable": true
                      },
                      "CAMP_IMPRESSIONS": {
                        "title": "Impressions",
                        "type": "integer",
                        "nullable": true
                      },
                      "Ons": {
                        "title": "ONs",
                        "type": "array",
                        "items": {
                          "title": "ONs",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CONT_ID_CONT": {
                              "title": "Contacto",
                              "type": "integer",
                              "description": " This is a foreign key to Contacto. An id of Contacto is expected"
                            },
                            "ORCO_ID_ORCO": {
                              "title": "Origen del Contacto",
                              "type": "integer",
                              "description": " This is a foreign key to Origen del Contacto. An id of Origen del Contacto is expected",
                              "nullable": true
                            },
                            "VEHA_ID_VEHA": {
                              "title": "Vendedor",
                              "type": "integer",
                              "description": " This is a foreign key to Vendedor. An id of Vendedor is expected\n This attribute is mandatory when the instance is at state 'Creando Cot. Comercial'",
                              "nullable": true
                            },
                            "OPDN_SOLICITUD_INICIAL": {
                              "title": "Solicitud inicial",
                              "type": "string",
                              "nullable": true
                            },
                            "RUBR_ID_RUBR": {
                              "title": "Rubro",
                              "type": "integer",
                              "description": " This is a foreign key to Rubro. An id of Rubro is expected",
                              "nullable": true
                            },
                            "SUBR_ID_SUBR": {
                              "title": "Subrubro",
                              "type": "integer",
                              "description": " This is a foreign key to Subrubro. An id of Subrubro is expected",
                              "nullable": true
                            },
                            "OPDN_SEGMENTACION_ESPECIA": {
                              "title": "Segmentación Especial",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "OPDN_PROXIMO_CONTACTO": {
                              "title": "Próximo contacto",
                              "type": "string",
                              "nullable": true
                            },
                            "SEYI_ID_SERV": {
                              "title": "Servicio",
                              "type": "integer",
                              "description": " This is a foreign key to Servicio. An id of Servicio is expected",
                              "nullable": true
                            },
                            "RANE_ID_RANE": {
                              "title": "Motivo de rechazo",
                              "type": "integer",
                              "description": " This is a foreign key to Razón de negativa. An id of Razón de negativa is expected\n This attribute is mandatory when the instance is at state 'Desestimada'",
                              "nullable": true
                            },
                            "PRIO_ID_PRIO": {
                              "title": "Prioridad",
                              "type": "integer",
                              "description": " This is a foreign key to Prioridad. An id of Prioridad is expected",
                              "nullable": true
                            },
                            "UNDN_ID_UNDN": {
                              "title": "Unidad de negocio",
                              "type": "integer",
                              "description": " This is a foreign key to Unidad de negocio. An id of Unidad de negocio is expected",
                              "nullable": true
                            },
                            "OPDN_RESPONSABLE": {
                              "title": "Responsable",
                              "type": "integer",
                              "nullable": true
                            },
                            "COVE_ID_COVE": {
                              "title": "Condición de venta",
                              "type": "integer",
                              "description": " This is a foreign key to Condición de venta. An id of Condición de venta is expected",
                              "nullable": true
                            },
                            "TRLO_ID_TRLO": {
                              "title": "Transporte logístico",
                              "type": "integer",
                              "description": " This is a foreign key to Transport. Logística. An id of Transport. Logística is expected",
                              "nullable": true
                            },
                            "OPDN_OBSERVACIONES": {
                              "title": "Observaciones",
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of ONs"
                        },
                        "description": "Array of child entities of ONs"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CAMPANA/{id}": {
      "get": {
        "tags": [
          "Campaña"
        ],
        "description": "Get a Campaña by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaña id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Campaña"
        ],
        "summary": "Update a Campaña by id.",
        "description": "Update a Campaña",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaña id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "ORCO_ID_ORCO",
                      "CAMP_NOMBRE"
                    ],
                    "type": "object",
                    "properties": {
                      "ORCO_ID_ORCO": {
                        "title": "Origen del Contacto",
                        "type": "integer",
                        "description": " This is a foreign key to Origen del Contacto. An id of Origen del Contacto is expected"
                      },
                      "CAMP_NOMBRE": {
                        "title": "Nombre ",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "CAMP_FECHA_LANZAMIENTO": {
                        "title": "Fecha Lanzamiento",
                        "type": "string",
                        "nullable": true
                      },
                      "CAMP_FECHA_CIERRE": {
                        "title": "Fecha Cierre",
                        "type": "string",
                        "nullable": true
                      },
                      "PROY_ID_PROY": {
                        "title": "Centro de costos",
                        "type": "integer",
                        "description": " This is a foreign key to Centro de costos. An id of Centro de costos is expected",
                        "nullable": true
                      },
                      "CAMP_OBJETIVOS_GENERALES": {
                        "title": "Objetivos generales",
                        "type": "string",
                        "nullable": true
                      },
                      "CAMP_DESARROLLO": {
                        "title": "Desarrollo de campaña",
                        "maxLength": 80000,
                        "type": "string",
                        "nullable": true
                      },
                      "CAMP_MONTO_INVERTIDO": {
                        "title": "Monto invertido",
                        "type": "number",
                        "nullable": true
                      },
                      "CAMP_CLICKS_ADWORDS": {
                        "title": "Clicks",
                        "type": "integer",
                        "nullable": true
                      },
                      "CAMP_BOUNCE_RATE": {
                        "title": "Bounce rate",
                        "type": "number",
                        "nullable": true
                      },
                      "CAMP_SESSIONS": {
                        "title": "Sessions",
                        "type": "integer",
                        "nullable": true
                      },
                      "CAMP_FOLLOWS": {
                        "title": "Follows",
                        "type": "integer",
                        "nullable": true
                      },
                      "CAMP_LIKES": {
                        "title": "Likes",
                        "type": "integer",
                        "nullable": true
                      },
                      "CAMP_IMPRESSIONS": {
                        "title": "Impressions",
                        "type": "integer",
                        "nullable": true
                      },
                      "Ons": {
                        "title": "ONs",
                        "type": "array",
                        "items": {
                          "title": "ONs",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "CONT_ID_CONT": {
                              "title": "Contacto",
                              "type": "integer",
                              "description": " This is a foreign key to Contacto. An id of Contacto is expected"
                            },
                            "ORCO_ID_ORCO": {
                              "title": "Origen del Contacto",
                              "type": "integer",
                              "description": " This is a foreign key to Origen del Contacto. An id of Origen del Contacto is expected",
                              "nullable": true
                            },
                            "VEHA_ID_VEHA": {
                              "title": "Vendedor",
                              "type": "integer",
                              "description": " This is a foreign key to Vendedor. An id of Vendedor is expected\n This attribute is mandatory when the instance is at state 'Creando Cot. Comercial'",
                              "nullable": true
                            },
                            "OPDN_SOLICITUD_INICIAL": {
                              "title": "Solicitud inicial",
                              "type": "string",
                              "nullable": true
                            },
                            "RUBR_ID_RUBR": {
                              "title": "Rubro",
                              "type": "integer",
                              "description": " This is a foreign key to Rubro. An id of Rubro is expected",
                              "nullable": true
                            },
                            "SUBR_ID_SUBR": {
                              "title": "Subrubro",
                              "type": "integer",
                              "description": " This is a foreign key to Subrubro. An id of Subrubro is expected",
                              "nullable": true
                            },
                            "OPDN_SEGMENTACION_ESPECIA": {
                              "title": "Segmentación Especial",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "OPDN_PROXIMO_CONTACTO": {
                              "title": "Próximo contacto",
                              "type": "string",
                              "nullable": true
                            },
                            "SEYI_ID_SERV": {
                              "title": "Servicio",
                              "type": "integer",
                              "description": " This is a foreign key to Servicio. An id of Servicio is expected",
                              "nullable": true
                            },
                            "RANE_ID_RANE": {
                              "title": "Motivo de rechazo",
                              "type": "integer",
                              "description": " This is a foreign key to Razón de negativa. An id of Razón de negativa is expected\n This attribute is mandatory when the instance is at state 'Desestimada'",
                              "nullable": true
                            },
                            "PRIO_ID_PRIO": {
                              "title": "Prioridad",
                              "type": "integer",
                              "description": " This is a foreign key to Prioridad. An id of Prioridad is expected",
                              "nullable": true
                            },
                            "UNDN_ID_UNDN": {
                              "title": "Unidad de negocio",
                              "type": "integer",
                              "description": " This is a foreign key to Unidad de negocio. An id of Unidad de negocio is expected",
                              "nullable": true
                            },
                            "OPDN_RESPONSABLE": {
                              "title": "Responsable",
                              "type": "integer",
                              "nullable": true
                            },
                            "COVE_ID_COVE": {
                              "title": "Condición de venta",
                              "type": "integer",
                              "description": " This is a foreign key to Condición de venta. An id of Condición de venta is expected",
                              "nullable": true
                            },
                            "TRLO_ID_TRLO": {
                              "title": "Transporte logístico",
                              "type": "integer",
                              "description": " This is a foreign key to Transport. Logística. An id of Transport. Logística is expected",
                              "nullable": true
                            },
                            "OPDN_OBSERVACIONES": {
                              "title": "Observaciones",
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of ONs"
                        },
                        "description": "Array of child entities of ONs"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Campaña"
        ],
        "summary": "Delete a Campaña by id.",
        "description": "Delete a Campaña",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaña id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/CAMPANA/search": {
      "get": {
        "tags": [
          "Campaña"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Campaña",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "CAMP_NOMBRE",
            "in": "query",
            "description": "Nombre ",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CAMP_FECHA_LANZAMIENTO",
            "in": "query",
            "description": "Fecha Lanzamiento",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ORCO_ID_ORCO",
            "in": "query",
            "description": "Origen del Contacto",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CAMPANA/smartie": {
      "get": {
        "tags": [
          "Campaña"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CAMPANA/file": {
      "get": {
        "tags": [
          "Campaña"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Campaña"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CAMPANA/report": {
      "get": {
        "tags": [
          "Campaña"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/CONSULTA_COMERCIAL": {
      "post": {
        "tags": [
          "Consulta comercial"
        ],
        "summary": "Create a Consulta comercial.",
        "description": "Creates a Consulta comercial",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "COCO_CONTACTO"
                    ],
                    "type": "object",
                    "properties": {
                      "COCO_CONTACTO": {
                        "title": "Contacto",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "COCO_CLIENTE": {
                        "title": "Cliente",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "COCO_CONSULTA": {
                        "title": "Consulta",
                        "type": "string",
                        "nullable": true
                      },
                      "COCO_TELEFONO": {
                        "title": "Teléfono",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "COCO_MAIL": {
                        "title": "Mail",
                        "type": "string",
                        "nullable": true
                      },
                      "ORCO_ID_ORCO": {
                        "title": "Origen del Contacto",
                        "type": "integer",
                        "description": " This is a foreign key to Origen del Contacto. An id of Origen del Contacto is expected",
                        "nullable": true
                      },
                      "CAMP_ID_CAMP": {
                        "title": "Campaña",
                        "type": "integer",
                        "description": " This is a foreign key to Campaña. An id of Campaña is expected",
                        "nullable": true
                      },
                      "OPDN_ID_OPDN": {
                        "title": "Oportunidad de negocio",
                        "type": "integer",
                        "description": " This is a foreign key to Oportunidad de Negocio. An id of Oportunidad de Negocio is expected",
                        "nullable": true
                      },
                      "UNDN_ID_UNDN": {
                        "title": "Unidad de negocio",
                        "type": "integer",
                        "description": " This is a foreign key to Unidad de negocio. An id of Unidad de negocio is expected",
                        "nullable": true
                      },
                      "COCO_ORIGEN_TEXTO": {
                        "title": "Origen del contacto (texto)",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "COCO_CAMPANA_TEXTO": {
                        "title": "Campaña (texto)",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "COCO_CUIT": {
                        "title": "DNI/CUIT",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "COCO_FORMA_DE_PAGO": {
                        "title": "Forma de pago",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "COCO_DIRECCION_DE_FACTURA": {
                        "title": "Dirección de facturación",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "COCO_DIRECCION_DE_ENTREGA": {
                        "title": "Dirección de entrega",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "COCO_CONDICION_DE_IVA": {
                        "title": "Condición de IVA",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "COCO_LOCALIDAD": {
                        "title": "Localidad",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "COCO_PROVINCIA": {
                        "title": "Provincia",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "COCO_COMENTARIOS": {
                        "title": "Comentarios",
                        "type": "string",
                        "nullable": true
                      },
                      "COCO_TRANSPORTE_LOGISTICA": {
                        "title": "Transporte logística",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "VEHA_ID_VEHA": {
                        "title": "Vendedor",
                        "type": "integer",
                        "description": " This is a foreign key to Vendedor. An id of Vendedor is expected",
                        "nullable": true
                      },
                      "COCO_VENDEDOR": {
                        "title": "Vendedor Texto",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/CONSULTA_COMERCIAL/{id}": {
      "get": {
        "tags": [
          "Consulta comercial"
        ],
        "description": "Get a Consulta comercial by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Consulta comercial id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Consulta comercial"
        ],
        "summary": "Update a Consulta comercial by id.",
        "description": "Update a Consulta comercial",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Consulta comercial id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
[...]
