{
  "openapi": "3.0.4",
  "info": {
    "title": "erpdemo.schema Calidad",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yiqi.com.ar/api/public"
    }
  ],
  "paths": {
    "/ACCION_DE_AR": {
      "post": {
        "tags": [
          "Aviso de Riesgo / Acción de AR"
        ],
        "summary": "Create a Acción de AR.",
        "description": "Creates a new instance of Acción de AR.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "ACDA_TITULO": {
                        "title": "Medida",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "AVDR_ID_AVDR": {
                        "title": "Aviso de Riesgo",
                        "type": "integer",
                        "description": " This is a foreign key to Aviso de riesgo. An id of Aviso de riesgo is expected\n This attribute is mandatory when the instance is at state 'Pendiente de confirmación'",
                        "nullable": true
                      },
                      "SECT_ID_SECT": {
                        "title": "Gerencia",
                        "type": "integer",
                        "description": " This is a foreign key to Gerencia. An id of Gerencia is expected",
                        "nullable": true
                      },
                      "ACDA_RESPONSABLE": {
                        "title": "Responsable",
                        "type": "integer",
                        "nullable": true
                      },
                      "TIDA_ID_TIDA": {
                        "title": "Tipo de acción",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de acción comercial. An id of Tipo de acción comercial is expected",
                        "nullable": true
                      },
                      "ACDA_FECHA_ACORDADA": {
                        "title": "Fecha acordada",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Pendiente de confirmación'",
                        "nullable": true
                      },
                      "ACDA_FECHA_DE_CIERRE": {
                        "title": "Fecha de cierre",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Finalizada'",
                        "nullable": true
                      },
                      "ACDA_DESVIO": {
                        "title": "Desvío",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACDA_PROXIMO_NUMERO": {
                        "title": "Proximo Nro",
                        "type": "integer",
                        "nullable": true
                      }
                    },
                    "description": "Instance data"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request processed. Check `ok`: a business validation failure also returns HTTP 200, with ok=false and the reason in `error`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "True if the instance was saved. Business validation failures are reported as HTTP 200 with ok=false and a message in `error` - always check this flag."
                    },
                    "newId": {
                      "type": "integer",
                      "description": "Id of the saved Acción de AR (the new id when creating, the same id when updating). This is the field that carries the identifier - there is no `id` field in this response."
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message when ok=false. Null on success.",
                      "nullable": true
                    },
                    "parameter": {
                      "type": "string",
                      "description": "The full saved instance, serialized as a JSON **string** (not a nested object) - same content as GET /ACCION_DE_AR/{id} with includeChildren=true. Parse it to read it.",
                      "nullable": true
                    }
                  },
                  "example": {
                    "ok": true,
                    "newId": 12345,
                    "error": null,
                    "parameter": "{\"id\":12345, ...}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data, missing required fields, or a field the caller is not allowed to write (`errors` names which one, keyed by its path in the payload)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "description": "Per-field errors (RFC 7807 ValidationProblemDetails), keyed by the field's path in the request payload. The key is the physical attribute name for a header field (`ORDV_CLIE_ID`), or the full path including the row index for a field inside a nested child collection (`Cobros[0].COBR_R_D_TARJETA`). `title` stays generic, so this is where the offending field is named.",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`).\n\nWhen the payload includes a field the caller is not allowed to write, `errors` names which one - do not parse `title` for it, it is deliberately generic."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to create instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Duplicate instance detected"
          }
        }
      }
    },
    "/ACCION_DE_AR/{id}": {
      "get": {
        "tags": [
          "Aviso de Riesgo / Acción de AR"
        ],
        "description": "Get a Acción de AR by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Acción de AR id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "description": "Whether to include child entities in the response (default: true)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includeTransitions",
            "in": "query",
            "description": "Whether to include the state transitions available for this instance, as `transitions` (default: false)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeFkTexts",
            "in": "query",
            "description": "Whether to include `attsFkTexts`: the descriptive text behind every foreign key / user / profile / fixed-value attribute, keyed by physical name (default: false). Use it to show \"Acme S.A.\" where the attribute carries `9744`. Opt-in because it costs one query per foreign key attribute.",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Instance unique identifier",
                      "type": "integer"
                    },
                    "ESTA_NOMBRE": {
                      "title": "State name",
                      "type": "string",
                      "nullable": true
                    },
                    "ESTA_CODIGO": {
                      "title": "State code",
                      "type": "integer",
                      "nullable": true
                    },
                    "AUDI_FECHA_ALTA": {
                      "title": "Creation date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "AUDI_FECHA_MODIF": {
                      "title": "Last modification date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "ACDA_NRO": {
                      "title": "Nro",
                      "type": "string",
                      "nullable": true
                    },
                    "ACDA_TITULO": {
                      "title": "Medida",
                      "type": "string",
                      "nullable": true
                    },
                    "AVDR_ID_AVDR": {
                      "title": "Aviso de Riesgo",
                      "type": "integer",
                      "description": "Foreign key to Aviso de riesgo",
                      "nullable": true
                    },
                    "SECT_ID_SECT": {
                      "title": "Gerencia",
                      "type": "integer",
                      "description": "Foreign key to Gerencia",
                      "nullable": true
                    },
                    "CLIE_ID_CLIE": {
                      "title": "Cliente del sector",
                      "type": "integer",
                      "description": "Foreign key to Empresa",
                      "nullable": true
                    },
                    "ACDA_RESPONSABLE": {
                      "title": "Responsable",
                      "type": "integer",
                      "nullable": true
                    },
                    "TIDA_ID_TIDA": {
                      "title": "Tipo de acción",
                      "type": "integer",
                      "description": "Foreign key to Tipo de acción comercial",
                      "nullable": true
                    },
                    "ACDA_FECHA_ACORDADA": {
                      "title": "Fecha acordada",
                      "type": "string",
                      "nullable": true
                    },
                    "ACDA_FECHA_DE_CIERRE": {
                      "title": "Fecha de cierre",
                      "type": "string",
                      "nullable": true
                    },
                    "ACDA_DESVIO": {
                      "title": "Desvío",
                      "type": "integer",
                      "nullable": true
                    },
                    "ACDA_FECHA_OBLIGATORIA": {
                      "title": "Fecha de confirmación obligatoria",
                      "type": "string",
                      "nullable": true
                    },
                    "ACDA_DIAS_A_CONFIRMACION": {
                      "title": "Días a confirmación",
                      "type": "integer",
                      "nullable": true
                    },
                    "ACDA_ESTADO_AC": {
                      "title": "Situación de acción",
                      "type": "string",
                      "nullable": true
                    },
                    "ACDA_ESTADO_VENCIDA": {
                      "title": "Estado vencida",
                      "type": "integer",
                      "nullable": true
                    },
                    "ACDA_OPERACION_DE_AR": {
                      "title": "Operación de AR",
                      "type": "string",
                      "nullable": true
                    },
                    "ACDA_BASE_OPERATIVA": {
                      "title": "Base Operativa",
                      "type": "string",
                      "nullable": true
                    },
                    "ACDA_PROXIMO_NUMERO": {
                      "title": "Proximo Nro",
                      "type": "integer",
                      "nullable": true
                    },
                    "ACDA_DIAS_A_VENCIMIENTO": {
                      "title": "Días a vencimiento",
                      "type": "integer",
                      "nullable": true
                    },
                    "transitions": {
                      "title": "Available state transitions",
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "State transitions available for this instance (included when includeTransitions=true)"
                    },
                    "attsFkTexts": {
                      "title": "Foreign key texts",
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Descriptive text of every foreign key / user / profile / fixed-value attribute that has a value, keyed by physical name (included when includeFkTexts=true). Example: `\"TIDD_ID_TIDD\": \"CUIT\"`. Attributes without a value are omitted, not returned as empty."
                    }
                  },
                  "description": "A Acción de AR instance.\n\nOnly Acción de AR's own attributes are returned here: a foreign key travels as its id (e.g. `XXXX_ID_XXXX`), not as the referenced instance's description. Columns joined from related entities (aliased `<fkPrefix>_<ATTRIBUTE>`, e.g. `TIDD_NOMBRE`) do exist, but they are list columns: request them explicitly through `POST /ACCION_DE_AR/query` (the `field` enum there lists every available column, related ones included) or add them to a smartie. For a single instance, `GET /ACCION_DE_AR/{id}?includeFkTexts=true` returns `attsFkTexts` with the descriptive text behind each foreign key."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity or instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Aviso de Riesgo / Acción de AR"
        ],
        "summary": "Update a Acción de AR by id.",
        "description": "Update a Acción de AR. The id in the path wins: it is written over `data.id` before saving, so it does not need to be repeated in the body.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Acción de AR id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "ACDA_TITULO": {
                        "title": "Medida",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "AVDR_ID_AVDR": {
                        "title": "Aviso de Riesgo",
                        "type": "integer",
                        "description": " This is a foreign key to Aviso de riesgo. An id of Aviso de riesgo is expected\n This attribute is mandatory when the instance is at state 'Pendiente de confirmación'",
                        "nullable": true
                      },
                      "SECT_ID_SECT": {
                        "title": "Gerencia",
                        "type": "integer",
                        "description": " This is a foreign key to Gerencia. An id of Gerencia is expected",
                        "nullable": true
                      },
                      "ACDA_RESPONSABLE": {
                        "title": "Responsable",
                        "type": "integer",
                        "nullable": true
                      },
                      "TIDA_ID_TIDA": {
                        "title": "Tipo de acción",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de acción comercial. An id of Tipo de acción comercial is expected",
                        "nullable": true
                      },
                      "ACDA_FECHA_ACORDADA": {
                        "title": "Fecha acordada",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Pendiente de confirmación'",
                        "nullable": true
                      },
                      "ACDA_FECHA_DE_CIERRE": {
                        "title": "Fecha de cierre",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Finalizada'",
                        "nullable": true
                      },
                      "ACDA_DESVIO": {
                        "title": "Desvío",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACDA_PROXIMO_NUMERO": {
                        "title": "Proximo Nro",
                        "type": "integer",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request processed. Check `ok`: a business validation failure also returns HTTP 200, with ok=false and the reason in `error`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "True if the instance was saved. Business validation failures are reported as HTTP 200 with ok=false and a message in `error` - always check this flag."
                    },
                    "newId": {
                      "type": "integer",
                      "description": "Id of the saved Acción de AR (the new id when creating, the same id when updating). This is the field that carries the identifier - there is no `id` field in this response."
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message when ok=false. Null on success.",
                      "nullable": true
                    },
                    "parameter": {
                      "type": "string",
                      "description": "The full saved instance, serialized as a JSON **string** (not a nested object) - same content as GET /ACCION_DE_AR/{id} with includeChildren=true. Parse it to read it.",
                      "nullable": true
                    }
                  },
                  "example": {
                    "ok": true,
                    "newId": 12345,
                    "error": null,
                    "parameter": "{\"id\":12345, ...}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data, missing required fields, or a field the caller is not allowed to write (`errors` names which one, keyed by its path in the payload)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "description": "Per-field errors (RFC 7807 ValidationProblemDetails), keyed by the field's path in the request payload. The key is the physical attribute name for a header field (`ORDV_CLIE_ID`), or the full path including the row index for a field inside a nested child collection (`Cobros[0].COBR_R_D_TARJETA`). `title` stays generic, so this is where the offending field is named.",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`).\n\nWhen the payload includes a field the caller is not allowed to write, `errors` names which one - do not parse `title` for it, it is deliberately generic."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to edit instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity or instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Duplicate instance detected"
          }
        }
      },
      "delete": {
        "tags": [
          "Aviso de Riesgo / Acción de AR"
        ],
        "summary": "Delete a Acción de AR by id.",
        "description": "Delete a Acción de AR",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Acción de AR id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Result message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - entity name empty or id not greater than 0",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to delete instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity or instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/ACCION_DE_AR/search": {
      "get": {
        "tags": [
          "Aviso de Riesgo / Acción de AR"
        ],
        "summary": "Fast search endpoint. Returns a capped, non-paginated set of Acción de AR records; prefer /query for controlled, production-grade listings.",
        "description": "Performs a lightweight search over Acción de AR instances. Every query parameter below that matches an attribute's physical name is applied as an equality filter; omit them all to list the first records. The result set is capped and not paginated, so this endpoint is meant for quick lookups. For production listings that require configurable pagination, explicit column selection, or advanced filters, prefer /query.\n\nOnly Acción de AR's own attributes are returned here: a foreign key travels as its id (e.g. `XXXX_ID_XXXX`), not as the referenced instance's description. Columns joined from related entities (aliased `<fkPrefix>_<ATTRIBUTE>`, e.g. `TIDD_NOMBRE`) do exist, but they are list columns: request them explicitly through `POST /ACCION_DE_AR/query` (the `field` enum there lists every available column, related ones included) or add them to a smartie. For a single instance, `GET /ACCION_DE_AR/{id}?includeFkTexts=true` returns `attsFkTexts` with the descriptive text behind each foreign key.",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching instances, as a flat array (not wrapped in an object). Child entities are not included.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "title": "Instance unique identifier",
                        "type": "integer"
                      },
                      "ESTA_NOMBRE": {
                        "title": "State name",
                        "type": "string",
                        "nullable": true
                      },
                      "ESTA_CODIGO": {
                        "title": "State code",
                        "type": "integer",
                        "nullable": true
                      },
                      "AUDI_FECHA_ALTA": {
                        "title": "Creation date",
                        "type": "string",
                        "format": "date-time"
                      },
                      "AUDI_FECHA_MODIF": {
                        "title": "Last modification date",
                        "type": "string",
                        "format": "date-time"
                      },
                      "ACDA_NRO": {
                        "title": "Nro",
                        "type": "string",
                        "nullable": true
                      },
                      "ACDA_TITULO": {
                        "title": "Medida",
                        "type": "string",
                        "nullable": true
                      },
                      "AVDR_ID_AVDR": {
                        "title": "Aviso de Riesgo",
                        "type": "integer",
                        "description": "Foreign key to Aviso de riesgo",
                        "nullable": true
                      },
                      "SECT_ID_SECT": {
                        "title": "Gerencia",
                        "type": "integer",
                        "description": "Foreign key to Gerencia",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Cliente del sector",
                        "type": "integer",
                        "description": "Foreign key to Empresa",
                        "nullable": true
                      },
                      "ACDA_RESPONSABLE": {
                        "title": "Responsable",
                        "type": "integer",
                        "nullable": true
                      },
                      "TIDA_ID_TIDA": {
                        "title": "Tipo de acción",
                        "type": "integer",
                        "description": "Foreign key to Tipo de acción comercial",
                        "nullable": true
                      },
                      "ACDA_FECHA_ACORDADA": {
                        "title": "Fecha acordada",
                        "type": "string",
                        "nullable": true
                      },
                      "ACDA_FECHA_DE_CIERRE": {
                        "title": "Fecha de cierre",
                        "type": "string",
                        "nullable": true
                      },
                      "ACDA_DESVIO": {
                        "title": "Desvío",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACDA_FECHA_OBLIGATORIA": {
                        "title": "Fecha de confirmación obligatoria",
                        "type": "string",
                        "nullable": true
                      },
                      "ACDA_DIAS_A_CONFIRMACION": {
                        "title": "Días a confirmación",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACDA_ESTADO_AC": {
                        "title": "Situación de acción",
                        "type": "string",
                        "nullable": true
                      },
                      "ACDA_ESTADO_VENCIDA": {
                        "title": "Estado vencida",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACDA_OPERACION_DE_AR": {
                        "title": "Operación de AR",
                        "type": "string",
                        "nullable": true
                      },
                      "ACDA_BASE_OPERATIVA": {
                        "title": "Base Operativa",
                        "type": "string",
                        "nullable": true
                      },
                      "ACDA_PROXIMO_NUMERO": {
                        "title": "Proximo Nro",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACDA_DIAS_A_VENCIMIENTO": {
                        "title": "Días a vencimiento",
                        "type": "integer",
                        "nullable": true
                      }
                    },
                    "description": "A Acción de AR instance.\n\nOnly Acción de AR's own attributes are returned here: a foreign key travels as its id (e.g. `XXXX_ID_XXXX`), not as the referenced instance's description. Columns joined from related entities (aliased `<fkPrefix>_<ATTRIBUTE>`, e.g. `TIDD_NOMBRE`) do exist, but they are list columns: request them explicitly through `POST /ACCION_DE_AR/query` (the `field` enum there lists every available column, related ones included) or add them to a smartie. For a single instance, `GET /ACCION_DE_AR/{id}?includeFkTexts=true` returns `attsFkTexts` with the descriptive text behind each foreign key."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - entity name empty",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to view this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/ACCION_DE_AR/smartie": {
      "get": {
        "tags": [
          "Aviso de Riesgo / Acción de AR"
        ],
        "summary": "Get a page of a smartie (saved list configuration)",
        "description": "Runs a saved list configuration (columns, filters, sorting) and returns one page of it.\n\n**The keys of each `data` row are the smartie's configured columns, not the entity schema.** A smartie can include columns joined from related entities (aliased `<fkPrefix>_<ATTRIBUTE>`, e.g. `TIDD_NOMBRE`, `ALIV_PORCENTAJE`), which is why the response may contain fields that do not appear in this entity's own attributes. The `columns` array of the response always describes exactly what came back.\n\nColumns whose attribute group the caller cannot see are dropped from both `data` and `columns`. If you need a stable, explicit column set, prefer `POST /ACCION_DE_AR/query`.",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (1-based). Defaults to 1 when omitted. A page past the last one returns an empty `data` with the real `total`.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Rows of the page. Each row is keyed by the smartie's column names (related-entity columns included); `id` and `ESTA_CODIGO` are added when the rows represent instances (i.e. the query does not group or pivot)."
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records matching the query (ignoring pagination)"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Definition of the columns actually returned - the authoritative list of the keys present in `data`"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - entity name or smartieId empty",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token / user could not be resolved"
          },
          "403": {
            "description": "User does not have permission to view this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity not found, or smartie not found for this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/ACCION_DE_AR/query": {
      "post": {
        "tags": [
          "Aviso de Riesgo / Acción de AR"
        ],
        "summary": "Execute dynamic query without persisted smartie",
        "description": "Performs a dynamic query on Acción de AR instances with custom columns, filters, sorting, aggregations, and configurable pagination. Use this endpoint for production-grade listings that require predictable performance, payload control, and advanced filtering. Unlike /search, /query allows explicit column selection and page size configuration, making it the preferred option for list screens, integrations, and high-volume data retrieval scenarios. This endpoint allows ad-hoc queries without requiring a saved smartie configuration.",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Dynamic query parameters including pagination, columns, filters, and search criteria",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "page"
                ],
                "type": "object",
                "properties": {
                  "page": {
                    "minimum": 1,
                    "type": "integer",
                    "description": "Page number (1-based). A page past the last one returns an empty `data` with the real `total` (iterate until `data` comes back empty, or use `total` / `pageSize`).",
                    "default": 1
                  },
                  "pageSize": {
                    "maximum": 1000,
                    "minimum": 1,
                    "type": "integer",
                    "description": "Number of records per page",
                    "default": 50
                  },
                  "search": {
                    "type": "string",
                    "description": "Free-text term applied over the requested columns: a LIKE '%term%' against each column in `columns` whose data type supports it, OR-ed together. It narrows both `data` and `total`. Combine it with `filters` for exact conditions.",
                    "nullable": true
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "required": [
                        "field"
                      ],
                      "type": "object",
                      "properties": {
                        "field": {
                          "enum": [
                            "ACDA_NRO",
                            "ACDA_FECHA_OBLIGATORIA",
                            "ACDA_DIAS_A_CONFIRMACION",
                            "ACDA_ESTADO_AC",
                            "ACDA_ESTADO_VENCIDA",
                            "ACDA_OPERACION_DE_AR",
                            "ACDA_BASE_OPERATIVA",
                            "ACDA_DIAS_A_VENCIMIENTO",
                            "ACDA_TITULO",
                            "ACDA_FECHA_ACORDADA",
                            "ACDA_FECHA_DE_CIERRE",
                            "ACDA_DESVIO",
                            "ACDA_PROXIMO_NUMERO",
                            "ACDA_RESPONSABLE_NOMBRE",
                            "id",
                            "DESC_ESTADO",
                            "ESTA_CODIGO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF",
                            "ACDA_RESPONSABLE",
                            "AVDR_ID_AVDR",
                            "SECT_ID_SECT",
                            "CLIE_ID_CLIE",
                            "TIDA_ID_TIDA"
                          ],
                          "type": "string",
                          "description": "Physical column name (required). Available columns from entity view, plus the raw id of Usuario-typed attributes (e.g. ORDC_SOLICITADA_POR) even though the resolved username (e.g. ORDC_SOLICITADA_POR_NOMBRE) is offered separately - request the raw id to cross-reference against your own user directory instead of the resolved display name. Same for the physical id of related entities (e.g. MATE_ID_MATE): request it to correlate each row with the related record in one call, instead of one filtered query per candidate."
                        },
                        "title": {
                          "type": "string",
                          "description": "Custom column title (optional)",
                          "nullable": true
                        },
                        "sortDirection": {
                          "enum": [
                            "ASC",
                            "DESC"
                          ],
                          "type": "string",
                          "description": "Sort direction",
                          "nullable": true
                        },
                        "order": {
                          "type": "integer",
                          "description": "Column display order (optional)",
                          "nullable": true
                        },
                        "sortOrder": {
                          "type": "integer",
                          "description": "Sort priority order (optional)",
                          "nullable": true
                        },
                        "aggregation": {
                          "enum": [
                            "SUM",
                            "COUNT",
                            "AVG",
                            "MIN",
                            "MAX"
                          ],
                          "type": "string",
                          "description": "Aggregation function. As soon as one column has an aggregation, the query is grouped: every requested column WITHOUT an aggregation becomes part of the GROUP BY, and each row of `data` is one group (no `id`/`ESTA_CODIGO` keys); if every column is aggregated, the result is a single row. `total` then counts groups, not underlying records, and `page`/`pageSize` paginate groups. An aggregated column can be sorted with `sortDirection`/`sortOrder` (it orders by the aggregated value). `COUNT` counts DISTINCT non-null values of the column, not rows - to count records per group, COUNT a column that is unique per record (e.g. `id`). `filters` and `search` are applied to the individual records BEFORE grouping; there is no way to filter on an aggregated value (no HAVING). Any value outside this list is rejected with 400.",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Column specifications. If null or empty, default header columns will be used",
                    "nullable": true
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "required": [
                        "columnName",
                        "operator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "columnName": {
                          "enum": [
                            "ACDA_NRO",
                            "ACDA_FECHA_OBLIGATORIA",
                            "ACDA_DIAS_A_CONFIRMACION",
                            "ACDA_ESTADO_AC",
                            "ACDA_ESTADO_VENCIDA",
                            "ACDA_OPERACION_DE_AR",
                            "ACDA_BASE_OPERATIVA",
                            "ACDA_DIAS_A_VENCIMIENTO",
                            "ACDA_TITULO",
                            "ACDA_FECHA_ACORDADA",
                            "ACDA_FECHA_DE_CIERRE",
                            "ACDA_DESVIO",
                            "ACDA_PROXIMO_NUMERO",
                            "ACDA_RESPONSABLE_NOMBRE",
                            "id",
                            "DESC_ESTADO",
                            "ESTA_CODIGO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF",
                            "ACDA_RESPONSABLE",
                            "AVDR_ID_AVDR",
                            "SECT_ID_SECT",
                            "CLIE_ID_CLIE",
                            "TIDA_ID_TIDA"
                          ],
                          "type": "string",
                          "description": "Column name to filter (required). Same set as `columns`: entity view columns plus the raw id of Usuario-typed attributes and the physical id of related entities (e.g. CLIE_ID_CLIE). Attributes of a related entity are reachable only one hop away and only for the physical, non-relation attributes the view already joins (the `<ALIAS>_<ATTRIBUTE>` columns in this list); the related record's workflow state, its calculated attributes and anything two relations away are not filterable here - that needs a view entity that exposes it as its own column."
                        },
                        "operator": {
                          "enum": [
                            "=",
                            "!=",
                            ">",
                            "<",
                            ">=",
                            "<=",
                            "LIKE"
                          ],
                          "type": "string",
                          "description": "Comparison operator"
                        },
                        "value": {
                          "description": "Value to compare. Type should match column data type",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Filter specifications. All filters are combined with AND; there is no OR between filters (for a set of values, issue one query per value or use `search`). Filters apply to the individual records, before any aggregation.",
                    "nullable": true
                  }
                }
              },
              "example": {
                "page": 1,
                "pageSize": 10,
                "search": "",
                "columns": [
                  {
                    "field": "COLUMN_NAME",
                    "title": "Column Title",
                    "sortDirection": "ASC",
                    "sortOrder": 1
                  }
                ],
                "filters": [
                  {
                    "columnName": "COLUMN_NAME",
                    "operator": "=",
                    "value": "value"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Rows of the page, keyed by the `field` of each requested column. `id` and `ESTA_CODIGO` are added when the rows represent instances (i.e. no column uses an aggregation)."
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records matching the query (ignoring pagination)"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Definition of the columns actually returned - the authoritative list of the keys present in `data`"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters, unknown column name, or unsupported operator",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to view this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/ACCION_DE_AR/changestate": {
      "post": {
        "tags": [
          "Aviso de Riesgo / Acción de AR"
        ],
        "description": "Change an instance's state. Some target states require additional attributes to already have a value - see the optional request body. Only the attribute(s) required by the chosen `state` are accepted there; sending anything else returns 400.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Target state name. Possibles values: <ul><li>Editando acción</li>\n<li>Finalizada</li>\n<li>Iniciada</li>\n<li>Iniciando autom</li>\n<li>Pendiente de confirmación</li></ul>",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Optional. Only needed when the chosen `state` requires specific attributes to have a value - existing callers that omit it keep working exactly as before.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AVDR_ID_AVDR": {
                    "title": "Aviso de Riesgo",
                    "type": "integer",
                    "description": "Required when transitioning to state 'Pendiente de confirmación'. Rejected for any other target state."
                  },
                  "ACDA_FECHA_ACORDADA": {
                    "title": "Fecha acordada",
                    "type": "string",
                    "description": "Required when transitioning to state 'Pendiente de confirmación'. Rejected for any other target state."
                  },
                  "ACDA_FECHA_DE_CIERRE": {
                    "title": "Fecha de cierre",
                    "type": "string",
                    "description": "Required when transitioning to state 'Finalizada'. Rejected for any other target state."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "State changed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Result message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - id not greater than 0, state empty, the transition is not allowed, or the body includes a field not required by the target state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to edit instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity or instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "409": {
            "description": "The instance cannot transition to that state from its current one",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/ACCION_DE_AR/changestatemultiple": {
      "post": {
        "tags": [
          "Aviso de Riesgo / Acción de AR"
        ],
        "description": "Change multiple instances' state",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Target state name, applied to every id. Possibles values: <ul><li>Editando acción</li>\n<li>Finalizada</li>\n<li>Iniciada</li>\n<li>Iniciando autom</li>\n<li>Pendiente de confirmación</li></ul>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Comma separated ids. All of them are changed inside a single transaction: if one fails, none is applied.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "100,101,102"
          }
        ],
        "responses": {
          "200": {
            "description": "State changed for every id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Result message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - ids empty, malformed id, or state empty",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to edit instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity, state, or one of the instances not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "409": {
            "description": "One of the instances cannot transition to that state from its current one",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/ACCION_DE_AR/file": {
      "get": {
        "tags": [
          "Aviso de Riesgo / Acción de AR"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado. El cuerpo es el archivo en crudo; el nombre viaja en el header Content-Disposition.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "403": {
            "description": "El usuario no tiene permisos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Aviso de Riesgo / Acción de AR"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png). Opcional: si se omite se toma el del multipart, o application/octet-stream.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Result message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
[...]
