{
  "openapi": "3.0.4",
  "info": {
    "title": "erpdemo.schema Contabilidad",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yiqi.com.ar/api/public"
    }
  ],
  "paths": {
    "/AJUSTE_POR_TENENCIA": {
      "post": {
        "tags": [
          "Ajuste por Tenencia"
        ],
        "summary": "Create a Ajuste por Tenencia.",
        "description": "Creates a Ajuste por Tenencia",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "AJPT_FECHA_DE_AJUSTE",
                      "MONE_ID_MONE"
                    ],
                    "type": "object",
                    "properties": {
                      "AJPT_FECHA_DE_AJUSTE": {
                        "title": "Fecha de Ajuste:",
                        "type": "string"
                      },
                      "AJPT_INICIO_DEL_EJERCICIO": {
                        "title": "Inicio del Ejercicio",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Procesado'",
                        "nullable": true
                      },
                      "MONE_ID_MONE": {
                        "title": "Moneda a Ajustar",
                        "type": "integer",
                        "description": " This is a foreign key to Moneda. An id of Moneda is expected"
                      },
                      "AJPT_TC_CAJA_BANCO": {
                        "title": "TC al Cierre Caja/Bancos",
                        "type": "number",
                        "nullable": true
                      },
                      "AJPT_TC_PROV": {
                        "title": "TC al Cierrre Proveedores",
                        "type": "number",
                        "nullable": true
                      },
                      "AJPT_TC_CLIE": {
                        "title": "TC al Cierre Clientes",
                        "type": "number",
                        "nullable": true
                      },
                      "AJPT_TC_MERC": {
                        "title": "TC al Cierre Mercaderías",
                        "type": "number",
                        "nullable": true
                      },
                      "TIFA_ID_TIFA": {
                        "title": "Tipo de factura",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de factura. An id of Tipo de factura is expected",
                        "nullable": true
                      },
                      "Detalle": {
                        "title": "Detalle",
                        "type": "array",
                        "items": {
                          "title": "Detalle",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "DAPT_INSTANCIA": {
                              "title": "Instancia",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "DAPT_SALDO_GESTION_ANTERI": {
                              "title": "Saldo Gestión Anterior",
                              "type": "number",
                              "nullable": true
                            },
                            "DAPT_SALDO_ORIGINAL": {
                              "title": "Saldo Gestión Período",
                              "type": "number",
                              "nullable": true
                            },
                            "DAPT_COTIZACION_APLICADA": {
                              "title": "Cotización aplicada",
                              "type": "number",
                              "nullable": true
                            },
                            "DAPT_SALDO_CONVERTIDO": {
                              "title": "Saldo gestión mon. default",
                              "type": "number",
                              "nullable": true
                            },
                            "DAPT_SUMA_MOVIMIENTOS": {
                              "title": "Saldo contable mon. default",
                              "type": "number",
                              "nullable": true
                            },
                            "DAPT_DIFERENCIA": {
                              "title": "Diferencia",
                              "type": "number",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Detalle"
                        },
                        "description": "Array of child entities of Detalle"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/AJUSTE_POR_TENENCIA/{id}": {
      "get": {
        "tags": [
          "Ajuste por Tenencia"
        ],
        "description": "Get a Ajuste por Tenencia by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ajuste por Tenencia id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Ajuste por Tenencia"
        ],
        "summary": "Update a Ajuste por Tenencia by id.",
        "description": "Update a Ajuste por Tenencia",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ajuste por Tenencia id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "AJPT_FECHA_DE_AJUSTE",
                      "MONE_ID_MONE"
                    ],
                    "type": "object",
                    "properties": {
                      "AJPT_FECHA_DE_AJUSTE": {
                        "title": "Fecha de Ajuste:",
                        "type": "string"
                      },
                      "AJPT_INICIO_DEL_EJERCICIO": {
                        "title": "Inicio del Ejercicio",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Procesado'",
                        "nullable": true
                      },
                      "MONE_ID_MONE": {
                        "title": "Moneda a Ajustar",
                        "type": "integer",
                        "description": " This is a foreign key to Moneda. An id of Moneda is expected"
                      },
                      "AJPT_TC_CAJA_BANCO": {
                        "title": "TC al Cierre Caja/Bancos",
                        "type": "number",
                        "nullable": true
                      },
                      "AJPT_TC_PROV": {
                        "title": "TC al Cierrre Proveedores",
                        "type": "number",
                        "nullable": true
                      },
                      "AJPT_TC_CLIE": {
                        "title": "TC al Cierre Clientes",
                        "type": "number",
                        "nullable": true
                      },
                      "AJPT_TC_MERC": {
                        "title": "TC al Cierre Mercaderías",
                        "type": "number",
                        "nullable": true
                      },
                      "TIFA_ID_TIFA": {
                        "title": "Tipo de factura",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de factura. An id of Tipo de factura is expected",
                        "nullable": true
                      },
                      "Detalle": {
                        "title": "Detalle",
                        "type": "array",
                        "items": {
                          "title": "Detalle",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "DAPT_INSTANCIA": {
                              "title": "Instancia",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "DAPT_SALDO_GESTION_ANTERI": {
                              "title": "Saldo Gestión Anterior",
                              "type": "number",
                              "nullable": true
                            },
                            "DAPT_SALDO_ORIGINAL": {
                              "title": "Saldo Gestión Período",
                              "type": "number",
                              "nullable": true
                            },
                            "DAPT_COTIZACION_APLICADA": {
                              "title": "Cotización aplicada",
                              "type": "number",
                              "nullable": true
                            },
                            "DAPT_SALDO_CONVERTIDO": {
                              "title": "Saldo gestión mon. default",
                              "type": "number",
                              "nullable": true
                            },
                            "DAPT_SUMA_MOVIMIENTOS": {
                              "title": "Saldo contable mon. default",
                              "type": "number",
                              "nullable": true
                            },
                            "DAPT_DIFERENCIA": {
                              "title": "Diferencia",
                              "type": "number",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Detalle"
                        },
                        "description": "Array of child entities of Detalle"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Ajuste por Tenencia"
        ],
        "summary": "Delete a Ajuste por Tenencia by id.",
        "description": "Delete a Ajuste por Tenencia",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ajuste por Tenencia id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/AJUSTE_POR_TENENCIA/search": {
      "get": {
        "tags": [
          "Ajuste por Tenencia"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Ajuste por Tenencia",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "AJPT_FECHA_DE_AJUSTE",
            "in": "query",
            "description": "Fecha de Ajuste:",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MONE_ID_MONE",
            "in": "query",
            "description": "Moneda a Ajustar",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/AJUSTE_POR_TENENCIA/smartie": {
      "get": {
        "tags": [
          "Ajuste por Tenencia"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/AJUSTE_POR_TENENCIA/changestate": {
      "post": {
        "tags": [
          "Ajuste por Tenencia"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Anulado</li>\n<li>Cargado</li>\n<li>Procesado</li>\n<li>Reprocesando</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/AJUSTE_POR_TENENCIA/file": {
      "get": {
        "tags": [
          "Ajuste por Tenencia"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Ajuste por Tenencia"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/AJUSTE_POR_TENENCIA/report": {
      "get": {
        "tags": [
          "Ajuste por Tenencia"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ASIENTO": {
      "post": {
        "tags": [
          "Asiento"
        ],
        "summary": "Create a Asiento.",
        "description": "Creates a Asiento",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "ASIE_FECHA",
                      "ASIE_CODIGO"
                    ],
                    "type": "object",
                    "properties": {
                      "ASIE_FECHA": {
                        "title": "Fecha",
                        "type": "string",
                        "description": "Fecha en la que se registra el asiento contable."
                      },
                      "ASIE_CODIGO": {
                        "title": "Codigo",
                        "maxLength": 100,
                        "type": "string",
                        "description": "Código único que identifica el asiento contable."
                      },
                      "ASIE_ANULADO": {
                        "title": "Anulado",
                        "type": "boolean",
                        "description": "Indica si el asiento ha sido anulado.",
                        "nullable": true
                      },
                      "ASIE_ORDEN": {
                        "title": "Orden",
                        "type": "integer",
                        "description": "Orden para el libro mayor.",
                        "nullable": true
                      },
                      "ASIE_REFERENCIA": {
                        "title": "Referencia",
                        "maxLength": 100,
                        "type": "string",
                        "description": "Referencia adicional para el asiento contable.",
                        "nullable": true
                      },
                      "Movimientos": {
                        "title": "Movimientos",
                        "type": "array",
                        "items": {
                          "title": "Movimientos",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "MOCO_NUMERO": {
                              "title": "Nro",
                              "type": "integer"
                            },
                            "CUCO_ID_CUCO": {
                              "title": "Cuenta Contable",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected"
                            },
                            "MOCO_DEBE": {
                              "title": "Debe",
                              "type": "number",
                              "default": "0",
                              "nullable": true
                            },
                            "MOCO_HABER": {
                              "title": "Haber",
                              "type": "number",
                              "default": "0",
                              "nullable": true
                            },
                            "MOCO_DETALLE_DEL_PASE": {
                              "title": "Detalle del pase",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "MOCO_DETALLE_UNIFICADO": {
                              "title": "Detalle Unificado",
                              "type": "string",
                              "description": "[Código entidad] + [Núm]|[Clie/Prov CUIT]-[Clie/Prov Razón Social||D:[Debe]|H:[Haber]|[Código CC]|[Medio (opcional)]\nLos montos son en la moneda default del documento original.",
                              "nullable": true
                            },
                            "MOCO_MONTO_2DA_MONEDA": {
                              "title": "Monto 2da moneda",
                              "type": "number",
                              "nullable": true
                            },
                            "PROY_ID_PROY": {
                              "title": "Centro de costos",
                              "type": "integer",
                              "description": " This is a foreign key to Centro de costos. An id of Centro de costos is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Movimientos"
                        },
                        "description": "Array of child entities of Movimientos"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ASIENTO/{id}": {
      "get": {
        "tags": [
          "Asiento"
        ],
        "description": "Get a Asiento by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Asiento id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Asiento"
        ],
        "summary": "Update a Asiento by id.",
        "description": "Update a Asiento",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Asiento id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "required": [
                      "ASIE_FECHA",
                      "ASIE_CODIGO"
                    ],
                    "type": "object",
                    "properties": {
                      "ASIE_FECHA": {
                        "title": "Fecha",
                        "type": "string",
                        "description": "Fecha en la que se registra el asiento contable."
                      },
                      "ASIE_CODIGO": {
                        "title": "Codigo",
                        "maxLength": 100,
                        "type": "string",
                        "description": "Código único que identifica el asiento contable."
                      },
                      "ASIE_ANULADO": {
                        "title": "Anulado",
                        "type": "boolean",
                        "description": "Indica si el asiento ha sido anulado.",
                        "nullable": true
                      },
                      "ASIE_ORDEN": {
                        "title": "Orden",
                        "type": "integer",
                        "description": "Orden para el libro mayor.",
                        "nullable": true
                      },
                      "ASIE_REFERENCIA": {
                        "title": "Referencia",
                        "maxLength": 100,
                        "type": "string",
                        "description": "Referencia adicional para el asiento contable.",
                        "nullable": true
                      },
                      "Movimientos": {
                        "title": "Movimientos",
                        "type": "array",
                        "items": {
                          "title": "Movimientos",
                          "type": "object",
                          "properties": {
                            "id": {
                              "title": "Instance unique identifier",
                              "type": "integer",
                              "description": "Instance identity. If ommited a new instance is created."
                            },
                            "MOCO_NUMERO": {
                              "title": "Nro",
                              "type": "integer"
                            },
                            "CUCO_ID_CUCO": {
                              "title": "Cuenta Contable",
                              "type": "integer",
                              "description": " This is a foreign key to Cuenta contable. An id of Cuenta contable is expected"
                            },
                            "MOCO_DEBE": {
                              "title": "Debe",
                              "type": "number",
                              "default": "0",
                              "nullable": true
                            },
                            "MOCO_HABER": {
                              "title": "Haber",
                              "type": "number",
                              "default": "0",
                              "nullable": true
                            },
                            "MOCO_DETALLE_DEL_PASE": {
                              "title": "Detalle del pase",
                              "maxLength": 100,
                              "type": "string",
                              "nullable": true
                            },
                            "MOCO_DETALLE_UNIFICADO": {
                              "title": "Detalle Unificado",
                              "type": "string",
                              "description": "[Código entidad] + [Núm]|[Clie/Prov CUIT]-[Clie/Prov Razón Social||D:[Debe]|H:[Haber]|[Código CC]|[Medio (opcional)]\nLos montos son en la moneda default del documento original.",
                              "nullable": true
                            },
                            "MOCO_MONTO_2DA_MONEDA": {
                              "title": "Monto 2da moneda",
                              "type": "number",
                              "nullable": true
                            },
                            "PROY_ID_PROY": {
                              "title": "Centro de costos",
                              "type": "integer",
                              "description": " This is a foreign key to Centro de costos. An id of Centro de costos is expected",
                              "nullable": true
                            }
                          },
                          "description": "Child entity of Movimientos"
                        },
                        "description": "Array of child entities of Movimientos"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Asiento"
        ],
        "summary": "Delete a Asiento by id.",
        "description": "Delete a Asiento",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Asiento id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/ASIENTO/search": {
      "get": {
        "tags": [
          "Asiento"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Asiento",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ASIE_CODIGO",
            "in": "query",
            "description": "Codigo",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ASIE_FECHA",
            "in": "query",
            "description": "Fecha",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ASIENTO/smartie": {
      "get": {
        "tags": [
          "Asiento"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ASIENTO/changestate": {
      "post": {
        "tags": [
          "Asiento"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Copiando</li>\n<li>Creado</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/ASIENTO/file": {
      "get": {
        "tags": [
          "Asiento"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Asiento"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/ASIENTO/report": {
      "get": {
        "tags": [
          "Asiento"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/DET_GEN_DE_TEM": {
      "post": {
        "tags": [
          "Detalle del generador de template"
        ],
        "summary": "Create a Detalle del generador de template.",
        "description": "Creates a Detalle del generador de template",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "GETE_ID_GETE": {
                        "title": "Generador de Template",
                        "type": "integer",
                        "description": " This is a foreign key to Generador de Template. An id of Generador de Template is expected",
                        "nullable": true
                      },
                      "DGDT_NOM_BENEF": {
                        "title": "Nombre del Beneficiario",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_CUIT_BENEF": {
                        "title": "CUIT del Beneficiario",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_FEC_ACRED": {
                        "title": "Fecha de Acreditación",
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_TIPO_CTA_CRED": {
                        "title": "Tipo Cuenta Crédito",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_MONEDA_CRED": {
                        "title": "Moneda Crédito",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_CTA_CRED_GAL": {
                        "title": "Cuenta Crédito (Galicia)",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_CBU_CRED": {
                        "title": "CBU Crédito",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_IMP_PAGO": {
                        "title": "Importe del Pago",
                        "type": "number",
                        "nullable": true
                      },
                      "DGDT_LEYENDA_CRED": {
                        "title": "Leyenda Crédito",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_ID_INTERNA": {
                        "title": "Identificación Interna",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_FEC_PROC": {
                        "title": "Fecha de Proceso",
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_PAGO_COM": {
                        "title": "Pago a Comercio",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_EMAIL_BENEF": {
                        "title": "Email Beneficiario",
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_PERIODO_CESE": {
                        "title": "Periodo (Cese Laboral)",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_OBSERV": {
                        "title": "Observaciones",
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DET_GEN_DE_TEM/{id}": {
      "get": {
        "tags": [
          "Detalle del generador de template"
        ],
        "description": "Get a Detalle del generador de template by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Detalle del generador de template id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Detalle del generador de template"
        ],
        "summary": "Update a Detalle del generador de template by id.",
        "description": "Update a Detalle del generador de template",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Detalle del generador de template id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "GETE_ID_GETE": {
                        "title": "Generador de Template",
                        "type": "integer",
                        "description": " This is a foreign key to Generador de Template. An id of Generador de Template is expected",
                        "nullable": true
                      },
                      "DGDT_NOM_BENEF": {
                        "title": "Nombre del Beneficiario",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_CUIT_BENEF": {
                        "title": "CUIT del Beneficiario",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_FEC_ACRED": {
                        "title": "Fecha de Acreditación",
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_TIPO_CTA_CRED": {
                        "title": "Tipo Cuenta Crédito",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_MONEDA_CRED": {
                        "title": "Moneda Crédito",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_CTA_CRED_GAL": {
                        "title": "Cuenta Crédito (Galicia)",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_CBU_CRED": {
                        "title": "CBU Crédito",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_IMP_PAGO": {
                        "title": "Importe del Pago",
                        "type": "number",
                        "nullable": true
                      },
                      "DGDT_LEYENDA_CRED": {
                        "title": "Leyenda Crédito",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_ID_INTERNA": {
                        "title": "Identificación Interna",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_FEC_PROC": {
                        "title": "Fecha de Proceso",
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_PAGO_COM": {
                        "title": "Pago a Comercio",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_EMAIL_BENEF": {
                        "title": "Email Beneficiario",
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_PERIODO_CESE": {
                        "title": "Periodo (Cese Laboral)",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "DGDT_OBSERV": {
                        "title": "Observaciones",
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Detalle del generador de template"
        ],
        "summary": "Delete a Detalle del generador de template by id.",
        "description": "Delete a Detalle del generador de template",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Detalle del generador de template id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/DET_GEN_DE_TEM/search": {
      "get": {
        "tags": [
          "Detalle del generador de template"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Detalle del generador de template",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DET_GEN_DE_TEM/smartie": {
      "get": {
        "tags": [
          "Detalle del generador de template"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/DET_GEN_DE_TEM/file": {
      "get": {
        "tags": [
          "Detalle del generador de template"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Detalle del generador de template"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/DET_GEN_DE_TEM/report": {
      "get": {
        "tags": [
          "Detalle del generador de template"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/GEN_TEMPLATE": {
      "post": {
        "tags": [
          "Generador de Template"
        ],
        "summary": "Create a Generador de Template.",
        "description": "Creates a Generador de Template",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "GETE_DESDE": {
                        "title": "Desde",
                        "type": "string",
                        "default": "PARAM.PARA_HOY",
                        "nullable": true
                      },
                      "GETE_HASTA": {
                        "title": "Hasta",
                        "type": "string",
                        "nullable": true
                      },
                      "GETE_TEMPLATE_TRANSFE": {
                        "title": "Template Transferencias",
                        "type": "integer",
                        "nullable": true
                      },
                      "GETE_TEMPLATE_CHEQ": {
                        "title": "Template Cheques",
                        "type": "integer",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/GEN_TEMPLATE/{id}": {
      "get": {
        "tags": [
          "Generador de Template"
        ],
        "description": "Get a Generador de Template by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Generador de Template id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Generador de Template"
        ],
        "summary": "Update a Generador de Template by id.",
        "description": "Update a Generador de Template",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Generador de Template id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "GETE_DESDE": {
                        "title": "Desde",
                        "type": "string",
                        "default": "PARAM.PARA_HOY",
                        "nullable": true
                      },
                      "GETE_HASTA": {
                        "title": "Hasta",
                        "type": "string",
                        "nullable": true
                      },
                      "GETE_TEMPLATE_TRANSFE": {
                        "title": "Template Transferencias",
                        "type": "integer",
                        "nullable": true
                      },
                      "GETE_TEMPLATE_CHEQ": {
                        "title": "Template Cheques",
                        "type": "integer",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Generador de Template"
        ],
        "summary": "Delete a Generador de Template by id.",
        "description": "Delete a Generador de Template",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Generador de Template id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/GEN_TEMPLATE/search": {
      "get": {
        "tags": [
          "Generador de Template"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Generador de Template",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/GEN_TEMPLATE/smartie": {
      "get": {
        "tags": [
          "Generador de Template"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/GEN_TEMPLATE/changestate": {
      "post": {
        "tags": [
          "Generador de Template"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Calculando</li>\n<li>Creado</li>\n<li>Error</li>\n<li>Generado</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/GEN_TEMPLATE/file": {
      "get": {
        "tags": [
          "Generador de Template"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "enum": [
                "TEMPLATE_TRANSFE",
                "TEMPLATE_CHEQ"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      },
      "put": {
        "tags": [
          "Generador de Template"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "enum": [
                "TEMPLATE_TRANSFE",
                "TEMPLATE_CHEQ"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente"
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/GEN_TEMPLATE/report": {
      "get": {
        "tags": [
          "Generador de Template"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "description": "Nombre del archivo de reporte"
                    },
                    "content": {
                      "type": "string",
                      "description": "Contenido binario (base64)",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad"
          },
          "403": {
            "description": "El usuario no tiene permisos"
          }
        }
      }
    },
    "/LIQ_RETENCIONES_Y_PE": {
      "post": {
        "tags": [
          "Liq Retenciones y Percepciones emitidas"
        ],
        "summary": "Create a Liq Retenciones y Percepciones emitidas.",
        "description": "Creates a Liq Retenciones y Percepciones emitidas",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "LRYP_DESDE": {
                        "title": "Desde",
                        "type": "string",
                        "nullable": true
                      },
                      "LRYP_HASTA": {
                        "title": "Hasta",
                        "type": "string",
                        "nullable": true
                      },
                      "IMPU_ID_IMPU": {
                        "title": "Impuesto",
                        "type": "integer",
                        "description": " This is a foreign key to Impuesto. An id of Impuesto is expected",
                        "nullable": true
                      },
                      "COPE_ID_COPE": {
                        "title": "Concepto Percepción",
                        "type": "integer",
                        "description": " This is a foreign key to Concepto Percepción. An id of Concepto Percepción is expected",
                        "nullable": true
                      },
                      "CORE_ID_CORE": {
                        "title": "Concepto Retención",
                        "type": "integer",
                        "description": " This is a foreign key to Concepto Retención. An id of Concepto Retención is expected",
                        "nullable": true
                      },
                      "TDFD_ID_TDFD": {
                        "title": "Tipo de formato",
                        "type": "integer",
                        "description": " This is a foreign key to Tabla de formatos de TXT. An id of Tabla de formatos de TXT is expected",
                        "nullable": true
                      },
                      "LRYP_POSIBLES_ERRORES_ECO": {
                        "title": "Posibles errores econtrados",
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/LIQ_RETENCIONES_Y_PE/{id}": {
      "get": {
        "tags": [
          "Liq Retenciones y Percepciones emitidas"
        ],
        "description": "Get a Liq Retenciones y Percepciones emitidas by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Liq Retenciones y Percepciones emitidas id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "put": {
        "tags": [
          "Liq Retenciones y Percepciones emitidas"
        ],
        "summary": "Update a Liq Retenciones y Percepciones emitidas by id.",
        "description": "Update a Liq Retenciones y Percepciones emitidas",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Liq Retenciones y Percepciones emitidas id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "LRYP_DESDE": {
                        "title": "Desde",
                        "type": "string",
                        "nullable": true
                      },
                      "LRYP_HASTA": {
                        "title": "Hasta",
                        "type": "string",
                        "nullable": true
                      },
                      "IMPU_ID_IMPU": {
                        "title": "Impuesto",
                        "type": "integer",
                        "description": " This is a foreign key to Impuesto. An id of Impuesto is expected",
                        "nullable": true
                      },
                      "COPE_ID_COPE": {
                        "title": "Concepto Percepción",
                        "type": "integer",
                        "description": " This is a foreign key to Concepto Percepción. An id of Concepto Percepción is expected",
                        "nullable": true
                      },
                      "CORE_ID_CORE": {
                        "title": "Concepto Retención",
                        "type": "integer",
                        "description": " This is a foreign key to Concepto Retención. An id of Concepto Retención is expected",
                        "nullable": true
                      },
                      "TDFD_ID_TDFD": {
                        "title": "Tipo de formato",
                        "type": "integer",
                        "description": " This is a foreign key to Tabla de formatos de TXT. An id of Tabla de formatos de TXT is expected",
                        "nullable": true
                      },
                      "LRYP_POSIBLES_ERRORES_ECO": {
                        "title": "Posibles errores econtrados",
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      },
      "delete": {
        "tags": [
          "Liq Retenciones y Percepciones emitidas"
        ],
        "summary": "Delete a Liq Retenciones y Percepciones emitidas by id.",
        "description": "Delete a Liq Retenciones y Percepciones emitidas",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Liq Retenciones y Percepciones emitidas id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Entity or instance not found"
          }
        }
      }
    },
    "/LIQ_RETENCIONES_Y_PE/search": {
      "get": {
        "tags": [
          "Liq Retenciones y Percepciones emitidas"
        ],
        "summary": "Note: This endpoint returns 50 max instances of {e.title}.",
        "description": "Search instances of Liq Retenciones y Percepciones emitidas",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/LIQ_RETENCIONES_Y_PE/smartie": {
      "get": {
        "tags": [
          "Liq Retenciones y Percepciones emitidas"
        ],
        "description": "Get a page of a smartie",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": " Page number (1-based)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/LIQ_RETENCIONES_Y_PE/changestate": {
      "post": {
        "tags": [
          "Liq Retenciones y Percepciones emitidas"
        ],
        "description": "Change an instance's state",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Possibles values: <ul><li>Calculando</li>\n<li>Creado</li>\n<li>Error</li>\n<li>Generado</li></ul>",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing or invalid token"
          }
        }
      }
    },
    "/LIQ_RETENCIONES_Y_PE/file": {
      "get": {
        "tags": [
          "Liq Retenciones y Percepciones emitidas"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "enum": [
                "ARCH_00",
                "ARCH_01",
                "ARCHIVO_PROVEEDORES",
                "ARCH_02",
                "ARCH_03"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
[...]
