{
  "openapi": "3.0.4",
  "info": {
    "title": "erpdemo.schema Gestión",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yiqi.com.ar/api/public"
    }
  ],
  "paths": {
    "/ACTIVIDAD": {
      "post": {
        "tags": [
          "Actividad"
        ],
        "summary": "Create a Actividad.",
        "description": "Creates a new instance of Actividad.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "CLIE_ID_CLIE": {
                        "title": "Cliente",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "PROY_ID_PROY": {
                        "title": "Centro de costos",
                        "type": "integer",
                        "description": " This is a foreign key to Centro de costos. An id of Centro de costos is expected\n This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "ACTI_TITULO": {
                        "title": "Título",
                        "maxLength": 100,
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                        "nullable": true
                      },
                      "ACTI_RESPONSABLE": {
                        "title": "Responsable",
                        "type": "integer",
                        "description": " This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "ACTI_DESCRIPCION": {
                        "title": "Descripción",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                        "nullable": true
                      },
                      "TIDA_ID_TIDA": {
                        "title": "Tipo de Actividad",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de actividad. An id of Tipo de actividad is expected\n This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "CRIT_ID_CRIT": {
                        "title": "Criticidad",
                        "type": "integer",
                        "description": " This is a foreign key to Criticidad Y. An id of Criticidad Y is expected\n This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "ACTI_SOLICITADO_POR": {
                        "title": "Solicitado por",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_SEMANA_DESDE_I": {
                        "title": "Semana desde inicio",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_DURACION_ESTIMADA": {
                        "title": "Duración estimada (días)",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_ARHC_ID_964": {
                        "title": "Adjunto",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_FECHA_INICIO": {
                        "title": "Fecha inicio",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Cerrado'",
                        "nullable": true
                      },
                      "ACTI_FECHA_FIN": {
                        "title": "Fecha fin",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Cerrado'",
                        "nullable": true
                      },
                      "ACTI_FECHA_LIMITE": {
                        "title": "Fecha Límite",
                        "type": "string",
                        "nullable": true
                      },
                      "REUN_ID_REUN": {
                        "title": "Reunión",
                        "type": "integer",
                        "description": " This is a foreign key to Reunión. An id of Reunión is expected",
                        "nullable": true
                      }
                    },
                    "description": "Instance data"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request processed. Check `ok`: a business validation failure also returns HTTP 200, with ok=false and the reason in `error`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "True if the instance was saved. Business validation failures are reported as HTTP 200 with ok=false and a message in `error` - always check this flag."
                    },
                    "newId": {
                      "type": "integer",
                      "description": "Id of the saved Actividad (the new id when creating, the same id when updating). This is the field that carries the identifier - there is no `id` field in this response."
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message when ok=false. Null on success.",
                      "nullable": true
                    },
                    "parameter": {
                      "type": "string",
                      "description": "The full saved instance, serialized as a JSON **string** (not a nested object) - same content as GET /ACTIVIDAD/{id} with includeChildren=true. Parse it to read it.",
                      "nullable": true
                    }
                  },
                  "example": {
                    "ok": true,
                    "newId": 12345,
                    "error": null,
                    "parameter": "{\"id\":12345, ...}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to create instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Duplicate instance detected"
          }
        }
      }
    },
    "/ACTIVIDAD/{id}": {
      "get": {
        "tags": [
          "Actividad"
        ],
        "description": "Get a Actividad by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Actividad id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "description": "Whether to include child entities in the response (default: true)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includeTransitions",
            "in": "query",
            "description": "Whether to include the state transitions available for this instance, as `transitions` (default: false)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeFkTexts",
            "in": "query",
            "description": "Whether to include `attsFkTexts`: the descriptive text behind every foreign key / user / profile / fixed-value attribute, keyed by physical name (default: false). Use it to show \"Acme S.A.\" where the attribute carries `9744`. Opt-in because it costs one query per foreign key attribute.",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Instance unique identifier",
                      "type": "integer"
                    },
                    "ESTA_NOMBRE": {
                      "title": "State name",
                      "type": "string",
                      "nullable": true
                    },
                    "ESTA_CODIGO": {
                      "title": "State code",
                      "type": "integer",
                      "nullable": true
                    },
                    "AUDI_FECHA_ALTA": {
                      "title": "Creation date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "AUDI_FECHA_MODIF": {
                      "title": "Last modification date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "CLIE_ID_CLIE": {
                      "title": "Cliente",
                      "type": "integer",
                      "description": "Foreign key to Empresa",
                      "nullable": true
                    },
                    "PROY_ID_PROY": {
                      "title": "Centro de costos",
                      "type": "integer",
                      "description": "Foreign key to Centro de costos",
                      "nullable": true
                    },
                    "ACTI_TITULO": {
                      "title": "Título",
                      "type": "string",
                      "nullable": true
                    },
                    "ACTI_RESPONSABLE": {
                      "title": "Responsable",
                      "type": "integer",
                      "nullable": true
                    },
                    "ACTI_CODIGO": {
                      "title": "Código",
                      "type": "string",
                      "nullable": true
                    },
                    "ACTI_NUMERO": {
                      "title": "Nro",
                      "type": "integer",
                      "nullable": true
                    },
                    "ACTI_DESCRIPCION": {
                      "title": "Descripción",
                      "type": "string",
                      "nullable": true
                    },
                    "TIDA_ID_TIDA": {
                      "title": "Tipo de Actividad",
                      "type": "integer",
                      "description": "Foreign key to Tipo de actividad",
                      "nullable": true
                    },
                    "CRIT_ID_CRIT": {
                      "title": "Criticidad",
                      "type": "integer",
                      "description": "Foreign key to Criticidad Y",
                      "nullable": true
                    },
                    "ACTI_SOLICITADO_POR": {
                      "title": "Solicitado por",
                      "type": "integer",
                      "nullable": true
                    },
                    "ACTI_SEMANA_DESDE_I": {
                      "title": "Semana desde inicio",
                      "type": "integer",
                      "nullable": true
                    },
                    "ACTI_DURACION_ESTIMADA": {
                      "title": "Duración estimada (días)",
                      "type": "integer",
                      "nullable": true
                    },
                    "ACTI_ARHC_ID_964": {
                      "title": "Adjunto",
                      "type": "integer",
                      "nullable": true
                    },
                    "ACTI_FECHA_INICIO": {
                      "title": "Fecha inicio",
                      "type": "string",
                      "nullable": true
                    },
                    "ACTI_FECHA_FIN": {
                      "title": "Fecha fin",
                      "type": "string",
                      "nullable": true
                    },
                    "ACTI_FECHA_LIMITE": {
                      "title": "Fecha Límite",
                      "type": "string",
                      "nullable": true
                    },
                    "ACTI_DIAS_FALTANTES_PARA_": {
                      "title": "Días faltantes para inicio",
                      "type": "integer",
                      "nullable": true
                    },
                    "ACTI_CRITICIDAD": {
                      "title": "Prioridad",
                      "type": "integer",
                      "nullable": true
                    },
                    "REUN_ID_REUN": {
                      "title": "Reunión",
                      "type": "integer",
                      "description": "Foreign key to Reunión",
                      "nullable": true
                    },
                    "ACTI_NRO_ACTIVIDAD": {
                      "title": "Nro de actividad",
                      "type": "integer",
                      "nullable": true
                    },
                    "NOCO_ID_NOCO": {
                      "title": "No conformidad",
                      "type": "integer",
                      "description": "Foreign key to No conformidad",
                      "nullable": true
                    },
                    "transitions": {
                      "title": "Available state transitions",
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "State transitions available for this instance (included when includeTransitions=true)"
                    },
                    "attsFkTexts": {
                      "title": "Foreign key texts",
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Descriptive text of every foreign key / user / profile / fixed-value attribute that has a value, keyed by physical name (included when includeFkTexts=true). Example: `\"TIDD_ID_TIDD\": \"CUIT\"`. Attributes without a value are omitted, not returned as empty."
                    }
                  },
                  "description": "A Actividad instance.\n\nOnly Actividad's own attributes are returned here: a foreign key travels as its id (e.g. `XXXX_ID_XXXX`), not as the referenced instance's description. Columns joined from related entities (aliased `<fkPrefix>_<ATTRIBUTE>`, e.g. `TIDD_NOMBRE`) do exist, but they are list columns: request them explicitly through `POST /ACTIVIDAD/query` (the `field` enum there lists every available column, related ones included) or add them to a smartie. For a single instance, `GET /ACTIVIDAD/{id}?includeFkTexts=true` returns `attsFkTexts` with the descriptive text behind each foreign key."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity or instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Actividad"
        ],
        "summary": "Update a Actividad by id.",
        "description": "Update a Actividad. The id in the path wins: it is written over `data.id` before saving, so it does not need to be repeated in the body.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Actividad id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "CLIE_ID_CLIE": {
                        "title": "Cliente",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "PROY_ID_PROY": {
                        "title": "Centro de costos",
                        "type": "integer",
                        "description": " This is a foreign key to Centro de costos. An id of Centro de costos is expected\n This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "ACTI_TITULO": {
                        "title": "Título",
                        "maxLength": 100,
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                        "nullable": true
                      },
                      "ACTI_RESPONSABLE": {
                        "title": "Responsable",
                        "type": "integer",
                        "description": " This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "ACTI_DESCRIPCION": {
                        "title": "Descripción",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Pendiente'",
                        "nullable": true
                      },
                      "TIDA_ID_TIDA": {
                        "title": "Tipo de Actividad",
                        "type": "integer",
                        "description": " This is a foreign key to Tipo de actividad. An id of Tipo de actividad is expected\n This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "CRIT_ID_CRIT": {
                        "title": "Criticidad",
                        "type": "integer",
                        "description": " This is a foreign key to Criticidad Y. An id of Criticidad Y is expected\n This attribute is mandatory when the instance is at state 'En - curso'",
                        "nullable": true
                      },
                      "ACTI_SOLICITADO_POR": {
                        "title": "Solicitado por",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_SEMANA_DESDE_I": {
                        "title": "Semana desde inicio",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_DURACION_ESTIMADA": {
                        "title": "Duración estimada (días)",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_ARHC_ID_964": {
                        "title": "Adjunto",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_FECHA_INICIO": {
                        "title": "Fecha inicio",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Cerrado'",
                        "nullable": true
                      },
                      "ACTI_FECHA_FIN": {
                        "title": "Fecha fin",
                        "type": "string",
                        "description": " This attribute is mandatory when the instance is at state 'Cerrado'",
                        "nullable": true
                      },
                      "ACTI_FECHA_LIMITE": {
                        "title": "Fecha Límite",
                        "type": "string",
                        "nullable": true
                      },
                      "REUN_ID_REUN": {
                        "title": "Reunión",
                        "type": "integer",
                        "description": " This is a foreign key to Reunión. An id of Reunión is expected",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request processed. Check `ok`: a business validation failure also returns HTTP 200, with ok=false and the reason in `error`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "True if the instance was saved. Business validation failures are reported as HTTP 200 with ok=false and a message in `error` - always check this flag."
                    },
                    "newId": {
                      "type": "integer",
                      "description": "Id of the saved Actividad (the new id when creating, the same id when updating). This is the field that carries the identifier - there is no `id` field in this response."
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message when ok=false. Null on success.",
                      "nullable": true
                    },
                    "parameter": {
                      "type": "string",
                      "description": "The full saved instance, serialized as a JSON **string** (not a nested object) - same content as GET /ACTIVIDAD/{id} with includeChildren=true. Parse it to read it.",
                      "nullable": true
                    }
                  },
                  "example": {
                    "ok": true,
                    "newId": 12345,
                    "error": null,
                    "parameter": "{\"id\":12345, ...}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to edit instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity or instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Duplicate instance detected"
          }
        }
      },
      "delete": {
        "tags": [
          "Actividad"
        ],
        "summary": "Delete a Actividad by id.",
        "description": "Delete a Actividad",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Actividad id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Result message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - entity name empty or id not greater than 0",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to delete instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity or instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/ACTIVIDAD/search": {
      "get": {
        "tags": [
          "Actividad"
        ],
        "summary": "Fast search endpoint. Returns a capped, non-paginated set of Actividad records; prefer /query for controlled, production-grade listings.",
        "description": "Performs a lightweight search over Actividad instances. Every query parameter below that matches an attribute's physical name is applied as an equality filter; omit them all to list the first records. The result set is capped and not paginated, so this endpoint is meant for quick lookups. For production listings that require configurable pagination, explicit column selection, or advanced filters, prefer /query.\n\nOnly Actividad's own attributes are returned here: a foreign key travels as its id (e.g. `XXXX_ID_XXXX`), not as the referenced instance's description. Columns joined from related entities (aliased `<fkPrefix>_<ATTRIBUTE>`, e.g. `TIDD_NOMBRE`) do exist, but they are list columns: request them explicitly through `POST /ACTIVIDAD/query` (the `field` enum there lists every available column, related ones included) or add them to a smartie. For a single instance, `GET /ACTIVIDAD/{id}?includeFkTexts=true` returns `attsFkTexts` with the descriptive text behind each foreign key.",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "CLIE_ID_CLIE",
            "in": "query",
            "description": "Cliente",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "PROY_ID_PROY",
            "in": "query",
            "description": "Centro de costos",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ACTI_TITULO",
            "in": "query",
            "description": "Título",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ACTI_CODIGO",
            "in": "query",
            "description": "Código",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ACTI_NUMERO",
            "in": "query",
            "description": "Nro",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "TIDA_ID_TIDA",
            "in": "query",
            "description": "Tipo de Actividad",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ACTI_RESPONSABLE",
            "in": "query",
            "description": "Responsable",
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching instances, as a flat array (not wrapped in an object). Child entities are not included.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "title": "Instance unique identifier",
                        "type": "integer"
                      },
                      "ESTA_NOMBRE": {
                        "title": "State name",
                        "type": "string",
                        "nullable": true
                      },
                      "ESTA_CODIGO": {
                        "title": "State code",
                        "type": "integer",
                        "nullable": true
                      },
                      "AUDI_FECHA_ALTA": {
                        "title": "Creation date",
                        "type": "string",
                        "format": "date-time"
                      },
                      "AUDI_FECHA_MODIF": {
                        "title": "Last modification date",
                        "type": "string",
                        "format": "date-time"
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Cliente",
                        "type": "integer",
                        "description": "Foreign key to Empresa",
                        "nullable": true
                      },
                      "PROY_ID_PROY": {
                        "title": "Centro de costos",
                        "type": "integer",
                        "description": "Foreign key to Centro de costos",
                        "nullable": true
                      },
                      "ACTI_TITULO": {
                        "title": "Título",
                        "type": "string",
                        "nullable": true
                      },
                      "ACTI_RESPONSABLE": {
                        "title": "Responsable",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_CODIGO": {
                        "title": "Código",
                        "type": "string",
                        "nullable": true
                      },
                      "ACTI_NUMERO": {
                        "title": "Nro",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_DESCRIPCION": {
                        "title": "Descripción",
                        "type": "string",
                        "nullable": true
                      },
                      "TIDA_ID_TIDA": {
                        "title": "Tipo de Actividad",
                        "type": "integer",
                        "description": "Foreign key to Tipo de actividad",
                        "nullable": true
                      },
                      "CRIT_ID_CRIT": {
                        "title": "Criticidad",
                        "type": "integer",
                        "description": "Foreign key to Criticidad Y",
                        "nullable": true
                      },
                      "ACTI_SOLICITADO_POR": {
                        "title": "Solicitado por",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_SEMANA_DESDE_I": {
                        "title": "Semana desde inicio",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_DURACION_ESTIMADA": {
                        "title": "Duración estimada (días)",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_ARHC_ID_964": {
                        "title": "Adjunto",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_FECHA_INICIO": {
                        "title": "Fecha inicio",
                        "type": "string",
                        "nullable": true
                      },
                      "ACTI_FECHA_FIN": {
                        "title": "Fecha fin",
                        "type": "string",
                        "nullable": true
                      },
                      "ACTI_FECHA_LIMITE": {
                        "title": "Fecha Límite",
                        "type": "string",
                        "nullable": true
                      },
                      "ACTI_DIAS_FALTANTES_PARA_": {
                        "title": "Días faltantes para inicio",
                        "type": "integer",
                        "nullable": true
                      },
                      "ACTI_CRITICIDAD": {
                        "title": "Prioridad",
                        "type": "integer",
                        "nullable": true
                      },
                      "REUN_ID_REUN": {
                        "title": "Reunión",
                        "type": "integer",
                        "description": "Foreign key to Reunión",
                        "nullable": true
                      },
                      "ACTI_NRO_ACTIVIDAD": {
                        "title": "Nro de actividad",
                        "type": "integer",
                        "nullable": true
                      },
                      "NOCO_ID_NOCO": {
                        "title": "No conformidad",
                        "type": "integer",
                        "description": "Foreign key to No conformidad",
                        "nullable": true
                      }
                    },
                    "description": "A Actividad instance.\n\nOnly Actividad's own attributes are returned here: a foreign key travels as its id (e.g. `XXXX_ID_XXXX`), not as the referenced instance's description. Columns joined from related entities (aliased `<fkPrefix>_<ATTRIBUTE>`, e.g. `TIDD_NOMBRE`) do exist, but they are list columns: request them explicitly through `POST /ACTIVIDAD/query` (the `field` enum there lists every available column, related ones included) or add them to a smartie. For a single instance, `GET /ACTIVIDAD/{id}?includeFkTexts=true` returns `attsFkTexts` with the descriptive text behind each foreign key."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - entity name empty",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to view this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/ACTIVIDAD/smartie": {
      "get": {
        "tags": [
          "Actividad"
        ],
        "summary": "Get a page of a smartie (saved list configuration)",
        "description": "Runs a saved list configuration (columns, filters, sorting) and returns one page of it.\n\n**The keys of each `data` row are the smartie's configured columns, not the entity schema.** A smartie can include columns joined from related entities (aliased `<fkPrefix>_<ATTRIBUTE>`, e.g. `TIDD_NOMBRE`, `ALIV_PORCENTAJE`), which is why the response may contain fields that do not appear in this entity's own attributes. The `columns` array of the response always describes exactly what came back.\n\nColumns whose attribute group the caller cannot see are dropped from both `data` and `columns`. If you need a stable, explicit column set, prefer `POST /ACTIVIDAD/query`.",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (1-based). Defaults to 1 when omitted.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Rows of the page. Each row is keyed by the smartie's column names (related-entity columns included); `id` and `ESTA_CODIGO` are added when the rows represent instances (i.e. the query does not group or pivot)."
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records matching the query (ignoring pagination)"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Definition of the columns actually returned - the authoritative list of the keys present in `data`"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - entity name or smartieId empty",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token / user could not be resolved"
          },
          "403": {
            "description": "User does not have permission to view this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity not found, or smartie not found for this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/ACTIVIDAD/query": {
      "post": {
        "tags": [
          "Actividad"
        ],
        "summary": "Execute dynamic query without persisted smartie",
        "description": "Performs a dynamic query on Actividad instances with custom columns, filters, sorting, aggregations, and configurable pagination. Use this endpoint for production-grade listings that require predictable performance, payload control, and advanced filtering. Unlike /search, /query allows explicit column selection and page size configuration, making it the preferred option for list screens, integrations, and high-volume data retrieval scenarios. This endpoint allows ad-hoc queries without requiring a saved smartie configuration.",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Dynamic query parameters including pagination, columns, filters, and search criteria",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "page"
                ],
                "type": "object",
                "properties": {
                  "page": {
                    "minimum": 1,
                    "type": "integer",
                    "description": "Page number (1-based)",
                    "default": 1
                  },
                  "pageSize": {
                    "maximum": 1000,
                    "minimum": 1,
                    "type": "integer",
                    "description": "Number of records per page",
                    "default": 50
                  },
                  "search": {
                    "type": "string",
                    "description": "Free-text term applied over the requested columns: a LIKE '%term%' against each column in `columns` whose data type supports it, OR-ed together. It narrows both `data` and `total`. Combine it with `filters` for exact conditions.",
                    "nullable": true
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "required": [
                        "field"
                      ],
                      "type": "object",
                      "properties": {
                        "field": {
                          "enum": [
                            "ACTI_CODIGO",
                            "ACTI_DIAS_FALTANTES_PARA_",
                            "ACTI_CRITICIDAD",
                            "ACTI_TITULO",
                            "ACTI_NUMERO",
                            "ACTI_DESCRIPCION",
                            "ACTI_SEMANA_DESDE_I",
                            "ACTI_DURACION_ESTIMADA",
                            "ACTI_ARHC_ID_964",
                            "ACTI_FECHA_INICIO",
                            "ACTI_FECHA_FIN",
                            "ACTI_FECHA_LIMITE",
                            "ACTI_NRO_ACTIVIDAD",
                            "ACTI_RESPONSABLE_NOMBRE",
                            "ACTI_SOLICITADO_POR_NOMBRE",
                            "id",
                            "DESC_ESTADO",
                            "ESTA_CODIGO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF",
                            "ACTI_RESPONSABLE",
                            "ACTI_SOLICITADO_POR"
                          ],
                          "type": "string",
                          "description": "Physical column name (required). Available columns from entity view, plus the raw id of Usuario-typed attributes (e.g. ORDC_SOLICITADA_POR) even though the resolved username (e.g. ORDC_SOLICITADA_POR_NOMBRE) is offered separately - request the raw id to cross-reference against your own user directory instead of the resolved display name."
                        },
                        "title": {
                          "type": "string",
                          "description": "Custom column title (optional)",
                          "nullable": true
                        },
                        "sortDirection": {
                          "enum": [
                            "ASC",
                            "DESC"
                          ],
                          "type": "string",
                          "description": "Sort direction",
                          "nullable": true
                        },
                        "order": {
                          "type": "integer",
                          "description": "Column display order (optional)",
                          "nullable": true
                        },
                        "sortOrder": {
                          "type": "integer",
                          "description": "Sort priority order (optional)",
                          "nullable": true
                        },
                        "aggregation": {
                          "enum": [
                            "SUM",
                            "COUNT",
                            "AVG",
                            "MIN",
                            "MAX"
                          ],
                          "type": "string",
                          "description": "Aggregation function",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Column specifications. If null or empty, default header columns will be used",
                    "nullable": true
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "required": [
                        "columnName",
                        "operator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "columnName": {
                          "enum": [
                            "ACTI_CODIGO",
                            "ACTI_DIAS_FALTANTES_PARA_",
                            "ACTI_CRITICIDAD",
                            "ACTI_TITULO",
                            "ACTI_NUMERO",
                            "ACTI_DESCRIPCION",
                            "ACTI_SEMANA_DESDE_I",
                            "ACTI_DURACION_ESTIMADA",
                            "ACTI_ARHC_ID_964",
                            "ACTI_FECHA_INICIO",
                            "ACTI_FECHA_FIN",
                            "ACTI_FECHA_LIMITE",
                            "ACTI_NRO_ACTIVIDAD",
                            "ACTI_RESPONSABLE_NOMBRE",
                            "ACTI_SOLICITADO_POR_NOMBRE",
                            "id",
                            "DESC_ESTADO",
                            "ESTA_CODIGO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF",
                            "ACTI_RESPONSABLE",
                            "ACTI_SOLICITADO_POR",
                            "CLIE_ID_CLIE",
                            "PROY_ID_PROY",
                            "TIDA_ID_TIDA",
                            "CRIT_ID_CRIT",
                            "REUN_ID_REUN",
                            "NOCO_ID_NOCO"
                          ],
                          "type": "string",
                          "description": "Column name to filter (required). Available columns from `columns` (entity view columns plus the raw id of Usuario-typed attributes), plus the physical id of related entities (e.g. CLIE_ID_CLIE) which - unlike Usuario ids - are filter-only: filtering by the related id doesn't need the related row's data, only the row's id, so it's supported here even though selecting/sorting by it isn't."
                        },
                        "operator": {
                          "enum": [
                            "=",
                            "!=",
                            ">",
                            "<",
                            ">=",
                            "<=",
                            "LIKE"
                          ],
                          "type": "string",
                          "description": "Comparison operator"
                        },
                        "value": {
                          "description": "Value to compare. Type should match column data type",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Filter specifications",
                    "nullable": true
                  }
                }
              },
              "example": {
                "page": 1,
                "pageSize": 10,
                "search": "",
                "columns": [
                  {
                    "field": "COLUMN_NAME",
                    "title": "Column Title",
                    "sortDirection": "ASC",
                    "sortOrder": 1
                  }
                ],
                "filters": [
                  {
                    "columnName": "COLUMN_NAME",
                    "operator": "=",
                    "value": "value"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Rows of the page, keyed by the `field` of each requested column. `id` and `ESTA_CODIGO` are added when the rows represent instances (i.e. no column uses an aggregation)."
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records matching the query (ignoring pagination)"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Definition of the columns actually returned - the authoritative list of the keys present in `data`"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters, unknown column name, or unsupported operator",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to view this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/ACTIVIDAD/changestate": {
      "post": {
        "tags": [
          "Actividad"
        ],
        "description": "Change an instance's state. Some target states require additional attributes to already have a value - see the optional request body. Only the attribute(s) required by the chosen `state` are accepted there; sending anything else returns 400.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Instance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Target state name. Possibles values: <ul><li>Cancelado</li>\n<li>Cerrada</li>\n<li>Cerrado</li>\n<li>Detectada</li>\n<li>Eficaz</li>\n<li>En - curso</li>\n<li>No Eficaz</li>\n<li>Pendiente</li>\n<li>Pendiente Validación</li>\n<li>Recurrente</li>\n<li>Terminada</li></ul>",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Optional. Only needed when the chosen `state` requires specific attributes to have a value - existing callers that omit it keep working exactly as before.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "PROY_ID_PROY": {
                    "title": "Centro de costos",
                    "type": "integer",
                    "description": "Required when transitioning to state 'En - curso'. Rejected for any other target state."
                  },
                  "ACTI_TITULO": {
                    "title": "Título",
                    "type": "string",
                    "description": "Required when transitioning to state 'Pendiente'. Rejected for any other target state."
                  },
                  "ACTI_RESPONSABLE": {
                    "title": "Responsable",
                    "type": "integer",
                    "description": "Required when transitioning to state 'En - curso'. Rejected for any other target state."
                  },
                  "ACTI_DESCRIPCION": {
                    "title": "Descripción",
                    "type": "string",
                    "description": "Required when transitioning to state 'Pendiente'. Rejected for any other target state."
                  },
                  "TIDA_ID_TIDA": {
                    "title": "Tipo de Actividad",
                    "type": "integer",
                    "description": "Required when transitioning to state 'En - curso'. Rejected for any other target state."
                  },
                  "CRIT_ID_CRIT": {
                    "title": "Criticidad",
                    "type": "integer",
                    "description": "Required when transitioning to state 'En - curso'. Rejected for any other target state."
                  },
                  "ACTI_FECHA_INICIO": {
                    "title": "Fecha inicio",
                    "type": "string",
                    "description": "Required when transitioning to state 'Cerrado'. Rejected for any other target state."
                  },
                  "ACTI_FECHA_FIN": {
                    "title": "Fecha fin",
                    "type": "string",
                    "description": "Required when transitioning to state 'Cerrado'. Rejected for any other target state."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "State changed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Result message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - id not greater than 0, state empty, the transition is not allowed, or the body includes a field not required by the target state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to edit instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity or instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "409": {
            "description": "The instance cannot transition to that state from its current one",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/ACTIVIDAD/changestatemultiple": {
      "post": {
        "tags": [
          "Actividad"
        ],
        "description": "Change multiple instances' state",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Target state name, applied to every id. Possibles values: <ul><li>Cancelado</li>\n<li>Cerrada</li>\n<li>Cerrado</li>\n<li>Detectada</li>\n<li>Eficaz</li>\n<li>En - curso</li>\n<li>No Eficaz</li>\n<li>Pendiente</li>\n<li>Pendiente Validación</li>\n<li>Recurrente</li>\n<li>Terminada</li></ul>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Comma separated ids. All of them are changed inside a single transaction: if one fails, none is applied.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "100,101,102"
          }
        ],
        "responses": {
          "200": {
            "description": "State changed for every id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Result message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - ids empty, malformed id, or state empty",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to edit instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity, state, or one of the instances not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "409": {
            "description": "One of the instances cannot transition to that state from its current one",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/ACTIVIDAD/file": {
      "get": {
        "tags": [
          "Actividad"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "enum": [
                "ARHC_ID_964"
              ],
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado. El cuerpo es el archivo en crudo; el nombre viaja en el header Content-Disposition.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "403": {
            "description": "El usuario no tiene permisos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Actividad"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
[...]
