{
  "openapi": "3.0.4",
  "info": {
    "title": "erpdemo.schema Editorial",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yiqi.com.ar/api/public"
    }
  ],
  "paths": {
    "/COMISION_POR_ARTICUL": {
      "post": {
        "tags": [
          "Comisión por artículo"
        ],
        "summary": "Create a Comisión por artículo.",
        "description": "Creates a new instance of Comisión por artículo.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "COPA_DESDE": {
                        "title": "Desde",
                        "type": "string",
                        "nullable": true
                      },
                      "COPA_HASTA": {
                        "title": "Hasta",
                        "type": "string",
                        "nullable": true
                      },
                      "MATE_ID_MATE": {
                        "title": "Artículo",
                        "type": "integer",
                        "description": " This is a foreign key to Artículo. An id of Artículo is expected",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Autor",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "COPA_PORC_NACIONAL": {
                        "title": "Nacional %",
                        "type": "number",
                        "nullable": true
                      },
                      "COPA_NACIONAL_SOBRE_PVP": {
                        "title": "Nacional sobre PVP",
                        "type": "boolean",
                        "nullable": true
                      },
                      "COPA_PORC_INSTITUCIONAL": {
                        "title": "Institucional %",
                        "type": "number",
                        "nullable": true
                      },
                      "COPA_INSTITUCIONAL_SOBRE_": {
                        "title": "Institucional sobre PVP",
                        "type": "boolean",
                        "nullable": true
                      },
                      "COPA_PORC_INTERNACIONAL": {
                        "title": "Internacional %",
                        "type": "number",
                        "nullable": true
                      },
                      "COPA_INTERNACIONAL_SOBRE_": {
                        "title": "Internacional sobre PVP",
                        "type": "boolean",
                        "nullable": true
                      },
                      "COPA_ROL": {
                        "title": "Rol",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "description": "Instance data"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request processed. Check `ok`: a business validation failure also returns HTTP 200, with ok=false and the reason in `error`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "True if the instance was saved. Business validation failures are reported as HTTP 200 with ok=false and a message in `error` - always check this flag."
                    },
                    "newId": {
                      "type": "integer",
                      "description": "Id of the saved Comisión por artículo (the new id when creating, the same id when updating). This is the field that carries the identifier - there is no `id` field in this response."
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message when ok=false. Null on success.",
                      "nullable": true
                    },
                    "parameter": {
                      "type": "string",
                      "description": "The full saved instance, serialized as a JSON **string** (not a nested object) - same content as GET /COMISION_POR_ARTICUL/{id} with includeChildren=true. Parse it to read it.",
                      "nullable": true
                    }
                  },
                  "example": {
                    "ok": true,
                    "newId": 12345,
                    "error": null,
                    "parameter": "{\"id\":12345, ...}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to create instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Duplicate instance detected"
          }
        }
      }
    },
    "/COMISION_POR_ARTICUL/{id}": {
      "get": {
        "tags": [
          "Comisión por artículo"
        ],
        "description": "Get a Comisión por artículo by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Comisión por artículo id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "description": "Whether to include child entities in the response (default: true)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includeTransitions",
            "in": "query",
            "description": "Whether to include the state transitions available for this instance, as `transitions` (default: false)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeFkTexts",
            "in": "query",
            "description": "Whether to include `attsFkTexts`: the descriptive text behind every foreign key / user / profile / fixed-value attribute, keyed by physical name (default: false). Use it to show \"Acme S.A.\" where the attribute carries `9744`. Opt-in because it costs one query per foreign key attribute.",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Instance unique identifier",
                      "type": "integer"
                    },
                    "ESTA_NOMBRE": {
                      "title": "State name",
                      "type": "string",
                      "nullable": true
                    },
                    "ESTA_CODIGO": {
                      "title": "State code",
                      "type": "integer",
                      "nullable": true
                    },
                    "AUDI_FECHA_ALTA": {
                      "title": "Creation date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "AUDI_FECHA_MODIF": {
                      "title": "Last modification date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "COPA_DESDE": {
                      "title": "Desde",
                      "type": "string",
                      "nullable": true
                    },
                    "COPA_HASTA": {
                      "title": "Hasta",
                      "type": "string",
                      "nullable": true
                    },
                    "MATE_ID_MATE": {
                      "title": "Artículo",
                      "type": "integer",
                      "description": "Foreign key to Artículo",
                      "nullable": true
                    },
                    "CLIE_ID_CLIE": {
                      "title": "Autor",
                      "type": "integer",
                      "description": "Foreign key to Empresa",
                      "nullable": true
                    },
                    "COPA_PORC_NACIONAL": {
                      "title": "Nacional %",
                      "type": "number",
                      "nullable": true
                    },
                    "COPA_NACIONAL_SOBRE_PVP": {
                      "title": "Nacional sobre PVP",
                      "type": "boolean",
                      "nullable": true
                    },
                    "COPA_PORC_INSTITUCIONAL": {
                      "title": "Institucional %",
                      "type": "number",
                      "nullable": true
                    },
                    "COPA_INSTITUCIONAL_SOBRE_": {
                      "title": "Institucional sobre PVP",
                      "type": "boolean",
                      "nullable": true
                    },
                    "COPA_PORC_INTERNACIONAL": {
                      "title": "Internacional %",
                      "type": "number",
                      "nullable": true
                    },
                    "COPA_INTERNACIONAL_SOBRE_": {
                      "title": "Internacional sobre PVP",
                      "type": "boolean",
                      "nullable": true
                    },
                    "COPA_ROL": {
                      "title": "Rol",
                      "type": "string",
                      "nullable": true
                    },
                    "transitions": {
                      "title": "Available state transitions",
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "State transitions available for this instance (included when includeTransitions=true)"
                    },
                    "attsFkTexts": {
                      "title": "Foreign key texts",
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Descriptive text of every foreign key / user / profile / fixed-value attribute that has a value, keyed by physical name (included when includeFkTexts=true). Example: `\"TIDD_ID_TIDD\": \"CUIT\"`. Attributes without a value are omitted, not returned as empty."
                    }
                  },
                  "description": "A Comisión por artículo instance.\n\nOnly Comisión por artículo's own attributes are returned here: a foreign key travels as its id (e.g. `XXXX_ID_XXXX`), not as the referenced instance's description. Columns joined from related entities (aliased `<fkPrefix>_<ATTRIBUTE>`, e.g. `TIDD_NOMBRE`) do exist, but they are list columns: request them explicitly through `POST /COMISION_POR_ARTICUL/query` (the `field` enum there lists every available column, related ones included) or add them to a smartie. For a single instance, `GET /COMISION_POR_ARTICUL/{id}?includeFkTexts=true` returns `attsFkTexts` with the descriptive text behind each foreign key."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity or instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Comisión por artículo"
        ],
        "summary": "Update a Comisión por artículo by id.",
        "description": "Update a Comisión por artículo. The id in the path wins: it is written over `data.id` before saving, so it does not need to be repeated in the body.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Comisión por artículo id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "COPA_DESDE": {
                        "title": "Desde",
                        "type": "string",
                        "nullable": true
                      },
                      "COPA_HASTA": {
                        "title": "Hasta",
                        "type": "string",
                        "nullable": true
                      },
                      "MATE_ID_MATE": {
                        "title": "Artículo",
                        "type": "integer",
                        "description": " This is a foreign key to Artículo. An id of Artículo is expected",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Autor",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "COPA_PORC_NACIONAL": {
                        "title": "Nacional %",
                        "type": "number",
                        "nullable": true
                      },
                      "COPA_NACIONAL_SOBRE_PVP": {
                        "title": "Nacional sobre PVP",
                        "type": "boolean",
                        "nullable": true
                      },
                      "COPA_PORC_INSTITUCIONAL": {
                        "title": "Institucional %",
                        "type": "number",
                        "nullable": true
                      },
                      "COPA_INSTITUCIONAL_SOBRE_": {
                        "title": "Institucional sobre PVP",
                        "type": "boolean",
                        "nullable": true
                      },
                      "COPA_PORC_INTERNACIONAL": {
                        "title": "Internacional %",
                        "type": "number",
                        "nullable": true
                      },
                      "COPA_INTERNACIONAL_SOBRE_": {
                        "title": "Internacional sobre PVP",
                        "type": "boolean",
                        "nullable": true
                      },
                      "COPA_ROL": {
                        "title": "Rol",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request processed. Check `ok`: a business validation failure also returns HTTP 200, with ok=false and the reason in `error`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "True if the instance was saved. Business validation failures are reported as HTTP 200 with ok=false and a message in `error` - always check this flag."
                    },
                    "newId": {
                      "type": "integer",
                      "description": "Id of the saved Comisión por artículo (the new id when creating, the same id when updating). This is the field that carries the identifier - there is no `id` field in this response."
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message when ok=false. Null on success.",
                      "nullable": true
                    },
                    "parameter": {
                      "type": "string",
                      "description": "The full saved instance, serialized as a JSON **string** (not a nested object) - same content as GET /COMISION_POR_ARTICUL/{id} with includeChildren=true. Parse it to read it.",
                      "nullable": true
                    }
                  },
                  "example": {
                    "ok": true,
                    "newId": 12345,
                    "error": null,
                    "parameter": "{\"id\":12345, ...}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to edit instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity or instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Duplicate instance detected"
          }
        }
      },
      "delete": {
        "tags": [
          "Comisión por artículo"
        ],
        "summary": "Delete a Comisión por artículo by id.",
        "description": "Delete a Comisión por artículo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Comisión por artículo id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Result message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - entity name empty or id not greater than 0",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to delete instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity or instance not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/COMISION_POR_ARTICUL/search": {
      "get": {
        "tags": [
          "Comisión por artículo"
        ],
        "summary": "Fast search endpoint. Returns a capped, non-paginated set of Comisión por artículo records; prefer /query for controlled, production-grade listings.",
        "description": "Performs a lightweight search over Comisión por artículo instances. Every query parameter below that matches an attribute's physical name is applied as an equality filter; omit them all to list the first records. The result set is capped and not paginated, so this endpoint is meant for quick lookups. For production listings that require configurable pagination, explicit column selection, or advanced filters, prefer /query.\n\nOnly Comisión por artículo's own attributes are returned here: a foreign key travels as its id (e.g. `XXXX_ID_XXXX`), not as the referenced instance's description. Columns joined from related entities (aliased `<fkPrefix>_<ATTRIBUTE>`, e.g. `TIDD_NOMBRE`) do exist, but they are list columns: request them explicitly through `POST /COMISION_POR_ARTICUL/query` (the `field` enum there lists every available column, related ones included) or add them to a smartie. For a single instance, `GET /COMISION_POR_ARTICUL/{id}?includeFkTexts=true` returns `attsFkTexts` with the descriptive text behind each foreign key.",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching instances, as a flat array (not wrapped in an object). Child entities are not included.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "title": "Instance unique identifier",
                        "type": "integer"
                      },
                      "ESTA_NOMBRE": {
                        "title": "State name",
                        "type": "string",
                        "nullable": true
                      },
                      "ESTA_CODIGO": {
                        "title": "State code",
                        "type": "integer",
                        "nullable": true
                      },
                      "AUDI_FECHA_ALTA": {
                        "title": "Creation date",
                        "type": "string",
                        "format": "date-time"
                      },
                      "AUDI_FECHA_MODIF": {
                        "title": "Last modification date",
                        "type": "string",
                        "format": "date-time"
                      },
                      "COPA_DESDE": {
                        "title": "Desde",
                        "type": "string",
                        "nullable": true
                      },
                      "COPA_HASTA": {
                        "title": "Hasta",
                        "type": "string",
                        "nullable": true
                      },
                      "MATE_ID_MATE": {
                        "title": "Artículo",
                        "type": "integer",
                        "description": "Foreign key to Artículo",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Autor",
                        "type": "integer",
                        "description": "Foreign key to Empresa",
                        "nullable": true
                      },
                      "COPA_PORC_NACIONAL": {
                        "title": "Nacional %",
                        "type": "number",
                        "nullable": true
                      },
                      "COPA_NACIONAL_SOBRE_PVP": {
                        "title": "Nacional sobre PVP",
                        "type": "boolean",
                        "nullable": true
                      },
                      "COPA_PORC_INSTITUCIONAL": {
                        "title": "Institucional %",
                        "type": "number",
                        "nullable": true
                      },
                      "COPA_INSTITUCIONAL_SOBRE_": {
                        "title": "Institucional sobre PVP",
                        "type": "boolean",
                        "nullable": true
                      },
                      "COPA_PORC_INTERNACIONAL": {
                        "title": "Internacional %",
                        "type": "number",
                        "nullable": true
                      },
                      "COPA_INTERNACIONAL_SOBRE_": {
                        "title": "Internacional sobre PVP",
                        "type": "boolean",
                        "nullable": true
                      },
                      "COPA_ROL": {
                        "title": "Rol",
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "description": "A Comisión por artículo instance.\n\nOnly Comisión por artículo's own attributes are returned here: a foreign key travels as its id (e.g. `XXXX_ID_XXXX`), not as the referenced instance's description. Columns joined from related entities (aliased `<fkPrefix>_<ATTRIBUTE>`, e.g. `TIDD_NOMBRE`) do exist, but they are list columns: request them explicitly through `POST /COMISION_POR_ARTICUL/query` (the `field` enum there lists every available column, related ones included) or add them to a smartie. For a single instance, `GET /COMISION_POR_ARTICUL/{id}?includeFkTexts=true` returns `attsFkTexts` with the descriptive text behind each foreign key."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - entity name empty",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to view this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/COMISION_POR_ARTICUL/smartie": {
      "get": {
        "tags": [
          "Comisión por artículo"
        ],
        "summary": "Get a page of a smartie (saved list configuration)",
        "description": "Runs a saved list configuration (columns, filters, sorting) and returns one page of it.\n\n**The keys of each `data` row are the smartie's configured columns, not the entity schema.** A smartie can include columns joined from related entities (aliased `<fkPrefix>_<ATTRIBUTE>`, e.g. `TIDD_NOMBRE`, `ALIV_PORCENTAJE`), which is why the response may contain fields that do not appear in this entity's own attributes. The `columns` array of the response always describes exactly what came back.\n\nColumns whose attribute group the caller cannot see are dropped from both `data` and `columns`. If you need a stable, explicit column set, prefer `POST /COMISION_POR_ARTICUL/query`.",
        "parameters": [
          {
            "name": "smartieId",
            "in": "query",
            "description": "Smartie id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (1-based). Defaults to 1 when omitted.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": " Search term",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Rows of the page. Each row is keyed by the smartie's column names (related-entity columns included); `id` and `ESTA_CODIGO` are added when the rows represent instances (i.e. the query does not group or pivot)."
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records matching the query (ignoring pagination)"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Definition of the columns actually returned - the authoritative list of the keys present in `data`"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - entity name or smartieId empty",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token / user could not be resolved"
          },
          "403": {
            "description": "User does not have permission to view this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity not found, or smartie not found for this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/COMISION_POR_ARTICUL/query": {
      "post": {
        "tags": [
          "Comisión por artículo"
        ],
        "summary": "Execute dynamic query without persisted smartie",
        "description": "Performs a dynamic query on Comisión por artículo instances with custom columns, filters, sorting, aggregations, and configurable pagination. Use this endpoint for production-grade listings that require predictable performance, payload control, and advanced filtering. Unlike /search, /query allows explicit column selection and page size configuration, making it the preferred option for list screens, integrations, and high-volume data retrieval scenarios. This endpoint allows ad-hoc queries without requiring a saved smartie configuration.",
        "parameters": [
          {
            "name": "schemaId",
            "in": "query",
            "description": "Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Dynamic query parameters including pagination, columns, filters, and search criteria",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "page"
                ],
                "type": "object",
                "properties": {
                  "page": {
                    "minimum": 1,
                    "type": "integer",
                    "description": "Page number (1-based)",
                    "default": 1
                  },
                  "pageSize": {
                    "maximum": 1000,
                    "minimum": 1,
                    "type": "integer",
                    "description": "Number of records per page",
                    "default": 50
                  },
                  "search": {
                    "type": "string",
                    "description": "Free-text term applied over the requested columns: a LIKE '%term%' against each column in `columns` whose data type supports it, OR-ed together. It narrows both `data` and `total`. Combine it with `filters` for exact conditions.",
                    "nullable": true
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "required": [
                        "field"
                      ],
                      "type": "object",
                      "properties": {
                        "field": {
                          "enum": [
                            "COPA_DESDE",
                            "COPA_HASTA",
                            "COPA_PORC_NACIONAL",
                            "COPA_NACIONAL_SOBRE_PVP",
                            "COPA_PORC_INSTITUCIONAL",
                            "COPA_INSTITUCIONAL_SOBRE_",
                            "COPA_PORC_INTERNACIONAL",
                            "COPA_INTERNACIONAL_SOBRE_",
                            "COPA_ROL",
                            "id",
                            "DESC_ESTADO",
                            "ESTA_CODIGO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF"
                          ],
                          "type": "string",
                          "description": "Physical column name (required). Available columns from entity view, plus the raw id of Usuario-typed attributes (e.g. ORDC_SOLICITADA_POR) even though the resolved username (e.g. ORDC_SOLICITADA_POR_NOMBRE) is offered separately - request the raw id to cross-reference against your own user directory instead of the resolved display name."
                        },
                        "title": {
                          "type": "string",
                          "description": "Custom column title (optional)",
                          "nullable": true
                        },
                        "sortDirection": {
                          "enum": [
                            "ASC",
                            "DESC"
                          ],
                          "type": "string",
                          "description": "Sort direction",
                          "nullable": true
                        },
                        "order": {
                          "type": "integer",
                          "description": "Column display order (optional)",
                          "nullable": true
                        },
                        "sortOrder": {
                          "type": "integer",
                          "description": "Sort priority order (optional)",
                          "nullable": true
                        },
                        "aggregation": {
                          "enum": [
                            "SUM",
                            "COUNT",
                            "AVG",
                            "MIN",
                            "MAX"
                          ],
                          "type": "string",
                          "description": "Aggregation function",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Column specifications. If null or empty, default header columns will be used",
                    "nullable": true
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "required": [
                        "columnName",
                        "operator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "columnName": {
                          "enum": [
                            "COPA_DESDE",
                            "COPA_HASTA",
                            "COPA_PORC_NACIONAL",
                            "COPA_NACIONAL_SOBRE_PVP",
                            "COPA_PORC_INSTITUCIONAL",
                            "COPA_INSTITUCIONAL_SOBRE_",
                            "COPA_PORC_INTERNACIONAL",
                            "COPA_INTERNACIONAL_SOBRE_",
                            "COPA_ROL",
                            "id",
                            "DESC_ESTADO",
                            "ESTA_CODIGO",
                            "AUDI_USUA_ALTA",
                            "AUDI_USUA_MODIF",
                            "AUDI_FECHA_ALTA",
                            "AUDI_FECHA_MODIF",
                            "MATE_ID_MATE",
                            "CLIE_ID_CLIE"
                          ],
                          "type": "string",
                          "description": "Column name to filter (required). Available columns from `columns` (entity view columns plus the raw id of Usuario-typed attributes), plus the physical id of related entities (e.g. CLIE_ID_CLIE) which - unlike Usuario ids - are filter-only: filtering by the related id doesn't need the related row's data, only the row's id, so it's supported here even though selecting/sorting by it isn't."
                        },
                        "operator": {
                          "enum": [
                            "=",
                            "!=",
                            ">",
                            "<",
                            ">=",
                            "<=",
                            "LIKE"
                          ],
                          "type": "string",
                          "description": "Comparison operator"
                        },
                        "value": {
                          "description": "Value to compare. Type should match column data type",
                          "nullable": true
                        }
                      }
                    },
                    "description": "Filter specifications",
                    "nullable": true
                  }
                }
              },
              "example": {
                "page": 1,
                "pageSize": 10,
                "search": "",
                "columns": [
                  {
                    "field": "COLUMN_NAME",
                    "title": "Column Title",
                    "sortDirection": "ASC",
                    "sortOrder": 1
                  }
                ],
                "filters": [
                  {
                    "columnName": "COLUMN_NAME",
                    "operator": "=",
                    "value": "value"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Rows of the page, keyed by the `field` of each requested column. `id` and `ESTA_CODIGO` are added when the rows represent instances (i.e. no column uses an aggregation)."
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of records matching the query (ignoring pagination)"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Definition of the columns actually returned - the authoritative list of the keys present in `data`"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters, unknown column name, or unsupported operator",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to view this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "404": {
            "description": "Entity not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/COMISION_POR_ARTICUL/file": {
      "get": {
        "tags": [
          "Comisión por artículo"
        ],
        "summary": "Descarga un archivo de una entidad",
        "description": "Devuelve el archivo cargado en un atributo de tipo archivo de una instancia de entidad.",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo encontrado. El cuerpo es el archivo en crudo; el nombre viaja en el header Content-Disposition.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "403": {
            "description": "El usuario no tiene permisos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Comisión por artículo"
        ],
        "summary": "Carga o reemplaza un archivo en una entidad",
        "description": "Guarda el archivo en el atributo de tipo archivo de una instancia de entidad. Soporta dos formatos: multipart/form-data o binary directo (application/octet-stream, application/pdf, etc.).",
        "parameters": [
          {
            "name": "attributeName",
            "in": "query",
            "description": "Nombre del atributo de tipo archivo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Tipo de contenido (MIME) del archivo (ej: application/pdf, image/png). Opcional: si se omite se toma el del multipart, o application/octet-stream.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Nombre del archivo (opcional, se puede inferir del multipart)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Archivo a cargar. Puede enviarse como multipart/form-data o como binary directo.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Contenido del archivo",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "description": "Contenido binario del archivo enviado directamente",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "description": "Contenido PDF enviado directamente",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Archivo guardado correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Result message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un Atributo con ese nombre en la entidad / El atributo no es de tipo archivo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "403": {
            "description": "El usuario no tiene permisos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "409": {
            "description": "Ya hay una carga en curso para este mismo archivo. Reintentar cuando termine.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/COMISION_POR_ARTICUL/report": {
      "get": {
        "tags": [
          "Comisión por artículo"
        ],
        "summary": "Descarga un reporte asociado a una entidad",
        "description": "Devuelve el reporte solicitado (nombre y contenido en binario) para una instancia de entidad.",
        "parameters": [
          {
            "name": "reportName",
            "in": "query",
            "description": "Nombre del reporte",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Id de la instancia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": "Id del esquema",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte encontrado. El cuerpo es el PDF en crudo; el nombre viaja en el header Content-Disposition.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "No existe una Entidad con ese nombre / No existe una instancia en Entidad con ese Id / No existe un reporte con ese nombre en la entidad",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "403": {
            "description": "El usuario no tiene permisos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          }
        }
      }
    },
    "/COMISION_POR_AUTOR": {
      "post": {
        "tags": [
          "Registro comisión por autor."
        ],
        "summary": "Create a Registro comisión por autor..",
        "description": "Creates a new instance of Registro comisión por autor..",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "schemaId",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "schemaId": {
                    "title": "Schema Id",
                    "type": "integer"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "LDDA_ID_LDDA": {
                        "title": "Liquidación",
                        "type": "integer",
                        "description": " This is a foreign key to Liq. Derechos de Autor. An id of Liq. Derechos de Autor is expected",
                        "nullable": true
                      },
                      "CLIE_ID_CLIE": {
                        "title": "Autor",
                        "type": "integer",
                        "description": " This is a foreign key to Empresa. An id of Empresa is expected",
                        "nullable": true
                      },
                      "MATE_ID_MATE": {
                        "title": "Libro",
                        "type": "integer",
                        "description": " This is a foreign key to Artículo. An id of Artículo is expected",
                        "nullable": true
                      },
                      "COPA_DOCUMENTO": {
                        "title": "Documento",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "COPA_MONTO_ORIGINAL": {
                        "title": "Monto original",
                        "type": "number",
                        "nullable": true
                      },
                      "COPA_PORCENTAJE": {
                        "title": "Porcentaje",
                        "type": "number",
                        "nullable": true
                      },
                      "COPA_COMISION": {
                        "title": "Comisión",
                        "type": "number",
                        "nullable": true
                      },
                      "COPA_CATEGORIA": {
                        "title": "Categoría",
                        "maxLength": 100,
                        "type": "string",
                        "nullable": true
                      },
                      "COPA_CANTIDAD": {
                        "title": "Cantidad",
                        "type": "number",
                        "nullable": true
                      },
                      "FACT_ID_FACT": {
                        "title": "Factura",
                        "type": "integer",
                        "description": " This is a foreign key to Factura. An id of Factura is expected",
                        "nullable": true
                      },
                      "NOCR_ID_NOCR": {
                        "title": "Nota",
                        "type": "integer",
                        "description": " This is a foreign key to Nota de Crédito (V). An id of Nota de Crédito (V) is expected",
                        "nullable": true
                      },
                      "COPA_NACIONAL": {
                        "title": "Nacional",
                        "type": "number",
                        "nullable": true
                      },
                      "COPA_INSTITUCIONAL": {
                        "title": "Institucional",
                        "type": "number",
                        "nullable": true
                      },
                      "COPA_INTERNACIONAL": {
                        "title": "Internacional",
                        "type": "number",
                        "nullable": true
                      },
                      "COPA_PVP": {
                        "title": "PVP",
                        "type": "number",
                        "nullable": true
                      }
                    },
                    "description": "Instance data"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request processed. Check `ok`: a business validation failure also returns HTTP 200, with ok=false and the reason in `error`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "True if the instance was saved. Business validation failures are reported as HTTP 200 with ok=false and a message in `error` - always check this flag."
                    },
                    "newId": {
                      "type": "integer",
                      "description": "Id of the saved Registro comisión por autor. (the new id when creating, the same id when updating). This is the field that carries the identifier - there is no `id` field in this response."
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message when ok=false. Null on success.",
                      "nullable": true
                    },
                    "parameter": {
                      "type": "string",
                      "description": "The full saved instance, serialized as a JSON **string** (not a nested object) - same content as GET /COMISION_POR_AUTOR/{id} with includeChildren=true. Parse it to read it.",
                      "nullable": true
                    }
                  },
                  "example": {
                    "ok": true,
                    "newId": 12345,
                    "error": null,
                    "parameter": "{\"id\":12345, ...}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "User does not have permission to create instances of this entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message (endpoint validations)",
                      "nullable": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message (state change / delete results)",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "Error message (ProblemDetails)",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (ProblemDetails)",
                      "nullable": true
                    }
                  },
                  "description": "Error payload. Read whichever of these is present: endpoint validations return `error`, state-change/delete results return `message`, and domain exceptions are mapped to RFC 7807 ProblemDetails (`title` / `status`)."
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Duplicate instance detected"
          }
        }
      }
    },
    "/COMISION_POR_AUTOR/{id}": {
      "get": {
        "tags": [
          "Registro comisión por autor."
        ],
        "description": "Get a Registro comisión por autor. by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Registro comisión por autor. id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "schemaId",
            "in": "query",
            "description": " Schema identificator",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "description": "Whether to include child entities in the response (default: true)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includeTransitions",
            "in": "query",
            "description": "Whether to include the state transitions available for this instance, as `transitions` (default: false)",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeFkTexts",
            "in": "query",
            "description": "Whether to include `attsFkTexts`: the descriptive text behind every foreign key / user / profile / fixed-value attribute, keyed by physical name (default: false). Use it to show \"Acme S.A.\" where the attribute carries `9744`. Opt-in because it costs one query per foreign key attribute.",
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Instance unique identifier",
                      "type": "integer"
                    },
                    "ESTA_NOMBRE": {
                      "title": "State name",
                      "type": "string",
                      "nullable": true
                    },
                    "ESTA_CODIGO": {
                      "title": "State code",
                      "type": "integer",
                      "nullable": true
                    },
                    "AUDI_FECHA_ALTA": {
                      "title": "Creation date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "AUDI_FECHA_MODIF": {
                      "title": "Last modification date",
                      "type": "string",
                      "format": "date-time"
                    },
                    "LDDA_ID_LDDA": {
                      "title": "Liquidación",
                      "type": "integer",
                      "description": "Foreign key to Liq. Derechos de Autor",
                      "nullable": true
                    },
                    "CLIE_ID_CLIE": {
                      "title": "Autor",
                      "type": "integer",
                      "description": "Foreign key to Empresa",
                      "nullable": true
                    },
                    "MATE_ID_MATE": {
                      "title": "Libro",
                      "type": "integer",
                      "description": "Foreign key to Artículo",
                      "nullable": true
                    },
                    "COPA_DOCUMENTO": {
                      "title": "Documento",
                      "type": "string",
                      "nullable": true
                    },
                    "COPA_MONTO_ORIGINAL": {
                      "title": "Monto original",
                      "type": "number",
                      "nullable": true
                    },
                    "COPA_PORCENTAJE": {
                      "title": "Porcentaje",
                      "type": "number",
                      "nullable": true
                    },
                    "COPA_COMISION": {
                      "title": "Comisión",
                      "type": "number",
                      "nullable": true
                    },
                    "COPA_CATEGORIA": {
                      "title": "Categoría",
                      "type": "string",
                      "nullable": true
                    },
                    "COPA_CANTIDAD": {
                      "title": "Cantidad",
                      "type": "number",
                      "nullable": true
                    },
                    "FACT_ID_FACT": {
                      "title": "Factura",
                      "type": "integer",
                      "description": "Foreign key to Factura",
                      "nullable": true
                    },
                    "NOCR_ID_NOCR": {
                      "title": "Nota",
                      "type": "integer",
                      "description": "Foreign key to Nota de Crédito (V)",
                      "nullable": true
                    },
                    "COPA_FECHA_DEL_DOCUMENTO": {
                      "title": "Fecha del documento",
                      "type": "string",
                      "nullable": true
                    },
                    "COPA_NACIONAL": {
                      "title": "Nacional",
                      "type": "number",
                      "nullable": true
                    },
                    "COPA_INSTITUCIONAL": {
                      "title": "Institucional",
                      "type": "number",
                      "nullable": true
                    },
                    "COPA_INTERNACIONAL": {
                      "title": "Internacional",
                      "type": "number",
                      "nullable": true
                    },
                    "COPA_PVP": {
                      "title": "PVP",
                      "type": "number",
                      "nullable": true
                    },
                    "transitions": {
                      "title": "Available state transitions",
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "State transitions available for this instance (included when includeTransitions=true)"
                    },
                    "attsFkTexts": {
                      "title": "Foreign key texts",
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
[...]
